openapi: 3.2.0
info:
  title: OpenAI Vaults API
  description: The OpenAI REST API. Please see https://platform.openai.com/docs/api-reference for more details.
  version: 2.3.0
  termsOfService: https://openai.com/policies/terms-of-use
  contact:
    name: OpenAI Support
    url: https://help.openai.com/
  license:
    name: MIT
    identifier: MIT
servers:
- url: https://api.openai.com/v1
security:
- ApiKeyAuth: []
tags:
- name: Vaults
paths:
  /vaults:
    get:
      operationId: listVaults
      summary: List vaults
      description: Lists vaults using ID-based pagination. See vaults.
      tags:
      - Vaults
      parameters:
      - name: order
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/ListOrderParam'
          default: desc
        description: Sort order by the `created_at` timestamp. Use `asc` for ascending order or `desc` for descending order. Defaults to `desc`.
      - name: limit
        in: query
        required: false
        schema:
          type:
          - integer
          - 'null'
          format: int64
          minimum: 0
        description: The maximum number of resources to return. Defaults to 20. Values are clamped between 1 and 100.
      - name: status
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/VaultStatusFilterParam'
        description: Filter by one status or a list, such as `status=active` or `status[]=active&status[]=archived`. Both statuses are included by default.
      - name: after
        in: query
        required: false
        schema:
          type: string
          minLength: 0
          maxLength: 1048576
        description: Return resources after this resource ID in the selected order.
      responses:
        '200':
          description: A page of vaults.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultListResource'
                description: A page of vaults.
        '400':
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '401':
          description: Authentication or project context was missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '403':
          description: The API key lacks the required management permission.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '404':
          description: The requested vault or credential was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '409':
          description: The request conflicted with the current vault state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '503':
          description: The service is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
    post:
      operationId: createVault
      summary: Create a vault
      description: Creates a vault for the current project. See vaults.
      tags:
      - Vaults
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVaultParams'
      responses:
        '201':
          description: The created vault.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultResource'
        '400':
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '401':
          description: Authentication or project context was missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '403':
          description: The API key lacks the required management permission.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '404':
          description: The requested vault or credential was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '409':
          description: The request conflicted with the current vault state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '503':
          description: The service is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
  /vaults/{vault_id}:
    get:
      operationId: retrieveVault
      summary: Retrieve a vault
      description: Retrieves a vault by its ID. See vaults.
      tags:
      - Vaults
      parameters:
      - name: vault_id
        in: path
        required: true
        schema:
          type: string
          minLength: 0
          maxLength: 1048576
        description: The ID of the vault.
      responses:
        '200':
          description: The requested vault.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultResource'
        '400':
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '401':
          description: Authentication or project context was missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '403':
          description: The API key lacks the required management permission.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '404':
          description: The requested vault or credential was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '409':
          description: The request conflicted with the current vault state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '503':
          description: The service is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
    delete:
      operationId: deleteVault
      summary: Delete a vault
      description: Deletes a vault and all its credentials. See vaults.
      tags:
      - Vaults
      parameters:
      - name: vault_id
        in: path
        required: true
        schema:
          type: string
          minLength: 0
          maxLength: 1048576
        description: The ID of the vault.
      responses:
        '200':
          description: The deleted vault.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedVaultResource'
        '400':
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '401':
          description: Authentication or project context was missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '403':
          description: The API key lacks the required management permission.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '404':
          description: The requested vault or credential was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '409':
          description: The request conflicted with the current vault state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '503':
          description: The service is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
  /vaults/{vault_id}/credentials:
    get:
      operationId: listVaultCredentials
      summary: List vault credentials
      description: Lists a vault's credentials using ID-based pagination without returning secret values. See vaults.
      tags:
      - Vaults
      parameters:
      - name: vault_id
        in: path
        required: true
        schema:
          type: string
          minLength: 0
          maxLength: 1048576
        description: The ID of the vault.
      - name: order
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/ListOrderParam'
          default: desc
        description: Sort order by the `created_at` timestamp. Use `asc` for ascending order or `desc` for descending order. Defaults to `desc`.
      - name: limit
        in: query
        required: false
        schema:
          type:
          - integer
          - 'null'
          format: int64
          minimum: 0
        description: The maximum number of resources to return. Defaults to 20. Values are clamped between 1 and 100.
      - name: status
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/VaultStatusFilterParam'
        description: Filter by one status or a list, such as `status=active` or `status[]=active&status[]=archived`. Both statuses are included by default.
      - name: after
        in: query
        required: false
        schema:
          type: string
          minLength: 0
          maxLength: 1048576
        description: Return resources after this resource ID in the selected order.
      responses:
        '200':
          description: A page of vault credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultCredentialListResource'
                description: A page of credentials in a vault.
        '400':
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '401':
          description: Authentication or project context was missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '403':
          description: The API key lacks the required management permission.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '404':
          description: The requested vault or credential was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '409':
          description: The request conflicted with the current vault state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '503':
          description: The service is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
    post:
      operationId: createVaultCredential
      summary: Create a vault credential
      description: Creates a vault credential. Secret values are write-only and are never returned. See vaults.
      tags:
      - Vaults
      parameters:
      - name: vault_id
        in: path
        required: true
        schema:
          type: string
          minLength: 0
          maxLength: 1048576
        description: The ID of the vault.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVaultCredentialParams'
      responses:
        '201':
          description: The created vault credential without secret values.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultCredentialResource'
        '400':
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '401':
          description: Authentication or project context was missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '403':
          description: The API key lacks the required management permission.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '404':
          description: The requested vault or credential was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '409':
          description: The request conflicted with the current vault state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '503':
          description: The service is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
  /vaults/{vault_id}/credentials/{credential_id}:
    get:
      operationId: retrieveVaultCredential
      summary: Retrieve a vault credential
      description: Retrieves vault credential metadata without returning secret values. See vaults.
      tags:
      - Vaults
      parameters:
      - name: vault_id
        in: path
        required: true
        schema:
          type: string
          minLength: 0
          maxLength: 1048576
        description: The ID of the vault.
      - name: credential_id
        in: path
        required: true
        schema:
          type: string
          minLength: 0
          maxLength: 1048576
        description: The ID of the vault credential.
      responses:
        '200':
          description: The requested vault credential without secret values.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultCredentialResource'
        '400':
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '401':
          description: Authentication or project context was missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '403':
          description: The API key lacks the required management permission.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '404':
          description: The requested vault or credential was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '409':
          description: The request conflicted with the current vault state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '503':
          description: The service is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
    post:
      operationId: rotateVaultCredential
      summary: Update a vault credential
      description: Updates credential metadata or rotates its write-only secret. See vaults.
      tags:
      - Vaults
      parameters:
      - name: vault_id
        in: path
        required: true
        schema:
          type: string
          minLength: 0
          maxLength: 1048576
        description: The ID of the vault.
      - name: credential_id
        in: path
        required: true
        schema:
          type: string
          minLength: 0
          maxLength: 1048576
        description: The ID of the vault credential.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RotateVaultCredentialParams'
      responses:
        '200':
          description: The updated vault credential without secret values.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultCredentialResource'
        '400':
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '401':
          description: Authentication or project context was missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '403':
          description: The API key lacks the required management permission.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '404':
          description: The requested vault or credential was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '409':
          description: The request conflicted with the current vault state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '503':
          description: The service is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
    delete:
      operationId: deleteVaultCredential
      summary: Delete a vault credential
      description: Deletes a vault credential. See vaults.
      tags:
      - Vaults
      parameters:
      - name: vault_id
        in: path
        required: true
        schema:
          type: string
          minLength: 0
          maxLength: 1048576
        description: The ID of the vault.
      - name: credential_id
        in: path
        required: true
        schema:
          type: string
          minLength: 0
          maxLength: 1048576
        description: The ID of the vault credential.
      responses:
        '200':
          description: The deleted vault credential.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedVaultCredentialResource'
        '400':
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '401':
          description: Authentication or project context was missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '403':
          description: The API key lacks the required management permission.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '404':
          description: The requested vault or credential was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '409':
          description: The request conflicted with the current vault state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '503':
          description: The service is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
components:
  schemas:
    RotateMcpOauthTokenEndpointAuthParamClientSecretBasic:
      type: object
      properties:
        type:
          type: string
          enum:
          - client_secret_basic
          default: client_secret_basic
          x-stainless-const: true
          description: The type of the object. Always `client_secret_basic`.
        client_secret:
          type:
          - string
          - 'null'
          minLength: 0
          maxLength: 1048576
          description: The replacement OAuth client secret. Omit or pass `null` to keep the stored secret. This secret is never returned in resources.
      required:
      - type
      additionalProperties: false
      description: Updates credentials sent using HTTP Basic authentication.
    CreateVaultCredentialAuthParamEnvironmentVariable:
      type: object
      properties:
        type:
          type: string
          enum:
          - environment_variable
          default: environment_variable
          x-stainless-const: true
          description: The type of the object. Always `environment_variable`.
        secret_name:
          type: string
          minLength: 1
          maxLength: 1048576
          description: The environment variable name that receives the placeholder, such as `SERVICE_API_KEY`. Use ASCII letters, digits, and underscores, starting with a letter or underscore. Names starting with `CODEX_` and managed proxy or certificate variable names are reserved.
        secret_value:
          type: string
          minLength: 1
          maxLength: 1048576
          description: The write-only secret to store. Never returned in credential resources or supplied directly to sandbox code. Must be nonempty and must not contain carriage returns, newlines, or NUL bytes.
        networking:
          $ref: '#/components/schemas/VaultCredentialNetworkingParam'
          description: The destinations where the proxy can substitute this secret. The environment network policy must also allow them.
      required:
      - type
      - secret_name
      - secret_value
      - networking
      additionalProperties: false
      description: An HTTP credential for OpenAI-hosted environments only. The sandbox receives an environment variable containing a placeholder, not the secret. Use the placeholder unchanged in outgoing requests. The egress proxy replaces the placeholder with the secret for allowed HTTPS destinations on ports 443 and 8443. Sandbox code cannot read the real secret or use it for local computation, such as signing a request.
    McpOauthTokenEndpointAuthResource:
      oneOf:
      - $ref: '#/components/schemas/McpOauthTokenEndpointAuthResourceNone'
      - $ref: '#/components/schemas/McpOauthTokenEndpointAuthResourceClientSecretBasic'
      - $ref: '#/components/schemas/McpOauthTokenEndpointAuthResourceClientSecretPost'
      discriminator:
        propertyName: type
        mapping:
          none: '#/components/schemas/McpOauthTokenEndpointAuthResourceNone'
          client_secret_basic: '#/components/schemas/McpOauthTokenEndpointAuthResourceClientSecretBasic'
          client_secret_post: '#/components/schemas/McpOauthTokenEndpointAuthResourceClientSecretPost'
      x-oai-discriminator-values:
      - none
      - client_secret_basic
      - client_secret_post
      description: The client authentication method used for OAuth token refresh.
    VaultCredentialListResource:
      type: object
      properties:
        object:
          type: string
          enum:
          - list
          default: list
          x-stainless-const: true
          description: The object type, which is always `list`.
        data:
          type: array
          items:
            $ref: '#/components/schemas/VaultCredentialResource'
          minItems: 0
          maxItems: 2000
          description: The resources returned in this page, in the requested sort order.
        first_id:
          type:
          - string
          - 'null'
          minLength: 0
          description: The ID of the first resource in `data`, or `null` if the page is empty.
        last_id:
          type:
          - string
          - 'null'
          minLength: 0
          description: The ID of the last resource in `data`, or `null` if the page is empty. Pass this as `after` with the same order and filters.
        has_more:
          type: boolean
          description: Whether there are more resources to retrieve after this page.
      required:
      - object
      - data
      - first_id
      - last_id
      - has_more
      additionalProperties: false
      description: A page of Agents API resources, with IDs for retrieving additional pages.
    McpOauthTokenEndpointAuthResourceClientSecretBasic:
      type: object
      properties:
        type:
          type: string
          enum:
          - client_secret_basic
          default: client_secret_basic
          x-stainless-const: true
          description: The type of the object. Always `client_secret_basic`.
      required:
      - type
      additionalProperties: false
      description: Sends the client ID and secret using HTTP Basic authentication.
    RotateVaultCredentialParams:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/RotateVaultCredentialAuthParam'
          description: Replacement values for the credential's existing authentication method.
        metadata:
          type: object
          additionalProperties:
            type: string
            minLength: 0
            maxLength: 512
          propertyNames:
            type: string
            minLength: 1
            maxLength: 64
          minProperties: 0
          maxProperties: 16
          description: Replaces all metadata. Omit to preserve it, or pass {} to clear it. Up to 16 string key-value pairs, with keys up to 64 and values up to 512 characters.
      additionalProperties: false
      description: Metadata, secret, expiry, and OAuth refresh scope updates for an existing vault credential. Supply at least one of `auth` or `metadata`.
    VaultCredentialNetworkingResourceUnrestricted:
      type: object
      properties:
        type:
          type: string
          enum:
          - unrestricted
          default: unrestricted
          x-stainless-const: true
          description: The type of the object. Always `unrestricted`.
      required:
      - type
      additionalProperties: false
      description: Allows substitution for destinations permitted by the environment network policy. Requires `environment.network.access` to be `restricted`, with explicit `allowed_domains`.
    CreateVaultCredentialAuthParamMcpOauth:
      type: object
      properties:
        type:
          type: string
          enum:
          - mcp_oauth
          default: mcp_oauth
          x-stainless-const: true
          description: The type of the object. Always `mcp_oauth`.
        mcp_server_url:
          type: string
          minLength: 0
          maxLength: 1048576
          description: The HTTPS MCP server URL authorized by this credential.
        access_token:
          type: string
          minLength: 0
          maxLength: 1048576
          description: A write-only OAuth access token; never returned by credential resources.
        expires_at:
          type:
          - string
          - 'null'
          minLength: 0
          maxLength: 1048576
          description: When the OAuth access token expires, as an RFC 3339 timestamp, if known.
        refresh:
          anyOf:
          - $ref: '#/components/schemas/CreateMcpOauthRefreshParam'
          - type: 'null'
          description: Optional refresh configuration for an HTTPS OAuth token endpoint.
      required:
      - type
      - mcp_server_url
      - access_token
      additionalProperties: false
      description: An OAuth credential for an HTTPS MCP destination.
    RotateMcpOauthTokenEndpointAuthParam:
      oneOf:
      - $ref: '#/components/schemas/RotateMcpOauthTokenEndpointAuthParamClientSecretBasic'
      - $ref: '#/components/schemas/RotateMcpOauthTokenEndpointAuthParamClientSecretPost'
      discriminator:
        propertyName: type
        mapping:
          client_secret_basic: '#/components/schemas/RotateMcpOauthTokenEndpointAuthParamClientSecretBasic'
          client_secret_post: '#/components/schemas/RotateMcpOauthTokenEndpointAuthParamClientSecretPost'
      x-oai-discriminator-values:
      - client_secret_basic
      - client_secret_post
      description: Client-secret updates that preserve the credential's OAuth authentication method.
    VaultListResource:
      type: object
      properties:
        object:
          type: string
          enum:
          - list
          default: list
          x-stainless-const: true
          description: The object type, which is always `list`.
        data:
          type: array
          items:
            $ref: '#/components/schemas/VaultResource'
          minItems: 0
          maxItems: 2000
          description: The resources returned in this page, in the requested sort order.
        first_id:
          type:
          - string
          - 'null'
          minLength: 0
          description: The ID of the first resource in `data`, or `null` if the page is empty.
        last_id:
          type:
          - string
          - 'null'
          minLength: 0
          description: The ID of the last resource in `data`, or `null` if the page is empty. Pass this as `after` with the same order and filters.
        has_more:
          type: boolean
          description: Whether there are more resources to retrieve after this page.
      required:
      - object
      - data
      - first_id
      - last_id
      - has_more
      additionalProperties: false
      description: A page of Agents API resources, with IDs for retrieving additional pages.
    RotateVaultCredentialAuthParamMcpOauth:
      type: object
      properties:
        type:
          type: string
          enum:
          - mcp_oauth
          default: mcp_oauth
          x-stainless-const: true
          description: The type of the object. Always `mcp_oauth`.
        access_token:
          type:
          - string
          - 'null'
          minLength: 0
          maxLength: 1048576
          description: A write-only replacement OAuth access token.
        expires_at:
          type:
          - string
          - 'null'
          minLength: 0
          maxLength: 1048576
          description: The replacement expiry as an RFC 3339 timestamp, or `null` to clear it. Omitting this field preserves the expiry unless a new access token is supplied, in which case the expiry is cleared.
        refresh:
          anyOf:
          - $ref: '#/components/schemas/RotateMcpOauthRefreshParam'
          - type: 'null'
          description: Optional write-only refresh-token and client-secret updates.
      required:
      - type
      additionalProperties: false
      description: Rotate an OAuth credential for an HTTPS MCP destination.
    ListOrderParam:
      type: string
      enum:
      - asc
      - desc
      x-enumDescriptions:
      - Returns resources in ascending order.
      - Returns resources in descending order.
      description: The order in which paginated resources are returned.
    VaultStatusFilterParam:
      oneOf:
      - $ref: '#/components/schemas/VaultStatusParam'
      - type: array
        items:
          $ref: '#/components/schemas/VaultStatusParam'
        minItems: 0
        maxItems: 16384
      description: One or more lifecycle statuses to include when listing vaults or credentials.
    RotateMcpOauthRefreshParam:
      type: object
      properties:
        refresh_token:
          type:
          - string
          - 'null'
          minLength: 0
          maxLength: 1048576
          description: The replacement refresh token. Omit or pass `null` to keep the stored token. This secret is never returned in resources.
        scope:
          type:
          - string
          - 'null'
          minLength: 0
          maxLength: 1048576
          description: Replacement space-separated OAuth scopes for refresh requests. Omit to keep the scopes, or pass `null` to stop sending a scope parameter.
        token_endpoint_auth:
          anyOf:
          - $ref: '#/components/schemas/RotateMcpOauthTokenEndpointAuthParam'
          - type: 'null'
          description: Client-secret updates for the existing token endpoint authentication method.
      additionalProperties: false
      description: Updates to an MCP credential's existing OAuth refresh configuration.
    CreateVaultCredentialParams:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 1048576
          description: The name is trimmed before storage. It must contain 1 to 256 UTF-8 bytes after trimming.
        auth:
          $ref: '#/components/schemas/CreateVaultCredentialAuthParam'
          description: The authentication method and write-only secret values to store.
        metadata:
          type: object
          additionalProperties:
            type: string
            minLength: 0
            maxLength: 512
          propertyNames:
            type: string
            minLength: 1
            maxLength: 64
          minProperties: 0
          maxProperties: 16
          description: Up to 16 string key-value pairs, with keys up to 64 and values up to 512 characters. Defaults to an empty map.
      required:
      - auth
      - name
      additionalProperties: false
      description: Parameters for storing a credential for an MCP server or an OpenAI-hosted environment.
    ErrorBodyResource:
      type: object
      properties:
        type:
          type: string
          minLength: 0
          description: The error type.
        code:
          type: string
          minLength: 0
          description: A machine-readable error code.
        message:
          type: string
          minLength: 0
          description: A human-readable error message.
        param:
          type:
          - string
          - 'null'
          minLength: 0
          description: The request parameter that caused the error, or null for a request-wide error.
      required:
      - type
      - code
      - message
      - param
      additionalProperties: false
      description: Details about an API error.
    VaultStatusParam:
      type: string
      enum:
      - active
      - archived
      description: Whether a vault or credential is active or archived.
    VaultCredentialAuthResourceMcpOauth:
      type: object
      properties:
        type:
          type: string
          enum:
          - mcp_oauth
          default: mcp_oauth
          x-stainless-const: true
          description: The type of the object. Always `mcp_oauth`.
        mcp_server_url:
          type: string
          minLength: 0
          description: The HTTPS MCP server URL authorized by this credential.
        expires_at:
          type:
          - string
          - 'null'
          minLength: 0
          description: When the OAuth access token expires, as an RFC 3339 timestamp, if known.
        refresh:
          anyOf:
          - $ref: '#/components/schemas/McpOauthRefreshResource'
          - type: 'null'
          description: Public refresh metadata without refresh tokens or OAuth client secrets.
      required:
      - type
      - mcp_server_url
      - expires_at
      - refresh
      additionalProperties: false
      description: Public metadata for an OAuth credential; tokens and client secrets are never returned.
    CreateMcpOauthTokenEndpointAuthParamNone:
      type: object
      properties:
        type:
          type: string
          enum:
          - none
          default: none
          x-stainless-const: true
          description: The type of the object. Always `none`.
      required:
      - type
      additionalProperties: false
      description: Sends the client ID without a client secret.
    CreateVaultCredentialAuthParam:
      oneOf:
      - $ref: '#/components/schemas/CreateVaultCredentialAuthParamMcpOauth'
      - $ref: '#/components/schemas/CreateVaultCredentialAuthParamStaticBearer'
      - $ref: '#/components/schemas/CreateVaultCredentialAuthParamEnvironmentVariable'
      discriminator:
        propertyName: type
        mapping:
          mcp_oauth: '#/components/schemas/CreateVaultCredentialAuthParamMcpOauth'
          static_bearer: '#/components/schemas/CreateVaultCredentialAuthParamStaticBearer'
          environment_variable: '#/components/schemas/CreateVaultCredentialAuthParamEnvironmentVariable'
      x-oai-discriminator-values:
      - mcp_oauth
      - static_bearer
      - environment_variable
      description: Authentication credentials for an MCP server or an OpenAI-hosted environment.
    VaultResource:
      type: object
      properties:
        id:
          type: string
          minLength: 0
          description: The ID of the vault.
        object:
          type: string
          enum:
          - vault
          default: vault
          x-stainless-const: true
          description: The object type. Always `vault`.
        name:
          type:
          - string
          - 'null'
          minLength: 0
          description: The human-readable name of the vault, if set.
        metadata:
          type: object
          additionalProperties:
            type: string
            minLength: 0
          propertyNames:
            type: string
            minLength: 0
          minProperties: 0
          description: Key-value pairs associated with the vault, such as an application or team identifier.
        created_at:
          type: integer
          format: int64
          description: The Unix timestamp, in seconds, when the vault was created.
      required:
      - id
      - object
      - name
      - metadata
      - created_at
      additionalProperties: false
      description: A collection of credentials for MCP servers and OpenAI-hosted environments.
    CreateVaultCredentialAuthParamStaticBearer:
      type: object
      properties:
        type:
          type: string
          enum:
          - static_bearer
          default: static_bearer
          x-stainless-const: true
          description: The type of the object. Always `static_bearer`.
        mcp_server_url:
          type: string
          minLength: 0
          maxLength: 1048576
          description: The HTTPS MCP server URL authorized by this credential.
        token:
          type: string
          minLength: 0
          maxLength: 1048576
          description: The bearer token to store. This secret is never returned in credential resources.
      required:
      - type
      - mcp_server_url
      - token
      additionalProperties: false
      description: A bearer token for an MCP server, without automatic OAuth refresh.
    VaultCredentialNetworkingParamUnrestricted:
      type: object
      properties:
        type:
          type: string
          enum:
          - unrestricted
          default: unrestricted
          x-stainless-const: true
          description: The type of the object. Always `unrestricted`.
      required:
      - type
      additionalProperties: false
      description: Allows substitution for destinations permitted by the environment network policy. Requires `environment.network.access` to be `restricted`, with explicit `allowed_domains`.
    DeletedVaultCredentialResource:
      type: object
      properties:
        id:
          type: string
          minLength: 0
          description: The ID of the deleted credential.
        object:
          type: string
          enum:
          - vault.credential.deleted
          default: vault.credential.deleted
          x-stainless-const: true
          description: The object type. Always `vault.credential.deleted`.
        deleted:
          type: boolean
          description: Whether the resource was deleted. Always `true`.
      required:
      - id
      - object
      - deleted
      additionalProperties: false
      description: Confirmation that a vault credential was deleted.
    VaultCredentialAuthResourceStaticBearer:
      type: object
      properties:
        type:
          type: string
          enum:
          - static_bearer
          default: static_bearer
          x-stainless-const: true
          description: The type of the object. Always `static_bearer`.
        mcp_server_url:
          type: string
          minLength: 0
          description: The HTTPS MCP server URL authorized by this credential.
      required:
      - type
      - mcp_server_url
      additionalProperties: false
      description: Metadata for a bearer-token credential, without automatic OAuth refresh.
    VaultCredentialNetworkingResource:
      oneOf:
      - $ref: '#/components/schemas/VaultCredentialNetworkingResourceUnrestricted'
      - $ref: '#/components/schemas/VaultCredentialNetworkingResourceLimited'
      discriminator:
        propertyName: type
        mapping:
          unrestricted: '#/components/schemas/VaultCredentialNetworkingResourceUnrestricted'
          limited: '#/components/schemas/VaultCredentialNetworkingResourceLimited'
      x-oai-discriminator-values:
      - unrestricted
      - limited
      description: Destination permissions for an environment-variable credential. These do not grant network access to the environment.
    VaultCredentialNetworkingParamLimited:
      type: object
      properties:
        type:
          type: string
          enum:
          - limited
          default: limited
          x-stainless-const: true
          description: The type of the object. Always `limited`.
        allowed_hosts:
          type: array
          items:
            type: string
            minLength: 0
            maxLength: 1048576
          minItems: 1
          maxItems: 16
          description: The 1 to 16 distinct allowed hostnames or IPv4 addresses, normalized to lowercase. Entries contain no scheme, path, port, or wildcard. IPv6 addresses are not supported.
      required:
      - type
      - allowed_hosts
      additionalProperties: false
      description: Allows substitution only for the listed hosts. The environment network policy must also allow these hosts.
    VaultCredentialAuthResourceEnvironmentVariable:
      type: object
      properties:
        type:
          type: string
          enum:
          - environment_variable
          default: environment_variable
          x-stainless-const: true
          description: The type of the object. Always `environment_variable`.
        secret_name:
          type: string
          minLength: 0
          description: The environment variable name that receives the placeholder in the sandbox.
        networking:
          $ref: '#/components/schemas/VaultCredentialNetworkingResource'
          description: The destinations where the proxy can substitute the secret, subject to the environment network policy.
      required:
      - type
      - secret_name
      - networking
      additionalProperties: false
      description: Metadata for an HTTP credential used only in OpenAI-hosted environments. Sandbox code receives a placeholder. The proxy substitutes the secret for allowed HTTPS destinations on ports 443 and 8443. The real secret is not available to sandbox code for local computation and is never returned in this resource.
    DeletedVaultResource:
      type: object
      properties:
        id:
          type: string
          minLength: 0
          description: The ID of the deleted vault.
        object:
          type: string
          enum:
          - vault.deleted
          default: vault.deleted
          x-stainless-const: true
          description: The object type. Always `vault.deleted`.
        deleted:
          type: boolean
          description: Whether the resource was deleted. Always `true`.
      required:
      - id
      - object
      - deleted
      additionalProperties: false
      description: Confirmation that a vault was deleted.
    CreateMcpOauthTokenEndpointAuthParamClientSecretPost:
      type: object
      properties:
        type:
          type: string
          enum:
          - client_secret_post
          default: client_secret_post
          x-stainless-const: true
          description: The type of the object. Always `client_secret_post`.
        client_secret:
          type: string
          minLength: 0
          maxLength: 1048576
          description: The OAuth client secret to store. Never returned in credential resources.
      required:
      - type
      - client_secret
      additionalProperties: false
      description: Sends the client ID and secret in the token request body.
    RotateMcpOauthTokenEndpointAuthParamClientSecretPost:
      type: object
      properties:
        type:
          type: string
          enum:
          - client_secret_post
          default: client_secret_post
          x-stainless-const: true
          description: The type of the object. Always `client_secret_post`.
        client_secret:
          type:
          - string
          - 'null'
          minLength: 0
          maxLength: 1048576
          description: The replacement OAuth client secret. Omit or pass `null` to keep the stored secret. This secret is never returned in resources.
      required:
      - type
      additionalProperties: false
      description: Updates credentials sent in the token request body.
    RotateVaultCredentialAuthParam:
      oneOf:
      - $ref: '#/components/schemas/RotateVaultCredentialAuthParamMcpOauth'
      - $ref: '#/components/schemas/RotateVaultCredentialAuthParamStaticBearer'
      - $ref: '#/components/schemas/RotateVaultCredentialAuthParamEnvironmentVariable'
      discriminator:
        propertyName: type
        mapping:
          mcp_oauth: '#/components/schemas/RotateVaultCredentialAuthParamMcpOauth'
          static_bearer: '#/components/schemas/RotateVaultCredentialAuthParamStaticBearer'
          environment_variable: '#/components/schemas/RotateVaultCredentialAuthParamEnvironmentVariable'
      x-oai-discriminator-values:
      - mcp_oauth
      - static_bearer
      - environment_variable
      description: Updates to a vault credential without changing its authentication method or destination configuration.
    McpOauthTokenEndpointAuthResourceNone:
      type: object
      properties:
        type:
          type: string
          enum:
          - none
          default: none
          x-stainless-const: true
          description: The type of the object. Always `none`.
      required:
      - type
      additionalProperties: false
      description: Sends the client ID without a client secret.
    CreateMcpOauthTokenEndpointAuthParam:
      oneOf:
      - $ref: '#/components/schemas/CreateMcpOauthTokenEndpointAuthParamNone'
      - $ref: '#/components/schemas/CreateMcpOauthTokenEndpointAuthParamClientSecretBasic'
      - $ref: '#/components/schemas/CreateMcpOauthTokenEndpointAuthParamClientSecretPost'
      discriminator:
        propertyName: type
        mapping:
          none: '#/components/schemas/CreateMcpOauthTokenEndpointAuthParamNone'
          client_secret_basic: '#/components/schemas/CreateMcpOauthTokenEndpointAuthParamClientSecretBasic'
          client_secret_post: '#/components/schemas/CreateMcpOauthTokenEndpointAuthParamClientSecretPost'
      x-oai-discriminator-values:
      - none
      - client_secret_basic
      - client_secret_post
      description: Client authentication credentials for OAuth token refresh.
    McpOauthTokenEndpointAuthResourceClientSecretPost:
      type: object
      properties:
        type:
          type: string
          enum:
          - client_secret_post
          default: client_secret_post
          x-stainless-const: true
          description: The type of the object. Always `client_secret_post`.
      required:
      - type
      additionalProperties: false
      description: Sends the client ID and secret in the token request body.
    RotateVaultCredentialAuthParamEnvironmentVariable:
      type: object
      properties:
        type:
          type: string
          enum:
          - environment_variable
          default: environment_variable
          x-stainless-const: true
          description: The type of the object. Always `environment_variable`.
        secret_value:
          type: string
          minLength: 1
          maxLength: 1048576
          description: The write-only replacement secret. Never returned in credential resources or supplied directly to sandbox code. Must be nonempty and must not contain carriage returns, newlines, or NUL bytes.
      required:
      - type
      - secret_value
      additionalProperties: false
      description: Replace the secret for an OpenAI-hosted environment credential. The environment variable name and networking configuration remain unchanged.
    CreateVaultParams:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 1048576
          description: The name is trimmed before storage. It must contain 1 to 256 UTF-8 bytes after trimming.
        metadata:
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
            minLength: 0
            maxLength: 1048576
          propertyNames:
            type: string
            minLength: 1
            maxLength: 256
          minProperties: 0
          maxProperties: 1024
          description: Key-value pairs to associate with the vault, such as an application or team identifier.
      additionalProperties: false
      description: Parameters for creating a vault to store credentials used by agent tools.
    VaultCredentialNetworkingResourceLimited:
      type: object
      properties:
        type:
          type: string
          enum:
          - limited
          default: limited
          x-stainless-const: true
          description: The type of the object. Always `limited`.
        allowed_hosts:
          type: array
          items:
            type: string
            minLength: 0
          minItems: 1
          maxItems: 16
          description: The 1 to 16 distinct allowed hostnames or IPv4 addresses, normalized to lowercase. Entries contain no scheme, path, port, or wildcard. IPv6 addresses are not supported.
      required:
      - type
      - allowed_hosts
      additionalProperties: false
      description: Allows substitution only for the listed hosts. The environment network policy must also allow these hosts.
    RotateVaultCredentialAuthParamStaticBearer:
      type: object
      properties:
        type:
          type: string
          enum:
          - static_bearer
          default: static_bearer
          x-stainless-const: true
          description: The type of the object. Always `static_bearer`.
        token:
          type: string
          minLength: 0
          maxLength: 1048576
          description: The replacement bearer token. This secret is never returned in credential resources.
      required:
      - type
      - token
      additionalProperties: false
      description: Replace the bearer token for the credential's MCP server.
    VaultCredentialResource:
      type: object
      properties:
        id:
          type: string
          minLength: 0
          description: The ID of the credential.
        object:
          type: string
          enum:
          - vault.credential
          default: vault.credential
          x-stainless-const: true
          description: The object type. Always `vault.credential`.
        vault_id:
          type: string
          minLength: 0
          description: The ID of the vault containing this credential.
        name:
          type: string
          minLength: 0
          description: The human-readable name of the credential.
        auth:
          $ref: '#/components/schemas/VaultCredentialAuthResource'
          description: The authentication method and non-secret configuration of the credential.
        metadata:
          type: object
          additionalProperties:
            type: string
            minLength: 0
          propertyNames:
            type: string
            minLength: 0
          minProperties: 0
          description: Application-defined key-value pairs associated with this credential.
        created_at:
          type: integer
          format: int64
          description: The Unix timestamp, in seconds, when the credential was created.
        updated_at:
          type: integer
          format: int64
          description: The Unix timestamp, in seconds, when the credential was last updated.
      required:
      - id
      - object
      - vault_id
      - name
      - auth
      - metadata
      - created_at
      - updated_at
      additionalProperties: false
      description: Metadata for a stored credential. Secret values are never returned.
    CreateMcpOauthRefreshParam:
      type: object
      properties:
        token_endpoint:
          type: string
          minLength: 0
          maxLength: 1048576
          description: The HTTPS OAuth token endpoint used to exchange the refresh token for a new access token.
        client_id:
          type: string
          minLength: 0
          maxLength: 1048576
          description: The OAuth client ID used when requesting a new access token.
        resource:
          type:
          - string
          - 'null'
          minLength: 0
          maxLength: 1048576
          description: The resource URI to send to the OAuth token endpoint during refresh, if required.
        scope:
          type:
          - string
          - 'null'
          minLength: 0
          maxLength: 1048576
          description: Space-separated OAuth scopes to request during refresh, if required.
        refresh_token:
          type: string
          minLength: 0
          maxLength: 1048576
          description: The refresh token to store. This secret is never returned in credential resources.
        token_endpoint_auth:
          $ref: '#/components/schemas/CreateMcpOauthTokenEndpointAuthParam'
          description: How the OAuth client authenticates to the token endpoint.
      required:
      - token_endpoint
      - client_id
      - refresh_token
      - token_endpoint_auth
      additionalProperties: false
      description: Configuration for refreshing the access token of an MCP OAuth credential.
    ErrorResponse-2:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/ErrorBodyResource'
          description: The error returned by the API.
      required:
      - error
      additionalProperties: false
      description: An API error response.
    VaultCredentialAuthResource:
      oneOf:
      - $ref: '#/components/schemas/VaultCredentialAuthResourceMcpOauth'
      - $ref: '#/components/schemas/VaultCredentialAuthResourceStaticBearer'
      - $ref: '#/components/schemas/VaultCredentialAuthResourceEnvironmentVariable'
      discriminator:
        propertyName: type
        mapping:
          mcp_oauth: '#/components/schemas/VaultCredentialAuthResourceMcpOauth'
          static_bearer: '#/components/schemas/VaultCredentialAuthResourceStaticBearer'
          environment_variable: '#/components/schemas/VaultCredentialAuthResourceEnvironmentVariable'
      x-oai-discriminator-values:
      - mcp_oauth
      - static_bearer
      - environment_variable
      description: The authentication configuration of a vault credential, excluding secrets.
    CreateMcpOauthTokenEndpointAuthParamClientSecretBasic:
      type: object
      properties:
        type:
          type: string
          enum:
          - client_secret_basic
          default: client_secret_basic
          x-stainless-const: true
          description: The type of the object. Always `client_secret_basic`.
        client_secret:
          type: string
          minLength: 0
          maxLength: 1048576
          description: The OAuth client secret to store. Never returned in credential resources.
      required:
      - type
      - client_secret
      additionalProperties: false
      description: Sends the client ID and secret using HTTP Basic authentication.
    McpOauthRefreshResource:
      type: object
      properties:
        token_endpoint:
          type: string
          minLength: 0
          description: The HTTPS OAuth token endpoint used for refresh.
        client_id:
          type: string
          minLength: 0
          description: The OAuth client ID used when requesting a new access token.
        resource:
          type:
          - string
          - 'null'
          minLength: 0
          description: The resource URI sent to the OAuth token endpoint during refresh, if configured.
        scope:
          type:
          - string
          - 'null'
          minLength: 0
          description: Space-separated OAuth scopes requested during refresh, if configured.
        token_endpoint_auth:
          $ref: '#/components/schemas/McpOauthTokenEndpointAuthResource'
          description: How the OAuth client authenticates to the token endpoint, excluding its client secret.
      required:
      - token_endpoint
      - client_id
      - resource
      - scope
      - token_endpoint_auth
      additionalProperties: false
      description: Configuration used to refresh an MCP OAuth access token, excluding secret values.
    VaultCredentialNetworkingParam:
      oneOf:
      - $ref: '#/components/schemas/VaultCredentialNetworkingParamUnrestricted'
      - $ref: '#/components/schemas/VaultCredentialNetworkingParamLimited'
      discriminator:
        propertyName: type
        mapping:
          unrestricted: '#/components/schemas/VaultCredentialNetworkingParamUnrestricted'
          limited: '#/components/schemas/VaultCredentialNetworkingParamLimited'
      x-oai-discriminator-values:
      - unrestricted
      - limited
      description: Destination permissions for an environment-variable credential. These do not grant network access to the environment.
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: bearer
    AdminApiKeyAuth:
      type: http
      scheme: bearer
x-oaiMeta:
  navigationGroups:
  - id: responses
    title: Responses API
  - id: webhooks
    title: Webhooks
  - id: endpoints
    title: Platform APIs
  - id: vector_stores
    title: Vector stores
  - id: chatkit
    title: ChatKit
    beta: true
  - id: containers
    title: Containers
  - id: live
    title: Live (alpha)
  - id: realtime
    title: Realtime
  - id: chat
    title: Chat Completions
  - id: assistants
    title: Assistants
    deprecated: true
  - id: administration
    title: Administration
  - id: legacy
    title: Legacy
  groups:
  - id: responses-streaming
    title: Streaming events
    description: 'When you [create a Response](https://developers.openai.com/api/reference/resources/responses/methods/create) with

      `stream` set to `true`, the server will emit server-sent events to the

      client as the Response is generated. This section contains the events that

      are emitted by the server.


      When processing a `compaction_trigger`, `response.compaction.compacting`

      reports newly sampled summary output at most once every 30 seconds. It

      carries no summary content and does not modify the compaction output item.

      The existing `response.output_item.added` and `response.output_item.done`

      events mark that item''s lifecycle; `response.output_item.done` carries its

      final encrypted content. A short compaction may finish without emitting a

      progress event.


      [Learn more about streaming responses](https://developers.openai.com/api/docs/guides/streaming-responses).

      '
    navigationGroup: responses
    sections:
    - type: object
      key: ResponseCreatedEvent
      path: <auto>
    - type: object
      key: ResponseInProgressEvent
      path: <auto>
    - type: object
      key: ResponseCompletedEvent
      path: <auto>
    - type: object
      key: ResponseFailedEvent
      path: <auto>
    - type: object
      key: ResponseIncompleteEvent
      path: <auto>
    - type: object
      key: ResponseOutputItemAddedEvent
      path: <auto>
    - type: object
      key: ResponseOutputItemDoneEvent
      path: <auto>
    - type: object
      key: ResponseCompactionCompactingEvent
      path: <auto>
    - type: object
      key: ResponseContentPartAddedEvent
      path: <auto>
    - type: object
      key: ResponseContentPartDoneEvent
      path: <auto>
    - type: object
      key: ResponseTextDeltaEvent
      path: response/output_text/delta
    - type: object
      key: ResponseTextDoneEvent
      path: response/output_text/done
    - type: object
      key: ResponseRefusalDeltaEvent
      path: <auto>
    - type: object
      key: ResponseRefusalDoneEvent
      path: <auto>
    - type: object
      key: ResponseFunctionCallArgumentsDeltaEvent
      path: <auto>
    - type: object
      key: ResponseFunctionCallArgumentsDoneEvent
      path: <auto>
    - type: object
      key: ResponseFileSearchCallInProgressEvent
      path: <auto>
    - type: object
      key: ResponseFileSearchCallSearchingEvent
      path: <auto>
    - type: object
      key: ResponseFileSearchCallCompletedEvent
      path: <auto>
    - type: object
      key: ResponseWebSearchCallInProgressEvent
      path: <auto>
    - type: object
      key: ResponseWebSearchCallSearchingEvent
      path: <auto>
    - type: object
      key: ResponseWebSearchCallCompletedEvent
      path: <auto>
    - type: object
      key: ResponseReasoningSummaryPartAddedEvent
      path: <auto>
    - type: object
      key: ResponseReasoningSummaryPartDoneEvent
      path: <auto>
    - type: object
      key: ResponseReasoningSummaryTextDeltaEvent
      path: <auto>
    - type: object
      key: ResponseReasoningSummaryTextDoneEvent
      path: <auto>
    - type: object
      key: ResponseReasoningTextDeltaEvent
      path: <auto>
    - type: object
      key: ResponseReasoningTextDoneEvent
      path: <auto>
    - type: object
      key: ResponseImageGenCallCompletedEvent
      path: <auto>
    - type: object
      key: ResponseImageGenCallGeneratingEvent
      path: <auto>
    - type: object
      key: ResponseImageGenCallInProgressEvent
      path: <auto>
    - type: object
      key: ResponseImageGenCallPartialImageEvent
      path: <auto>
    - type: object
      key: ResponseMCPCallArgumentsDeltaEvent
      path: <auto>
    - type: object
      key: ResponseMCPCallArgumentsDoneEvent
      path: <auto>
    - type: object
      key: ResponseMCPCallCompletedEvent
      path: <auto>
    - type: object
      key: ResponseMCPCallFailedEvent
      path: <auto>
    - type: object
      key: ResponseMCPCallInProgressEvent
      path: <auto>
    - type: object
      key: ResponseMCPListToolsCompletedEvent
      path: <auto>
    - type: object
      key: ResponseMCPListToolsFailedEvent
      path: <auto>
    - type: object
      key: ResponseMCPListToolsInProgressEvent
      path: <auto>
    - type: object
      key: ResponseCodeInterpreterCallInProgressEvent
      path: <auto>
    - type: object
      key: ResponseCodeInterpreterCallInterpretingEvent
      path: <auto>
    - type: object
      key: ResponseCodeInterpreterCallCompletedEvent
      path: <auto>
    - type: object
      key: ResponseCodeInterpreterCallCodeDeltaEvent
      path: <auto>
    - type: object
      key: ResponseCodeInterpreterCallCodeDoneEvent
      path: <auto>
    - type: object
      key: ResponseOutputTextAnnotationAddedEvent
      path: <auto>
    - type: object
      key: ResponseQueuedEvent
      path: <auto>
    - type: object
      key: ResponseCustomToolCallInputDeltaEvent
      path: <auto>
    - type: object
      key: ResponseCustomToolCallInputDoneEvent
      path: <auto>
    - type: object
      key: ResponseErrorEvent
      path: <auto>
  - id: responses-websocket-client-events
    title: Client events
    description: 'Events sent by the client over a Responses API WebSocket connection.

      '
    navigationGroup: responses
    sections:
    - type: object
      key: ResponsesClientEventResponseCreate
      path: <auto>
    - type: object
      key: ResponseSteerEvent
      path: <auto>
  - id: responses-websocket-server-events
    title: Server events (WebSocket only)
    description: 'Events emitted only over a Responses API WebSocket connection.

      '
    navigationGroup: responses
    sections:
    - type: object
      key: ResponseSteerAcceptedEvent
      path: <auto>
    - type: object
      key: ResponseSteerPendingEvent
      path: <auto>
    - type: object
      key: ResponseSteerFailedEvent
      path: <auto>
  - id: responses-websocket-shared-events
    title: Server events
    description: 'These events use the same payloads over WebSocket and

      [HTTP streaming](https://developers.openai.com/api/reference/resources/responses/streaming-events).

      Compaction progress follows the same cadence and output-item lifecycle

      described in HTTP streaming.

      '
    navigationGroup: responses
    sections:
    - type: object
      key: ResponseCreatedEvent
      path: <auto>
    - type: object
      key: ResponseInProgressEvent
      path: <auto>
    - type: object
      key: ResponseCompletedEvent
      path: <auto>
    - type: object
      key: ResponseFailedEvent
      path: <auto>
    - type: object
      key: ResponseIncompleteEvent
      path: <auto>
    - type: object
      key: ResponseOutputItemAddedEvent
      path: <auto>
    - type: object
      key: ResponseOutputItemDoneEvent
      path: <auto>
    - type: object
      key: ResponseCompactionCompactingEvent
      path: <auto>
    - type: object
      key: ResponseContentPartAddedEvent
      path: <auto>
    - type: object
      key: ResponseContentPartDoneEvent
      path: <auto>
    - type: object
      key: ResponseTextDeltaEvent
      path: response/output_text/delta
    - type: object
      key: ResponseTextDoneEvent
      path: response/output_text/done
    - type: object
      key: ResponseRefusalDeltaEvent
      path: <auto>
    - type: object
      key: ResponseRefusalDoneEvent
      path: <auto>
    - type: object
      key: ResponseFunctionCallArgumentsDeltaEvent
      path: <auto>
    - type: object
      key: ResponseFunctionCallArgumentsDoneEvent
      path: <auto>
    - type: object
      key: ResponseFileSearchCallInProgressEvent
      path: <auto>
    - type: object
      key: ResponseFileSearchCallSearchingEvent
      path: <auto>
    - type: object
      key: ResponseFileSearchCallCompletedEvent
      path: <auto>
    - type: object
      key: ResponseWebSearchCallInProgressEvent
      path: <auto>
    - type: object
      key: ResponseWebSearchCallSearchingEvent
      path: <auto>
    - type: object
      key: ResponseWebSearchCallCompletedEvent
      path: <auto>
    - type: object
      key: ResponseReasoningSummaryPartAddedEvent
      path: <auto>
    - type: object
      key: ResponseReasoningSummaryPartDoneEvent
      path: <auto>
    - type: object
      key: ResponseReasoningSummaryTextDeltaEvent
      path: <auto>
    - type: object
      key: ResponseReasoningSummaryTextDoneEvent
      path: <auto>
    - type: object
      key: ResponseReasoningTextDeltaEvent
      path: <auto>
    - type: object
      key: ResponseReasoningTextDoneEvent
      path: <auto>
    - type: object
      key: ResponseImageGenCallCompletedEvent
      path: <auto>
    - type: object
      key: ResponseImageGenCallGeneratingEvent
      path: <auto>
    - type: object
      key: ResponseImageGenCallInProgressEvent
      path: <auto>
    - type: object
      key: ResponseImageGenCallPartialImageEvent
      path: <auto>
    - type: object
      key: ResponseMCPCallArgumentsDeltaEvent
      path: <auto>
    - type: object
      key: ResponseMCPCallArgumentsDoneEvent
      path: <auto>
    - type: object
      key: ResponseMCPCallCompletedEvent
      path: <auto>
    - type: object
      key: ResponseMCPCallFailedEvent
      path: <auto>
    - type: object
      key: ResponseMCPCallInProgressEvent
      path: <auto>
    - type: object
      key: ResponseMCPListToolsCompletedEvent
      path: <auto>
    - type: object
      key: ResponseMCPListToolsFailedEvent
      path: <auto>
    - type: object
      key: ResponseMCPListToolsInProgressEvent
      path: <auto>
    - type: object
      key: ResponseCodeInterpreterCallInProgressEvent
      path: <auto>
    - type: object
      key: ResponseCodeInterpreterCallInterpretingEvent
      path: <auto>
    - type: object
      key: ResponseCodeInterpreterCallCompletedEvent
      path: <auto>
    - type: object
      key: ResponseCodeInterpreterCallCodeDeltaEvent
      path: <auto>
    - type: object
      key: ResponseCodeInterpreterCallCodeDoneEvent
      path: <auto>
    - type: object
      key: ResponseOutputTextAnnotationAddedEvent
      path: <auto>
    - type: object
      key: ResponseQueuedEvent
      path: <auto>
    - type: object
      key: ResponseCustomToolCallInputDeltaEvent
      path: <auto>
    - type: object
      key: ResponseCustomToolCallInputDoneEvent
      path: <auto>
    - type: object
      key: ResponseErrorEvent
      path: <auto>
  - id: safety-cases
    title: Safety Cases
    description: 'Retrieve details about a safety warning or deactivation using the case ID

      from a `safety.warning_issued` or `safety.deactivation_issued` webhook event.

      Cases belong to an organization and require an API key with `api.safety.read`.

      '
    navigationGroup: endpoints
    sections:
    - type: endpoint
      key: Getsafetycase
      path: retrieve
    - type: object
      key: SafetyCaseResource
      path: object
  - id: safety-alerts
    title: Safety Alerts
    description: 'Retrieve approved safety alerts with an API key. Project keys require

      `api.safety.alerts.read` and can read alerts from their project.

      '
    navigationGroup: endpoints
    sections:
    - type: endpoint
      key: Getprojectsafetyalert
      path: retrieve
    - type: object
      key: SafetyAlertResource
      path: object
  - id: webhook-events
    title: Webhook Events
    description: 'Webhooks are HTTP requests sent by OpenAI to a URL you specify when certain

      events happen during the course of API usage.


      [Learn more about webhooks](https://developers.openai.com/api/docs/guides/webhooks).

      '
    navigationGroup: webhooks
    sections:
    - type: object
      key: WebhookResponseCompleted
      path: <auto>
    - type: object
      key: WebhookResponseCancelled
      path: <auto>
    - type: object
      key: WebhookResponseFailed
      path: <auto>
    - type: object
      key: WebhookResponseIncomplete
      path: <auto>
    - type: object
      key: WebhookBatchCompleted
      path: <auto>
    - type: object
      key: WebhookBatchCancelled
      path: <auto>
    - type: object
      key: WebhookBatchExpired
      path: <auto>
    - type: object
      key: WebhookBatchFailed
      path: <auto>
    - type: object
      key: WebhookFineTuningJobSucceeded
      path: <auto>
    - type: object
      key: WebhookFineTuningJobFailed
      path: <auto>
    - type: object
      key: WebhookFineTuningJobCancelled
      path: <auto>
    - type: object
      key: WebhookEvalRunSucceeded
      path: <auto>
    - type: object
      key: WebhookEvalRunFailed
      path: <auto>
    - type: object
      key: WebhookEvalRunCanceled
      path: <auto>
    - type: object
      key: WebhookRealtimeCallIncoming
      path: <auto>
    - type: object
      key: WebhookLiveCallIncoming
      path: <auto>
    - type: object
      key: WebhookLiveTransportIncoming
      path: <auto>
    - type: object
      key: WebhookSafetyWarningIssued
      path: <auto>
    - type: object
      key: WebhookSafetyDeactivationIssued
      path: <auto>
    - type: object
      key: WebhookSafetyAlertCreated
      path: <auto>
    - type: object
      key: WebhookSafetyOrgAlertCreated
      path: <auto>
  - id: images-streaming
    title: Image Streaming
    description: 'Stream image generation and editing in real time with server-sent events.

      [Learn more about image streaming](https://developers.openai.com/api/docs/guides/image-generation).

      '
    navigationGroup: endpoints
    sections:
    - type: object
      key: ImageGenPartialImageEvent
      path: <auto>
    - type: object
      key: ImageGenCompletedEvent
      path: <auto>
    - type: object
      key: ImageEditPartialImageEvent
      path: <auto>
    - type: object
      key: ImageEditCompletedEvent
      path: <auto>
  - id: realtime-client-events
    title: Client events
    description: 'These are events that the OpenAI Realtime WebSocket server will accept from the client.

      '
    navigationGroup: realtime
    sections:
    - type: object
      key: RealtimeClientEventSessionUpdate
      path: <auto>
    - type: object
      key: RealtimeClientEventInputAudioBufferAppend
      path: <auto>
    - type: object
      key: RealtimeClientEventInputAudioBufferCommit
      path: <auto>
    - type: object
      key: RealtimeClientEventInputAudioBufferClear
      path: <auto>
    - type: object
      key: RealtimeClientEventConversationItemCreate
      path: <auto>
    - type: object
      key: RealtimeClientEventConversationItemRetrieve
      path: <auto>
    - type: object
      key: RealtimeClientEventConversationItemTruncate
      path: <auto>
    - type: object
      key: RealtimeClientEventConversationItemDelete
      path: <auto>
    - type: object
      key: RealtimeClientEventResponseCreate
      path: <auto>
    - type: object
      key: RealtimeClientEventResponseCancel
      path: <auto>
    - type: object
      key: RealtimeClientEventOutputAudioBufferClear
      path: <auto>
  - id: realtime-server-events
    title: Server events
    description: 'These are events emitted from the OpenAI Realtime WebSocket server to the client.

      '
    navigationGroup: realtime
    sections:
    - type: object
      key: RealtimeServerEventError
      path: <auto>
    - type: object
      key: RealtimeServerEventSessionCreated
      path: <auto>
    - type: object
      key: RealtimeServerEventSessionUpdated
      path: <auto>
    - type: object
      key: RealtimeServerEventConversationItemAdded
      path: <auto>
    - type: object
      key: RealtimeServerEventConversationItemDone
      path: <auto>
    - type: object
      key: RealtimeServerEventConversationItemRetrieved
      path: <auto>
    - type: object
      key: RealtimeServerEventConversationItemInputAudioTranscriptionCompleted
      path: <auto>
    - type: object
      key: RealtimeServerEventConversationItemInputAudioTranscriptionDelta
      path: <auto>
    - type: object
      key: RealtimeServerEventConversationItemInputAudioTranscriptionSegment
      path: <auto>
    - type: object
      key: RealtimeServerEventConversationItemInputAudioTranscriptionFailed
      path: <auto>
    - type: object
      key: RealtimeServerEventConversationItemTruncated
      path: <auto>
    - type: object
      key: RealtimeServerEventConversationItemDeleted
      path: <auto>
    - type: object
      key: RealtimeServerEventInputAudioBufferCommitted
      path: <auto>
    - type: object
      key: RealtimeServerEventInputAudioBufferDtmfEventReceived
      path: <auto>
    - type: object
      key: RealtimeServerEventInputAudioBufferCleared
      path: <auto>
    - type: object
      key: RealtimeServerEventInputAudioBufferSpeechStarted
      path: <auto>
    - type: object
      key: RealtimeServerEventInputAudioBufferSpeechStopped
      path: <auto>
    - type: object
      key: RealtimeServerEventInputAudioBufferTimeoutTriggered
      path: <auto>
    - type: object
      key: RealtimeServerEventOutputAudioBufferStarted
      path: <auto>
    - type: object
      key: RealtimeServerEventOutputAudioBufferStopped
      path: <auto>
    - type: object
      key: RealtimeServerEventOutputAudioBufferCleared
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseCreated
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseDone
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseOutputItemAdded
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseOutputItemDone
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseContentPartAdded
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseContentPartDone
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseTextDelta
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseTextDone
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseAudioTranscriptDelta
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseAudioTranscriptDone
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseAudioDelta
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseAudioDone
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseFunctionCallArgumentsDelta
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseFunctionCallArgumentsDone
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseMCPCallArgumentsDelta
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseMCPCallArgumentsDone
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseMCPCallInProgress
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseMCPCallCompleted
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseMCPCallFailed
      path: <auto>
    - type: object
      key: RealtimeServerEventMCPListToolsInProgress
      path: <auto>
    - type: object
      key: RealtimeServerEventMCPListToolsCompleted
      path: <auto>
    - type: object
      key: RealtimeServerEventMCPListToolsFailed
      path: <auto>
    - type: object
      key: RealtimeServerEventRateLimitsUpdated
      path: <auto>
  - id: realtime-translation-client-events
    title: Translation client events
    description: 'These are events that the OpenAI Realtime Translation WebSocket server will accept from the client.

      '
    navigationGroup: realtime
    sections:
    - type: object
      key: RealtimeTranslationClientEventSessionUpdate
      path: <auto>
    - type: object
      key: RealtimeTranslationClientEventInputAudioBufferAppend
      path: <auto>
    - type: object
      key: RealtimeTranslationClientEventSessionClose
      path: <auto>
  - id: realtime-translation-server-events
    title: Translation server events
    description: 'These are events emitted from the OpenAI Realtime Translation WebSocket server to the client.

      '
    navigationGroup: realtime
    sections:
    - type: object
      key: RealtimeServerEventError
      path: <auto>
    - type: object
      key: RealtimeTranslationServerEventSessionCreated
      path: <auto>
    - type: object
      key: RealtimeTranslationServerEventSessionUpdated
      path: <auto>
    - type: object
      key: RealtimeTranslationServerEventSessionClosed
      path: <auto>
    - type: object
      key: RealtimeTranslationServerEventSessionInputTranscriptDelta
      path: <auto>
    - type: object
      key: RealtimeTranslationServerEventSessionOutputTranscriptDelta
      path: <auto>
    - type: object
      key: RealtimeTranslationServerEventSessionOutputAudioDelta
      path: <auto>
  - id: chat-streaming
    title: Streaming
    description: 'Stream Chat Completions in real time. Receive chunks of completions

      returned from the model using server-sent events.

      [Learn more](https://developers.openai.com/api/docs/guides/streaming-responses).

      '
    navigationGroup: chat
    sections:
    - type: object
      key: CreateChatCompletionStreamResponse
      path: streaming
  - id: assistants-streaming
    title: Streaming
    beta: true
    description: 'Stream the result of executing a Run or resuming a Run after submitting tool outputs.

      You can stream events from the [Create Thread and Run](https://developers.openai.com/api/docs/assistants/migration),

      [Create Run](https://developers.openai.com/api/docs/assistants/migration), and [Submit Tool Outputs](https://developers.openai.com/api/docs/assistants/migration)

      endpoints by passing `"stream": true`. The response will be a [Server-Sent events](https://html.spec.whatwg.org/multipage/server-sent-events.html#server-sent-events) stream.

      Our Node and Python SDKs provide helpful utilities to make streaming easy. Reference the

      [Assistants API quickstart](https://developers.openai.com/api/docs/assistants/migration) to learn more.

      '
    navigationGroup: assistants
    sections:
    - type: object
      key: AssistantStreamEvent
      path: events
  - id: realtime-beta-client-events
    title: Realtime Beta client events
    description: 'These are events that the OpenAI Realtime WebSocket server will accept from the client.

      '
    navigationGroup: legacy
    sections:
    - type: object
      key: RealtimeBetaClientEventSessionUpdate
      path: <auto>
    - type: object
      key: RealtimeBetaClientEventInputAudioBufferAppend
      path: <auto>
    - type: object
      key: RealtimeBetaClientEventInputAudioBufferCommit
      path: <auto>
    - type: object
      key: RealtimeBetaClientEventInputAudioBufferClear
      path: <auto>
    - type: object
      key: RealtimeBetaClientEventConversationItemCreate
      path: <auto>
    - type: object
      key: RealtimeBetaClientEventConversationItemRetrieve
      path: <auto>
    - type: object
      key: RealtimeBetaClientEventConversationItemTruncate
      path: <auto>
    - type: object
      key: RealtimeBetaClientEventConversationItemDelete
      path: <auto>
    - type: object
      key: RealtimeBetaClientEventResponseCreate
      path: <auto>
    - type: object
      key: RealtimeBetaClientEventResponseCancel
      path: <auto>
    - type: object
      key: RealtimeBetaClientEventTranscriptionSessionUpdate
      path: <auto>
    - type: object
      key: RealtimeBetaClientEventOutputAudioBufferClear
      path: <auto>
  - id: realtime-beta-server-events
    title: Realtime Beta server events
    description: 'These are events emitted from the OpenAI Realtime WebSocket server to the client.

      '
    navigationGroup: legacy
    sections:
    - type: object
      key: RealtimeBetaServerEventError
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventSessionCreated
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventSessionUpdated
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventTranscriptionSessionCreated
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventTranscriptionSessionUpdated
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventConversationItemCreated
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventConversationItemRetrieved
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventConversationItemInputAudioTranscriptionCompleted
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventConversationItemInputAudioTranscriptionDelta
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventConversationItemInputAudioTranscriptionSegment
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventConversationItemInputAudioTranscriptionFailed
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventConversationItemTruncated
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventConversationItemDeleted
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventInputAudioBufferCommitted
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventInputAudioBufferCleared
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventInputAudioBufferSpeechStarted
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventInputAudioBufferSpeechStopped
      path: <auto>
    - type: object
      key: RealtimeServerEventInputAudioBufferTimeoutTriggered
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseCreated
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseDone
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseOutputItemAdded
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseOutputItemDone
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseContentPartAdded
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseContentPartDone
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseTextDelta
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseTextDone
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseAudioTranscriptDelta
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseAudioTranscriptDone
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseAudioDelta
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseAudioDone
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseFunctionCallArgumentsDelta
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseFunctionCallArgumentsDone
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseMCPCallArgumentsDelta
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseMCPCallArgumentsDone
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseMCPCallInProgress
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseMCPCallCompleted
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseMCPCallFailed
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventMCPListToolsInProgress
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventMCPListToolsCompleted
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventMCPListToolsFailed
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventRateLimitsUpdated
      path: <auto>
  - id: live-client-events
    title: Client events
    description: Initialize a primary WebSocket with session.start and wait for session.started before sending other events. WebRTC creation starts the session for you. Start with the [Live prompting guide](https://developers.openai.com/api/docs/guides/live-prompting) to design frontend instructions and delegation policy; see [backend prompting](https://developers.openai.com/api/docs/guides/live-delegation#start-with-your-existing-backend-prompt) for tools and business rules.
    navigationGroup: live
    sections:
    - type: object
      key: LiveSessionStartEvent
      path: <auto>
    - type: object
      key: LiveForkSessionStartEvent
      path: <auto>
    - type: object
      key: LiveSessionUpdateParam
      path: <auto>
    - type: object
      key: LiveInputAudioAppendEvent
      path: <auto>
    - type: object
      key: LiveInputAudioMuteParam
      path: <auto>
    - type: object
      key: LiveInputAudioUnmuteParam
      path: <auto>
    - type: object
      key: LiveInstructionsAppendParam
      path: <auto>
    - type: object
      key: LiveThinkingAppendParam
      path: <auto>
    - type: object
      key: LiveCommentaryAppendParam
      path: <auto>
    - type: object
      key: LiveResponseItemCreateParam
      path: <auto>
    - type: object
      key: LiveResponseCreateParam
      path: <auto>
    - type: object
      key: LiveSessionCloseParam
      path: <auto>
  - id: live-server-events
    title: Server events
    description: Live server events. Responses delegation lifecycle events arrive inside response.event, not as top-level response events. Start with the [Live prompting guide](https://developers.openai.com/api/docs/guides/live-prompting) to design frontend instructions and delegation policy; see [backend prompting](https://developers.openai.com/api/docs/guides/live-delegation#start-with-your-existing-backend-prompt) for tools and business rules.
    navigationGroup: live
    sections:
    - type: object
      key: LiveSessionStarted
      path: <auto>
    - type: object
      key: LiveSessionUpdated
      path: <auto>
    - type: object
      key: LiveInputAudioMuted
      path: <auto>
    - type: object
      key: LiveInputAudioUnmuted
      path: <auto>
    - type: object
      key: LiveInstructionsAppended
      path: <auto>
    - type: object
      key: LiveThinkingAppended
      path: <auto>
    - type: object
      key: LiveCommentaryAppended
      path: <auto>
    - type: object
      key: LiveOutputAudioDelta
      path: <auto>
    - type: object
      key: LiveInputTranscriptDelta
      path: <auto>
    - type: object
      key: LiveOutputTranscriptDelta
      path: <auto>
    - type: object
      key: LiveDelegationCreated
      path: <auto>
    - type: object
      key: LiveResponseEvent
      path: <auto>
    - type: object
      key: LiveSessionUsageUpdated
      path: <auto>
    - type: object
      key: LiveSessionClosed
      path: <auto>
    - type: object
      key: LiveErrorEvent
      path: <auto>
    - type: object
      key: LiveInfoEvent
      path: <auto>
