openapi: 3.2.0
info:
  title: OpenAI Uploads API
  description: The OpenAI REST API. Please see https://platform.openai.com/docs/api-reference for more details.
  version: 2.3.0
  termsOfService: https://openai.com/policies/terms-of-use
  contact:
    name: OpenAI Support
    url: https://help.openai.com/
  license:
    name: MIT
    identifier: MIT
servers:
- url: https://api.openai.com/v1
security:
- ApiKeyAuth: []
tags:
- name: Uploads
  description: Use Uploads to upload large files in multiple parts.
paths:
  /uploads:
    post:
      operationId: createUpload
      tags:
      - Uploads
      summary: Create upload
      description: 'Creates an intermediate Upload object

        that you can add Parts to.

        Currently, an Upload can accept at most 8 GB in total and expires after an

        hour after you create it.


        Once you complete the Upload, we will create a

        File object that contains all the parts

        you uploaded. This File is usable in the rest of our platform as a regular

        File object.


        For certain `purpose` values, the correct `mime_type` must be specified.

        Please refer to documentation for the

        supported MIME types for your use case.


        For guidance on the proper filename extensions for each purpose, please

        follow the documentation on creating a

        File.


        Returns the Upload object with status `pending`.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUploadRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Upload'
      x-oaiMeta:
        group: uploads
        examples:
          request:
            curl: "curl https://api.openai.com/v1/uploads \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n  -d '{\n    \"purpose\": \"fine-tune\",\n    \"filename\": \"training_examples.jsonl\",\n    \"bytes\": 2147483648,\n    \"mime_type\": \"text/jsonl\",\n    \"expires_after\": {\n      \"anchor\": \"created_at\",\n      \"seconds\": 3600\n    }\n  }'\n"
          response: "{\n  \"id\": \"upload_abc123\",\n  \"object\": \"upload\",\n  \"bytes\": 2147483648,\n  \"created_at\": 1719184911,\n  \"filename\": \"training_examples.jsonl\",\n  \"purpose\": \"fine-tune\",\n  \"status\": \"pending\",\n  \"expires_at\": 1719127296\n}\n"
  /uploads/{upload_id}/cancel:
    post:
      operationId: cancelUpload
      tags:
      - Uploads
      summary: Cancel upload
      description: 'Cancels the Upload. No Parts may be added after an Upload is cancelled.


        Returns the Upload object with status `cancelled`.'
      parameters:
      - in: path
        name: upload_id
        required: true
        schema:
          type: string
          example: upload_abc123
        description: 'The ID of the Upload.

          '
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Upload'
      x-oaiMeta:
        group: uploads
        examples:
          request:
            curl: 'curl https://api.openai.com/v1/uploads/upload_abc123/cancel

              '
          response: "{\n  \"id\": \"upload_abc123\",\n  \"object\": \"upload\",\n  \"bytes\": 2147483648,\n  \"created_at\": 1719184911,\n  \"filename\": \"training_examples.jsonl\",\n  \"purpose\": \"fine-tune\",\n  \"status\": \"cancelled\",\n  \"expires_at\": 1719127296\n}\n"
  /uploads/{upload_id}/complete:
    post:
      operationId: completeUpload
      tags:
      - Uploads
      summary: Complete upload
      description: 'Completes the Upload.


        Within the returned Upload object, there is a nested File object that is ready to use in the rest of the platform.


        You can specify the order of the Parts by passing in an ordered list of the Part IDs.


        The number of bytes uploaded upon completion must match the number of bytes initially specified when creating the Upload object. No Parts may be added after an Upload is completed.

        Returns the Upload object with status `completed`, including an additional `file` property containing the created usable File object.'
      parameters:
      - in: path
        name: upload_id
        required: true
        schema:
          type: string
          example: upload_abc123
        description: 'The ID of the Upload.

          '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompleteUploadRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Upload'
      x-oaiMeta:
        group: uploads
        examples:
          request:
            curl: "curl https://api.openai.com/v1/uploads/upload_abc123/complete\n  -d '{\n    \"part_ids\": [\"part_def456\", \"part_ghi789\"]\n  }'\n"
          response: "{\n  \"id\": \"upload_abc123\",\n  \"object\": \"upload\",\n  \"bytes\": 2147483648,\n  \"created_at\": 1719184911,\n  \"filename\": \"training_examples.jsonl\",\n  \"purpose\": \"fine-tune\",\n  \"status\": \"completed\",\n  \"expires_at\": 1719127296,\n  \"file\": {\n    \"id\": \"file-xyz321\",\n    \"object\": \"file\",\n    \"bytes\": 2147483648,\n    \"created_at\": 1719186911,\n    \"expires_at\": 1719127296,\n    \"filename\": \"training_examples.jsonl\",\n    \"purpose\": \"fine-tune\",\n  }\n}\n"
  /uploads/{upload_id}/parts:
    post:
      operationId: addUploadPart
      tags:
      - Uploads
      summary: Add upload part
      description: 'Adds a Part to an Upload object. A Part represents a chunk of bytes from the file you are trying to upload.


        Each Part can be at most 64 MB, and you can add Parts until you hit the Upload maximum of 8 GB.


        It is possible to add multiple Parts in parallel. You can decide the intended order of the Parts when you complete the Upload.'
      parameters:
      - in: path
        name: upload_id
        required: true
        schema:
          type: string
          example: upload_abc123
        description: 'The ID of the Upload.

          '
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AddUploadPartRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadPart'
      x-oaiMeta:
        group: uploads
        examples:
          request:
            curl: "curl https://api.openai.com/v1/uploads/upload_abc123/parts\n  -F data=\"aHR0cHM6Ly9hcGkub3BlbmFpLmNvbS92MS91cGxvYWRz...\"\n"
          response: "{\n  \"id\": \"part_def456\",\n  \"object\": \"upload.part\",\n  \"created_at\": 1719185911,\n  \"upload_id\": \"upload_abc123\"\n}\n"
components:
  schemas:
    FileExpirationAfter:
      type: object
      title: File expiration policy
      description: The expiration policy for a file. By default, files with `purpose=batch` expire after 30 days and all other files are persisted until they are manually deleted.
      properties:
        anchor:
          description: 'Anchor timestamp after which the expiration policy applies. Supported anchors: `created_at`.'
          type: string
          enum:
          - created_at
          x-stainless-const: true
        seconds:
          description: The number of seconds after the anchor time that the file will expire. Must be between 3600 (1 hour) and 2592000 (30 days).
          type: integer
          format: int64
          minimum: 3600
          maximum: 2592000
      required:
      - anchor
      - seconds
    CompleteUploadRequest:
      type: object
      additionalProperties: false
      properties:
        part_ids:
          type: array
          description: 'The ordered list of Part IDs.

            '
          items:
            type: string
        md5:
          description: 'The optional md5 checksum for the file contents to verify if the bytes uploaded matches what you expect.

            '
          type: string
      required:
      - part_ids
    CreateUploadRequest:
      type: object
      additionalProperties: false
      properties:
        filename:
          description: 'The name of the file to upload.

            '
          type: string
        purpose:
          description: 'The intended purpose of the uploaded file.


            See the [documentation on File

            purposes](https://developers.openai.com/api/reference/resources/files/methods/create#%28resource%29%20files%20%3E%20%28method%29%20create%20%3E%20%28params%29%200%20%3E%20%28param%29%20purpose%20%3E%20%28schema%29).

            '
          type: string
          enum:
          - assistants
          - batch
          - fine-tune
          - vision
        bytes:
          description: 'The number of bytes in the file you are uploading.

            '
          type: integer
        mime_type:
          description: 'The MIME type of the file.



            This must fall within the supported MIME types for your file purpose. See

            the supported MIME types for assistants and vision.

            '
          type: string
        expires_after:
          $ref: '#/components/schemas/FileExpirationAfter'
      required:
      - filename
      - purpose
      - bytes
      - mime_type
    AddUploadPartRequest:
      type: object
      additionalProperties: false
      properties:
        data:
          description: 'The chunk of bytes for this Part.

            '
          type: string
          format: binary
      required:
      - data
    OpenAIFile:
      title: OpenAIFile
      description: The `File` object represents a document that has been uploaded to OpenAI.
      properties:
        id:
          type: string
          description: The file identifier, which can be referenced in the API endpoints.
        bytes:
          type: integer
          description: The size of the file, in bytes.
        created_at:
          type: integer
          format: unixtime
          description: The Unix timestamp (in seconds) for when the file was created.
        expires_at:
          type: integer
          format: unixtime
          description: The Unix timestamp (in seconds) for when the file will expire.
        filename:
          type: string
          description: The name of the file.
        object:
          type: string
          description: The object type, which is always `file`.
          enum:
          - file
          x-stainless-const: true
        purpose:
          type: string
          description: The intended purpose of the file. Supported values are `assistants`, `assistants_output`, `batch`, `batch_output`, `fine-tune`, `fine-tune-results`, `vision`, and `user_data`.
          enum:
          - assistants
          - assistants_output
          - batch
          - batch_output
          - fine-tune
          - fine-tune-results
          - vision
          - user_data
        status:
          type: string
          deprecated: true
          description: Deprecated. The current status of the file, which can be either `uploaded`, `processed`, or `error`.
          enum:
          - uploaded
          - processed
          - error
        status_details:
          type: string
          deprecated: true
          description: Deprecated. For details on why a fine-tuning training file failed validation, see the `error` field on `fine_tuning.job`.
      required:
      - id
      - object
      - bytes
      - created_at
      - filename
      - purpose
      - status
      x-oaiMeta:
        name: The file object
        example: "{\n  \"id\": \"file-abc123\",\n  \"object\": \"file\",\n  \"bytes\": 120000,\n  \"created_at\": 1677610602,\n  \"expires_at\": 1680202602,\n  \"filename\": \"salesOverview.pdf\",\n  \"purpose\": \"assistants\",\n}\n"
    UploadPart:
      type: object
      title: UploadPart
      description: 'The upload Part represents a chunk of bytes we can add to an Upload object.

        '
      properties:
        id:
          type: string
          description: The upload Part unique identifier, which can be referenced in API endpoints.
        created_at:
          type: integer
          format: unixtime
          description: The Unix timestamp (in seconds) for when the Part was created.
        upload_id:
          type: string
          description: The ID of the Upload object that this Part was added to.
        object:
          type: string
          description: The object type, which is always `upload.part`.
          enum:
          - upload.part
          x-stainless-const: true
      required:
      - created_at
      - id
      - object
      - upload_id
      x-oaiMeta:
        name: The upload part object
        example: "{\n    \"id\": \"part_def456\",\n    \"object\": \"upload.part\",\n    \"created_at\": 1719186911,\n    \"upload_id\": \"upload_abc123\"\n}\n"
    Upload:
      type: object
      title: Upload
      description: 'The Upload object can accept byte chunks in the form of Parts.

        '
      properties:
        id:
          type: string
          description: The Upload unique identifier, which can be referenced in API endpoints.
        created_at:
          type: integer
          format: unixtime
          description: The Unix timestamp (in seconds) for when the Upload was created.
        filename:
          type: string
          description: The name of the file to be uploaded.
        bytes:
          type: integer
          description: The intended number of bytes to be uploaded.
        purpose:
          type: string
          description: The intended purpose of the file. [Please refer here](https://developers.openai.com/api/reference/resources/files#%28resource%29%20files%20%3E%20%28model%29%20file_object%20%3E%20%28schema%29%20%3E%20%28property%29%20purpose) for acceptable values.
        status:
          type: string
          description: The status of the Upload.
          enum:
          - pending
          - completed
          - cancelled
          - expired
        expires_at:
          type: integer
          format: unixtime
          description: The Unix timestamp (in seconds) for when the Upload will expire.
        object:
          type: string
          description: The object type, which is always "upload".
          enum:
          - upload
          x-stainless-const: true
        file:
          allOf:
          - $ref: '#/components/schemas/OpenAIFile'
          - nullable: true
            description: The ready File object after the Upload is completed.
      required:
      - bytes
      - created_at
      - expires_at
      - filename
      - id
      - purpose
      - status
      x-oaiMeta:
        name: The upload object
        example: "{\n  \"id\": \"upload_abc123\",\n  \"object\": \"upload\",\n  \"bytes\": 2147483648,\n  \"created_at\": 1719184911,\n  \"filename\": \"training_examples.jsonl\",\n  \"purpose\": \"fine-tune\",\n  \"status\": \"completed\",\n  \"expires_at\": 1719127296,\n  \"file\": {\n    \"id\": \"file-xyz321\",\n    \"object\": \"file\",\n    \"bytes\": 2147483648,\n    \"created_at\": 1719186911,\n    \"filename\": \"training_examples.jsonl\",\n    \"purpose\": \"fine-tune\",\n  }\n}\n"
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: bearer
    AdminApiKeyAuth:
      type: http
      scheme: bearer
x-oaiMeta:
  navigationGroups:
  - id: responses
    title: Responses API
  - id: webhooks
    title: Webhooks
  - id: endpoints
    title: Platform APIs
  - id: vector_stores
    title: Vector stores
  - id: chatkit
    title: ChatKit
    beta: true
  - id: containers
    title: Containers
  - id: live
    title: Live (alpha)
  - id: realtime
    title: Realtime
  - id: chat
    title: Chat Completions
  - id: assistants
    title: Assistants
    deprecated: true
  - id: administration
    title: Administration
  - id: legacy
    title: Legacy
  groups:
  - id: responses-streaming
    title: Streaming events
    description: 'When you [create a Response](https://developers.openai.com/api/reference/resources/responses/methods/create) with

      `stream` set to `true`, the server will emit server-sent events to the

      client as the Response is generated. This section contains the events that

      are emitted by the server.


      When processing a `compaction_trigger`, `response.compaction.compacting`

      reports newly sampled summary output at most once every 30 seconds. It

      carries no summary content and does not modify the compaction output item.

      The existing `response.output_item.added` and `response.output_item.done`

      events mark that item''s lifecycle; `response.output_item.done` carries its

      final encrypted content. A short compaction may finish without emitting a

      progress event.


      [Learn more about streaming responses](https://developers.openai.com/api/docs/guides/streaming-responses).

      '
    navigationGroup: responses
    sections:
    - type: object
      key: ResponseCreatedEvent
      path: <auto>
    - type: object
      key: ResponseInProgressEvent
      path: <auto>
    - type: object
      key: ResponseCompletedEvent
      path: <auto>
    - type: object
      key: ResponseFailedEvent
      path: <auto>
    - type: object
      key: ResponseIncompleteEvent
      path: <auto>
    - type: object
      key: ResponseOutputItemAddedEvent
      path: <auto>
    - type: object
      key: ResponseOutputItemDoneEvent
      path: <auto>
    - type: object
      key: ResponseCompactionCompactingEvent
      path: <auto>
    - type: object
      key: ResponseContentPartAddedEvent
      path: <auto>
    - type: object
      key: ResponseContentPartDoneEvent
      path: <auto>
    - type: object
      key: ResponseTextDeltaEvent
      path: response/output_text/delta
    - type: object
      key: ResponseTextDoneEvent
      path: response/output_text/done
    - type: object
      key: ResponseRefusalDeltaEvent
      path: <auto>
    - type: object
      key: ResponseRefusalDoneEvent
      path: <auto>
    - type: object
      key: ResponseFunctionCallArgumentsDeltaEvent
      path: <auto>
    - type: object
      key: ResponseFunctionCallArgumentsDoneEvent
      path: <auto>
    - type: object
      key: ResponseFileSearchCallInProgressEvent
      path: <auto>
    - type: object
      key: ResponseFileSearchCallSearchingEvent
      path: <auto>
    - type: object
      key: ResponseFileSearchCallCompletedEvent
      path: <auto>
    - type: object
      key: ResponseWebSearchCallInProgressEvent
      path: <auto>
    - type: object
      key: ResponseWebSearchCallSearchingEvent
      path: <auto>
    - type: object
      key: ResponseWebSearchCallCompletedEvent
      path: <auto>
    - type: object
      key: ResponseReasoningSummaryPartAddedEvent
      path: <auto>
    - type: object
      key: ResponseReasoningSummaryPartDoneEvent
      path: <auto>
    - type: object
      key: ResponseReasoningSummaryTextDeltaEvent
      path: <auto>
    - type: object
      key: ResponseReasoningSummaryTextDoneEvent
      path: <auto>
    - type: object
      key: ResponseReasoningTextDeltaEvent
      path: <auto>
    - type: object
      key: ResponseReasoningTextDoneEvent
      path: <auto>
    - type: object
      key: ResponseImageGenCallCompletedEvent
      path: <auto>
    - type: object
      key: ResponseImageGenCallGeneratingEvent
      path: <auto>
    - type: object
      key: ResponseImageGenCallInProgressEvent
      path: <auto>
    - type: object
      key: ResponseImageGenCallPartialImageEvent
      path: <auto>
    - type: object
      key: ResponseMCPCallArgumentsDeltaEvent
      path: <auto>
    - type: object
      key: ResponseMCPCallArgumentsDoneEvent
      path: <auto>
    - type: object
      key: ResponseMCPCallCompletedEvent
      path: <auto>
    - type: object
      key: ResponseMCPCallFailedEvent
      path: <auto>
    - type: object
      key: ResponseMCPCallInProgressEvent
      path: <auto>
    - type: object
      key: ResponseMCPListToolsCompletedEvent
      path: <auto>
    - type: object
      key: ResponseMCPListToolsFailedEvent
      path: <auto>
    - type: object
      key: ResponseMCPListToolsInProgressEvent
      path: <auto>
    - type: object
      key: ResponseCodeInterpreterCallInProgressEvent
      path: <auto>
    - type: object
      key: ResponseCodeInterpreterCallInterpretingEvent
      path: <auto>
    - type: object
      key: ResponseCodeInterpreterCallCompletedEvent
      path: <auto>
    - type: object
      key: ResponseCodeInterpreterCallCodeDeltaEvent
      path: <auto>
    - type: object
      key: ResponseCodeInterpreterCallCodeDoneEvent
      path: <auto>
    - type: object
      key: ResponseOutputTextAnnotationAddedEvent
      path: <auto>
    - type: object
      key: ResponseQueuedEvent
      path: <auto>
    - type: object
      key: ResponseCustomToolCallInputDeltaEvent
      path: <auto>
    - type: object
      key: ResponseCustomToolCallInputDoneEvent
      path: <auto>
    - type: object
      key: ResponseErrorEvent
      path: <auto>
  - id: responses-websocket-client-events
    title: Client events
    description: 'Events sent by the client over a Responses API WebSocket connection.

      '
    navigationGroup: responses
    sections:
    - type: object
      key: ResponsesClientEventResponseCreate
      path: <auto>
    - type: object
      key: ResponseSteerEvent
      path: <auto>
  - id: responses-websocket-server-events
    title: Server events (WebSocket only)
    description: 'Events emitted only over a Responses API WebSocket connection.

      '
    navigationGroup: responses
    sections:
    - type: object
      key: ResponseSteerAcceptedEvent
      path: <auto>
    - type: object
      key: ResponseSteerPendingEvent
      path: <auto>
    - type: object
      key: ResponseSteerFailedEvent
      path: <auto>
  - id: responses-websocket-shared-events
    title: Server events
    description: 'These events use the same payloads over WebSocket and

      [HTTP streaming](https://developers.openai.com/api/reference/resources/responses/streaming-events).

      Compaction progress follows the same cadence and output-item lifecycle

      described in HTTP streaming.

      '
    navigationGroup: responses
    sections:
    - type: object
      key: ResponseCreatedEvent
      path: <auto>
    - type: object
      key: ResponseInProgressEvent
      path: <auto>
    - type: object
      key: ResponseCompletedEvent
      path: <auto>
    - type: object
      key: ResponseFailedEvent
      path: <auto>
    - type: object
      key: ResponseIncompleteEvent
      path: <auto>
    - type: object
      key: ResponseOutputItemAddedEvent
      path: <auto>
    - type: object
      key: ResponseOutputItemDoneEvent
      path: <auto>
    - type: object
      key: ResponseCompactionCompactingEvent
      path: <auto>
    - type: object
      key: ResponseContentPartAddedEvent
      path: <auto>
    - type: object
      key: ResponseContentPartDoneEvent
      path: <auto>
    - type: object
      key: ResponseTextDeltaEvent
      path: response/output_text/delta
    - type: object
      key: ResponseTextDoneEvent
      path: response/output_text/done
    - type: object
      key: ResponseRefusalDeltaEvent
      path: <auto>
    - type: object
      key: ResponseRefusalDoneEvent
      path: <auto>
    - type: object
      key: ResponseFunctionCallArgumentsDeltaEvent
      path: <auto>
    - type: object
      key: ResponseFunctionCallArgumentsDoneEvent
      path: <auto>
    - type: object
      key: ResponseFileSearchCallInProgressEvent
      path: <auto>
    - type: object
      key: ResponseFileSearchCallSearchingEvent
      path: <auto>
    - type: object
      key: ResponseFileSearchCallCompletedEvent
      path: <auto>
    - type: object
      key: ResponseWebSearchCallInProgressEvent
      path: <auto>
    - type: object
      key: ResponseWebSearchCallSearchingEvent
      path: <auto>
    - type: object
      key: ResponseWebSearchCallCompletedEvent
      path: <auto>
    - type: object
      key: ResponseReasoningSummaryPartAddedEvent
      path: <auto>
    - type: object
      key: ResponseReasoningSummaryPartDoneEvent
      path: <auto>
    - type: object
      key: ResponseReasoningSummaryTextDeltaEvent
      path: <auto>
    - type: object
      key: ResponseReasoningSummaryTextDoneEvent
      path: <auto>
    - type: object
      key: ResponseReasoningTextDeltaEvent
      path: <auto>
    - type: object
      key: ResponseReasoningTextDoneEvent
      path: <auto>
    - type: object
      key: ResponseImageGenCallCompletedEvent
      path: <auto>
    - type: object
      key: ResponseImageGenCallGeneratingEvent
      path: <auto>
    - type: object
      key: ResponseImageGenCallInProgressEvent
      path: <auto>
    - type: object
      key: ResponseImageGenCallPartialImageEvent
      path: <auto>
    - type: object
      key: ResponseMCPCallArgumentsDeltaEvent
      path: <auto>
    - type: object
      key: ResponseMCPCallArgumentsDoneEvent
      path: <auto>
    - type: object
      key: ResponseMCPCallCompletedEvent
      path: <auto>
    - type: object
      key: ResponseMCPCallFailedEvent
      path: <auto>
    - type: object
      key: ResponseMCPCallInProgressEvent
      path: <auto>
    - type: object
      key: ResponseMCPListToolsCompletedEvent
      path: <auto>
    - type: object
      key: ResponseMCPListToolsFailedEvent
      path: <auto>
    - type: object
      key: ResponseMCPListToolsInProgressEvent
      path: <auto>
    - type: object
      key: ResponseCodeInterpreterCallInProgressEvent
      path: <auto>
    - type: object
      key: ResponseCodeInterpreterCallInterpretingEvent
      path: <auto>
    - type: object
      key: ResponseCodeInterpreterCallCompletedEvent
      path: <auto>
    - type: object
      key: ResponseCodeInterpreterCallCodeDeltaEvent
      path: <auto>
    - type: object
      key: ResponseCodeInterpreterCallCodeDoneEvent
      path: <auto>
    - type: object
      key: ResponseOutputTextAnnotationAddedEvent
      path: <auto>
    - type: object
      key: ResponseQueuedEvent
      path: <auto>
    - type: object
      key: ResponseCustomToolCallInputDeltaEvent
      path: <auto>
    - type: object
      key: ResponseCustomToolCallInputDoneEvent
      path: <auto>
    - type: object
      key: ResponseErrorEvent
      path: <auto>
  - id: safety-cases
    title: Safety Cases
    description: 'Retrieve details about a safety warning or deactivation using the case ID

      from a `safety.warning_issued` or `safety.deactivation_issued` webhook event.

      Cases belong to an organization and require an API key with `api.safety.read`.

      '
    navigationGroup: endpoints
    sections:
    - type: endpoint
      key: Getsafetycase
      path: retrieve
    - type: object
      key: SafetyCaseResource
      path: object
  - id: safety-alerts
    title: Safety Alerts
    description: 'Retrieve approved safety alerts with an API key. Project keys require

      `api.safety.alerts.read` and can read alerts from their project.

      '
    navigationGroup: endpoints
    sections:
    - type: endpoint
      key: Getprojectsafetyalert
      path: retrieve
    - type: object
      key: SafetyAlertResource
      path: object
  - id: webhook-events
    title: Webhook Events
    description: 'Webhooks are HTTP requests sent by OpenAI to a URL you specify when certain

      events happen during the course of API usage.


      [Learn more about webhooks](https://developers.openai.com/api/docs/guides/webhooks).

      '
    navigationGroup: webhooks
    sections:
    - type: object
      key: WebhookResponseCompleted
      path: <auto>
    - type: object
      key: WebhookResponseCancelled
      path: <auto>
    - type: object
      key: WebhookResponseFailed
      path: <auto>
    - type: object
      key: WebhookResponseIncomplete
      path: <auto>
    - type: object
      key: WebhookBatchCompleted
      path: <auto>
    - type: object
      key: WebhookBatchCancelled
      path: <auto>
    - type: object
      key: WebhookBatchExpired
      path: <auto>
    - type: object
      key: WebhookBatchFailed
      path: <auto>
    - type: object
      key: WebhookFineTuningJobSucceeded
      path: <auto>
    - type: object
      key: WebhookFineTuningJobFailed
      path: <auto>
    - type: object
      key: WebhookFineTuningJobCancelled
      path: <auto>
    - type: object
      key: WebhookEvalRunSucceeded
      path: <auto>
    - type: object
      key: WebhookEvalRunFailed
      path: <auto>
    - type: object
      key: WebhookEvalRunCanceled
      path: <auto>
    - type: object
      key: WebhookRealtimeCallIncoming
      path: <auto>
    - type: object
      key: WebhookLiveCallIncoming
      path: <auto>
    - type: object
      key: WebhookLiveTransportIncoming
      path: <auto>
    - type: object
      key: WebhookSafetyWarningIssued
      path: <auto>
    - type: object
      key: WebhookSafetyDeactivationIssued
      path: <auto>
    - type: object
      key: WebhookSafetyAlertCreated
      path: <auto>
    - type: object
      key: WebhookSafetyOrgAlertCreated
      path: <auto>
  - id: images-streaming
    title: Image Streaming
    description: 'Stream image generation and editing in real time with server-sent events.

      [Learn more about image streaming](https://developers.openai.com/api/docs/guides/image-generation).

      '
    navigationGroup: endpoints
    sections:
    - type: object
      key: ImageGenPartialImageEvent
      path: <auto>
    - type: object
      key: ImageGenCompletedEvent
      path: <auto>
    - type: object
      key: ImageEditPartialImageEvent
      path: <auto>
    - type: object
      key: ImageEditCompletedEvent
      path: <auto>
  - id: realtime-client-events
    title: Client events
    description: 'These are events that the OpenAI Realtime WebSocket server will accept from the client.

      '
    navigationGroup: realtime
    sections:
    - type: object
      key: RealtimeClientEventSessionUpdate
      path: <auto>
    - type: object
      key: RealtimeClientEventInputAudioBufferAppend
      path: <auto>
    - type: object
      key: RealtimeClientEventInputAudioBufferCommit
      path: <auto>
    - type: object
      key: RealtimeClientEventInputAudioBufferClear
      path: <auto>
    - type: object
      key: RealtimeClientEventConversationItemCreate
      path: <auto>
    - type: object
      key: RealtimeClientEventConversationItemRetrieve
      path: <auto>
    - type: object
      key: RealtimeClientEventConversationItemTruncate
      path: <auto>
    - type: object
      key: RealtimeClientEventConversationItemDelete
      path: <auto>
    - type: object
      key: RealtimeClientEventResponseCreate
      path: <auto>
    - type: object
      key: RealtimeClientEventResponseCancel
      path: <auto>
    - type: object
      key: RealtimeClientEventOutputAudioBufferClear
      path: <auto>
  - id: realtime-server-events
    title: Server events
    description: 'These are events emitted from the OpenAI Realtime WebSocket server to the client.

      '
    navigationGroup: realtime
    sections:
    - type: object
      key: RealtimeServerEventError
      path: <auto>
    - type: object
      key: RealtimeServerEventSessionCreated
      path: <auto>
    - type: object
      key: RealtimeServerEventSessionUpdated
      path: <auto>
    - type: object
      key: RealtimeServerEventConversationItemAdded
      path: <auto>
    - type: object
      key: RealtimeServerEventConversationItemDone
      path: <auto>
    - type: object
      key: RealtimeServerEventConversationItemRetrieved
      path: <auto>
    - type: object
      key: RealtimeServerEventConversationItemInputAudioTranscriptionCompleted
      path: <auto>
    - type: object
      key: RealtimeServerEventConversationItemInputAudioTranscriptionDelta
      path: <auto>
    - type: object
      key: RealtimeServerEventConversationItemInputAudioTranscriptionSegment
      path: <auto>
    - type: object
      key: RealtimeServerEventConversationItemInputAudioTranscriptionFailed
      path: <auto>
    - type: object
      key: RealtimeServerEventConversationItemTruncated
      path: <auto>
    - type: object
      key: RealtimeServerEventConversationItemDeleted
      path: <auto>
    - type: object
      key: RealtimeServerEventInputAudioBufferCommitted
      path: <auto>
    - type: object
      key: RealtimeServerEventInputAudioBufferDtmfEventReceived
      path: <auto>
    - type: object
      key: RealtimeServerEventInputAudioBufferCleared
      path: <auto>
    - type: object
      key: RealtimeServerEventInputAudioBufferSpeechStarted
      path: <auto>
    - type: object
      key: RealtimeServerEventInputAudioBufferSpeechStopped
      path: <auto>
    - type: object
      key: RealtimeServerEventInputAudioBufferTimeoutTriggered
      path: <auto>
    - type: object
      key: RealtimeServerEventOutputAudioBufferStarted
      path: <auto>
    - type: object
      key: RealtimeServerEventOutputAudioBufferStopped
      path: <auto>
    - type: object
      key: RealtimeServerEventOutputAudioBufferCleared
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseCreated
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseDone
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseOutputItemAdded
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseOutputItemDone
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseContentPartAdded
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseContentPartDone
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseTextDelta
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseTextDone
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseAudioTranscriptDelta
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseAudioTranscriptDone
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseAudioDelta
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseAudioDone
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseFunctionCallArgumentsDelta
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseFunctionCallArgumentsDone
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseMCPCallArgumentsDelta
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseMCPCallArgumentsDone
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseMCPCallInProgress
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseMCPCallCompleted
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseMCPCallFailed
      path: <auto>
    - type: object
      key: RealtimeServerEventMCPListToolsInProgress
      path: <auto>
    - type: object
      key: RealtimeServerEventMCPListToolsCompleted
      path: <auto>
    - type: object
      key: RealtimeServerEventMCPListToolsFailed
      path: <auto>
    - type: object
      key: RealtimeServerEventRateLimitsUpdated
      path: <auto>
  - id: realtime-translation-client-events
    title: Translation client events
    description: 'These are events that the OpenAI Realtime Translation WebSocket server will accept from the client.

      '
    navigationGroup: realtime
    sections:
    - type: object
      key: RealtimeTranslationClientEventSessionUpdate
      path: <auto>
    - type: object
      key: RealtimeTranslationClientEventInputAudioBufferAppend
      path: <auto>
    - type: object
      key: RealtimeTranslationClientEventSessionClose
      path: <auto>
  - id: realtime-translation-server-events
    title: Translation server events
    description: 'These are events emitted from the OpenAI Realtime Translation WebSocket server to the client.

      '
    navigationGroup: realtime
    sections:
    - type: object
      key: RealtimeServerEventError
      path: <auto>
    - type: object
      key: RealtimeTranslationServerEventSessionCreated
      path: <auto>
    - type: object
      key: RealtimeTranslationServerEventSessionUpdated
      path: <auto>
    - type: object
      key: RealtimeTranslationServerEventSessionClosed
      path: <auto>
    - type: object
      key: RealtimeTranslationServerEventSessionInputTranscriptDelta
      path: <auto>
    - type: object
      key: RealtimeTranslationServerEventSessionOutputTranscriptDelta
      path: <auto>
    - type: object
      key: RealtimeTranslationServerEventSessionOutputAudioDelta
      path: <auto>
  - id: chat-streaming
    title: Streaming
    description: 'Stream Chat Completions in real time. Receive chunks of completions

      returned from the model using server-sent events.

      [Learn more](https://developers.openai.com/api/docs/guides/streaming-responses).

      '
    navigationGroup: chat
    sections:
    - type: object
      key: CreateChatCompletionStreamResponse
      path: streaming
  - id: assistants-streaming
    title: Streaming
    beta: true
    description: 'Stream the result of executing a Run or resuming a Run after submitting tool outputs.

      You can stream events from the [Create Thread and Run](https://developers.openai.com/api/docs/assistants/migration),

      [Create Run](https://developers.openai.com/api/docs/assistants/migration), and [Submit Tool Outputs](https://developers.openai.com/api/docs/assistants/migration)

      endpoints by passing `"stream": true`. The response will be a [Server-Sent events](https://html.spec.whatwg.org/multipage/server-sent-events.html#server-sent-events) stream.

      Our Node and Python SDKs provide helpful utilities to make streaming easy. Reference the

      [Assistants API quickstart](https://developers.openai.com/api/docs/assistants/migration) to learn more.

      '
    navigationGroup: assistants
    sections:
    - type: object
      key: AssistantStreamEvent
      path: events
  - id: realtime-beta-client-events
    title: Realtime Beta client events
    description: 'These are events that the OpenAI Realtime WebSocket server will accept from the client.

      '
    navigationGroup: legacy
    sections:
    - type: object
      key: RealtimeBetaClientEventSessionUpdate
      path: <auto>
    - type: object
      key: RealtimeBetaClientEventInputAudioBufferAppend
      path: <auto>
    - type: object
      key: RealtimeBetaClientEventInputAudioBufferCommit
      path: <auto>
    - type: object
      key: RealtimeBetaClientEventInputAudioBufferClear
      path: <auto>
    - type: object
      key: RealtimeBetaClientEventConversationItemCreate
      path: <auto>
    - type: object
      key: RealtimeBetaClientEventConversationItemRetrieve
      path: <auto>
    - type: object
      key: RealtimeBetaClientEventConversationItemTruncate
      path: <auto>
    - type: object
      key: RealtimeBetaClientEventConversationItemDelete
      path: <auto>
    - type: object
      key: RealtimeBetaClientEventResponseCreate
      path: <auto>
    - type: object
      key: RealtimeBetaClientEventResponseCancel
      path: <auto>
    - type: object
      key: RealtimeBetaClientEventTranscriptionSessionUpdate
      path: <auto>
    - type: object
      key: RealtimeBetaClientEventOutputAudioBufferClear
      path: <auto>
  - id: realtime-beta-server-events
    title: Realtime Beta server events
    description: 'These are events emitted from the OpenAI Realtime WebSocket server to the client.

      '
    navigationGroup: legacy
    sections:
    - type: object
      key: RealtimeBetaServerEventError
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventSessionCreated
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventSessionUpdated
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventTranscriptionSessionCreated
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventTranscriptionSessionUpdated
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventConversationItemCreated
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventConversationItemRetrieved
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventConversationItemInputAudioTranscriptionCompleted
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventConversationItemInputAudioTranscriptionDelta
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventConversationItemInputAudioTranscriptionSegment
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventConversationItemInputAudioTranscriptionFailed
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventConversationItemTruncated
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventConversationItemDeleted
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventInputAudioBufferCommitted
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventInputAudioBufferCleared
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventInputAudioBufferSpeechStarted
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventInputAudioBufferSpeechStopped
      path: <auto>
    - type: object
      key: RealtimeServerEventInputAudioBufferTimeoutTriggered
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseCreated
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseDone
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseOutputItemAdded
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseOutputItemDone
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseContentPartAdded
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseContentPartDone
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseTextDelta
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseTextDone
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseAudioTranscriptDelta
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseAudioTranscriptDone
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseAudioDelta
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseAudioDone
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseFunctionCallArgumentsDelta
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseFunctionCallArgumentsDone
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseMCPCallArgumentsDelta
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseMCPCallArgumentsDone
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseMCPCallInProgress
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseMCPCallCompleted
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseMCPCallFailed
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventMCPListToolsInProgress
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventMCPListToolsCompleted
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventMCPListToolsFailed
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventRateLimitsUpdated
      path: <auto>
  - id: live-client-events
    title: Client events
    description: Initialize a primary WebSocket with session.start and wait for session.started before sending other events. WebRTC creation starts the session for you. Start with the [Live prompting guide](https://developers.openai.com/api/docs/guides/live-prompting) to design frontend instructions and delegation policy; see [backend prompting](https://developers.openai.com/api/docs/guides/live-delegation#start-with-your-existing-backend-prompt) for tools and business rules.
    navigationGroup: live
    sections:
    - type: object
      key: LiveSessionStartEvent
      path: <auto>
    - type: object
      key: LiveForkSessionStartEvent
      path: <auto>
    - type: object
      key: LiveSessionUpdateParam
      path: <auto>
    - type: object
      key: LiveInputAudioAppendEvent
      path: <auto>
    - type: object
      key: LiveInputAudioMuteParam
      path: <auto>
    - type: object
      key: LiveInputAudioUnmuteParam
      path: <auto>
    - type: object
      key: LiveInstructionsAppendParam
      path: <auto>
    - type: object
      key: LiveThinkingAppendParam
      path: <auto>
    - type: object
      key: LiveCommentaryAppendParam
      path: <auto>
    - type: object
      key: LiveResponseItemCreateParam
      path: <auto>
    - type: object
      key: LiveResponseCreateParam
      path: <auto>
    - type: object
      key: LiveSessionCloseParam
      path: <auto>
  - id: live-server-events
    title: Server events
    description: Live server events. Responses delegation lifecycle events arrive inside response.event, not as top-level response events. Start with the [Live prompting guide](https://developers.openai.com/api/docs/guides/live-prompting) to design frontend instructions and delegation policy; see [backend prompting](https://developers.openai.com/api/docs/guides/live-delegation#start-with-your-existing-backend-prompt) for tools and business rules.
    navigationGroup: live
    sections:
    - type: object
      key: LiveSessionStarted
      path: <auto>
    - type: object
      key: LiveSessionUpdated
      path: <auto>
    - type: object
      key: LiveInputAudioMuted
      path: <auto>
    - type: object
      key: LiveInputAudioUnmuted
      path: <auto>
    - type: object
      key: LiveInstructionsAppended
      path: <auto>
    - type: object
      key: LiveThinkingAppended
      path: <auto>
    - type: object
      key: LiveCommentaryAppended
      path: <auto>
    - type: object
      key: LiveOutputAudioDelta
      path: <auto>
    - type: object
      key: LiveInputTranscriptDelta
      path: <auto>
    - type: object
      key: LiveOutputTranscriptDelta
      path: <auto>
    - type: object
      key: LiveDelegationCreated
      path: <auto>
    - type: object
      key: LiveResponseEvent
      path: <auto>
    - type: object
      key: LiveSessionUsageUpdated
      path: <auto>
    - type: object
      key: LiveSessionClosed
      path: <auto>
    - type: object
      key: LiveErrorEvent
      path: <auto>
    - type: object
      key: LiveInfoEvent
      path: <auto>
