openapi: 3.2.0
info:
  title: OpenAI Organization API
  description: The OpenAI REST API. Please see https://platform.openai.com/docs/api-reference for more details.
  version: 2.3.0
  termsOfService: https://openai.com/policies/terms-of-use
  contact:
    name: OpenAI Support
    url: https://help.openai.com/
  license:
    name: MIT
    identifier: MIT
servers:
- url: https://api.openai.com/v1
security:
- ApiKeyAuth: []
tags:
- name: Organization
paths:
  /organization/admin_api_keys:
    get:
      security:
      - AdminApiKeyAuth: []
      summary: List all organization and project API keys
      description: List organization API keys
      operationId: admin-api-keys-list
      parameters:
      - in: query
        name: after
        required: false
        schema:
          type: string
          nullable: true
          description: Return keys with IDs that come after this ID in the pagination order.
      - in: query
        name: order
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
          description: Order results by creation time, ascending or descending.
      - in: query
        name: limit
        required: false
        schema:
          type: integer
          default: 20
          description: Maximum number of keys to return.
      responses:
        '200':
          description: A list of organization API keys.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyList'
      x-oaiMeta:
        group: administration
        examples:
          request:
            curl: "curl https://api.openai.com/v1/organization/admin_api_keys?after=key_abc&limit=20 \\\n  -H \"Authorization: Bearer $OPENAI_ADMIN_KEY\" \\\n  -H \"Content-Type: application/json\"\n"
          response: "{\n  \"object\": \"list\",\n  \"data\": [\n    {\n      \"object\": \"organization.admin_api_key\",\n      \"id\": \"key_abc\",\n      \"name\": \"Main Admin Key\",\n      \"redacted_value\": \"sk-admin...def\",\n      \"created_at\": 1711471533,\n      \"expires_at\": 1714063533,\n      \"last_used_at\": 1711471534,\n      \"owner\": {\n        \"type\": \"service_account\",\n        \"object\": \"organization.service_account\",\n        \"id\": \"sa_456\",\n        \"name\": \"My Service Account\",\n        \"created_at\": 1711471533,\n        \"role\": \"member\"\n      }\n    }\n  ],\n  \"first_id\": \"key_abc\",\n  \"last_id\": \"key_abc\",\n  \"has_more\": false\n}\n"
      tags:
      - Organization
    post:
      security:
      - AdminApiKeyAuth: []
      summary: Create admin API key
      description: Create an organization admin API key
      operationId: admin-api-keys-create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
                  example: New Admin Key
                expires_in_seconds:
                  type: integer
                  minimum: 1
                  maximum: 31536000
                  example: 2592000
                  description: The number of seconds until the API key expires. Omit this field for a key that does not expire.
      responses:
        '200':
          description: The newly created admin API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminApiKeyCreateResponse'
      x-oaiMeta:
        group: administration
        examples:
          request:
            curl: "curl -X POST https://api.openai.com/v1/organization/admin_api_keys \\\n  -H \"Authorization: Bearer $OPENAI_ADMIN_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n      \"name\": \"New Admin Key\",\n      \"expires_in_seconds\": 2592000\n  }'\n"
          response: "{\n  \"object\": \"organization.admin_api_key\",\n  \"id\": \"key_xyz\",\n  \"name\": \"New Admin Key\",\n  \"redacted_value\": \"sk-admin...xyz\",\n  \"created_at\": 1711471533,\n  \"expires_at\": 1714063533,\n  \"last_used_at\": 1711471534,\n  \"owner\": {\n    \"type\": \"user\",\n    \"object\": \"organization.user\",\n    \"id\": \"user_123\",\n    \"name\": \"John Doe\",\n    \"created_at\": 1711471533,\n    \"role\": \"owner\"\n  },\n  \"value\": \"sk-admin-1234abcd\"\n}\n"
      tags:
      - Organization
  /organization/admin_api_keys/{key_id}:
    get:
      security:
      - AdminApiKeyAuth: []
      summary: Retrieve admin API key
      description: Retrieve a single organization API key
      operationId: admin-api-keys-get
      parameters:
      - in: path
        name: key_id
        required: true
        schema:
          type: string
          description: The ID of the API key.
      responses:
        '200':
          description: Details of the requested API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminApiKey'
      x-oaiMeta:
        group: administration
        examples:
          request:
            curl: "curl https://api.openai.com/v1/organization/admin_api_keys/key_abc \\\n  -H \"Authorization: Bearer $OPENAI_ADMIN_KEY\" \\\n  -H \"Content-Type: application/json\"\n"
          response: "{\n  \"object\": \"organization.admin_api_key\",\n  \"id\": \"key_abc\",\n  \"name\": \"Main Admin Key\",\n  \"redacted_value\": \"sk-admin...xyz\",\n  \"created_at\": 1711471533,\n  \"last_used_at\": 1711471534,\n  \"owner\": {\n    \"type\": \"user\",\n    \"object\": \"organization.user\",\n    \"id\": \"user_123\",\n    \"name\": \"John Doe\",\n    \"created_at\": 1711471533,\n    \"role\": \"owner\"\n  }\n}\n"
      tags:
      - Organization
    delete:
      security:
      - AdminApiKeyAuth: []
      summary: Delete admin API key
      description: Delete an organization admin API key
      operationId: admin-api-keys-delete
      parameters:
      - in: path
        name: key_id
        required: true
        schema:
          type: string
          description: The ID of the API key to be deleted.
      responses:
        '200':
          description: Confirmation that the API key was deleted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: key_abc
                  object:
                    type: string
                    enum:
                    - organization.admin_api_key.deleted
                    example: organization.admin_api_key.deleted
                    x-stainless-const: true
                  deleted:
                    type: boolean
                    example: true
                required:
                - id
                - object
                - deleted
      x-oaiMeta:
        group: administration
        examples:
          request:
            curl: "curl -X DELETE https://api.openai.com/v1/organization/admin_api_keys/key_abc \\\n  -H \"Authorization: Bearer $OPENAI_ADMIN_KEY\" \\\n  -H \"Content-Type: application/json\"\n"
          response: "{\n  \"id\": \"key_abc\",\n  \"object\": \"organization.admin_api_key.deleted\",\n  \"deleted\": true\n}\n"
      tags:
      - Organization
  /organization/external_storage:
    get:
      summary: List external storage configurations
      description: List the organization's customer-managed external storage configurations.
      operationId: Listexternalstorageconfigurations
      parameters:
      - name: project_id
        in: query
        required: false
        schema:
          anyOf:
          - example: proj_123
            type: string
          - type: 'null'
      - name: after
        in: query
        description: Return external storage configurations after this ID.
        required: false
        schema:
          anyOf:
          - description: Return external storage configurations after this ID.
            type: string
          - type: 'null'
      - name: order
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/ExternalStorageOrder'
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalStorageListResource'
      x-oaiMeta:
        group: administration
        examples:
          request:
            curl: "curl \"https://api.openai.com/v1/organization/external_storage?limit=20&order=desc\" \\\n  -H \"Authorization: Bearer $OPENAI_ADMIN_KEY\" \\\n  -H \"Content-Type: application/json\"\n"
          response: "{\n  \"object\": \"list\",\n  \"data\": [\n    {\n      \"object\": \"organization.external_storage\",\n      \"id\": \"extstorage_abc123\",\n      \"project_id\": \"proj_abc123\",\n      \"provider\": {\n        \"type\": \"aws\",\n        \"account_id\": \"123456789012\",\n        \"region\": \"us-east-1\",\n        \"bucket\": \"customer-logs\",\n        \"role_arn\": \"arn:aws:iam::123456789012:role/OpenAIExternalStorageRole\",\n        \"external_id\": \"proj_abc123\"\n      },\n      \"geography\": \"US\",\n      \"status\": \"validated\",\n      \"created_at\": 1711471533\n    },\n    {\n      \"object\": \"organization.external_storage\",\n      \"id\": \"extstorage_azure123\",\n      \"project_id\": \"proj_azure123\",\n      \"provider\": {\n        \"type\": \"azure\",\n        \"tenant_id\": \"11111111-1111-1111-1111-111111111111\",\n        \"subscription_id\": \"22222222-2222-2222-2222-222222222222\",\n        \"resource_group\": \"customer-rg\",\n        \"account_name\": \"customerstorage\",\n        \"container\": \"openai-data\",\n        \"region\": \"eastus\"\n      },\n      \"geography\": \"US\",\n      \"status\": \"validated\",\n      \"created_at\": 1711471500\n    }\n  ],\n  \"first_id\": \"extstorage_abc123\",\n  \"last_id\": \"extstorage_azure123\",\n  \"has_more\": false\n}\n"
      security:
      - AdminApiKeyAuth: []
      tags:
      - Organization
    post:
      summary: Create an external storage configuration
      description: Register one customer-managed external storage configuration.
      operationId: Createanexternalstorageconfiguration
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateExternalStorageBody'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalStorageResponse'
      x-oaiMeta:
        group: administration
        examples:
        - title: AWS S3
          request:
            curl: "curl -X POST https://api.openai.com/v1/organization/external_storage \\\n  -H \"Authorization: Bearer $OPENAI_ADMIN_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"project_id\": \"proj_abc123\",\n    \"provider\": {\n      \"type\": \"aws\",\n      \"bucket\": \"customer-logs\",\n      \"role_arn\": \"arn:aws:iam::123456789012:role/OpenAIExternalStorageRole\"\n    }\n  }'\n"
          response: "{\n  \"object\": \"organization.external_storage\",\n  \"id\": \"extstorage_abc123\",\n  \"project_id\": \"proj_abc123\",\n  \"provider\": {\n    \"type\": \"aws\",\n    \"account_id\": \"123456789012\",\n    \"region\": \"us-east-1\",\n    \"bucket\": \"customer-logs\",\n    \"role_arn\": \"arn:aws:iam::123456789012:role/OpenAIExternalStorageRole\",\n    \"external_id\": \"proj_abc123\"\n  },\n  \"geography\": \"US\",\n  \"status\": \"pending\",\n  \"created_at\": 1711471533\n}\n"
        - title: Azure Blob Storage
          request:
            curl: "curl -X POST https://api.openai.com/v1/organization/external_storage \\\n  -H \"Authorization: Bearer $OPENAI_ADMIN_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"project_id\": \"proj_azure123\",\n    \"provider\": {\n      \"type\": \"azure\",\n      \"tenant_id\": \"11111111-1111-1111-1111-111111111111\",\n      \"subscription_id\": \"22222222-2222-2222-2222-222222222222\",\n      \"resource_group\": \"customer-rg\",\n      \"account_name\": \"customerstorage\",\n      \"container\": \"openai-data\"\n    }\n  }'\n"
          response: "{\n  \"object\": \"organization.external_storage\",\n  \"id\": \"extstorage_azure123\",\n  \"project_id\": \"proj_azure123\",\n  \"provider\": {\n    \"type\": \"azure\",\n    \"tenant_id\": \"11111111-1111-1111-1111-111111111111\",\n    \"subscription_id\": \"22222222-2222-2222-2222-222222222222\",\n    \"resource_group\": \"customer-rg\",\n    \"account_name\": \"customerstorage\",\n    \"container\": \"openai-data\",\n    \"region\": \"eastus\"\n  },\n  \"geography\": \"US\",\n  \"status\": \"pending\",\n  \"created_at\": 1711471533\n}\n"
      security:
      - AdminApiKeyAuth: []
      tags:
      - Organization
  /organization/external_storage/{external_storage_id}:
    get:
      summary: Get an external storage configuration
      description: Get one customer-managed external storage configuration.
      operationId: Getanexternalstorageconfiguration
      parameters:
      - name: external_storage_id
        in: path
        required: true
        schema:
          example: extstorage_123
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalStorageResponse'
      x-oaiMeta:
        group: administration
        examples:
          request:
            curl: "curl https://api.openai.com/v1/organization/external_storage/extstorage_azure123 \\\n  -H \"Authorization: Bearer $OPENAI_ADMIN_KEY\" \\\n  -H \"Content-Type: application/json\"\n"
          response: "{\n  \"object\": \"organization.external_storage\",\n  \"id\": \"extstorage_azure123\",\n  \"project_id\": \"proj_azure123\",\n  \"provider\": {\n    \"type\": \"azure\",\n    \"tenant_id\": \"11111111-1111-1111-1111-111111111111\",\n    \"subscription_id\": \"22222222-2222-2222-2222-222222222222\",\n    \"resource_group\": \"customer-rg\",\n    \"account_name\": \"customerstorage\",\n    \"container\": \"openai-data\",\n    \"region\": \"eastus\"\n  },\n  \"geography\": \"US\",\n  \"status\": \"validated\",\n  \"created_at\": 1711471533\n}\n"
      security:
      - AdminApiKeyAuth: []
      tags:
      - Organization
    delete:
      summary: Delete an external storage configuration
      description: Disconnect a customer-managed external storage configuration. Removing the project's last configuration restores organization-default retention if customer-managed retention was active. Repeating a deletion also completes any interrupted retention update. Cloud storage is unchanged.
      operationId: Deleteanexternalstorageconfiguration
      parameters:
      - name: external_storage_id
        in: path
        required: true
        schema:
          example: extstorage_123
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalStorageDeletedResource'
      x-oaiMeta:
        group: administration
        examples:
          request:
            curl: "curl -X DELETE https://api.openai.com/v1/organization/external_storage/extstorage_abc123 \\\n  -H \"Authorization: Bearer $OPENAI_ADMIN_KEY\" \\\n  -H \"Content-Type: application/json\"\n"
          response: "{\n  \"object\": \"organization.external_storage.deleted\",\n  \"id\": \"extstorage_abc123\",\n  \"deleted\": true\n}\n"
      security:
      - AdminApiKeyAuth: []
      tags:
      - Organization
  /organization/external_storage/{external_storage_id}/validate:
    post:
      summary: Validate an external storage configuration
      description: Validate one customer-managed external storage configuration.
      operationId: Validateanexternalstorageconfiguration
      parameters:
      - name: external_storage_id
        in: path
        required: true
        schema:
          example: extstorage_123
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalStorageResponse'
      x-oaiMeta:
        group: administration
        examples:
          request:
            curl: "curl -X POST https://api.openai.com/v1/organization/external_storage/extstorage_azure123/validate \\\n  -H \"Authorization: Bearer $OPENAI_ADMIN_KEY\" \\\n  -H \"Content-Type: application/json\"\n"
          response: "{\n  \"object\": \"organization.external_storage\",\n  \"id\": \"extstorage_azure123\",\n  \"project_id\": \"proj_azure123\",\n  \"provider\": {\n    \"type\": \"azure\",\n    \"tenant_id\": \"11111111-1111-1111-1111-111111111111\",\n    \"subscription_id\": \"22222222-2222-2222-2222-222222222222\",\n    \"resource_group\": \"customer-rg\",\n    \"account_name\": \"customerstorage\",\n    \"container\": \"openai-data\",\n    \"region\": \"eastus\"\n  },\n  \"geography\": \"US\",\n  \"status\": \"validated\",\n  \"created_at\": 1711471533\n}\n"
      security:
      - AdminApiKeyAuth: []
      tags:
      - Organization
  /organization/spend_limit:
    get:
      summary: Get organization spend limit
      description: Get the organization's hard spend limit.
      operationId: Getorganizationspendlimit
      parameters: []
      responses:
        '200':
          description: Hard spend limit retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationSpendLimitResource'
      x-oaiMeta:
        group: administration
        examples:
          request:
            curl: "curl https://api.openai.com/v1/organization/spend_limit \\\n  -H \"Authorization: Bearer $OPENAI_ADMIN_KEY\" \\\n  -H \"Content-Type: application/json\"\n"
          response: "{\n    \"object\": \"organization.spend_limit\",\n    \"threshold_amount\": 10000,\n    \"currency\": \"USD\",\n    \"interval\": \"month\",\n    \"enforcement\": {\n        \"status\": \"enforcing\"\n    }\n}\n"
      security:
      - AdminApiKeyAuth: []
      tags:
      - Organization
    post:
      summary: Update organization spend limit
      description: Create or replace the organization's hard spend limit.
      operationId: Updateorganizationspendlimit
      parameters: []
      requestBody:
        description: Parameters for the hard spend limit you want to create or replace.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrganizationSpendLimitBody'
        required: true
      responses:
        '200':
          description: Hard spend limit created or replaced successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationSpendLimitResource'
      x-oaiMeta:
        group: administration
        examples:
          request:
            curl: "curl -X POST https://api.openai.com/v1/organization/spend_limit \\\n  -H \"Authorization: Bearer $OPENAI_ADMIN_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n      \"threshold_amount\": 10000,\n      \"currency\": \"USD\",\n      \"interval\": \"month\"\n  }'\n"
          response: "{\n    \"object\": \"organization.spend_limit\",\n    \"threshold_amount\": 10000,\n    \"currency\": \"USD\",\n    \"interval\": \"month\",\n    \"enforcement\": {\n        \"status\": \"enforcing\"\n    }\n}\n"
      security:
      - AdminApiKeyAuth: []
      tags:
      - Organization
    delete:
      summary: Delete organization spend limit
      description: Delete the organization's hard spend limit.
      operationId: Deleteorganizationspendlimit
      parameters: []
      responses:
        '200':
          description: Hard spend limit deleted successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationSpendLimitDeletedResource'
      x-oaiMeta:
        group: administration
        examples:
          request:
            curl: "curl -X DELETE https://api.openai.com/v1/organization/spend_limit \\\n  -H \"Authorization: Bearer $OPENAI_ADMIN_KEY\" \\\n  -H \"Content-Type: application/json\"\n"
          response: "{\n    \"object\": \"organization.spend_limit.deleted\",\n    \"deleted\": true\n}\n"
      security:
      - AdminApiKeyAuth: []
      tags:
      - Organization
  /organization/projects/{project_id}/spend_limit:
    get:
      summary: Get project spend limit
      description: Get a project's hard spend limit.
      operationId: Getprojectspendlimit
      parameters:
      - name: project_id
        in: path
        description: The ID of the project whose hard spend limit is being managed.
        required: true
        schema:
          example: proj_123
          type: string
      responses:
        '200':
          description: Hard spend limit retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectSpendLimitResource'
      x-oaiMeta:
        group: administration
        examples:
          request:
            curl: "curl https://api.openai.com/v1/organization/projects/proj_abc/spend_limit \\\n  -H \"Authorization: Bearer $OPENAI_ADMIN_KEY\" \\\n  -H \"Content-Type: application/json\"\n"
          response: "{\n    \"object\": \"project.spend_limit\",\n    \"threshold_amount\": 10000,\n    \"currency\": \"USD\",\n    \"interval\": \"month\",\n    \"enforcement\": {\n        \"status\": \"enforcing\"\n    }\n}\n"
      security:
      - AdminApiKeyAuth: []
      tags:
      - Organization
    delete:
      summary: Delete project spend limit
      description: Delete a project's hard spend limit.
      operationId: Deleteprojectspendlimit
      parameters:
      - name: project_id
        in: path
        description: The ID of the project whose hard spend limit is being managed.
        required: true
        schema:
          example: proj_123
          type: string
      responses:
        '200':
          description: Hard spend limit deleted successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectSpendLimitDeletedResource'
      x-oaiMeta:
        group: administration
        examples:
          request:
            curl: "curl -X DELETE https://api.openai.com/v1/organization/projects/proj_abc/spend_limit \\\n  -H \"Authorization: Bearer $OPENAI_ADMIN_KEY\" \\\n  -H \"Content-Type: application/json\"\n"
          response: "{\n    \"object\": \"project.spend_limit.deleted\",\n    \"deleted\": true\n}\n"
      security:
      - AdminApiKeyAuth: []
      tags:
      - Organization
    post:
      summary: Update project spend limit
      description: Create or replace a project's hard spend limit.
      operationId: Updateprojectspendlimit
      parameters:
      - name: project_id
        in: path
        description: The ID of the project whose hard spend limit is being managed.
        required: true
        schema:
          example: proj_123
          type: string
      requestBody:
        description: Parameters for the hard spend limit you want to create or replace.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProjectSpendLimitBody'
        required: true
      responses:
        '200':
          description: Hard spend limit created or replaced successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectSpendLimitResource'
      x-oaiMeta:
        group: administration
        examples:
          request:
            curl: "curl -X POST https://api.openai.com/v1/organization/projects/proj_abc/spend_limit \\\n  -H \"Authorization: Bearer $OPENAI_ADMIN_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n      \"threshold_amount\": 10000,\n      \"currency\": \"USD\",\n      \"interval\": \"month\"\n  }'\n"
          response: "{\n    \"object\": \"project.spend_limit\",\n    \"threshold_amount\": 10000,\n    \"currency\": \"USD\",\n    \"interval\": \"month\",\n    \"enforcement\": {\n        \"status\": \"enforcing\"\n    }\n}\n"
      security:
      - AdminApiKeyAuth: []
      tags:
      - Organization
  /organization/projects/{project_id}/service_accounts/{service_account_id}/api_keys:
    post:
      summary: Create an API key for a service account
      description: Creates an API key for a service account in the project.
      operationId: CreateanAPIkeyforaserviceaccount
      parameters:
      - name: project_id
        in: path
        description: The ID of the project.
        required: true
        schema:
          description: The ID of the project.
          type: string
      - name: service_account_id
        in: path
        description: The ID of the service account.
        required: true
        schema:
          description: The ID of the service account.
          type: string
      requestBody:
        description: The service account API key create request payload.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectServiceAccountApiKeyBody'
      responses:
        '200':
          description: Service account API key created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceAccountApiKeyBody'
      x-oaiMeta:
        group: administration
        examples:
          request:
            curl: "curl -X POST https://api.openai.com/v1/organization/projects/proj_abc/service_accounts/svc_acct_abc/api_keys \\\n  -H \"Authorization: Bearer $OPENAI_ADMIN_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n      \"name\": \"Production App\",\n      \"scopes\": [\"api.responses.write\"]\n  }'\n"
          response: "{\n    \"object\": \"organization.project.service_account.api_key\",\n    \"value\": \"sk-abcdefghijklmnop123\",\n    \"name\": \"Production App\",\n    \"created_at\": 1711471533,\n    \"id\": \"key_abc\"\n}\n"
      security:
      - AdminApiKeyAuth: []
      tags:
      - Organization
components:
  schemas:
    CreateProjectServiceAccountApiKeyBody:
      properties:
        name:
          type: string
          description: API key name.
        scopes:
          items:
            type: string
            description: API key scope.
          type: array
          description: API key scopes.
        expires_in_seconds:
          anyOf:
          - type: integer
            maximum: 31536000
            minimum: 1
            description: Number of seconds until the API key expires.
          - type: 'null'
      type: object
      required: []
      description: The service account API key create request payload.
    UpdateOrganizationSpendLimitBody:
      properties:
        threshold_amount:
          type: integer
          minimum: 1
          description: The hard spend limit amount, in cents.
        currency:
          type: string
          enum:
          - USD
          description: The currency for the threshold amount. Currently, only `USD` is supported.
        interval:
          type: string
          enum:
          - month
          description: The time interval for evaluating spend against the threshold. Currently, only `month` is supported.
      type: object
      required:
      - threshold_amount
      - currency
      - interval
      description: Parameters for the hard spend limit you want to create or replace.
    CreateExternalStorageBody:
      properties:
        project_id:
          type: string
          example: proj_123
        provider:
          oneOf:
          - $ref: '#/components/schemas/AwsExternalStorageProviderParams'
          - $ref: '#/components/schemas/AzureExternalStorageProviderParams'
          - $ref: '#/components/schemas/GcpExternalStorageProviderParams'
          discriminator:
            propertyName: type
      type: object
      required:
      - project_id
      - provider
    ExternalStorageListResource:
      properties:
        object:
          type: string
          enum:
          - list
          default: list
          x-stainless-const: true
        data:
          items:
            $ref: '#/components/schemas/ExternalStorageResponse'
          type: array
        first_id:
          anyOf:
          - type: string
          - type: 'null'
        last_id:
          anyOf:
          - type: string
          - type: 'null'
        has_more:
          type: boolean
      type: object
      required:
      - object
      - data
      - first_id
      - last_id
      - has_more
    SpendLimitEnforcementStatus:
      anyOf:
      - type: string
      - type: string
        enum:
        - inactive
        - enforcing
    SpendLimitEnforcement:
      properties:
        status:
          $ref: '#/components/schemas/SpendLimitEnforcementStatus'
          description: Whether the hard spend limit is currently enforcing.
      type: object
      required:
      - status
      description: The current enforcement state of a hard spend limit.
    AzureExternalStorageProviderResponse:
      properties:
        type:
          type: string
          enum:
          - azure
          default: azure
          x-stainless-const: true
        tenant_id:
          type: string
        subscription_id:
          type: string
        resource_group:
          type: string
        account_name:
          type: string
        container:
          type: string
        region:
          type: string
      type: object
      required:
      - type
      - tenant_id
      - subscription_id
      - resource_group
      - account_name
      - container
      - region
    OrganizationSpendLimitDeletedResource:
      properties:
        object:
          type: string
          enum:
          - organization.spend_limit.deleted
          description: The object type, which is always `organization.spend_limit.deleted`.
          default: organization.spend_limit.deleted
          x-stainless-const: true
        deleted:
          type: boolean
          description: Whether the hard spend limit was deleted.
      type: object
      required:
      - object
      - deleted
      description: Confirmation payload returned after deleting an organization hard spend limit.
    ExternalStorageStatus:
      type: string
      enum:
      - pending
      - validated
      - unhealthy
    ExternalStorageDeletedResource:
      properties:
        object:
          type: string
          enum:
          - organization.external_storage.deleted
          default: organization.external_storage.deleted
          x-stainless-const: true
        id:
          type: string
        deleted:
          type: boolean
      type: object
      required:
      - object
      - id
      - deleted
    ExternalStorageResponse:
      properties:
        object:
          type: string
          enum:
          - organization.external_storage
          default: organization.external_storage
          x-stainless-const: true
        id:
          type: string
        project_id:
          type: string
        provider:
          oneOf:
          - $ref: '#/components/schemas/AwsExternalStorageProviderResponse'
          - $ref: '#/components/schemas/AzureExternalStorageProviderResponse'
          - $ref: '#/components/schemas/GcpExternalStorageProviderResponse'
          discriminator:
            propertyName: type
        geography:
          type: string
        status:
          $ref: '#/components/schemas/ExternalStorageStatus'
        created_at:
          type: integer
          format: unixtime
      type: object
      required:
      - object
      - id
      - project_id
      - provider
      - geography
      - status
      - created_at
    SpendLimitCurrency:
      anyOf:
      - type: string
      - type: string
        enum:
        - USD
    AwsExternalStorageProviderParams:
      properties:
        type:
          type: string
          enum:
          - aws
          default: aws
          x-stainless-const: true
        bucket:
          type: string
        role_arn:
          type: string
      type: object
      required:
      - type
      - bucket
      - role_arn
    ProjectSpendLimitDeletedResource:
      properties:
        object:
          type: string
          enum:
          - project.spend_limit.deleted
          description: The object type, which is always `project.spend_limit.deleted`.
          default: project.spend_limit.deleted
          x-stainless-const: true
        deleted:
          type: boolean
          description: Whether the hard spend limit was deleted.
      type: object
      required:
      - object
      - deleted
      description: Confirmation payload returned after deleting a project hard spend limit.
    AdminApiKey:
      type: object
      description: Represents an individual Admin API key in an org.
      properties:
        object:
          type: string
          enum:
          - organization.admin_api_key
          description: The object type, which is always `organization.admin_api_key`
          x-stainless-const: true
        id:
          type: string
          example: key_abc
          description: The identifier, which can be referenced in API endpoints
        name:
          anyOf:
          - type: string
          - type: 'null'
          example: Administration Key
          description: The name of the API key
        redacted_value:
          type: string
          example: sk-admin...def
          description: The redacted value of the API key
        created_at:
          type: integer
          format: unixtime
          example: 1711471533
          description: The Unix timestamp (in seconds) of when the API key was created
        expires_at:
          anyOf:
          - type: integer
            format: unixtime
            example: 1714063533
            description: The Unix timestamp (in seconds) of when the API key expires
          - type: 'null'
        last_used_at:
          anyOf:
          - type: integer
            format: unixtime
            example: 1711471534
            description: The Unix timestamp (in seconds) of when the API key was last used
          - type: 'null'
        owner:
          type: object
          properties:
            type:
              type: string
              example: user
              description: Always `user`
            object:
              type: string
              example: organization.user
              description: The object type, which is always organization.user
            id:
              type: string
              example: sa_456
              description: The identifier, which can be referenced in API endpoints
            name:
              type: string
              example: My Service Account
              description: The name of the user
            created_at:
              type: integer
              format: unixtime
              example: 1711471533
              description: The Unix timestamp (in seconds) of when the user was created
            role:
              type: string
              example: owner
              description: Always `owner`
      required:
      - object
      - redacted_value
      - created_at
      - expires_at
      - id
      - owner
      x-oaiMeta:
        name: The admin API key object
        example: "{\n  \"object\": \"organization.admin_api_key\",\n  \"id\": \"key_abc\",\n  \"name\": \"Main Admin Key\",\n  \"redacted_value\": \"sk-admin...xyz\",\n  \"created_at\": 1711471533,\n  \"last_used_at\": 1711471534,\n  \"owner\": {\n    \"type\": \"user\",\n    \"object\": \"organization.user\",\n    \"id\": \"user_123\",\n    \"name\": \"John Doe\",\n    \"created_at\": 1711471533,\n    \"role\": \"owner\"\n  }\n}\n"
    ExternalStorageOrder:
      type: string
      enum:
      - asc
      - desc
    OrganizationSpendLimitResource:
      properties:
        object:
          type: string
          enum:
          - organization.spend_limit
          description: The object type, which is always `organization.spend_limit`.
          default: organization.spend_limit
          x-stainless-const: true
        threshold_amount:
          type: integer
          description: The hard spend limit amount, in cents.
        currency:
          $ref: '#/components/schemas/SpendLimitCurrency'
          description: The currency for the threshold amount. Currently, only `USD` is supported.
        interval:
          $ref: '#/components/schemas/SpendLimitInterval'
          description: The time interval for evaluating spend against the threshold. Currently, only `month` is supported.
        enforcement:
          $ref: '#/components/schemas/SpendLimitEnforcement'
          description: The current enforcement state of the hard spend limit.
      type: object
      required:
      - object
      - threshold_amount
      - currency
      - interval
      - enforcement
      description: Represents a hard spend limit configured at the organization level.
    ApiKeyList:
      type: object
      properties:
        object:
          type: string
          enum:
          - list
          example: list
          x-stainless-const: true
        data:
          type: array
          items:
            $ref: '#/components/schemas/AdminApiKey'
        has_more:
          type: boolean
          example: false
        first_id:
          anyOf:
          - type: string
          - type: 'null'
          example: key_abc
        last_id:
          anyOf:
          - type: string
          - type: 'null'
          example: key_xyz
      required:
      - object
      - data
      - has_more
    AwsExternalStorageProviderResponse:
      properties:
        type:
          type: string
          enum:
          - aws
          default: aws
          x-stainless-const: true
        account_id:
          type: string
        region:
          type: string
        bucket:
          type: string
        role_arn:
          type: string
        external_id:
          type: string
      type: object
      required:
      - type
      - account_id
      - region
      - bucket
      - role_arn
      - external_id
    GcpExternalStorageProviderResponse:
      properties:
        type:
          type: string
          enum:
          - gcp
          default: gcp
          x-stainless-const: true
        bucket:
          type: string
        workload_identity_project_number:
          type: string
        workload_identity_pool_id:
          type: string
        workload_identity_provider_id:
          type: string
        region:
          type: string
        audience:
          type: string
      type: object
      required:
      - type
      - bucket
      - workload_identity_project_number
      - workload_identity_pool_id
      - workload_identity_provider_id
      - region
      - audience
    AzureExternalStorageProviderParams:
      properties:
        type:
          type: string
          enum:
          - azure
          default: azure
          x-stainless-const: true
        tenant_id:
          type: string
        subscription_id:
          type: string
        resource_group:
          type: string
        account_name:
          type: string
        container:
          type: string
      type: object
      required:
      - type
      - tenant_id
      - subscription_id
      - resource_group
      - account_name
      - container
    SpendLimitInterval:
      anyOf:
      - type: string
      - type: string
        enum:
        - month
    ProjectSpendLimitResource:
      properties:
        object:
          type: string
          enum:
          - project.spend_limit
          description: The object type, which is always `project.spend_limit`.
          default: project.spend_limit
          x-stainless-const: true
        threshold_amount:
          type: integer
          description: The hard spend limit amount, in cents.
        currency:
          $ref: '#/components/schemas/SpendLimitCurrency'
          description: The currency for the threshold amount. Currently, only `USD` is supported.
        interval:
          $ref: '#/components/schemas/SpendLimitInterval'
          description: The time interval for evaluating spend against the threshold. Currently, only `month` is supported.
        enforcement:
          $ref: '#/components/schemas/SpendLimitEnforcement'
          description: The current enforcement state of the hard spend limit.
      type: object
      required:
      - object
      - threshold_amount
      - currency
      - interval
      - enforcement
      description: Represents a hard spend limit configured at the project level.
    AdminApiKeyCreateResponse:
      allOf:
      - $ref: '#/components/schemas/AdminApiKey'
      - type: object
        description: The newly created admin API key. The `value` field is only returned once, when the key is created.
        properties:
          value:
            type: string
            example: sk-admin-1234abcd
            description: The value of the API key. Only shown on create.
        required:
        - value
    UpdateProjectSpendLimitBody:
      properties:
        threshold_amount:
          type: integer
          minimum: 1
          description: The hard spend limit amount, in cents.
        currency:
          type: string
          enum:
          - USD
          description: The currency for the threshold amount. Currently, only `USD` is supported.
        interval:
          type: string
          enum:
          - month
          description: The time interval for evaluating spend against the threshold. Currently, only `month` is supported.
      type: object
      required:
      - threshold_amount
      - currency
      - interval
      description: Parameters for the hard spend limit you want to create or replace.
    ServiceAccountApiKeyBody:
      properties:
        object:
          type: string
          enum:
          - organization.project.service_account.api_key
          description: The object type, which is always `organization.project.service_account.api_key`
          default: organization.project.service_account.api_key
          x-stainless-const: true
        value:
          type: string
          description: The unredacted API key value.
        name:
          type: string
          description: The name of the API key.
        created_at:
          type: integer
          format: unixtime
          description: The Unix timestamp (in seconds) when the API key was created.
        expires_at:
          anyOf:
          - type: integer
            format: unixtime
            description: The Unix timestamp (in seconds) when the API key expires, or null if it does not expire.
          - type: 'null'
        id:
          type: string
          description: The identifier of the API key.
      type: object
      required:
      - object
      - value
      - name
      - created_at
      - id
    GcpExternalStorageProviderParams:
      properties:
        type:
          type: string
          enum:
          - gcp
          default: gcp
          x-stainless-const: true
        bucket:
          type: string
        workload_identity_project_number:
          type: string
        workload_identity_pool_id:
          type: string
        workload_identity_provider_id:
          type: string
      type: object
      required:
      - type
      - bucket
      - workload_identity_project_number
      - workload_identity_pool_id
      - workload_identity_provider_id
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: bearer
    AdminApiKeyAuth:
      type: http
      scheme: bearer
x-oaiMeta:
  navigationGroups:
  - id: responses
    title: Responses API
  - id: webhooks
    title: Webhooks
  - id: endpoints
    title: Platform APIs
  - id: vector_stores
    title: Vector stores
  - id: chatkit
    title: ChatKit
    beta: true
  - id: containers
    title: Containers
  - id: live
    title: Live (alpha)
  - id: realtime
    title: Realtime
  - id: chat
    title: Chat Completions
  - id: assistants
    title: Assistants
    deprecated: true
  - id: administration
    title: Administration
  - id: legacy
    title: Legacy
  groups:
  - id: responses-streaming
    title: Streaming events
    description: 'When you [create a Response](https://developers.openai.com/api/reference/resources/responses/methods/create) with

      `stream` set to `true`, the server will emit server-sent events to the

      client as the Response is generated. This section contains the events that

      are emitted by the server.


      When processing a `compaction_trigger`, `response.compaction.compacting`

      reports newly sampled summary output at most once every 30 seconds. It

      carries no summary content and does not modify the compaction output item.

      The existing `response.output_item.added` and `response.output_item.done`

      events mark that item''s lifecycle; `response.output_item.done` carries its

      final encrypted content. A short compaction may finish without emitting a

      progress event.


      [Learn more about streaming responses](https://developers.openai.com/api/docs/guides/streaming-responses).

      '
    navigationGroup: responses
    sections:
    - type: object
      key: ResponseCreatedEvent
      path: <auto>
    - type: object
      key: ResponseInProgressEvent
      path: <auto>
    - type: object
      key: ResponseCompletedEvent
      path: <auto>
    - type: object
      key: ResponseFailedEvent
      path: <auto>
    - type: object
      key: ResponseIncompleteEvent
      path: <auto>
    - type: object
      key: ResponseOutputItemAddedEvent
      path: <auto>
    - type: object
      key: ResponseOutputItemDoneEvent
      path: <auto>
    - type: object
      key: ResponseCompactionCompactingEvent
      path: <auto>
    - type: object
      key: ResponseContentPartAddedEvent
      path: <auto>
    - type: object
      key: ResponseContentPartDoneEvent
      path: <auto>
    - type: object
      key: ResponseTextDeltaEvent
      path: response/output_text/delta
    - type: object
      key: ResponseTextDoneEvent
      path: response/output_text/done
    - type: object
      key: ResponseRefusalDeltaEvent
      path: <auto>
    - type: object
      key: ResponseRefusalDoneEvent
      path: <auto>
    - type: object
      key: ResponseFunctionCallArgumentsDeltaEvent
      path: <auto>
    - type: object
      key: ResponseFunctionCallArgumentsDoneEvent
      path: <auto>
    - type: object
      key: ResponseFileSearchCallInProgressEvent
      path: <auto>
    - type: object
      key: ResponseFileSearchCallSearchingEvent
      path: <auto>
    - type: object
      key: ResponseFileSearchCallCompletedEvent
      path: <auto>
    - type: object
      key: ResponseWebSearchCallInProgressEvent
      path: <auto>
    - type: object
      key: ResponseWebSearchCallSearchingEvent
      path: <auto>
    - type: object
      key: ResponseWebSearchCallCompletedEvent
      path: <auto>
    - type: object
      key: ResponseReasoningSummaryPartAddedEvent
      path: <auto>
    - type: object
      key: ResponseReasoningSummaryPartDoneEvent
      path: <auto>
    - type: object
      key: ResponseReasoningSummaryTextDeltaEvent
      path: <auto>
    - type: object
      key: ResponseReasoningSummaryTextDoneEvent
      path: <auto>
    - type: object
      key: ResponseReasoningTextDeltaEvent
      path: <auto>
    - type: object
      key: ResponseReasoningTextDoneEvent
      path: <auto>
    - type: object
      key: ResponseImageGenCallCompletedEvent
      path: <auto>
    - type: object
      key: ResponseImageGenCallGeneratingEvent
      path: <auto>
    - type: object
      key: ResponseImageGenCallInProgressEvent
      path: <auto>
    - type: object
      key: ResponseImageGenCallPartialImageEvent
      path: <auto>
    - type: object
      key: ResponseMCPCallArgumentsDeltaEvent
      path: <auto>
    - type: object
      key: ResponseMCPCallArgumentsDoneEvent
      path: <auto>
    - type: object
      key: ResponseMCPCallCompletedEvent
      path: <auto>
    - type: object
      key: ResponseMCPCallFailedEvent
      path: <auto>
    - type: object
      key: ResponseMCPCallInProgressEvent
      path: <auto>
    - type: object
      key: ResponseMCPListToolsCompletedEvent
      path: <auto>
    - type: object
      key: ResponseMCPListToolsFailedEvent
      path: <auto>
    - type: object
      key: ResponseMCPListToolsInProgressEvent
      path: <auto>
    - type: object
      key: ResponseCodeInterpreterCallInProgressEvent
      path: <auto>
    - type: object
      key: ResponseCodeInterpreterCallInterpretingEvent
      path: <auto>
    - type: object
      key: ResponseCodeInterpreterCallCompletedEvent
      path: <auto>
    - type: object
      key: ResponseCodeInterpreterCallCodeDeltaEvent
      path: <auto>
    - type: object
      key: ResponseCodeInterpreterCallCodeDoneEvent
      path: <auto>
    - type: object
      key: ResponseOutputTextAnnotationAddedEvent
      path: <auto>
    - type: object
      key: ResponseQueuedEvent
      path: <auto>
    - type: object
      key: ResponseCustomToolCallInputDeltaEvent
      path: <auto>
    - type: object
      key: ResponseCustomToolCallInputDoneEvent
      path: <auto>
    - type: object
      key: ResponseErrorEvent
      path: <auto>
  - id: responses-websocket-client-events
    title: Client events
    description: 'Events sent by the client over a Responses API WebSocket connection.

      '
    navigationGroup: responses
    sections:
    - type: object
      key: ResponsesClientEventResponseCreate
      path: <auto>
    - type: object
      key: ResponseSteerEvent
      path: <auto>
  - id: responses-websocket-server-events
    title: Server events (WebSocket only)
    description: 'Events emitted only over a Responses API WebSocket connection.

      '
    navigationGroup: responses
    sections:
    - type: object
      key: ResponseSteerAcceptedEvent
      path: <auto>
    - type: object
      key: ResponseSteerPendingEvent
      path: <auto>
    - type: object
      key: ResponseSteerFailedEvent
      path: <auto>
  - id: responses-websocket-shared-events
    title: Server events
    description: 'These events use the same payloads over WebSocket and

      [HTTP streaming](https://developers.openai.com/api/reference/resources/responses/streaming-events).

      Compaction progress follows the same cadence and output-item lifecycle

      described in HTTP streaming.

      '
    navigationGroup: responses
    sections:
    - type: object
      key: ResponseCreatedEvent
      path: <auto>
    - type: object
      key: ResponseInProgressEvent
      path: <auto>
    - type: object
      key: ResponseCompletedEvent
      path: <auto>
    - type: object
      key: ResponseFailedEvent
      path: <auto>
    - type: object
      key: ResponseIncompleteEvent
      path: <auto>
    - type: object
      key: ResponseOutputItemAddedEvent
      path: <auto>
    - type: object
      key: ResponseOutputItemDoneEvent
      path: <auto>
    - type: object
      key: ResponseCompactionCompactingEvent
      path: <auto>
    - type: object
      key: ResponseContentPartAddedEvent
      path: <auto>
    - type: object
      key: ResponseContentPartDoneEvent
      path: <auto>
    - type: object
      key: ResponseTextDeltaEvent
      path: response/output_text/delta
    - type: object
      key: ResponseTextDoneEvent
      path: response/output_text/done
    - type: object
      key: ResponseRefusalDeltaEvent
      path: <auto>
    - type: object
      key: ResponseRefusalDoneEvent
      path: <auto>
    - type: object
      key: ResponseFunctionCallArgumentsDeltaEvent
      path: <auto>
    - type: object
      key: ResponseFunctionCallArgumentsDoneEvent
      path: <auto>
    - type: object
      key: ResponseFileSearchCallInProgressEvent
      path: <auto>
    - type: object
      key: ResponseFileSearchCallSearchingEvent
      path: <auto>
    - type: object
      key: ResponseFileSearchCallCompletedEvent
      path: <auto>
    - type: object
      key: ResponseWebSearchCallInProgressEvent
      path: <auto>
    - type: object
      key: ResponseWebSearchCallSearchingEvent
      path: <auto>
    - type: object
      key: ResponseWebSearchCallCompletedEvent
      path: <auto>
    - type: object
      key: ResponseReasoningSummaryPartAddedEvent
      path: <auto>
    - type: object
      key: ResponseReasoningSummaryPartDoneEvent
      path: <auto>
    - type: object
      key: ResponseReasoningSummaryTextDeltaEvent
      path: <auto>
    - type: object
      key: ResponseReasoningSummaryTextDoneEvent
      path: <auto>
    - type: object
      key: ResponseReasoningTextDeltaEvent
      path: <auto>
    - type: object
      key: ResponseReasoningTextDoneEvent
      path: <auto>
    - type: object
      key: ResponseImageGenCallCompletedEvent
      path: <auto>
    - type: object
      key: ResponseImageGenCallGeneratingEvent
      path: <auto>
    - type: object
      key: ResponseImageGenCallInProgressEvent
      path: <auto>
    - type: object
      key: ResponseImageGenCallPartialImageEvent
      path: <auto>
    - type: object
      key: ResponseMCPCallArgumentsDeltaEvent
      path: <auto>
    - type: object
      key: ResponseMCPCallArgumentsDoneEvent
      path: <auto>
    - type: object
      key: ResponseMCPCallCompletedEvent
      path: <auto>
    - type: object
      key: ResponseMCPCallFailedEvent
      path: <auto>
    - type: object
      key: ResponseMCPCallInProgressEvent
      path: <auto>
    - type: object
      key: ResponseMCPListToolsCompletedEvent
      path: <auto>
    - type: object
      key: ResponseMCPListToolsFailedEvent
      path: <auto>
    - type: object
      key: ResponseMCPListToolsInProgressEvent
      path: <auto>
    - type: object
      key: ResponseCodeInterpreterCallInProgressEvent
      path: <auto>
    - type: object
      key: ResponseCodeInterpreterCallInterpretingEvent
      path: <auto>
    - type: object
      key: ResponseCodeInterpreterCallCompletedEvent
      path: <auto>
    - type: object
      key: ResponseCodeInterpreterCallCodeDeltaEvent
      path: <auto>
    - type: object
      key: ResponseCodeInterpreterCallCodeDoneEvent
      path: <auto>
    - type: object
      key: ResponseOutputTextAnnotationAddedEvent
      path: <auto>
    - type: object
      key: ResponseQueuedEvent
      path: <auto>
    - type: object
      key: ResponseCustomToolCallInputDeltaEvent
      path: <auto>
    - type: object
      key: ResponseCustomToolCallInputDoneEvent
      path: <auto>
    - type: object
      key: ResponseErrorEvent
      path: <auto>
  - id: safety-cases
    title: Safety Cases
    description: 'Retrieve details about a safety warning or deactivation using the case ID

      from a `safety.warning_issued` or `safety.deactivation_issued` webhook event.

      Cases belong to an organization and require an API key with `api.safety.read`.

      '
    navigationGroup: endpoints
    sections:
    - type: endpoint
      key: Getsafetycase
      path: retrieve
    - type: object
      key: SafetyCaseResource
      path: object
  - id: safety-alerts
    title: Safety Alerts
    description: 'Retrieve approved safety alerts with an API key. Project keys require

      `api.safety.alerts.read` and can read alerts from their project.

      '
    navigationGroup: endpoints
    sections:
    - type: endpoint
      key: Getprojectsafetyalert
      path: retrieve
    - type: object
      key: SafetyAlertResource
      path: object
  - id: webhook-events
    title: Webhook Events
    description: 'Webhooks are HTTP requests sent by OpenAI to a URL you specify when certain

      events happen during the course of API usage.


      [Learn more about webhooks](https://developers.openai.com/api/docs/guides/webhooks).

      '
    navigationGroup: webhooks
    sections:
    - type: object
      key: WebhookResponseCompleted
      path: <auto>
    - type: object
      key: WebhookResponseCancelled
      path: <auto>
    - type: object
      key: WebhookResponseFailed
      path: <auto>
    - type: object
      key: WebhookResponseIncomplete
      path: <auto>
    - type: object
      key: WebhookBatchCompleted
      path: <auto>
    - type: object
      key: WebhookBatchCancelled
      path: <auto>
    - type: object
      key: WebhookBatchExpired
      path: <auto>
    - type: object
      key: WebhookBatchFailed
      path: <auto>
    - type: object
      key: WebhookFineTuningJobSucceeded
      path: <auto>
    - type: object
      key: WebhookFineTuningJobFailed
      path: <auto>
    - type: object
      key: WebhookFineTuningJobCancelled
      path: <auto>
    - type: object
      key: WebhookEvalRunSucceeded
      path: <auto>
    - type: object
      key: WebhookEvalRunFailed
      path: <auto>
    - type: object
      key: WebhookEvalRunCanceled
      path: <auto>
    - type: object
      key: WebhookRealtimeCallIncoming
      path: <auto>
    - type: object
      key: WebhookLiveCallIncoming
      path: <auto>
    - type: object
      key: WebhookLiveTransportIncoming
      path: <auto>
    - type: object
      key: WebhookSafetyWarningIssued
      path: <auto>
    - type: object
      key: WebhookSafetyDeactivationIssued
      path: <auto>
    - type: object
      key: WebhookSafetyAlertCreated
      path: <auto>
    - type: object
      key: WebhookSafetyOrgAlertCreated
      path: <auto>
  - id: images-streaming
    title: Image Streaming
    description: 'Stream image generation and editing in real time with server-sent events.

      [Learn more about image streaming](https://developers.openai.com/api/docs/guides/image-generation).

      '
    navigationGroup: endpoints
    sections:
    - type: object
      key: ImageGenPartialImageEvent
      path: <auto>
    - type: object
      key: ImageGenCompletedEvent
      path: <auto>
    - type: object
      key: ImageEditPartialImageEvent
      path: <auto>
    - type: object
      key: ImageEditCompletedEvent
      path: <auto>
  - id: realtime-client-events
    title: Client events
    description: 'These are events that the OpenAI Realtime WebSocket server will accept from the client.

      '
    navigationGroup: realtime
    sections:
    - type: object
      key: RealtimeClientEventSessionUpdate
      path: <auto>
    - type: object
      key: RealtimeClientEventInputAudioBufferAppend
      path: <auto>
    - type: object
      key: RealtimeClientEventInputAudioBufferCommit
      path: <auto>
    - type: object
      key: RealtimeClientEventInputAudioBufferClear
      path: <auto>
    - type: object
      key: RealtimeClientEventConversationItemCreate
      path: <auto>
    - type: object
      key: RealtimeClientEventConversationItemRetrieve
      path: <auto>
    - type: object
      key: RealtimeClientEventConversationItemTruncate
      path: <auto>
    - type: object
      key: RealtimeClientEventConversationItemDelete
      path: <auto>
    - type: object
      key: RealtimeClientEventResponseCreate
      path: <auto>
    - type: object
      key: RealtimeClientEventResponseCancel
      path: <auto>
    - type: object
      key: RealtimeClientEventOutputAudioBufferClear
      path: <auto>
  - id: realtime-server-events
    title: Server events
    description: 'These are events emitted from the OpenAI Realtime WebSocket server to the client.

      '
    navigationGroup: realtime
    sections:
    - type: object
      key: RealtimeServerEventError
      path: <auto>
    - type: object
      key: RealtimeServerEventSessionCreated
      path: <auto>
    - type: object
      key: RealtimeServerEventSessionUpdated
      path: <auto>
    - type: object
      key: RealtimeServerEventConversationItemAdded
      path: <auto>
    - type: object
      key: RealtimeServerEventConversationItemDone
      path: <auto>
    - type: object
      key: RealtimeServerEventConversationItemRetrieved
      path: <auto>
    - type: object
      key: RealtimeServerEventConversationItemInputAudioTranscriptionCompleted
      path: <auto>
    - type: object
      key: RealtimeServerEventConversationItemInputAudioTranscriptionDelta
      path: <auto>
    - type: object
      key: RealtimeServerEventConversationItemInputAudioTranscriptionSegment
      path: <auto>
    - type: object
      key: RealtimeServerEventConversationItemInputAudioTranscriptionFailed
      path: <auto>
    - type: object
      key: RealtimeServerEventConversationItemTruncated
      path: <auto>
    - type: object
      key: RealtimeServerEventConversationItemDeleted
      path: <auto>
    - type: object
      key: RealtimeServerEventInputAudioBufferCommitted
      path: <auto>
    - type: object
      key: RealtimeServerEventInputAudioBufferDtmfEventReceived
      path: <auto>
    - type: object
      key: RealtimeServerEventInputAudioBufferCleared
      path: <auto>
    - type: object
      key: RealtimeServerEventInputAudioBufferSpeechStarted
      path: <auto>
    - type: object
      key: RealtimeServerEventInputAudioBufferSpeechStopped
      path: <auto>
    - type: object
      key: RealtimeServerEventInputAudioBufferTimeoutTriggered
      path: <auto>
    - type: object
      key: RealtimeServerEventOutputAudioBufferStarted
      path: <auto>
    - type: object
      key: RealtimeServerEventOutputAudioBufferStopped
      path: <auto>
    - type: object
      key: RealtimeServerEventOutputAudioBufferCleared
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseCreated
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseDone
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseOutputItemAdded
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseOutputItemDone
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseContentPartAdded
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseContentPartDone
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseTextDelta
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseTextDone
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseAudioTranscriptDelta
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseAudioTranscriptDone
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseAudioDelta
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseAudioDone
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseFunctionCallArgumentsDelta
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseFunctionCallArgumentsDone
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseMCPCallArgumentsDelta
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseMCPCallArgumentsDone
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseMCPCallInProgress
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseMCPCallCompleted
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseMCPCallFailed
      path: <auto>
    - type: object
      key: RealtimeServerEventMCPListToolsInProgress
      path: <auto>
    - type: object
      key: RealtimeServerEventMCPListToolsCompleted
      path: <auto>
    - type: object
      key: RealtimeServerEventMCPListToolsFailed
      path: <auto>
    - type: object
      key: RealtimeServerEventRateLimitsUpdated
      path: <auto>
  - id: realtime-translation-client-events
    title: Translation client events
    description: 'These are events that the OpenAI Realtime Translation WebSocket server will accept from the client.

      '
    navigationGroup: realtime
    sections:
    - type: object
      key: RealtimeTranslationClientEventSessionUpdate
      path: <auto>
    - type: object
      key: RealtimeTranslationClientEventInputAudioBufferAppend
      path: <auto>
    - type: object
      key: RealtimeTranslationClientEventSessionClose
      path: <auto>
  - id: realtime-translation-server-events
    title: Translation server events
    description: 'These are events emitted from the OpenAI Realtime Translation WebSocket server to the client.

      '
    navigationGroup: realtime
    sections:
    - type: object
      key: RealtimeServerEventError
      path: <auto>
    - type: object
      key: RealtimeTranslationServerEventSessionCreated
      path: <auto>
    - type: object
      key: RealtimeTranslationServerEventSessionUpdated
      path: <auto>
    - type: object
      key: RealtimeTranslationServerEventSessionClosed
      path: <auto>
    - type: object
      key: RealtimeTranslationServerEventSessionInputTranscriptDelta
      path: <auto>
    - type: object
      key: RealtimeTranslationServerEventSessionOutputTranscriptDelta
      path: <auto>
    - type: object
      key: RealtimeTranslationServerEventSessionOutputAudioDelta
      path: <auto>
  - id: chat-streaming
    title: Streaming
    description: 'Stream Chat Completions in real time. Receive chunks of completions

      returned from the model using server-sent events.

      [Learn more](https://developers.openai.com/api/docs/guides/streaming-responses).

      '
    navigationGroup: chat
    sections:
    - type: object
      key: CreateChatCompletionStreamResponse
      path: streaming
  - id: assistants-streaming
    title: Streaming
    beta: true
    description: 'Stream the result of executing a Run or resuming a Run after submitting tool outputs.

      You can stream events from the [Create Thread and Run](https://developers.openai.com/api/docs/assistants/migration),

      [Create Run](https://developers.openai.com/api/docs/assistants/migration), and [Submit Tool Outputs](https://developers.openai.com/api/docs/assistants/migration)

      endpoints by passing `"stream": true`. The response will be a [Server-Sent events](https://html.spec.whatwg.org/multipage/server-sent-events.html#server-sent-events) stream.

      Our Node and Python SDKs provide helpful utilities to make streaming easy. Reference the

      [Assistants API quickstart](https://developers.openai.com/api/docs/assistants/migration) to learn more.

      '
    navigationGroup: assistants
    sections:
    - type: object
      key: AssistantStreamEvent
      path: events
  - id: realtime-beta-client-events
    title: Realtime Beta client events
    description: 'These are events that the OpenAI Realtime WebSocket server will accept from the client.

      '
    navigationGroup: legacy
    sections:
    - type: object
      key: RealtimeBetaClientEventSessionUpdate
      path: <auto>
    - type: object
      key: RealtimeBetaClientEventInputAudioBufferAppend
      path: <auto>
    - type: object
      key: RealtimeBetaClientEventInputAudioBufferCommit
      path: <auto>
    - type: object
      key: RealtimeBetaClientEventInputAudioBufferClear
      path: <auto>
    - type: object
      key: RealtimeBetaClientEventConversationItemCreate
      path: <auto>
    - type: object
      key: RealtimeBetaClientEventConversationItemRetrieve
      path: <auto>
    - type: object
      key: RealtimeBetaClientEventConversationItemTruncate
      path: <auto>
    - type: object
      key: RealtimeBetaClientEventConversationItemDelete
      path: <auto>
    - type: object
      key: RealtimeBetaClientEventResponseCreate
      path: <auto>
    - type: object
      key: RealtimeBetaClientEventResponseCancel
      path: <auto>
    - type: object
      key: RealtimeBetaClientEventTranscriptionSessionUpdate
      path: <auto>
    - type: object
      key: RealtimeBetaClientEventOutputAudioBufferClear
      path: <auto>
  - id: realtime-beta-server-events
    title: Realtime Beta server events
    description: 'These are events emitted from the OpenAI Realtime WebSocket server to the client.

      '
    navigationGroup: legacy
    sections:
    - type: object
      key: RealtimeBetaServerEventError
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventSessionCreated
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventSessionUpdated
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventTranscriptionSessionCreated
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventTranscriptionSessionUpdated
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventConversationItemCreated
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventConversationItemRetrieved
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventConversationItemInputAudioTranscriptionCompleted
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventConversationItemInputAudioTranscriptionDelta
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventConversationItemInputAudioTranscriptionSegment
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventConversationItemInputAudioTranscriptionFailed
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventConversationItemTruncated
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventConversationItemDeleted
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventInputAudioBufferCommitted
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventInputAudioBufferCleared
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventInputAudioBufferSpeechStarted
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventInputAudioBufferSpeechStopped
      path: <auto>
    - type: object
      key: RealtimeServerEventInputAudioBufferTimeoutTriggered
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseCreated
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseDone
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseOutputItemAdded
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseOutputItemDone
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseContentPartAdded
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseContentPartDone
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseTextDelta
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseTextDone
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseAudioTranscriptDelta
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseAudioTranscriptDone
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseAudioDelta
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseAudioDone
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseFunctionCallArgumentsDelta
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseFunctionCallArgumentsDone
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseMCPCallArgumentsDelta
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseMCPCallArgumentsDone
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseMCPCallInProgress
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseMCPCallCompleted
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseMCPCallFailed
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventMCPListToolsInProgress
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventMCPListToolsCompleted
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventMCPListToolsFailed
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventRateLimitsUpdated
      path: <auto>
  - id: live-client-events
    title: Client events
    description: Initialize a primary WebSocket with session.start and wait for session.started before sending other events. WebRTC creation starts the session for you. Start with the [Live prompting guide](https://developers.openai.com/api/docs/guides/live-prompting) to design frontend instructions and delegation policy; see [backend prompting](https://developers.openai.com/api/docs/guides/live-delegation#start-with-your-existing-backend-prompt) for tools and business rules.
    navigationGroup: live
    sections:
    - type: object
      key: LiveSessionStartEvent
      path: <auto>
    - type: object
      key: LiveForkSessionStartEvent
      path: <auto>
    - type: object
      key: LiveSessionUpdateParam
      path: <auto>
    - type: object
      key: LiveInputAudioAppendEvent
      path: <auto>
    - type: object
      key: LiveInputAudioMuteParam
      path: <auto>
    - type: object
      key: LiveInputAudioUnmuteParam
      path: <auto>
    - type: object
      key: LiveInstructionsAppendParam
      path: <auto>
    - type: object
      key: LiveThinkingAppendParam
      path: <auto>
    - type: object
      key: LiveCommentaryAppendParam
      path: <auto>
    - type: object
      key: LiveResponseItemCreateParam
      path: <auto>
    - type: object
      key: LiveResponseCreateParam
      path: <auto>
    - type: object
      key: LiveSessionCloseParam
      path: <auto>
  - id: live-server-events
    title: Server events
    description: Live server events. Responses delegation lifecycle events arrive inside response.event, not as top-level response events. Start with the [Live prompting guide](https://developers.openai.com/api/docs/guides/live-prompting) to design frontend instructions and delegation policy; see [backend prompting](https://developers.openai.com/api/docs/guides/live-delegation#start-with-your-existing-backend-prompt) for tools and business rules.
    navigationGroup: live
    sections:
    - type: object
      key: LiveSessionStarted
      path: <auto>
    - type: object
      key: LiveSessionUpdated
      path: <auto>
    - type: object
      key: LiveInputAudioMuted
      path: <auto>
    - type: object
      key: LiveInputAudioUnmuted
      path: <auto>
    - type: object
      key: LiveInstructionsAppended
      path: <auto>
    - type: object
      key: LiveThinkingAppended
      path: <auto>
    - type: object
      key: LiveCommentaryAppended
      path: <auto>
    - type: object
      key: LiveOutputAudioDelta
      path: <auto>
    - type: object
      key: LiveInputTranscriptDelta
      path: <auto>
    - type: object
      key: LiveOutputTranscriptDelta
      path: <auto>
    - type: object
      key: LiveDelegationCreated
      path: <auto>
    - type: object
      key: LiveResponseEvent
      path: <auto>
    - type: object
      key: LiveSessionUsageUpdated
      path: <auto>
    - type: object
      key: LiveSessionClosed
      path: <auto>
    - type: object
      key: LiveErrorEvent
      path: <auto>
    - type: object
      key: LiveInfoEvent
      path: <auto>
