openapi: 3.2.0
info:
  title: OpenAI Responses API
  description: The OpenAI REST API. Please see https://platform.openai.com/docs/api-reference for more details.
  version: 2.3.0
  termsOfService: https://openai.com/policies/terms-of-use
  contact:
    name: OpenAI Support
    url: https://help.openai.com/
  license:
    name: MIT
    identifier: MIT
servers:
- url: https://api.openai.com/v1
security:
- ApiKeyAuth: []
tags:
- name: Responses
  description: Create and manage model responses.
paths:
  /responses:
    post:
      operationId: createResponse
      tags:
      - Responses
      summary: Create a model response
      description: 'Creates a model response. Provide text or

        image inputs to generate text

        or JSON outputs. Have the model call

        your own custom code or use built-in

        tools like web search

        or file search to use your own data

        as input for the model''s response.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateResponse'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
            text/event-stream:
              schema:
                $ref: '#/components/schemas/ResponseStreamEvent'
        '429':
          $ref: '#/components/responses/InferenceRateLimited'
        '503':
          $ref: '#/components/responses/InferenceServiceUnavailable'
      x-oaiMeta:
        group: responses
        path: create
        examples:
        - title: Text input
          request:
            curl: "curl https://api.openai.com/v1/responses \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n  -d '{\n    \"model\": \"gpt-6-astra\",\n    \"input\": \"Tell me a three sentence bedtime story about a unicorn.\"\n  }'\n"
            javascript: "import OpenAI from \"openai\";\n\nconst openai = new OpenAI();\n\nconst response = await openai.responses.create({\n    model: \"gpt-6-astra\",\n    input: \"Tell me a three sentence bedtime story about a unicorn.\"\n});\n\nconsole.log(response);\n"
            python: "from openai import OpenAI\n\nclient = OpenAI()\n\nresponse = client.responses.create(\n  model=\"gpt-6-astra\",\n  input=\"Tell me a three sentence bedtime story about a unicorn.\"\n)\n\nprint(response)\n"
            csharp: "using System;\nusing OpenAI.Responses;\n\nOpenAIResponseClient client = new(\n    model: \"gpt-6-astra\",\n    apiKey: Environment.GetEnvironmentVariable(\"OPENAI_API_KEY\")\n);\n\nOpenAIResponse response = client.CreateResponse(\"Tell me a three sentence bedtime story about a unicorn.\");\n\nConsole.WriteLine(response.GetOutputText());\n"
          response: "{\n  \"id\": \"resp_67ccd2bed1ec8190b14f964abc0542670bb6a6b452d3795b\",\n  \"object\": \"response\",\n  \"access_programs\": null,\n  \"created_at\": 1741476542,\n  \"status\": \"completed\",\n  \"completed_at\": 1741476543,\n  \"error\": null,\n  \"incomplete_details\": null,\n  \"instructions\": null,\n  \"max_output_tokens\": null,\n  \"model\": \"gpt-6-astra\",\n  \"output\": [\n    {\n      \"type\": \"message\",\n      \"id\": \"msg_67ccd2bf17f0819081ff3bb2cf6508e60bb6a6b452d3795b\",\n      \"status\": \"completed\",\n      \"role\": \"assistant\",\n      \"content\": [\n        {\n          \"type\": \"output_text\",\n          \"text\": \"In a peaceful grove beneath a silver moon, a unicorn named Lumina discovered a hidden pool that reflected the stars. As she dipped her horn into the water, the pool began to shimmer, revealing a pathway to a magical realm of endless night skies. Filled with wonder, Lumina whispered a wish for all who dream to find their own hidden magic, and as she glanced back, her hoofprints sparkled like stardust.\",\n          \"annotations\": []\n        }\n      ]\n    }\n  ],\n  \"parallel_tool_calls\": true,\n  \"previous_response_id\": null,\n  \"reasoning\": {\n    \"effort\": null,\n    \"summary\": null\n  },\n  \"store\": true,\n  \"temperature\": 1.0,\n  \"text\": {\n    \"format\": {\n      \"type\": \"text\"\n    }\n  },\n  \"tool_choice\": \"auto\",\n  \"tools\": [],\n  \"top_p\": 1.0,\n  \"truncation\": \"disabled\",\n  \"usage\": {\n    \"input_tokens\": 36,\n    \"input_tokens_details\": {\n      \"cached_tokens\": 0,\n      \"cache_write_tokens\": 0\n    },\n    \"output_tokens\": 87,\n    \"output_tokens_details\": {\n      \"reasoning_tokens\": 0\n    },\n    \"total_tokens\": 123\n  },\n  \"user\": null,\n  \"metadata\": {}\n}\n"
        - title: Image input
          request:
            curl: "curl https://api.openai.com/v1/responses \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n  -d '{\n    \"model\": \"gpt-6-astra\",\n    \"input\": [\n      {\n        \"role\": \"user\",\n        \"content\": [\n          {\"type\": \"input_text\", \"text\": \"what is in this image?\"},\n          {\n            \"type\": \"input_image\",\n            \"image_url\": \"https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Gfp-wisconsin-madison-the-nature-boardwalk.jpg/2560px-Gfp-wisconsin-madison-the-nature-boardwalk.jpg\"\n          }\n        ]\n      }\n    ]\n  }'\n"
            javascript: "import OpenAI from \"openai\";\n\nconst openai = new OpenAI();\n\nconst response = await openai.responses.create({\n    model: \"gpt-6-astra\",\n    input: [\n        {\n            role: \"user\",\n            content: [\n                { type: \"input_text\", text: \"what is in this image?\" },\n                {\n                    type: \"input_image\",\n                    image_url:\n                        \"https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Gfp-wisconsin-madison-the-nature-boardwalk.jpg/2560px-Gfp-wisconsin-madison-the-nature-boardwalk.jpg\",\n                },\n            ],\n        },\n    ],\n});\n\nconsole.log(response);\n"
            python: "from openai import OpenAI\n\nclient = OpenAI()\n\nresponse = client.responses.create(\n    model=\"gpt-6-astra\",\n    input=[\n        {\n            \"role\": \"user\",\n            \"content\": [\n                { \"type\": \"input_text\", \"text\": \"what is in this image?\" },\n                {\n                    \"type\": \"input_image\",\n                    \"image_url\": \"https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Gfp-wisconsin-madison-the-nature-boardwalk.jpg/2560px-Gfp-wisconsin-madison-the-nature-boardwalk.jpg\"\n                }\n            ]\n        }\n    ]\n)\n\nprint(response)\n"
            csharp: "using System;\nusing System.Collections.Generic;\n\nusing OpenAI.Responses;\n\nOpenAIResponseClient client = new(\n    model: \"gpt-6-astra\",\n    apiKey: Environment.GetEnvironmentVariable(\"OPENAI_API_KEY\")\n);\n\nList<ResponseItem> inputItems =\n[\n    ResponseItem.CreateUserMessageItem(\n        [\n            ResponseContentPart.CreateInputTextPart(\"What is in this image?\"),\n            ResponseContentPart.CreateInputImagePart(new Uri(\"https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Gfp-wisconsin-madison-the-nature-boardwalk.jpg/2560px-Gfp-wisconsin-madison-the-nature-boardwalk.jpg\"))\n        ]\n    )\n];\n\nOpenAIResponse response = client.CreateResponse(inputItems);\n\nConsole.WriteLine(response.GetOutputText());\n"
          response: "{\n  \"id\": \"resp_67ccd3a9da748190baa7f1570fe91ac604becb25c45c1d41\",\n  \"object\": \"response\",\n  \"access_programs\": null,\n  \"created_at\": 1741476777,\n  \"status\": \"completed\",\n  \"completed_at\": 1741476778,\n  \"error\": null,\n  \"incomplete_details\": null,\n  \"instructions\": null,\n  \"max_output_tokens\": null,\n  \"model\": \"gpt-6-astra\",\n  \"output\": [\n    {\n      \"type\": \"message\",\n      \"id\": \"msg_67ccd3acc8d48190a77525dc6de64b4104becb25c45c1d41\",\n      \"status\": \"completed\",\n      \"role\": \"assistant\",\n      \"content\": [\n        {\n          \"type\": \"output_text\",\n          \"text\": \"The image depicts a scenic landscape with a wooden boardwalk or pathway leading through lush, green grass under a blue sky with some clouds. The setting suggests a peaceful natural area, possibly a park or nature reserve. There are trees and shrubs in the background.\",\n          \"annotations\": []\n        }\n      ]\n    }\n  ],\n  \"parallel_tool_calls\": true,\n  \"previous_response_id\": null,\n  \"reasoning\": {\n    \"effort\": null,\n    \"summary\": null\n  },\n  \"store\": true,\n  \"temperature\": 1.0,\n  \"text\": {\n    \"format\": {\n      \"type\": \"text\"\n    }\n  },\n  \"tool_choice\": \"auto\",\n  \"tools\": [],\n  \"top_p\": 1.0,\n  \"truncation\": \"disabled\",\n  \"usage\": {\n    \"input_tokens\": 328,\n    \"input_tokens_details\": {\n      \"cached_tokens\": 0,\n      \"cache_write_tokens\": 0\n    },\n    \"output_tokens\": 52,\n    \"output_tokens_details\": {\n      \"reasoning_tokens\": 0\n    },\n    \"total_tokens\": 380\n  },\n  \"user\": null,\n  \"metadata\": {}\n}\n"
        - title: File input
          request:
            curl: "curl https://api.openai.com/v1/responses \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n  -d '{\n    \"model\": \"gpt-6-astra\",\n    \"input\": [\n      {\n        \"role\": \"user\",\n        \"content\": [\n          {\"type\": \"input_text\", \"text\": \"what is in this file?\"},\n          {\n            \"type\": \"input_file\",\n            \"file_url\": \"https://www.berkshirehathaway.com/letters/2024ltr.pdf\",\n            \"detail\": \"auto\"\n          }\n        ]\n      }\n    ]\n  }'\n"
            javascript: "import OpenAI from \"openai\";\n\nconst openai = new OpenAI();\n\nconst response = await openai.responses.create({\n    model: \"gpt-6-astra\",\n    input: [\n        {\n            role: \"user\",\n            content: [\n                { type: \"input_text\", text: \"what is in this file?\" },\n                {\n                    type: \"input_file\",\n                    file_url: \"https://www.berkshirehathaway.com/letters/2024ltr.pdf\",\n                    detail: \"auto\",\n                },\n            ],\n        },\n    ],\n});\n\nconsole.log(response);\n"
            python: "from openai import OpenAI\n\nclient = OpenAI()\n\nresponse = client.responses.create(\n    model=\"gpt-6-astra\",\n    input=[\n        {\n            \"role\": \"user\",\n            \"content\": [\n                { \"type\": \"input_text\", \"text\": \"what is in this file?\" },\n                {\n                    \"type\": \"input_file\",\n                    \"file_url\": \"https://www.berkshirehathaway.com/letters/2024ltr.pdf\",\n                    \"detail\": \"auto\"\n                }\n            ]\n        }\n    ]\n)\n\nprint(response)\n"
          response: "{\n  \"id\": \"resp_686eef60237881a2bd1180bb8b13de430e34c516d176ff86\",\n  \"object\": \"response\",\n  \"access_programs\": null,\n  \"created_at\": 1752100704,\n  \"status\": \"completed\",\n  \"completed_at\": 1752100705,\n  \"background\": false,\n  \"error\": null,\n  \"incomplete_details\": null,\n  \"instructions\": null,\n  \"max_output_tokens\": null,\n  \"max_tool_calls\": null,\n  \"model\": \"gpt-6-astra\",\n  \"output\": [\n    {\n      \"id\": \"msg_686eef60d3e081a29283bdcbc4322fd90e34c516d176ff86\",\n      \"type\": \"message\",\n      \"status\": \"completed\",\n      \"content\": [\n        {\n          \"type\": \"output_text\",\n          \"annotations\": [],\n          \"logprobs\": [],\n          \"text\": \"The file seems to contain excerpts from a letter to the shareholders of Berkshire Hathaway Inc., likely written by Warren Buffett. It covers several topics:\\n\\n1. **Communication Philosophy**: Buffett emphasizes the importance of transparency and candidness in reporting mistakes and successes to shareholders.\\n\\n2. **Mistakes and Learnings**: The letter acknowledges past mistakes in business assessments and management hires, highlighting the importance of correcting errors promptly.\\n\\n3. **CEO Succession**: Mention of Greg Abel stepping in as the new CEO and continuing the tradition of honest communication.\\n\\n4. **Pete Liegl Story**: A detailed account of acquiring Forest River and the relationship with its founder, highlighting trust and effective business decisions.\\n\\n5. **2024 Performance**: Overview of business performance, particularly in insurance and investment activities, with a focus on GEICO's improvement.\\n\\n6. **Tax Contributions**: Discussion of significant tax payments to the U.S. Treasury, credited to shareholders' reinvestments.\\n\\n7. **Investment Strategy**: A breakdown of Berkshire\\u2019s investments in both controlled subsidiaries and marketable equities, along with a focus on long-term holding strategies.\\n\\n8. **American Capitalism**: Reflections on America\\u2019s economic development and Berkshire\\u2019s role within it.\\n\\n9. **Property-Casualty Insurance**: Insights into the P/C insurance business model and its challenges and benefits.\\n\\n10. **Japanese Investments**: Information about Berkshire\\u2019s investments in Japanese companies and future plans.\\n\\n11. **Annual Meeting**: Details about the upcoming annual gathering in Omaha, including schedule changes and new book releases.\\n\\n12. **Personal Anecdotes**: Light-hearted stories about family and interactions, conveying Buffett's personable approach.\\n\\n13. **Financial Performance Data**: Tables comparing Berkshire\\u2019s annual performance to the S&P 500, showing impressive long-term gains.\\n\\nOverall, the letter reinforces Berkshire Hathaway's commitment to transparency, investment in both its businesses and the wider economy, and emphasizes strong leadership and prudent financial management.\"\n        }\n      ],\n      \"role\": \"assistant\"\n    }\n  ],\n  \"parallel_tool_calls\": true,\n  \"previous_response_id\": null,\n  \"reasoning\": {\n    \"effort\": null,\n    \"summary\": null\n  },\n  \"service_tier\": \"default\",\n  \"store\": true,\n  \"temperature\": 1.0,\n  \"text\": {\n    \"format\": {\n      \"type\": \"text\"\n    }\n  },\n  \"tool_choice\": \"auto\",\n  \"tools\": [],\n  \"top_logprobs\": 0,\n  \"top_p\": 1.0,\n  \"truncation\": \"disabled\",\n  \"usage\": {\n    \"input_tokens\": 8438,\n    \"input_tokens_details\": {\n      \"cached_tokens\": 0,\n      \"cache_write_tokens\": 0\n    },\n    \"output_tokens\": 398,\n    \"output_tokens_details\": {\n      \"reasoning_tokens\": 0\n    },\n    \"total_tokens\": 8836\n  },\n  \"user\": null,\n  \"metadata\": {}\n}\n"
        - title: Web search
          request:
            curl: "curl https://api.openai.com/v1/responses \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n  -d '{\n    \"model\": \"gpt-6-astra\",\n    \"tools\": [{ \"type\": \"web_search_preview\" }],\n    \"input\": \"What was a positive news story from today?\"\n  }'\n"
            javascript: "import OpenAI from \"openai\";\n\nconst openai = new OpenAI();\n\nconst response = await openai.responses.create({\n    model: \"gpt-6-astra\",\n    tools: [{ type: \"web_search_preview\" }],\n    input: \"What was a positive news story from today?\",\n});\n\nconsole.log(response);\n"
            python: "from openai import OpenAI\n\nclient = OpenAI()\n\nresponse = client.responses.create(\n    model=\"gpt-6-astra\",\n    tools=[{ \"type\": \"web_search_preview\" }],\n    input=\"What was a positive news story from today?\",\n)\n\nprint(response)\n"
            csharp: "using System;\n\nusing OpenAI.Responses;\n\nOpenAIResponseClient client = new(\n    model: \"gpt-6-astra\",\n    apiKey: Environment.GetEnvironmentVariable(\"OPENAI_API_KEY\")\n);\n\nstring userInputText = \"What was a positive news story from today?\";\n\nResponseCreationOptions options = new()\n{\n    Tools =\n    {\n        ResponseTool.CreateWebSearchTool()\n    },\n};\n\nOpenAIResponse response = client.CreateResponse(userInputText, options);\n\nConsole.WriteLine(response.GetOutputText());\n"
          response: "{\n  \"id\": \"resp_67ccf18ef5fc8190b16dbee19bc54e5f087bb177ab789d5c\",\n  \"object\": \"response\",\n  \"access_programs\": null,\n  \"created_at\": 1741484430,\n  \"status\": \"completed\",\n  \"completed_at\": 1741484431,\n  \"error\": null,\n  \"incomplete_details\": null,\n  \"instructions\": null,\n  \"max_output_tokens\": null,\n  \"model\": \"gpt-6-astra\",\n  \"output\": [\n    {\n      \"type\": \"web_search_call\",\n      \"id\": \"ws_67ccf18f64008190a39b619f4c8455ef087bb177ab789d5c\",\n      \"status\": \"completed\"\n    },\n    {\n      \"type\": \"message\",\n      \"id\": \"msg_67ccf190ca3881909d433c50b1f6357e087bb177ab789d5c\",\n      \"status\": \"completed\",\n      \"role\": \"assistant\",\n      \"content\": [\n        {\n          \"type\": \"output_text\",\n          \"text\": \"As of today, March 9, 2025, one notable positive news story...\",\n          \"annotations\": [\n            {\n              \"type\": \"url_citation\",\n              \"start_index\": 442,\n              \"end_index\": 557,\n              \"url\": \"https://.../?utm_source=chatgpt.com\",\n              \"title\": \"...\"\n            },\n            {\n              \"type\": \"url_citation\",\n              \"start_index\": 962,\n              \"end_index\": 1077,\n              \"url\": \"https://.../?utm_source=chatgpt.com\",\n              \"title\": \"...\"\n            },\n            {\n              \"type\": \"url_citation\",\n              \"start_index\": 1336,\n              \"end_index\": 1451,\n              \"url\": \"https://.../?utm_source=chatgpt.com\",\n              \"title\": \"...\"\n            }\n          ]\n        }\n      ]\n    }\n  ],\n  \"parallel_tool_calls\": true,\n  \"previous_response_id\": null,\n  \"reasoning\": {\n    \"effort\": null,\n    \"summary\": null\n  },\n  \"store\": true,\n  \"temperature\": 1.0,\n  \"text\": {\n    \"format\": {\n      \"type\": \"text\"\n    }\n  },\n  \"tool_choice\": \"auto\",\n  \"tools\": [\n    {\n      \"type\": \"web_search_preview\",\n      \"domains\": [],\n      \"search_context_size\": \"medium\",\n      \"user_location\": {\n        \"type\": \"approximate\",\n        \"city\": null,\n        \"country\": \"US\",\n        \"region\": null,\n        \"timezone\": null\n      }\n    }\n  ],\n  \"top_p\": 1.0,\n  \"truncation\": \"disabled\",\n  \"usage\": {\n    \"input_tokens\": 328,\n    \"input_tokens_details\": {\n      \"cached_tokens\": 0,\n      \"cache_write_tokens\": 0\n    },\n    \"output_tokens\": 356,\n    \"output_tokens_details\": {\n      \"reasoning_tokens\": 0\n    },\n    \"total_tokens\": 684\n  },\n  \"user\": null,\n  \"metadata\": {}\n}\n"
        - title: File search
          request:
            curl: "curl https://api.openai.com/v1/responses \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n  -d '{\n    \"model\": \"gpt-6-astra\",\n    \"tools\": [{\n      \"type\": \"file_search\",\n      \"vector_store_ids\": [\"vs_1234567890\"],\n      \"max_num_results\": 20\n    }],\n    \"input\": \"What are the attributes of an ancient brown dragon?\"\n  }'\n"
            javascript: "import OpenAI from \"openai\";\n\nconst openai = new OpenAI();\n\nconst response = await openai.responses.create({\n    model: \"gpt-6-astra\",\n    tools: [{\n      type: \"file_search\",\n      vector_store_ids: [\"vs_1234567890\"],\n      max_num_results: 20\n    }],\n    input: \"What are the attributes of an ancient brown dragon?\",\n});\n\nconsole.log(response);\n"
            python: "from openai import OpenAI\n\nclient = OpenAI()\n\nresponse = client.responses.create(\n    model=\"gpt-6-astra\",\n    tools=[{\n      \"type\": \"file_search\",\n      \"vector_store_ids\": [\"vs_1234567890\"],\n      \"max_num_results\": 20\n    }],\n    input=\"What are the attributes of an ancient brown dragon?\",\n)\n\nprint(response)\n"
            csharp: "using System;\n\nusing OpenAI.Responses;\n\nOpenAIResponseClient client = new(\n    model: \"gpt-6-astra\",\n    apiKey: Environment.GetEnvironmentVariable(\"OPENAI_API_KEY\")\n);\n\nstring userInputText = \"What are the attributes of an ancient brown dragon?\";\n\nResponseCreationOptions options = new()\n{\n    Tools =\n    {\n        ResponseTool.CreateFileSearchTool(\n            vectorStoreIds: [\"vs_1234567890\"],\n            maxResultCount: 20\n        )\n    },\n};\n\nOpenAIResponse response = client.CreateResponse(userInputText, options);\n\nConsole.WriteLine(response.GetOutputText());\n"
          response: "{\n  \"id\": \"resp_67ccf4c55fc48190b71bd0463ad3306d09504fb6872380d7\",\n  \"object\": \"response\",\n  \"access_programs\": null,\n  \"created_at\": 1741485253,\n  \"status\": \"completed\",\n  \"completed_at\": 1741485254,\n  \"error\": null,\n  \"incomplete_details\": null,\n  \"instructions\": null,\n  \"max_output_tokens\": null,\n  \"model\": \"gpt-6-astra\",\n  \"output\": [\n    {\n      \"type\": \"file_search_call\",\n      \"id\": \"fs_67ccf4c63cd08190887ef6464ba5681609504fb6872380d7\",\n      \"status\": \"completed\",\n      \"queries\": [\n        \"attributes of an ancient brown dragon\"\n      ],\n      \"results\": null\n    },\n    {\n      \"type\": \"message\",\n      \"id\": \"msg_67ccf4c93e5c81909d595b369351a9d309504fb6872380d7\",\n      \"status\": \"completed\",\n      \"role\": \"assistant\",\n      \"content\": [\n        {\n          \"type\": \"output_text\",\n          \"text\": \"The attributes of an ancient brown dragon include...\",\n          \"annotations\": [\n            {\n              \"type\": \"file_citation\",\n              \"index\": 320,\n              \"file_id\": \"file-4wDz5b167pAf72nx1h9eiN\",\n              \"filename\": \"dragons.pdf\"\n            },\n            {\n              \"type\": \"file_citation\",\n              \"index\": 576,\n              \"file_id\": \"file-4wDz5b167pAf72nx1h9eiN\",\n              \"filename\": \"dragons.pdf\"\n            },\n            {\n              \"type\": \"file_citation\",\n              \"index\": 815,\n              \"file_id\": \"file-4wDz5b167pAf72nx1h9eiN\",\n              \"filename\": \"dragons.pdf\"\n            },\n            {\n              \"type\": \"file_citation\",\n              \"index\": 815,\n              \"file_id\": \"file-4wDz5b167pAf72nx1h9eiN\",\n              \"filename\": \"dragons.pdf\"\n            },\n            {\n              \"type\": \"file_citation\",\n              \"index\": 1030,\n              \"file_id\": \"file-4wDz5b167pAf72nx1h9eiN\",\n              \"filename\": \"dragons.pdf\"\n            },\n            {\n              \"type\": \"file_citation\",\n              \"index\": 1030,\n              \"file_id\": \"file-4wDz5b167pAf72nx1h9eiN\",\n              \"filename\": \"dragons.pdf\"\n            },\n            {\n              \"type\": \"file_citation\",\n              \"index\": 1156,\n              \"file_id\": \"file-4wDz5b167pAf72nx1h9eiN\",\n              \"filename\": \"dragons.pdf\"\n            },\n            {\n              \"type\": \"file_citation\",\n              \"index\": 1225,\n              \"file_id\": \"file-4wDz5b167pAf72nx1h9eiN\",\n              \"filename\": \"dragons.pdf\"\n            }\n          ]\n        }\n      ]\n    }\n  ],\n  \"parallel_tool_calls\": true,\n  \"previous_response_id\": null,\n  \"reasoning\": {\n    \"effort\": null,\n    \"summary\": null\n  },\n  \"store\": true,\n  \"temperature\": 1.0,\n  \"text\": {\n    \"format\": {\n      \"type\": \"text\"\n    }\n  },\n  \"tool_choice\": \"auto\",\n  \"tools\": [\n    {\n      \"type\": \"file_search\",\n      \"filters\": null,\n      \"max_num_results\": 20,\n      \"ranking_options\": {\n        \"ranker\": \"auto\",\n        \"score_threshold\": 0.0\n      },\n      \"vector_store_ids\": [\n        \"vs_1234567890\"\n      ]\n    }\n  ],\n  \"top_p\": 1.0,\n  \"truncation\": \"disabled\",\n  \"usage\": {\n    \"input_tokens\": 18307,\n    \"input_tokens_details\": {\n      \"cached_tokens\": 0,\n      \"cache_write_tokens\": 0\n    },\n    \"output_tokens\": 348,\n    \"output_tokens_details\": {\n      \"reasoning_tokens\": 0\n    },\n    \"total_tokens\": 18655\n  },\n  \"user\": null,\n  \"metadata\": {}\n}\n"
        - title: Streaming
          request:
            curl: "curl https://api.openai.com/v1/responses \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n  -d '{\n    \"model\": \"gpt-6-astra\",\n    \"instructions\": \"You are a helpful assistant.\",\n    \"input\": \"Hello!\",\n    \"stream\": true\n  }'\n"
            python: "from openai import OpenAI\n\nclient = OpenAI()\n\nresponse = client.responses.create(\n  model=\"gpt-6-astra\",\n  instructions=\"You are a helpful assistant.\",\n  input=\"Hello!\",\n  stream=True\n)\n\nfor event in response:\n  print(event)\n"
            javascript: "import OpenAI from \"openai\";\n\nconst openai = new OpenAI();\n\nconst response = await openai.responses.create({\n    model: \"gpt-6-astra\",\n    instructions: \"You are a helpful assistant.\",\n    input: \"Hello!\",\n    stream: true,\n});\n\nfor await (const event of response) {\n    console.log(event);\n}\n"
            csharp: "using System;\nusing System.ClientModel;\nusing System.Threading.Tasks;\n\nusing OpenAI.Responses;\n\nOpenAIResponseClient client = new(\n    model: \"gpt-6-astra\",\n    apiKey: Environment.GetEnvironmentVariable(\"OPENAI_API_KEY\")\n);\n\nstring userInputText = \"Hello!\";\n\nResponseCreationOptions options = new()\n{\n    Instructions = \"You are a helpful assistant.\",\n};\n\nAsyncCollectionResult<StreamingResponseUpdate> responseUpdates = client.CreateResponseStreamingAsync(userInputText, options);\n\nawait foreach (StreamingResponseUpdate responseUpdate in responseUpdates)\n{\n    if (responseUpdate is StreamingResponseOutputTextDeltaUpdate outputTextDeltaUpdate)\n    {\n        Console.Write(outputTextDeltaUpdate.Delta);\n    }\n}\n"
          response: 'event: response.created

            data: {"type":"response.created","response":{"id":"resp_67c9fdcecf488190bdd9a0409de3a1ec07b8b0ad4e5eb654","object":"response","access_programs":null,"created_at":1741290958,"status":"in_progress","error":null,"incomplete_details":null,"instructions":"You are a helpful assistant.","max_output_tokens":null,"model":"gpt-6-astra","output":[],"parallel_tool_calls":true,"previous_response_id":null,"reasoning":{"effort":null,"summary":null},"store":true,"temperature":1.0,"text":{"format":{"type":"text"}},"tool_choice":"auto","tools":[],"top_p":1.0,"truncation":"disabled","usage":null,"user":null,"metadata":{}}}


            event: response.in_progress

            data: {"type":"response.in_progress","response":{"id":"resp_67c9fdcecf488190bdd9a0409de3a1ec07b8b0ad4e5eb654","object":"response","access_programs":null,"created_at":1741290958,"status":"in_progress","error":null,"incomplete_details":null,"instructions":"You are a helpful assistant.","max_output_tokens":null,"model":"gpt-6-astra","output":[],"parallel_tool_calls":true,"previous_response_id":null,"reasoning":{"effort":null,"summary":null},"store":true,"temperature":1.0,"text":{"format":{"type":"text"}},"tool_choice":"auto","tools":[],"top_p":1.0,"truncation":"disabled","usage":null,"user":null,"metadata":{}}}


            event: response.output_item.added

            data: {"type":"response.output_item.added","output_index":0,"item":{"id":"msg_67c9fdcf37fc8190ba82116e33fb28c507b8b0ad4e5eb654","type":"message","status":"in_progress","role":"assistant","content":[]}}


            event: response.content_part.added

            data: {"type":"response.content_part.added","item_id":"msg_67c9fdcf37fc8190ba82116e33fb28c507b8b0ad4e5eb654","output_index":0,"content_index":0,"part":{"type":"output_text","text":"","annotations":[]}}


            event: response.output_text.delta

            data: {"type":"response.output_text.delta","item_id":"msg_67c9fdcf37fc8190ba82116e33fb28c507b8b0ad4e5eb654","output_index":0,"content_index":0,"delta":"Hi"}


            ...


            event: response.output_text.done

            data: {"type":"response.output_text.done","item_id":"msg_67c9fdcf37fc8190ba82116e33fb28c507b8b0ad4e5eb654","output_index":0,"content_index":0,"text":"Hi there! How can I assist you today?"}


            event: response.content_part.done

            data: {"type":"response.content_part.done","item_id":"msg_67c9fdcf37fc8190ba82116e33fb28c507b8b0ad4e5eb654","output_index":0,"content_index":0,"part":{"type":"output_text","text":"Hi there! How can I assist you today?","annotations":[]}}


            event: response.output_item.done

            data: {"type":"response.output_item.done","output_index":0,"item":{"id":"msg_67c9fdcf37fc8190ba82116e33fb28c507b8b0ad4e5eb654","type":"message","status":"completed","role":"assistant","content":[{"type":"output_text","text":"Hi there! How can I assist you today?","annotations":[]}]}}


            event: response.completed

            data: {"type":"response.completed","response":{"id":"resp_67c9fdcecf488190bdd9a0409de3a1ec07b8b0ad4e5eb654","object":"response","access_programs":null,"created_at":1741290958,"status":"completed","error":null,"incomplete_details":null,"instructions":"You are a helpful assistant.","max_output_tokens":null,"model":"gpt-6-astra","output":[{"id":"msg_67c9fdcf37fc8190ba82116e33fb28c507b8b0ad4e5eb654","type":"message","status":"completed","role":"assistant","content":[{"type":"output_text","text":"Hi there! How can I assist you today?","annotations":[]}]}],"parallel_tool_calls":true,"previous_response_id":null,"reasoning":{"effort":null,"summary":null},"store":true,"temperature":1.0,"text":{"format":{"type":"text"}},"tool_choice":"auto","tools":[],"top_p":1.0,"truncation":"disabled","usage":{"input_tokens":37,"output_tokens":11,"output_tokens_details":{"reasoning_tokens":0},"total_tokens":48},"user":null,"metadata":{}}}

            '
        - title: Functions
          request:
            curl: "curl https://api.openai.com/v1/responses \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n  -d '{\n    \"model\": \"gpt-6-astra\",\n    \"input\": \"What is the weather like in Boston today?\",\n    \"tools\": [\n      {\n        \"type\": \"function\",\n        \"name\": \"get_current_weather\",\n        \"description\": \"Get the current weather in a given location\",\n        \"parameters\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"location\": {\n              \"type\": \"string\",\n              \"description\": \"The city and state, e.g. San Francisco, CA\"\n            },\n            \"unit\": {\n              \"type\": \"string\",\n              \"enum\": [\"celsius\", \"fahrenheit\"]\n            }\n          },\n          \"required\": [\"location\", \"unit\"]\n        }\n      }\n    ],\n    \"tool_choice\": \"auto\"\n  }'\n"
            python: "from openai import OpenAI\n\nclient = OpenAI()\n\ntools = [\n    {\n        \"type\": \"function\",\n        \"name\": \"get_current_weather\",\n        \"description\": \"Get the current weather in a given location\",\n        \"parameters\": {\n          \"type\": \"object\",\n          \"properties\": {\n              \"location\": {\n                  \"type\": \"string\",\n                  \"description\": \"The city and state, e.g. San Francisco, CA\",\n              },\n              \"unit\": {\"type\": \"string\", \"enum\": [\"celsius\", \"fahrenheit\"]},\n          },\n          \"required\": [\"location\", \"unit\"],\n        }\n    }\n]\n\nresponse = client.responses.create(\n  model=\"gpt-6-astra\",\n  tools=tools,\n  input=\"What is the weather like in Boston today?\",\n  tool_choice=\"auto\"\n)\n\nprint(response)\n"
            javascript: "import OpenAI from \"openai\";\n\nconst openai = new OpenAI();\n\nconst tools = [\n    {\n        type: \"function\",\n        name: \"get_current_weather\",\n        description: \"Get the current weather in a given location\",\n        parameters: {\n            type: \"object\",\n            properties: {\n                location: {\n                    type: \"string\",\n                    description: \"The city and state, e.g. San Francisco, CA\",\n                },\n                unit: { type: \"string\", enum: [\"celsius\", \"fahrenheit\"] },\n            },\n            required: [\"location\", \"unit\"],\n        },\n    },\n];\n\nconst response = await openai.responses.create({\n    model: \"gpt-6-astra\",\n    tools: tools,\n    input: \"What is the weather like in Boston today?\",\n    tool_choice: \"auto\",\n});\n\nconsole.log(response);\n"
            csharp: "using System;\nusing OpenAI.Responses;\n\nOpenAIResponseClient client = new(\n    model: \"gpt-6-astra\",\n    apiKey: Environment.GetEnvironmentVariable(\"OPENAI_API_KEY\")\n);\n\nResponseTool getCurrentWeatherFunctionTool = ResponseTool.CreateFunctionTool(\n    functionName: \"get_current_weather\",\n    functionDescription: \"Get the current weather in a given location\",\n    functionParameters: BinaryData.FromString(\"\"\"\n        {\n            \"type\": \"object\",\n            \"properties\": {\n                \"location\": {\n                    \"type\": \"string\",\n                    \"description\": \"The city and state, e.g. San Francisco, CA\"\n                },\n                \"unit\": {\"type\": \"string\", \"enum\": [\"celsius\", \"fahrenheit\"]}\n            },\n            \"required\": [\"location\", \"unit\"]\n        }\n        \"\"\"\n    )\n);\n\nstring userInputText = \"What is the weather like in Boston today?\";\n\nResponseCreationOptions options = new()\n{\n    Tools =\n    {\n        getCurrentWeatherFunctionTool\n    },\n    ToolChoice = ResponseToolChoice.CreateAutoChoice(),\n};\n\nOpenAIResponse response = client.CreateResponse(userInputText, options);\n"
          response: "{\n  \"id\": \"resp_67ca09c5efe0819096d0511c92b8c890096610f474011cc0\",\n  \"object\": \"response\",\n  \"access_programs\": null,\n  \"created_at\": 1741294021,\n  \"status\": \"completed\",\n  \"completed_at\": 1741294022,\n  \"error\": null,\n  \"incomplete_details\": null,\n  \"instructions\": null,\n  \"max_output_tokens\": null,\n  \"model\": \"gpt-6-astra\",\n  \"output\": [\n    {\n      \"type\": \"function_call\",\n      \"id\": \"fc_67ca09c6bedc8190a7abfec07b1a1332096610f474011cc0\",\n      \"call_id\": \"call_unLAR8MvFNptuiZK6K6HCy5k\",\n      \"name\": \"get_current_weather\",\n      \"arguments\": \"{\\\"location\\\":\\\"Boston, MA\\\",\\\"unit\\\":\\\"celsius\\\"}\",\n      \"status\": \"completed\"\n    }\n  ],\n  \"parallel_tool_calls\": true,\n  \"previous_response_id\": null,\n  \"reasoning\": {\n    \"effort\": null,\n    \"summary\": null\n  },\n  \"store\": true,\n  \"temperature\": 1.0,\n  \"text\": {\n    \"format\": {\n      \"type\": \"text\"\n    }\n  },\n  \"tool_choice\": \"auto\",\n  \"tools\": [\n    {\n      \"type\": \"function\",\n      \"description\": \"Get the current weather in a given location\",\n      \"name\": \"get_current_weather\",\n      \"parameters\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"location\": {\n            \"type\": \"string\",\n            \"description\": \"The city and state, e.g. San Francisco, CA\"\n          },\n          \"unit\": {\n            \"type\": \"string\",\n            \"enum\": [\n              \"celsius\",\n              \"fahrenheit\"\n            ]\n          }\n        },\n        \"required\": [\n          \"location\",\n          \"unit\"\n        ]\n      },\n      \"strict\": true\n    }\n  ],\n  \"top_p\": 1.0,\n  \"truncation\": \"disabled\",\n  \"usage\": {\n    \"input_tokens\": 291,\n    \"output_tokens\": 23,\n    \"output_tokens_details\": {\n      \"reasoning_tokens\": 0\n    },\n    \"total_tokens\": 314\n  },\n  \"user\": null,\n  \"metadata\": {}\n}\n"
        - title: Reasoning
          request:
            curl: "curl https://api.openai.com/v1/responses \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n  -d '{\n    \"model\": \"gpt-6-astra\",\n    \"input\": \"How much wood would a woodchuck chuck?\",\n    \"reasoning\": {\n      \"effort\": \"high\"\n    }\n  }'\n"
            javascript: "import OpenAI from \"openai\";\nconst openai = new OpenAI();\n\nconst response = await openai.responses.create({\n    model: \"gpt-6-astra\",\n    input: \"How much wood would a woodchuck chuck?\",\n    reasoning: {\n      effort: \"high\"\n    }\n});\n\nconsole.log(response);\n"
            python: "from openai import OpenAI\nclient = OpenAI()\n\nresponse = client.responses.create(\n    model=\"gpt-6-astra\",\n    input=\"How much wood would a woodchuck chuck?\",\n    reasoning={\n        \"effort\": \"high\"\n    }\n)\n\nprint(response)\n"
            csharp: "using System;\nusing OpenAI.Responses;\n\nOpenAIResponseClient client = new(\n    model: \"gpt-6-astra\",\n    apiKey: Environment.GetEnvironmentVariable(\"OPENAI_API_KEY\")\n);\n\nstring userInputText = \"How much wood would a woodchuck chuck?\";\n\nResponseCreationOptions options = new()\n{\n    ReasoningOptions = new()\n    {\n        ReasoningEffortLevel = ResponseReasoningEffortLevel.High,\n    },\n};\n\nOpenAIResponse response = client.CreateResponse(userInputText, options);\n\nConsole.WriteLine(response.GetOutputText());\n"
          response: "{\n  \"id\": \"resp_67ccd7eca01881908ff0b5146584e408072912b2993db808\",\n  \"object\": \"response\",\n  \"access_programs\": null,\n  \"created_at\": 1741477868,\n  \"status\": \"completed\",\n  \"completed_at\": 1741477869,\n  \"error\": null,\n  \"incomplete_details\": null,\n  \"instructions\": null,\n  \"max_output_tokens\": null,\n  \"model\": \"gpt-6-astra\",\n  \"output\": [\n    {\n      \"type\": \"message\",\n      \"id\": \"msg_67ccd7f7b5848190a6f3e95d809f6b44072912b2993db808\",\n      \"status\": \"completed\",\n      \"role\": \"assistant\",\n      \"content\": [\n        {\n          \"type\": \"output_text\",\n          \"text\": \"The classic tongue twister...\",\n          \"annotations\": []\n        }\n      ]\n    }\n  ],\n  \"parallel_tool_calls\": true,\n  \"previous_response_id\": null,\n  \"reasoning\": {\n    \"effort\": \"high\",\n    \"summary\": null\n  },\n  \"store\": true,\n  \"temperature\": 1.0,\n  \"text\": {\n    \"format\": {\n      \"type\": \"text\"\n    }\n  },\n  \"tool_choice\": \"auto\",\n  \"tools\": [],\n  \"top_p\": 1.0,\n  \"truncation\": \"disabled\",\n  \"usage\": {\n    \"input_tokens\": 81,\n    \"input_tokens_details\": {\n      \"cached_tokens\": 0,\n      \"cache_write_tokens\": 0\n    },\n    \"output_tokens\": 1035,\n    \"output_tokens_details\": {\n      \"reasoning_tokens\": 832\n    },\n    \"total_tokens\": 1116\n  },\n  \"user\": null,\n  \"metadata\": {}\n}\n"
  /responses/{response_id}:
    get:
      operationId: getResponse
      tags:
      - Responses
      summary: Get a model response
      description: Retrieves a model response with the given ID.
      parameters:
      - in: path
        name: response_id
        required: true
        schema:
          type: string
          example: resp_677efb5139a88190b512bc3fef8e535d
        description: The ID of the response to retrieve.
      - in: query
        name: include
        schema:
          type: array
          items:
            $ref: '#/components/schemas/IncludeEnum'
        description: 'Additional fields to include in the response. See the `include`

          parameter for Response creation above for more information.

          '
      - in: query
        name: stream
        schema:
          type: boolean
        description: 'If set to true, the model response data will be streamed to the client

          as it is generated using [server-sent events](https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events/Using_server-sent_events#Event_stream_format).

          See the [Streaming section below](https://developers.openai.com/api/reference/resources/responses/streaming-events)

          for more information.

          '
      - in: query
        name: starting_after
        schema:
          type: integer
        description: 'The sequence number of the event after which to start streaming.

          '
      - in: query
        name: include_obfuscation
        schema:
          type: boolean
        description: 'When true, stream obfuscation will be enabled. Stream obfuscation adds

          random characters to an `obfuscation` field on streaming delta events

          to normalize payload sizes as a mitigation to certain side-channel

          attacks. These obfuscation fields are included by default, but add a

          small amount of overhead to the data stream. You can set

          `include_obfuscation` to false to optimize for bandwidth if you trust

          the network links between your application and the OpenAI API.

          '
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      x-oaiMeta:
        group: responses
        examples:
          request:
            curl: "curl https://api.openai.com/v1/responses/resp_123 \\\n    -H \"Content-Type: application/json\" \\\n    -H \"Authorization: Bearer $OPENAI_API_KEY\"\n"
            javascript: 'import OpenAI from "openai";

              const client = new OpenAI();


              const response = await client.responses.retrieve("resp_123");

              console.log(response);

              '
            python: 'from openai import OpenAI

              client = OpenAI()


              response = client.responses.retrieve("resp_123")

              print(response)

              '
          response: "{\n  \"id\": \"resp_67cb71b351908190a308f3859487620d06981a8637e6bc44\",\n  \"object\": \"response\",\n  \"access_programs\": null,\n  \"created_at\": 1741386163,\n  \"status\": \"completed\",\n  \"completed_at\": 1741386164,\n  \"error\": null,\n  \"incomplete_details\": null,\n  \"instructions\": null,\n  \"max_output_tokens\": null,\n  \"model\": \"gpt-6-astra\",\n  \"output\": [\n    {\n      \"type\": \"message\",\n      \"id\": \"msg_67cb71b3c2b0819084d481baaaf148f206981a8637e6bc44\",\n      \"status\": \"completed\",\n      \"role\": \"assistant\",\n      \"content\": [\n        {\n          \"type\": \"output_text\",\n          \"text\": \"Silent circuits hum,  \\nThoughts emerge in data streams—  \\nDigital dawn breaks.\",\n          \"annotations\": []\n        }\n      ]\n    }\n  ],\n  \"parallel_tool_calls\": true,\n  \"previous_response_id\": null,\n  \"reasoning\": {\n    \"effort\": null,\n    \"summary\": null\n  },\n  \"store\": true,\n  \"temperature\": 1.0,\n  \"text\": {\n    \"format\": {\n      \"type\": \"text\"\n    }\n  },\n  \"tool_choice\": \"auto\",\n  \"tools\": [],\n  \"top_p\": 1.0,\n  \"truncation\": \"disabled\",\n  \"usage\": {\n    \"input_tokens\": 32,\n    \"input_tokens_details\": {\n      \"cached_tokens\": 0,\n      \"cache_write_tokens\": 0\n    },\n    \"output_tokens\": 18,\n    \"output_tokens_details\": {\n      \"reasoning_tokens\": 0\n    },\n    \"total_tokens\": 50\n  },\n  \"user\": null,\n  \"metadata\": {}\n}\n"
    delete:
      operationId: deleteResponse
      tags:
      - Responses
      summary: Delete a model response
      description: Deletes a model response with the given ID.
      parameters:
      - in: path
        name: response_id
        required: true
        schema:
          type: string
          example: resp_677efb5139a88190b512bc3fef8e535d
        description: The ID of the response to delete.
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      x-oaiMeta:
        group: responses
        examples:
          request:
            curl: "curl -X DELETE https://api.openai.com/v1/responses/resp_123 \\\n    -H \"Content-Type: application/json\" \\\n    -H \"Authorization: Bearer $OPENAI_API_KEY\"\n"
            javascript: 'import OpenAI from "openai";

              const client = new OpenAI();


              const response = await client.responses.delete("resp_123");

              console.log(response);

              '
            python: 'from openai import OpenAI

              client = OpenAI()


              response = client.responses.delete("resp_123")

              print(response)

              '
          response: "{\n  \"id\": \"resp_6786a1bec27481909a17d673315b29f6\",\n  \"object\": \"response\",\n  \"deleted\": true\n}\n"
  /responses/{response_id}/cancel:
    post:
      operationId: cancelResponse
      tags:
      - Responses
      summary: Cancel a response
      description: 'Cancels a model response with the given ID. Only responses created with

        the `background` parameter set to `true` can be cancelled.

        Learn more.'
      parameters:
      - in: path
        name: response_id
        required: true
        schema:
          type: string
          example: resp_677efb5139a88190b512bc3fef8e535d
        description: The ID of the response to cancel.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      x-oaiMeta:
        group: responses
        examples:
          request:
            curl: "curl -X POST https://api.openai.com/v1/responses/resp_123/cancel \\\n    -H \"Content-Type: application/json\" \\\n    -H \"Authorization: Bearer $OPENAI_API_KEY\"\n"
            javascript: 'import OpenAI from "openai";

              const client = new OpenAI();


              const response = await client.responses.cancel("resp_123");

              console.log(response);

              '
            python: 'from openai import OpenAI

              client = OpenAI()


              response = client.responses.cancel("resp_123")

              print(response)

              '
          response: "{\n  \"id\": \"resp_67cb71b351908190a308f3859487620d06981a8637e6bc44\",\n  \"object\": \"response\",\n  \"access_programs\": null,\n  \"created_at\": 1741386163,\n  \"status\": \"cancelled\",\n  \"background\": true,\n  \"completed_at\": null,\n  \"error\": null,\n  \"incomplete_details\": null,\n  \"instructions\": null,\n  \"max_output_tokens\": null,\n  \"model\": \"gpt-6-astra\",\n  \"output\": [\n    {\n      \"type\": \"message\",\n      \"id\": \"msg_67cb71b3c2b0819084d481baaaf148f206981a8637e6bc44\",\n      \"status\": \"in_progress\",\n      \"role\": \"assistant\",\n      \"content\": [\n        {\n          \"type\": \"output_text\",\n          \"text\": \"Silent circuits hum,  \\nThoughts emerge in data streams—  \\nDigital dawn breaks.\",\n          \"annotations\": []\n        }\n      ]\n    }\n  ],\n  \"parallel_tool_calls\": true,\n  \"previous_response_id\": null,\n  \"reasoning\": {\n    \"effort\": null,\n    \"summary\": null\n  },\n  \"store\": true,\n  \"temperature\": 1.0,\n  \"text\": {\n    \"format\": {\n      \"type\": \"text\"\n    }\n  },\n  \"tool_choice\": \"auto\",\n  \"tools\": [],\n  \"top_p\": 1.0,\n  \"truncation\": \"disabled\",\n  \"usage\": null,\n  \"user\": null,\n  \"metadata\": {}\n}\n"
  /responses/{response_id}/input_items:
    get:
      operationId: listInputItems
      tags:
      - Responses
      summary: List input items
      description: Returns a list of input items for a given response.
      parameters:
      - in: path
        name: response_id
        required: true
        schema:
          type: string
        description: The ID of the response to retrieve input items for.
      - name: limit
        in: query
        description: 'A limit on the number of objects to be returned. Limit can range between

          1 and 100, and the default is 20.

          '
        required: false
        schema:
          type: integer
          default: 20
      - in: query
        name: order
        schema:
          type: string
          enum:
          - asc
          - desc
        description: 'The order to return the input items in. Default is `desc`.

          - `asc`: Return the input items in ascending order.

          - `desc`: Return the input items in descending order.

          '
      - in: query
        name: after
        schema:
          type: string
        description: 'An item ID to list items after, used in pagination.

          '
      - in: query
        name: include
        schema:
          type: array
          items:
            $ref: '#/components/schemas/IncludeEnum'
        description: 'Additional fields to include in the response. See the `include`

          parameter for Response creation above for more information.

          '
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseItemList'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      x-oaiMeta:
        group: responses
        examples:
          request:
            curl: "curl https://api.openai.com/v1/responses/resp_abc123/input_items \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\"\n"
            javascript: 'import OpenAI from "openai";

              const client = new OpenAI();


              const response = await client.responses.inputItems.list("resp_123");

              console.log(response.data);

              '
            python: 'from openai import OpenAI

              client = OpenAI()


              response = client.responses.input_items.list("resp_123")

              print(response.data)

              '
          response: "{\n  \"object\": \"list\",\n  \"data\": [\n    {\n      \"id\": \"msg_abc123\",\n      \"type\": \"message\",\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"input_text\",\n          \"text\": \"Tell me a three sentence bedtime story about a unicorn.\"\n        }\n      ]\n    }\n  ],\n  \"first_id\": \"msg_abc123\",\n  \"last_id\": \"msg_abc123\",\n  \"has_more\": false\n}\n"
  /responses/input_tokens:
    post:
      tags:
      - Responses
      summary: Get input token counts
      description: 'Returns input token counts of the request.


        Returns an object with `object` set to `response.input_tokens` and an `input_tokens` count.'
      operationId: Getinputtokencounts
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenCountsBody'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenCountsResource'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      x-oaiMeta:
        group: responses
        examples:
          request:
            curl: "curl -X POST https://api.openai.com/v1/responses/input_tokens \\\n    -H \"Content-Type: application/json\" \\\n    -H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n    -d '{\n      \"model\": \"gpt-6-astra\",\n      \"input\": \"Tell me a joke.\"\n    }'\n"
            javascript: "import OpenAI from \"openai\";\n\nconst client = new OpenAI();\n\nconst response = await client.responses.inputTokens.count({\n  model: \"gpt-6-astra\",\n  input: \"Tell me a joke.\",\n});\n\nconsole.log(response.input_tokens);\n"
            python: "from openai import OpenAI\n\nclient = OpenAI()\n\nresponse = client.responses.input_tokens.count(\n    model=\"gpt-6-astra\",\n    input=\"Tell me a joke.\"\n)\nprint(response.input_tokens)\n"
            go: "package main\n\nimport (\n  \"context\"\n  \"fmt\"\n\n  \"github.com/openai/openai-go\"\n  \"github.com/openai/openai-go/responses\"\n)\n\nfunc main() {\n  client := openai.NewClient()\n  response, err := client.Responses.InputTokens.Count(context.TODO(), responses.InputTokenCountParams{\n    Model: \"gpt-6-astra\",\n    Input: \"Tell me a joke.\",\n  })\n  if err != nil {\n    panic(err.Error())\n  }\n  fmt.Printf(\"%+v\\n\", response.InputTokens)\n}\n"
            ruby: 'require "openai"


              openai = OpenAI::Client.new


              response = openai.responses.input_tokens.count(model: "gpt-6-astra", input: "Tell me a joke.")


              puts(response)

              '
            java: "package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\nimport com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.models.responses.inputtokens.InputTokenCountParams;\nimport com.openai.models.responses.inputtokens.InputTokenCountResponse;\n\npublic final class Main {\n    private Main() {}\n\n    public static void main(String[] args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\n        InputTokenCountParams params = InputTokenCountParams.builder()\n            .model(\"gpt-6-astra\")\n            .input(\"Tell me a joke.\")\n            .build();\n\n        InputTokenCountResponse response = client.responses().inputTokens().count(params);\n    }\n}\n"
          response: "{\n  \"object\": \"response.input_tokens\",\n  \"input_tokens\": 11\n}\n"
  /responses/compact:
    post:
      tags:
      - Responses
      summary: Compact conversation
      description: 'Compact a conversation. Returns a compacted response object.


        Learn when and how to compact long-running conversations in the conversation state guide. For ZDR-compatible compaction details, see Compaction (advanced).'
      operationId: Compactconversation
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompactResponseMethodPublicBody'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompactResource'
        '429':
          $ref: '#/components/responses/InferenceRateLimited'
        '503':
          $ref: '#/components/responses/InferenceServiceUnavailable'
      x-oaiMeta:
        group: responses
        examples:
          request:
            curl: "curl -X POST https://api.openai.com/v1/responses/compact \\\n    -H \"Content-Type: application/json\" \\\n    -H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n    -d '{\n      \"model\": \"gpt-6-astra\",\n      \"input\": [\n        {\n          \"role\": \"user\",\n          \"content\": \"Create a simple landing page for a dog petting café.\"\n        },\n        {\n          \"id\": \"msg_001\",\n          \"type\": \"message\",\n          \"status\": \"completed\",\n          \"content\": [\n            {\n              \"type\": \"output_text\",\n              \"annotations\": [],\n              \"logprobs\": [],\n              \"text\": \"Below is a single file, ready-to-use landing page for a dog petting café:...\"\n            }\n          ],\n          \"role\": \"assistant\"\n        }\n      ]\n    }'\n"
            javascript: "import OpenAI from \"openai\";\n\nconst openai = new OpenAI();\n\n// Compact the previous response if you are running out of tokens\nconst compactedResponse = await openai.responses.compact({\n  model: \"gpt-6-astra\",\n  input: [\n    {\n      role: \"user\",\n      content: \"Create a simple landing page for a dog petting café.\",\n    },\n    // All items returned from previous requests are included here, like reasoning, message, function call, etc.\n    {\n      id: \"msg_030d085c0b53e67e0069332e3a72d4819c96c6f2c4adc15d33\",\n      type: \"message\",\n      status: \"completed\",\n      content: [\n        {\n          type: \"output_text\",\n          annotations: [],\n          logprobs: [],\n          text: \"Below is a single file, ready-to-use landing page for a dog petting café:...\",\n        },\n      ],\n      role: \"assistant\",\n    },\n  ],\n});\n\n// Pass the compactedResponse.output as input to the next request\nconsole.log(compactedResponse);\n"
            python: "from openai import OpenAI\n\nclient = OpenAI()\n\ncompacted_response = client.responses.compact(\n    model=\"gpt-6-astra\",\n    input=[\n    {\n        \"role\": \"user\",\n        \"content\": \"Create a simple landing page for a dog petting cafe.\",\n    },\n    # All items returned from previous requests are included here, like reasoning, message, function call, etc.\n    {\n        \"id\": \"msg_001\",\n        \"type\": \"message\",\n        \"status\": \"completed\",\n        \"content\": [\n        {\n            \"type\": \"output_text\",\n            \"annotations\": [],\n            \"logprobs\": [],\n            \"text\": \"Below is a single file, ready-to-use landing page for a dog petting café:...\",\n        },\n        ],\n        \"role\": \"assistant\",\n    },\n    ]\n)\n# Pass the compacted_response.output as input to the next request\nprint(compacted_response)\n"
          response: "{\n  \"id\": \"resp_001\",\n  \"object\": \"response.compaction\",\n  \"created_at\": 1764967971,\n  \"output\": [\n    {\n      \"id\": \"msg_000\",\n      \"type\": \"message\",\n      \"status\": \"completed\",\n      \"content\": [\n        {\n          \"type\": \"input_text\",\n          \"text\": \"Create a simple landing page for a dog petting cafe.\"\n        }\n      ],\n      \"role\": \"user\"\n    },\n    {\n      \"id\": \"cmp_001\",\n      \"type\": \"compaction\",\n      \"encrypted_content\": \"gAAAAABpM0Yj-...=\"\n    }\n  ],\n  \"usage\": {\n    \"input_tokens\": 139,\n    \"input_tokens_details\": {\n      \"cached_tokens\": 0,\n      \"cache_write_tokens\": 0\n    },\n    \"output_tokens\": 438,\n    \"output_tokens_details\": {\n      \"reasoning_tokens\": 64\n    },\n    \"total_tokens\": 577\n  }\n}\n"
  /responses?beta=true:
    post:
      operationId: beta_createResponse
      tags:
      - Responses
      summary: Create a model response
      description: 'Creates a model response. Provide text or

        image inputs to generate text

        or JSON outputs. Have the model call

        your own custom code or use built-in

        tools like web search

        or file search to use your own data

        as input for the model''s response.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BetaCreateResponse'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BetaResponse'
            text/event-stream:
              schema:
                $ref: '#/components/schemas/BetaResponseStreamEvent'
        '429':
          $ref: '#/components/responses/InferenceRateLimited'
        '503':
          $ref: '#/components/responses/InferenceServiceUnavailable'
      x-oaiMeta:
        group: responses
        path: create
        examples:
        - title: Text input
          request:
            curl: "curl https://api.openai.com/v1/responses \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n  -d '{\n    \"model\": \"gpt-6-astra\",\n    \"input\": \"Tell me a three sentence bedtime story about a unicorn.\"\n  }'\n"
            javascript: "import OpenAI from \"openai\";\n\nconst openai = new OpenAI();\n\nconst response = await openai.responses.create({\n    model: \"gpt-6-astra\",\n    input: \"Tell me a three sentence bedtime story about a unicorn.\"\n});\n\nconsole.log(response);\n"
            python: "from openai import OpenAI\n\nclient = OpenAI()\n\nresponse = client.responses.create(\n  model=\"gpt-6-astra\",\n  input=\"Tell me a three sentence bedtime story about a unicorn.\"\n)\n\nprint(response)\n"
            csharp: "using System;\nusing OpenAI.Responses;\n\nOpenAIResponseClient client = new(\n    model: \"gpt-6-astra\",\n    apiKey: Environment.GetEnvironmentVariable(\"OPENAI_API_KEY\")\n);\n\nOpenAIResponse response = client.CreateResponse(\"Tell me a three sentence bedtime story about a unicorn.\");\n\nConsole.WriteLine(response.GetOutputText());\n"
          response: "{\n  \"id\": \"resp_67ccd2bed1ec8190b14f964abc0542670bb6a6b452d3795b\",\n  \"object\": \"response\",\n  \"access_programs\": null,\n  \"created_at\": 1741476542,\n  \"status\": \"completed\",\n  \"completed_at\": 1741476543,\n  \"error\": null,\n  \"incomplete_details\": null,\n  \"instructions\": null,\n  \"max_output_tokens\": null,\n  \"model\": \"gpt-6-astra\",\n  \"output\": [\n    {\n      \"type\": \"message\",\n      \"id\": \"msg_67ccd2bf17f0819081ff3bb2cf6508e60bb6a6b452d3795b\",\n      \"status\": \"completed\",\n      \"role\": \"assistant\",\n      \"content\": [\n        {\n          \"type\": \"output_text\",\n          \"text\": \"In a peaceful grove beneath a silver moon, a unicorn named Lumina discovered a hidden pool that reflected the stars. As she dipped her horn into the water, the pool began to shimmer, revealing a pathway to a magical realm of endless night skies. Filled with wonder, Lumina whispered a wish for all who dream to find their own hidden magic, and as she glanced back, her hoofprints sparkled like stardust.\",\n          \"annotations\": []\n        }\n      ]\n    }\n  ],\n  \"parallel_tool_calls\": true,\n  \"previous_response_id\": null,\n  \"reasoning\": {\n    \"effort\": null,\n    \"summary\": null\n  },\n  \"store\": true,\n  \"temperature\": 1.0,\n  \"text\": {\n    \"format\": {\n      \"type\": \"text\"\n    }\n  },\n  \"tool_choice\": \"auto\",\n  \"tools\": [],\n  \"top_p\": 1.0,\n  \"truncation\": \"disabled\",\n  \"usage\": {\n    \"input_tokens\": 36,\n    \"input_tokens_details\": {\n      \"cached_tokens\": 0,\n      \"cache_write_tokens\": 0\n    },\n    \"output_tokens\": 87,\n    \"output_tokens_details\": {\n      \"reasoning_tokens\": 0\n    },\n    \"total_tokens\": 123\n  },\n  \"user\": null,\n  \"metadata\": {}\n}\n"
        - title: Image input
          request:
            curl: "curl https://api.openai.com/v1/responses \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n  -d '{\n    \"model\": \"gpt-6-astra\",\n    \"input\": [\n      {\n        \"role\": \"user\",\n        \"content\": [\n          {\"type\": \"input_text\", \"text\": \"what is in this image?\"},\n          {\n            \"type\": \"input_image\",\n            \"image_url\": \"https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Gfp-wisconsin-madison-the-nature-boardwalk.jpg/2560px-Gfp-wisconsin-madison-the-nature-boardwalk.jpg\"\n          }\n        ]\n      }\n    ]\n  }'\n"
            javascript: "import OpenAI from \"openai\";\n\nconst openai = new OpenAI();\n\nconst response = await openai.responses.create({\n    model: \"gpt-6-astra\",\n    input: [\n        {\n            role: \"user\",\n            content: [\n                { type: \"input_text\", text: \"what is in this image?\" },\n                {\n                    type: \"input_image\",\n                    image_url:\n                        \"https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Gfp-wisconsin-madison-the-nature-boardwalk.jpg/2560px-Gfp-wisconsin-madison-the-nature-boardwalk.jpg\",\n                },\n            ],\n        },\n    ],\n});\n\nconsole.log(response);\n"
            python: "from openai import OpenAI\n\nclient = OpenAI()\n\nresponse = client.responses.create(\n    model=\"gpt-6-astra\",\n    input=[\n        {\n            \"role\": \"user\",\n            \"content\": [\n                { \"type\": \"input_text\", \"text\": \"what is in this image?\" },\n                {\n                    \"type\": \"input_image\",\n                    \"image_url\": \"https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Gfp-wisconsin-madison-the-nature-boardwalk.jpg/2560px-Gfp-wisconsin-madison-the-nature-boardwalk.jpg\"\n                }\n            ]\n        }\n    ]\n)\n\nprint(response)\n"
            csharp: "using System;\nusing System.Collections.Generic;\n\nusing OpenAI.Responses;\n\nOpenAIResponseClient client = new(\n    model: \"gpt-6-astra\",\n    apiKey: Environment.GetEnvironmentVariable(\"OPENAI_API_KEY\")\n);\n\nList<ResponseItem> inputItems =\n[\n    ResponseItem.CreateUserMessageItem(\n        [\n            ResponseContentPart.CreateInputTextPart(\"What is in this image?\"),\n            ResponseContentPart.CreateInputImagePart(new Uri(\"https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Gfp-wisconsin-madison-the-nature-boardwalk.jpg/2560px-Gfp-wisconsin-madison-the-nature-boardwalk.jpg\"))\n        ]\n    )\n];\n\nOpenAIResponse response = client.CreateResponse(inputItems);\n\nConsole.WriteLine(response.GetOutputText());\n"
          response: "{\n  \"id\": \"resp_67ccd3a9da748190baa7f1570fe91ac604becb25c45c1d41\",\n  \"object\": \"response\",\n  \"access_programs\": null,\n  \"created_at\": 1741476777,\n  \"status\": \"completed\",\n  \"completed_at\": 1741476778,\n  \"error\": null,\n  \"incomplete_details\": null,\n  \"instructions\": null,\n  \"max_output_tokens\": null,\n  \"model\": \"gpt-6-astra\",\n  \"output\": [\n    {\n      \"type\": \"message\",\n      \"id\": \"msg_67ccd3acc8d48190a77525dc6de64b4104becb25c45c1d41\",\n      \"status\": \"completed\",\n      \"role\": \"assistant\",\n      \"content\": [\n        {\n          \"type\": \"output_text\",\n          \"text\": \"The image depicts a scenic landscape with a wooden boardwalk or pathway leading through lush, green grass under a blue sky with some clouds. The setting suggests a peaceful natural area, possibly a park or nature reserve. There are trees and shrubs in the background.\",\n          \"annotations\": []\n        }\n      ]\n    }\n  ],\n  \"parallel_tool_calls\": true,\n  \"previous_response_id\": null,\n  \"reasoning\": {\n    \"effort\": null,\n    \"summary\": null\n  },\n  \"store\": true,\n  \"temperature\": 1.0,\n  \"text\": {\n    \"format\": {\n      \"type\": \"text\"\n    }\n  },\n  \"tool_choice\": \"auto\",\n  \"tools\": [],\n  \"top_p\": 1.0,\n  \"truncation\": \"disabled\",\n  \"usage\": {\n    \"input_tokens\": 328,\n    \"input_tokens_details\": {\n      \"cached_tokens\": 0,\n      \"cache_write_tokens\": 0\n    },\n    \"output_tokens\": 52,\n    \"output_tokens_details\": {\n      \"reasoning_tokens\": 0\n    },\n    \"total_tokens\": 380\n  },\n  \"user\": null,\n  \"metadata\": {}\n}\n"
        - title: File input
          request:
            curl: "curl https://api.openai.com/v1/responses \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n  -d '{\n    \"model\": \"gpt-6-astra\",\n    \"input\": [\n      {\n        \"role\": \"user\",\n        \"content\": [\n          {\"type\": \"input_text\", \"text\": \"what is in this file?\"},\n          {\n            \"type\": \"input_file\",\n            \"file_url\": \"https://www.berkshirehathaway.com/letters/2024ltr.pdf\",\n            \"detail\": \"auto\"\n          }\n        ]\n      }\n    ]\n  }'\n"
            javascript: "import OpenAI from \"openai\";\n\nconst openai = new OpenAI();\n\nconst response = await openai.responses.create({\n    model: \"gpt-6-astra\",\n    input: [\n        {\n            role: \"user\",\n            content: [\n                { type: \"input_text\", text: \"what is in this file?\" },\n                {\n                    type: \"input_file\",\n                    file_url: \"https://www.berkshirehathaway.com/letters/2024ltr.pdf\",\n                    detail: \"auto\",\n                },\n            ],\n        },\n    ],\n});\n\nconsole.log(response);\n"
            python: "from openai import OpenAI\n\nclient = OpenAI()\n\nresponse = client.responses.create(\n    model=\"gpt-6-astra\",\n    input=[\n        {\n            \"role\": \"user\",\n            \"content\": [\n                { \"type\": \"input_text\", \"text\": \"what is in this file?\" },\n                {\n                    \"type\": \"input_file\",\n                    \"file_url\": \"https://www.berkshirehathaway.com/letters/2024ltr.pdf\",\n                    \"detail\": \"auto\"\n                }\n            ]\n        }\n    ]\n)\n\nprint(response)\n"
          response: "{\n  \"id\": \"resp_686eef60237881a2bd1180bb8b13de430e34c516d176ff86\",\n  \"object\": \"response\",\n  \"access_programs\": null,\n  \"created_at\": 1752100704,\n  \"status\": \"completed\",\n  \"completed_at\": 1752100705,\n  \"background\": false,\n  \"error\": null,\n  \"incomplete_details\": null,\n  \"instructions\": null,\n  \"max_output_tokens\": null,\n  \"max_tool_calls\": null,\n  \"model\": \"gpt-6-astra\",\n  \"output\": [\n    {\n      \"id\": \"msg_686eef60d3e081a29283bdcbc4322fd90e34c516d176ff86\",\n      \"type\": \"message\",\n      \"status\": \"completed\",\n      \"content\": [\n        {\n          \"type\": \"output_text\",\n          \"annotations\": [],\n          \"logprobs\": [],\n          \"text\": \"The file seems to contain excerpts from a letter to the shareholders of Berkshire Hathaway Inc., likely written by Warren Buffett. It covers several topics:\\n\\n1. **Communication Philosophy**: Buffett emphasizes the importance of transparency and candidness in reporting mistakes and successes to shareholders.\\n\\n2. **Mistakes and Learnings**: The letter acknowledges past mistakes in business assessments and management hires, highlighting the importance of correcting errors promptly.\\n\\n3. **CEO Succession**: Mention of Greg Abel stepping in as the new CEO and continuing the tradition of honest communication.\\n\\n4. **Pete Liegl Story**: A detailed account of acquiring Forest River and the relationship with its founder, highlighting trust and effective business decisions.\\n\\n5. **2024 Performance**: Overview of business performance, particularly in insurance and investment activities, with a focus on GEICO's improvement.\\n\\n6. **Tax Contributions**: Discussion of significant tax payments to the U.S. Treasury, credited to shareholders' reinvestments.\\n\\n7. **Investment Strategy**: A breakdown of Berkshire\\u2019s investments in both controlled subsidiaries and marketable equities, along with a focus on long-term holding strategies.\\n\\n8. **American Capitalism**: Reflections on America\\u2019s economic development and Berkshire\\u2019s role within it.\\n\\n9. **Property-Casualty Insurance**: Insights into the P/C insurance business model and its challenges and benefits.\\n\\n10. **Japanese Investments**: Information about Berkshire\\u2019s investments in Japanese companies and future plans.\\n\\n11. **Annual Meeting**: Details about the upcoming annual gathering in Omaha, including schedule changes and new book releases.\\n\\n12. **Personal Anecdotes**: Light-hearted stories about family and interactions, conveying Buffett's personable approach.\\n\\n13. **Financial Performance Data**: Tables comparing Berkshire\\u2019s annual performance to the S&P 500, showing impressive long-term gains.\\n\\nOverall, the letter reinforces Berkshire Hathaway's commitment to transparency, investment in both its businesses and the wider economy, and emphasizes strong leadership and prudent financial management.\"\n        }\n      ],\n      \"role\": \"assistant\"\n    }\n  ],\n  \"parallel_tool_calls\": true,\n  \"previous_response_id\": null,\n  \"reasoning\": {\n    \"effort\": null,\n    \"summary\": null\n  },\n  \"service_tier\": \"default\",\n  \"store\": true,\n  \"temperature\": 1.0,\n  \"text\": {\n    \"format\": {\n      \"type\": \"text\"\n    }\n  },\n  \"tool_choice\": \"auto\",\n  \"tools\": [],\n  \"top_logprobs\": 0,\n  \"top_p\": 1.0,\n  \"truncation\": \"disabled\",\n  \"usage\": {\n    \"input_tokens\": 8438,\n    \"input_tokens_details\": {\n      \"cached_tokens\": 0,\n      \"cache_write_tokens\": 0\n    },\n    \"output_tokens\": 398,\n    \"output_tokens_details\": {\n      \"reasoning_tokens\": 0\n    },\n    \"total_tokens\": 8836\n  },\n  \"user\": null,\n  \"metadata\": {}\n}\n"
        - title: Web search
          request:
            curl: "curl https://api.openai.com/v1/responses \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n  -d '{\n    \"model\": \"gpt-6-astra\",\n    \"tools\": [{ \"type\": \"web_search_preview\" }],\n    \"input\": \"What was a positive news story from today?\"\n  }'\n"
            javascript: "import OpenAI from \"openai\";\n\nconst openai = new OpenAI();\n\nconst response = await openai.responses.create({\n    model: \"gpt-6-astra\",\n    tools: [{ type: \"web_search_preview\" }],\n    input: \"What was a positive news story from today?\",\n});\n\nconsole.log(response);\n"
            python: "from openai import OpenAI\n\nclient = OpenAI()\n\nresponse = client.responses.create(\n    model=\"gpt-6-astra\",\n    tools=[{ \"type\": \"web_search_preview\" }],\n    input=\"What was a positive news story from today?\",\n)\n\nprint(response)\n"
            csharp: "using System;\n\nusing OpenAI.Responses;\n\nOpenAIResponseClient client = new(\n    model: \"gpt-6-astra\",\n    apiKey: Environment.GetEnvironmentVariable(\"OPENAI_API_KEY\")\n);\n\nstring userInputText = \"What was a positive news story from today?\";\n\nResponseCreationOptions options = new()\n{\n    Tools =\n    {\n        ResponseTool.CreateWebSearchTool()\n    },\n};\n\nOpenAIResponse response = client.CreateResponse(userInputText, options);\n\nConsole.WriteLine(response.GetOutputText());\n"
          response: "{\n  \"id\": \"resp_67ccf18ef5fc8190b16dbee19bc54e5f087bb177ab789d5c\",\n  \"object\": \"response\",\n  \"access_programs\": null,\n  \"created_at\": 1741484430,\n  \"status\": \"completed\",\n  \"completed_at\": 1741484431,\n  \"error\": null,\n  \"incomplete_details\": null,\n  \"instructions\": null,\n  \"max_output_tokens\": null,\n  \"model\": \"gpt-6-astra\",\n  \"output\": [\n    {\n      \"type\": \"web_search_call\",\n      \"id\": \"ws_67ccf18f64008190a39b619f4c8455ef087bb177ab789d5c\",\n      \"status\": \"completed\"\n    },\n    {\n      \"type\": \"message\",\n      \"id\": \"msg_67ccf190ca3881909d433c50b1f6357e087bb177ab789d5c\",\n      \"status\": \"completed\",\n      \"role\": \"assistant\",\n      \"content\": [\n        {\n          \"type\": \"output_text\",\n          \"text\": \"As of today, March 9, 2025, one notable positive news story...\",\n          \"annotations\": [\n            {\n              \"type\": \"url_citation\",\n              \"start_index\": 442,\n              \"end_index\": 557,\n              \"url\": \"https://.../?utm_source=chatgpt.com\",\n              \"title\": \"...\"\n            },\n            {\n              \"type\": \"url_citation\",\n              \"start_index\": 962,\n              \"end_index\": 1077,\n              \"url\": \"https://.../?utm_source=chatgpt.com\",\n              \"title\": \"...\"\n            },\n            {\n              \"type\": \"url_citation\",\n              \"start_index\": 1336,\n              \"end_index\": 1451,\n              \"url\": \"https://.../?utm_source=chatgpt.com\",\n              \"title\": \"...\"\n            }\n          ]\n        }\n      ]\n    }\n  ],\n  \"parallel_tool_calls\": true,\n  \"previous_response_id\": null,\n  \"reasoning\": {\n    \"effort\": null,\n    \"summary\": null\n  },\n  \"store\": true,\n  \"temperature\": 1.0,\n  \"text\": {\n    \"format\": {\n      \"type\": \"text\"\n    }\n  },\n  \"tool_choice\": \"auto\",\n  \"tools\": [\n    {\n      \"type\": \"web_search_preview\",\n      \"domains\": [],\n      \"search_context_size\": \"medium\",\n      \"user_location\": {\n        \"type\": \"approximate\",\n        \"city\": null,\n        \"country\": \"US\",\n        \"region\": null,\n        \"timezone\": null\n      }\n    }\n  ],\n  \"top_p\": 1.0,\n  \"truncation\": \"disabled\",\n  \"usage\": {\n    \"input_tokens\": 328,\n    \"input_tokens_details\": {\n      \"cached_tokens\": 0,\n      \"cache_write_tokens\": 0\n    },\n    \"output_tokens\": 356,\n    \"output_tokens_details\": {\n      \"reasoning_tokens\": 0\n    },\n    \"total_tokens\": 684\n  },\n  \"user\": null,\n  \"metadata\": {}\n}\n"
        - title: File search
          request:
            curl: "curl https://api.openai.com/v1/responses \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n  -d '{\n    \"model\": \"gpt-6-astra\",\n    \"tools\": [{\n      \"type\": \"file_search\",\n      \"vector_store_ids\": [\"vs_1234567890\"],\n      \"max_num_results\": 20\n    }],\n    \"input\": \"What are the attributes of an ancient brown dragon?\"\n  }'\n"
            javascript: "import OpenAI from \"openai\";\n\nconst openai = new OpenAI();\n\nconst response = await openai.responses.create({\n    model: \"gpt-6-astra\",\n    tools: [{\n      type: \"file_search\",\n      vector_store_ids: [\"vs_1234567890\"],\n      max_num_results: 20\n    }],\n    input: \"What are the attributes of an ancient brown dragon?\",\n});\n\nconsole.log(response);\n"
            python: "from openai import OpenAI\n\nclient = OpenAI()\n\nresponse = client.responses.create(\n    model=\"gpt-6-astra\",\n    tools=[{\n      \"type\": \"file_search\",\n      \"vector_store_ids\": [\"vs_1234567890\"],\n      \"max_num_results\": 20\n    }],\n    input=\"What are the attributes of an ancient brown dragon?\",\n)\n\nprint(response)\n"
            csharp: "using System;\n\nusing OpenAI.Responses;\n\nOpenAIResponseClient client = new(\n    model: \"gpt-6-astra\",\n    apiKey: Environment.GetEnvironmentVariable(\"OPENAI_API_KEY\")\n);\n\nstring userInputText = \"What are the attributes of an ancient brown dragon?\";\n\nResponseCreationOptions options = new()\n{\n    Tools =\n    {\n        ResponseTool.CreateFileSearchTool(\n            vectorStoreIds: [\"vs_1234567890\"],\n            maxResultCount: 20\n        )\n    },\n};\n\nOpenAIResponse response = client.CreateResponse(userInputText, options);\n\nConsole.WriteLine(response.GetOutputText());\n"
          response: "{\n  \"id\": \"resp_67ccf4c55fc48190b71bd0463ad3306d09504fb6872380d7\",\n  \"object\": \"response\",\n  \"access_programs\": null,\n  \"created_at\": 1741485253,\n  \"status\": \"completed\",\n  \"completed_at\": 1741485254,\n  \"error\": null,\n  \"incomplete_details\": null,\n  \"instructions\": null,\n  \"max_output_tokens\": null,\n  \"model\": \"gpt-6-astra\",\n  \"output\": [\n    {\n      \"type\": \"file_search_call\",\n      \"id\": \"fs_67ccf4c63cd08190887ef6464ba5681609504fb6872380d7\",\n      \"status\": \"completed\",\n      \"queries\": [\n        \"attributes of an ancient brown dragon\"\n      ],\n      \"results\": null\n    },\n    {\n      \"type\": \"message\",\n      \"id\": \"msg_67ccf4c93e5c81909d595b369351a9d309504fb6872380d7\",\n      \"status\": \"completed\",\n      \"role\": \"assistant\",\n      \"content\": [\n        {\n          \"type\": \"output_text\",\n          \"text\": \"The attributes of an ancient brown dragon include...\",\n          \"annotations\": [\n            {\n              \"type\": \"file_citation\",\n              \"index\": 320,\n              \"file_id\": \"file-4wDz5b167pAf72nx1h9eiN\",\n              \"filename\": \"dragons.pdf\"\n            },\n            {\n              \"type\": \"file_citation\",\n              \"index\": 576,\n              \"file_id\": \"file-4wDz5b167pAf72nx1h9eiN\",\n              \"filename\": \"dragons.pdf\"\n            },\n            {\n              \"type\": \"file_citation\",\n              \"index\": 815,\n              \"file_id\": \"file-4wDz5b167pAf72nx1h9eiN\",\n              \"filename\": \"dragons.pdf\"\n            },\n            {\n              \"type\": \"file_citation\",\n              \"index\": 815,\n              \"file_id\": \"file-4wDz5b167pAf72nx1h9eiN\",\n              \"filename\": \"dragons.pdf\"\n            },\n            {\n              \"type\": \"file_citation\",\n              \"index\": 1030,\n              \"file_id\": \"file-4wDz5b167pAf72nx1h9eiN\",\n              \"filename\": \"dragons.pdf\"\n            },\n            {\n              \"type\": \"file_citation\",\n              \"index\": 1030,\n              \"file_id\": \"file-4wDz5b167pAf72nx1h9eiN\",\n              \"filename\": \"dragons.pdf\"\n            },\n            {\n              \"type\": \"file_citation\",\n              \"index\": 1156,\n              \"file_id\": \"file-4wDz5b167pAf72nx1h9eiN\",\n              \"filename\": \"dragons.pdf\"\n            },\n            {\n              \"type\": \"file_citation\",\n              \"index\": 1225,\n              \"file_id\": \"file-4wDz5b167pAf72nx1h9eiN\",\n              \"filename\": \"dragons.pdf\"\n            }\n          ]\n        }\n      ]\n    }\n  ],\n  \"parallel_tool_calls\": true,\n  \"previous_response_id\": null,\n  \"reasoning\": {\n    \"effort\": null,\n    \"summary\": null\n  },\n  \"store\": true,\n  \"temperature\": 1.0,\n  \"text\": {\n    \"format\": {\n      \"type\": \"text\"\n    }\n  },\n  \"tool_choice\": \"auto\",\n  \"tools\": [\n    {\n      \"type\": \"file_search\",\n      \"filters\": null,\n      \"max_num_results\": 20,\n      \"ranking_options\": {\n        \"ranker\": \"auto\",\n        \"score_threshold\": 0.0\n      },\n      \"vector_store_ids\": [\n        \"vs_1234567890\"\n      ]\n    }\n  ],\n  \"top_p\": 1.0,\n  \"truncation\": \"disabled\",\n  \"usage\": {\n    \"input_tokens\": 18307,\n    \"input_tokens_details\": {\n      \"cached_tokens\": 0,\n      \"cache_write_tokens\": 0\n    },\n    \"output_tokens\": 348,\n    \"output_tokens_details\": {\n      \"reasoning_tokens\": 0\n    },\n    \"total_tokens\": 18655\n  },\n  \"user\": null,\n  \"metadata\": {}\n}\n"
        - title: Streaming
          request:
            curl: "curl https://api.openai.com/v1/responses \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n  -d '{\n    \"model\": \"gpt-6-astra\",\n    \"instructions\": \"You are a helpful assistant.\",\n    \"input\": \"Hello!\",\n    \"stream\": true\n  }'\n"
            python: "from openai import OpenAI\n\nclient = OpenAI()\n\nresponse = client.responses.create(\n  model=\"gpt-6-astra\",\n  instructions=\"You are a helpful assistant.\",\n  input=\"Hello!\",\n  stream=True\n)\n\nfor event in response:\n  print(event)\n"
            javascript: "import OpenAI from \"openai\";\n\nconst openai = new OpenAI();\n\nconst response = await openai.responses.create({\n    model: \"gpt-6-astra\",\n    instructions: \"You are a helpful assistant.\",\n    input: \"Hello!\",\n    stream: true,\n});\n\nfor await (const event of response) {\n    console.log(event);\n}\n"
            csharp: "using System;\nusing System.ClientModel;\nusing System.Threading.Tasks;\n\nusing OpenAI.Responses;\n\nOpenAIResponseClient client = new(\n    model: \"gpt-6-astra\",\n    apiKey: Environment.GetEnvironmentVariable(\"OPENAI_API_KEY\")\n);\n\nstring userInputText = \"Hello!\";\n\nResponseCreationOptions options = new()\n{\n    Instructions = \"You are a helpful assistant.\",\n};\n\nAsyncCollectionResult<StreamingResponseUpdate> responseUpdates = client.CreateResponseStreamingAsync(userInputText, options);\n\nawait foreach (StreamingResponseUpdate responseUpdate in responseUpdates)\n{\n    if (responseUpdate is StreamingResponseOutputTextDeltaUpdate outputTextDeltaUpdate)\n    {\n        Console.Write(outputTextDeltaUpdate.Delta);\n    }\n}\n"
          response: 'event: response.created

            data: {"type":"response.created","response":{"id":"resp_67c9fdcecf488190bdd9a0409de3a1ec07b8b0ad4e5eb654","object":"response","access_programs":null,"created_at":1741290958,"status":"in_progress","error":null,"incomplete_details":null,"instructions":"You are a helpful assistant.","max_output_tokens":null,"model":"gpt-6-astra","output":[],"parallel_tool_calls":true,"previous_response_id":null,"reasoning":{"effort":null,"summary":null},"store":true,"temperature":1.0,"text":{"format":{"type":"text"}},"tool_choice":"auto","tools":[],"top_p":1.0,"truncation":"disabled","usage":null,"user":null,"metadata":{}}}


            event: response.in_progress

            data: {"type":"response.in_progress","response":{"id":"resp_67c9fdcecf488190bdd9a0409de3a1ec07b8b0ad4e5eb654","object":"response","access_programs":null,"created_at":1741290958,"status":"in_progress","error":null,"incomplete_details":null,"instructions":"You are a helpful assistant.","max_output_tokens":null,"model":"gpt-6-astra","output":[],"parallel_tool_calls":true,"previous_response_id":null,"reasoning":{"effort":null,"summary":null},"store":true,"temperature":1.0,"text":{"format":{"type":"text"}},"tool_choice":"auto","tools":[],"top_p":1.0,"truncation":"disabled","usage":null,"user":null,"metadata":{}}}


            event: response.output_item.added

            data: {"type":"response.output_item.added","output_index":0,"item":{"id":"msg_67c9fdcf37fc8190ba82116e33fb28c507b8b0ad4e5eb654","type":"message","status":"in_progress","role":"assistant","content":[]}}


            event: response.content_part.added

            data: {"type":"response.content_part.added","item_id":"msg_67c9fdcf37fc8190ba82116e33fb28c507b8b0ad4e5eb654","output_index":0,"content_index":0,"part":{"type":"output_text","text":"","annotations":[]}}


            event: response.output_text.delta

            data: {"type":"response.output_text.delta","item_id":"msg_67c9fdcf37fc8190ba82116e33fb28c507b8b0ad4e5eb654","output_index":0,"content_index":0,"delta":"Hi"}


            ...


            event: response.output_text.done

            data: {"type":"response.output_text.done","item_id":"msg_67c9fdcf37fc8190ba82116e33fb28c507b8b0ad4e5eb654","output_index":0,"content_index":0,"text":"Hi there! How can I assist you today?"}


            event: response.content_part.done

            data: {"type":"response.content_part.done","item_id":"msg_67c9fdcf37fc8190ba82116e33fb28c507b8b0ad4e5eb654","output_index":0,"content_index":0,"part":{"type":"output_text","text":"Hi there! How can I assist you today?","annotations":[]}}


            event: response.output_item.done

            data: {"type":"response.output_item.done","output_index":0,"item":{"id":"msg_67c9fdcf37fc8190ba82116e33fb28c507b8b0ad4e5eb654","type":"message","status":"completed","role":"assistant","content":[{"type":"output_text","text":"Hi there! How can I assist you today?","annotations":[]}]}}


            event: response.completed

            data: {"type":"response.completed","response":{"id":"resp_67c9fdcecf488190bdd9a0409de3a1ec07b8b0ad4e5eb654","object":"response","access_programs":null,"created_at":1741290958,"status":"completed","error":null,"incomplete_details":null,"instructions":"You are a helpful assistant.","max_output_tokens":null,"model":"gpt-6-astra","output":[{"id":"msg_67c9fdcf37fc8190ba82116e33fb28c507b8b0ad4e5eb654","type":"message","status":"completed","role":"assistant","content":[{"type":"output_text","text":"Hi there! How can I assist you today?","annotations":[]}]}],"parallel_tool_calls":true,"previous_response_id":null,"reasoning":{"effort":null,"summary":null},"store":true,"temperature":1.0,"text":{"format":{"type":"text"}},"tool_choice":"auto","tools":[],"top_p":1.0,"truncation":"disabled","usage":{"input_tokens":37,"output_tokens":11,"output_tokens_details":{"reasoning_tokens":0},"total_tokens":48},"user":null,"metadata":{}}}

            '
        - title: Functions
          request:
            curl: "curl https://api.openai.com/v1/responses \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n  -d '{\n    \"model\": \"gpt-6-astra\",\n    \"input\": \"What is the weather like in Boston today?\",\n    \"tools\": [\n      {\n        \"type\": \"function\",\n        \"name\": \"get_current_weather\",\n        \"description\": \"Get the current weather in a given location\",\n        \"parameters\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"location\": {\n              \"type\": \"string\",\n              \"description\": \"The city and state, e.g. San Francisco, CA\"\n            },\n            \"unit\": {\n              \"type\": \"string\",\n              \"enum\": [\"celsius\", \"fahrenheit\"]\n            }\n          },\n          \"required\": [\"location\", \"unit\"]\n        }\n      }\n    ],\n    \"tool_choice\": \"auto\"\n  }'\n"
            python: "from openai import OpenAI\n\nclient = OpenAI()\n\ntools = [\n    {\n        \"type\": \"function\",\n        \"name\": \"get_current_weather\",\n        \"description\": \"Get the current weather in a given location\",\n        \"parameters\": {\n          \"type\": \"object\",\n          \"properties\": {\n              \"location\": {\n                  \"type\": \"string\",\n                  \"description\": \"The city and state, e.g. San Francisco, CA\",\n              },\n              \"unit\": {\"type\": \"string\", \"enum\": [\"celsius\", \"fahrenheit\"]},\n          },\n          \"required\": [\"location\", \"unit\"],\n        }\n    }\n]\n\nresponse = client.responses.create(\n  model=\"gpt-6-astra\",\n  tools=tools,\n  input=\"What is the weather like in Boston today?\",\n  tool_choice=\"auto\"\n)\n\nprint(response)\n"
            javascript: "import OpenAI from \"openai\";\n\nconst openai = new OpenAI();\n\nconst tools = [\n    {\n        type: \"function\",\n        name: \"get_current_weather\",\n        description: \"Get the current weather in a given location\",\n        parameters: {\n            type: \"object\",\n            properties: {\n                location: {\n                    type: \"string\",\n                    description: \"The city and state, e.g. San Francisco, CA\",\n                },\n                unit: { type: \"string\", enum: [\"celsius\", \"fahrenheit\"] },\n            },\n            required: [\"location\", \"unit\"],\n        },\n    },\n];\n\nconst response = await openai.responses.create({\n    model: \"gpt-6-astra\",\n    tools: tools,\n    input: \"What is the weather like in Boston today?\",\n    tool_choice: \"auto\",\n});\n\nconsole.log(response);\n"
            csharp: "using System;\nusing OpenAI.Responses;\n\nOpenAIResponseClient client = new(\n    model: \"gpt-6-astra\",\n    apiKey: Environment.GetEnvironmentVariable(\"OPENAI_API_KEY\")\n);\n\nResponseTool getCurrentWeatherFunctionTool = ResponseTool.CreateFunctionTool(\n    functionName: \"get_current_weather\",\n    functionDescription: \"Get the current weather in a given location\",\n    functionParameters: BinaryData.FromString(\"\"\"\n        {\n            \"type\": \"object\",\n            \"properties\": {\n                \"location\": {\n                    \"type\": \"string\",\n                    \"description\": \"The city and state, e.g. San Francisco, CA\"\n                },\n                \"unit\": {\"type\": \"string\", \"enum\": [\"celsius\", \"fahrenheit\"]}\n            },\n            \"required\": [\"location\", \"unit\"]\n        }\n        \"\"\"\n    )\n);\n\nstring userInputText = \"What is the weather like in Boston today?\";\n\nResponseCreationOptions options = new()\n{\n    Tools =\n    {\n        getCurrentWeatherFunctionTool\n    },\n    ToolChoice = ResponseToolChoice.CreateAutoChoice(),\n};\n\nOpenAIResponse response = client.CreateResponse(userInputText, options);\n"
          response: "{\n  \"id\": \"resp_67ca09c5efe0819096d0511c92b8c890096610f474011cc0\",\n  \"object\": \"response\",\n  \"access_programs\": null,\n  \"created_at\": 1741294021,\n  \"status\": \"completed\",\n  \"completed_at\": 1741294022,\n  \"error\": null,\n  \"incomplete_details\": null,\n  \"instructions\": null,\n  \"max_output_tokens\": null,\n  \"model\": \"gpt-6-astra\",\n  \"output\": [\n    {\n      \"type\": \"function_call\",\n      \"id\": \"fc_67ca09c6bedc8190a7abfec07b1a1332096610f474011cc0\",\n      \"call_id\": \"call_unLAR8MvFNptuiZK6K6HCy5k\",\n      \"name\": \"get_current_weather\",\n      \"arguments\": \"{\\\"location\\\":\\\"Boston, MA\\\",\\\"unit\\\":\\\"celsius\\\"}\",\n      \"status\": \"completed\"\n    }\n  ],\n  \"parallel_tool_calls\": true,\n  \"previous_response_id\": null,\n  \"reasoning\": {\n    \"effort\": null,\n    \"summary\": null\n  },\n  \"store\": true,\n  \"temperature\": 1.0,\n  \"text\": {\n    \"format\": {\n      \"type\": \"text\"\n    }\n  },\n  \"tool_choice\": \"auto\",\n  \"tools\": [\n    {\n      \"type\": \"function\",\n      \"description\": \"Get the current weather in a given location\",\n      \"name\": \"get_current_weather\",\n      \"parameters\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"location\": {\n            \"type\": \"string\",\n            \"description\": \"The city and state, e.g. San Francisco, CA\"\n          },\n          \"unit\": {\n            \"type\": \"string\",\n            \"enum\": [\n              \"celsius\",\n              \"fahrenheit\"\n            ]\n          }\n        },\n        \"required\": [\n          \"location\",\n          \"unit\"\n        ]\n      },\n      \"strict\": true\n    }\n  ],\n  \"top_p\": 1.0,\n  \"truncation\": \"disabled\",\n  \"usage\": {\n    \"input_tokens\": 291,\n    \"output_tokens\": 23,\n    \"output_tokens_details\": {\n      \"reasoning_tokens\": 0\n    },\n    \"total_tokens\": 314\n  },\n  \"user\": null,\n  \"metadata\": {}\n}\n"
        - title: Reasoning
          request:
            curl: "curl https://api.openai.com/v1/responses \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n  -d '{\n    \"model\": \"gpt-6-astra\",\n    \"input\": \"How much wood would a woodchuck chuck?\",\n    \"reasoning\": {\n      \"effort\": \"high\"\n    }\n  }'\n"
            javascript: "import OpenAI from \"openai\";\nconst openai = new OpenAI();\n\nconst response = await openai.responses.create({\n    model: \"gpt-6-astra\",\n    input: \"How much wood would a woodchuck chuck?\",\n    reasoning: {\n      effort: \"high\"\n    }\n});\n\nconsole.log(response);\n"
            python: "from openai import OpenAI\nclient = OpenAI()\n\nresponse = client.responses.create(\n    model=\"gpt-6-astra\",\n    input=\"How much wood would a woodchuck chuck?\",\n    reasoning={\n        \"effort\": \"high\"\n    }\n)\n\nprint(response)\n"
            csharp: "using System;\nusing OpenAI.Responses;\n\nOpenAIResponseClient client = new(\n    model: \"gpt-6-astra\",\n    apiKey: Environment.GetEnvironmentVariable(\"OPENAI_API_KEY\")\n);\n\nstring userInputText = \"How much wood would a woodchuck chuck?\";\n\nResponseCreationOptions options = new()\n{\n    ReasoningOptions = new()\n    {\n        ReasoningEffortLevel = ResponseReasoningEffortLevel.High,\n    },\n};\n\nOpenAIResponse response = client.CreateResponse(userInputText, options);\n\nConsole.WriteLine(response.GetOutputText());\n"
          response: "{\n  \"id\": \"resp_67ccd7eca01881908ff0b5146584e408072912b2993db808\",\n  \"object\": \"response\",\n  \"access_programs\": null,\n  \"created_at\": 1741477868,\n  \"status\": \"completed\",\n  \"completed_at\": 1741477869,\n  \"error\": null,\n  \"incomplete_details\": null,\n  \"instructions\": null,\n  \"max_output_tokens\": null,\n  \"model\": \"gpt-6-astra\",\n  \"output\": [\n    {\n      \"type\": \"message\",\n      \"id\": \"msg_67ccd7f7b5848190a6f3e95d809f6b44072912b2993db808\",\n      \"status\": \"completed\",\n      \"role\": \"assistant\",\n      \"content\": [\n        {\n          \"type\": \"output_text\",\n          \"text\": \"The classic tongue twister...\",\n          \"annotations\": []\n        }\n      ]\n    }\n  ],\n  \"parallel_tool_calls\": true,\n  \"previous_response_id\": null,\n  \"reasoning\": {\n    \"effort\": \"high\",\n    \"summary\": null\n  },\n  \"store\": true,\n  \"temperature\": 1.0,\n  \"text\": {\n    \"format\": {\n      \"type\": \"text\"\n    }\n  },\n  \"tool_choice\": \"auto\",\n  \"tools\": [],\n  \"top_p\": 1.0,\n  \"truncation\": \"disabled\",\n  \"usage\": {\n    \"input_tokens\": 81,\n    \"input_tokens_details\": {\n      \"cached_tokens\": 0,\n      \"cache_write_tokens\": 0\n    },\n    \"output_tokens\": 1035,\n    \"output_tokens_details\": {\n      \"reasoning_tokens\": 832\n    },\n    \"total_tokens\": 1116\n  },\n  \"user\": null,\n  \"metadata\": {}\n}\n"
      parameters:
      - name: openai-beta
        in: header
        required: false
        description: Optional beta features to enable for this request.
        style: simple
        explode: false
        schema:
          type: array
          x-stainless-param: betas
          items:
            type: string
            enum:
            - responses_multi_agent=v1
  /responses/{response_id}?beta=true:
    get:
      operationId: beta_getResponse
      tags:
      - Responses
      summary: Get a model response
      description: Retrieves a model response with the given ID.
      parameters:
      - in: path
        name: response_id
        required: true
        schema:
          type: string
          example: resp_677efb5139a88190b512bc3fef8e535d
        description: The ID of the response to retrieve.
      - in: query
        name: include
        schema:
          type: array
          items:
            $ref: '#/components/schemas/BetaIncludeEnum'
        description: 'Additional fields to include in the response. See the `include`

          parameter for Response creation above for more information.

          '
      - in: query
        name: stream
        schema:
          type: boolean
        description: 'If set to true, the model response data will be streamed to the client

          as it is generated using [server-sent events](https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events/Using_server-sent_events#Event_stream_format).

          See the [Streaming section below](https://developers.openai.com/api/reference/resources/responses/streaming-events)

          for more information.

          '
      - in: query
        name: starting_after
        schema:
          type: integer
        description: 'The sequence number of the event after which to start streaming.

          '
      - in: query
        name: include_obfuscation
        schema:
          type: boolean
        description: 'When true, stream obfuscation will be enabled. Stream obfuscation adds

[...]
