openapi: 3.2.0
info:
  title: OpenAI Agents API
  description: The OpenAI REST API. Please see https://platform.openai.com/docs/api-reference for more details.
  version: 2.3.0
  termsOfService: https://openai.com/policies/terms-of-use
  contact:
    name: OpenAI Support
    url: https://help.openai.com/
  license:
    name: MIT
    identifier: MIT
servers:
- url: https://api.openai.com/v1
security:
- ApiKeyAuth: []
tags:
- name: Agents
paths:
  /agents/environments/{environment_id}:
    get:
      operationId: retrieveAgentEnvironment
      summary: Retrieve an agent environment
      description: Retrieves an execution environment's connection status and safe installed metadata. See environment lifecycle.
      tags:
      - Agents
      parameters:
      - name: environment_id
        in: path
        required: true
        schema:
          type: string
          minLength: 0
          maxLength: 1048576
        description: The ID of the environment.
      responses:
        '200':
          description: The requested environment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicEnvironmentResource'
        '400':
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '401':
          description: Authentication or project context was missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '404':
          description: The requested session or event was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '409':
          description: The request conflicted with the current session state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '503':
          description: The service is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
  /agents/environments/{environment_id}/files:
    get:
      operationId: listAgentEnvironmentFiles
      summary: List agent environment files
      description: Lists live files on a connected execution environment with optional directory filtering and opaque cursor pagination. See environment files.
      tags:
      - Agents
      parameters:
      - name: environment_id
        in: path
        required: true
        schema:
          type: string
          minLength: 0
          maxLength: 1048576
        description: The ID of the environment.
      - name: path
        in: query
        required: false
        schema:
          type:
          - string
          - 'null'
          minLength: 0
          maxLength: 1048576
        description: Restrict the listing to this absolute workspace directory.
      - name: limit
        in: query
        required: false
        schema:
          type:
          - integer
          - 'null'
          format: int64
          minimum: 1
          maximum: 100
        description: The maximum number of files to return, between 1 and 100.
      - name: order
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/ListOrderParam'
        description: Sort by case-sensitive path components. Defaults to descending.
      - name: page
        in: query
        required: false
        schema:
          type: string
          minLength: 0
          maxLength: 1048576
        description: The opaque token from the previous page. Keep the same path, order, and limit.
      responses:
        '200':
          description: A page of live environment files.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentFileListResource'
        '400':
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '401':
          description: Authentication or project context was missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '404':
          description: The requested session or event was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '409':
          description: The request conflicted with the current session state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '503':
          description: The service is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
    post:
      operationId: createAgentEnvironmentFile
      summary: Create an agent environment file
      description: Copies inline bytes or a Files API file into a connected execution environment. See environment files.
      tags:
      - Agents
      parameters:
      - name: environment_id
        in: path
        required: true
        schema:
          type: string
          minLength: 0
          maxLength: 1048576
        description: The ID of the environment.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HostedEnvironmentFileParam'
      responses:
        '201':
          description: The created live environment file.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentFileResource'
        '400':
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '401':
          description: Authentication or project context was missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '404':
          description: The requested session or event was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '409':
          description: The request conflicted with the current session state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '503':
          description: The service is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
  /agents/sessions/{session_id}/subagents:
    get:
      operationId: listAgentSessionSubagents
      summary: List session subagents
      description: Lists subagents in a session, including nested and closed subagents. See subagent workflows.
      tags:
      - Agents
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          minLength: 0
          maxLength: 1048576
        description: The ID of the session.
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          format: int64
          minimum: 1
          maximum: 100
          default: 20
        description: The maximum number of resources to return, between 1 and 100. Defaults to 20.
      - name: order
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/ListOrderParam'
          default: desc
        description: The order in which resources are returned. Defaults to `desc`.
      - name: after
        in: query
        required: false
        schema:
          type: string
          minLength: 0
          maxLength: 1048576
        description: Return resources after this resource ID in the selected order.
      responses:
        '200':
          description: The requested subagents.
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    enum:
                    - list
                    default: list
                    x-stainless-const: true
                    description: The object type, which is always `list`.
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SubagentResource'
                    minItems: 0
                    maxItems: 2000
                    description: The resources returned in this page, in the requested sort order.
                  first_id:
                    type:
                    - string
                    - 'null'
                    minLength: 0
                    description: The ID of the first resource in `data`, or `null` if the page is empty.
                  last_id:
                    type:
                    - string
                    - 'null'
                    minLength: 0
                    description: The ID of the last resource in `data`, or `null` if the page is empty. Pass this as `after` with the same order and filters.
                  has_more:
                    type: boolean
                    description: Whether there are more resources to retrieve after this page.
                required:
                - object
                - data
                - first_id
                - last_id
                - has_more
                additionalProperties: false
                description: A page of Agents API resources, with IDs for retrieving additional pages.
        '400':
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '401':
          description: Authentication or project context was missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '403':
          description: The API key lacks the required permission.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '404':
          description: The requested session or event was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '409':
          description: The request conflicted with the current session state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '503':
          description: The service is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
  /agents/sessions/{session_id}/subagents/{subagent_id}:
    get:
      operationId: retrieveAgentSessionSubagent
      summary: Retrieve a session subagent
      description: Retrieves a subagent belonging to this session. See subagent workflows.
      tags:
      - Agents
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          minLength: 0
          maxLength: 1048576
        description: The ID of the session.
      - name: subagent_id
        in: path
        required: true
        schema:
          type: string
          minLength: 0
          maxLength: 1048576
        description: The ID of the subagent in this session.
      responses:
        '200':
          description: The requested subagent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubagentResource'
        '400':
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '401':
          description: Authentication or project context was missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '403':
          description: The API key lacks the required permission.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '404':
          description: The requested session or event was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '409':
          description: The request conflicted with the current session state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '503':
          description: The service is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
  /agents/sessions/{session_id}/subagents/{subagent_id}/items:
    get:
      operationId: listAgentSessionSubagentItems
      summary: List subagent items
      description: Lists this subagent's own items across all of its turns. See subagent workflows.
      tags:
      - Agents
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          minLength: 0
          maxLength: 1048576
        description: The ID of the session.
      - name: subagent_id
        in: path
        required: true
        schema:
          type: string
          minLength: 0
          maxLength: 1048576
        description: The ID of the subagent in this session.
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          format: int64
          minimum: 1
          maximum: 100
          default: 20
        description: The maximum number of resources to return, between 1 and 100. Defaults to 20.
      - name: order
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/ListOrderParam'
          default: desc
        description: The order in which resources are returned. Defaults to `desc`.
      - name: after
        in: query
        required: false
        schema:
          type: string
          minLength: 0
          maxLength: 1048576
        description: Return resources after this resource ID in the selected order.
      responses:
        '200':
          description: The requested subagent history.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionItemListResource'
        '400':
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '401':
          description: Authentication or project context was missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '403':
          description: The API key lacks the required permission.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '404':
          description: The requested session or event was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '409':
          description: The request conflicted with the current session state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '503':
          description: The service is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
  /agents/sessions/{session_id}/subagents/{subagent_id}/turns:
    get:
      operationId: listAgentSessionSubagentTurns
      summary: List subagent turns
      description: Lists all turns of this subagent, including turns after a resume. See subagent workflows.
      tags:
      - Agents
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          minLength: 0
          maxLength: 1048576
        description: The ID of the session.
      - name: subagent_id
        in: path
        required: true
        schema:
          type: string
          minLength: 0
          maxLength: 1048576
        description: The ID of the subagent in this session.
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          format: int64
          minimum: 1
          maximum: 100
          default: 20
        description: The maximum number of resources to return, between 1 and 100. Defaults to 20.
      - name: order
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/ListOrderParam'
          default: desc
        description: The order in which resources are returned. Defaults to `desc`.
      - name: after
        in: query
        required: false
        schema:
          type: string
          minLength: 0
          maxLength: 1048576
        description: Return resources after this resource ID in the selected order.
      responses:
        '200':
          description: The requested subagent history.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionTurnListResource'
                description: A page of turns from an agent session or subagent.
        '400':
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '401':
          description: Authentication or project context was missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '403':
          description: The API key lacks the required permission.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '404':
          description: The requested session or event was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '409':
          description: The request conflicted with the current session state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '503':
          description: The service is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
  /agents/sessions/{session_id}/subagents/{subagent_id}/turns/{turn_id}:
    get:
      operationId: retrieveAgentSessionSubagentTurn
      summary: Retrieve a subagent turn
      description: Retrieves a turn belonging to this subagent. See subagent workflows.
      tags:
      - Agents
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          minLength: 0
          maxLength: 1048576
        description: The ID of the session.
      - name: subagent_id
        in: path
        required: true
        schema:
          type: string
          minLength: 0
          maxLength: 1048576
        description: The ID of the subagent in this session.
      - name: turn_id
        in: path
        required: true
        schema:
          type: string
          minLength: 0
          maxLength: 1048576
        description: The ID of a turn belonging to this subagent.
      responses:
        '200':
          description: The requested subagent history.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TurnResource'
        '400':
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '401':
          description: Authentication or project context was missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '403':
          description: The API key lacks the required permission.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '404':
          description: The requested session or event was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '409':
          description: The request conflicted with the current session state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '503':
          description: The service is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
  /agents/sessions/{session_id}/subagents/{subagent_id}/turns/{turn_id}/items:
    get:
      operationId: listAgentSessionSubagentTurnItems
      summary: List subagent turn items
      description: Lists items belonging to one turn of this subagent. See subagent workflows.
      tags:
      - Agents
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          minLength: 0
          maxLength: 1048576
        description: The ID of the session.
      - name: subagent_id
        in: path
        required: true
        schema:
          type: string
          minLength: 0
          maxLength: 1048576
        description: The ID of the subagent in this session.
      - name: turn_id
        in: path
        required: true
        schema:
          type: string
          minLength: 0
          maxLength: 1048576
        description: The ID of a turn belonging to this subagent.
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          format: int64
          minimum: 1
          maximum: 100
          default: 20
        description: The maximum number of resources to return, between 1 and 100. Defaults to 20.
      - name: order
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/ListOrderParam'
          default: desc
        description: The order in which resources are returned. Defaults to `desc`.
      - name: after
        in: query
        required: false
        schema:
          type: string
          minLength: 0
          maxLength: 1048576
        description: Return resources after this resource ID in the selected order.
      responses:
        '200':
          description: The requested subagent history.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionItemListResource'
        '400':
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '401':
          description: Authentication or project context was missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '403':
          description: The API key lacks the required permission.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '404':
          description: The requested session or event was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '409':
          description: The request conflicted with the current session state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '503':
          description: The service is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
  /agents:
    get:
      operationId: listAgents
      summary: List agents
      description: Lists reusable agents in the current project. See agent configuration.
      tags:
      - Agents
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type:
          - integer
          - 'null'
          format: int64
          minimum: 1
        description: The maximum number of resources to return.
      - name: order
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/ListOrderParam'
          default: desc
        description: The order in which resources are returned. Defaults to `desc`.
      - name: after
        in: query
        required: false
        schema:
          type: string
          minLength: 0
          maxLength: 1048576
        description: Return resources after this resource ID in the selected order.
      responses:
        '200':
          description: A page of agents.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentListResource'
                description: A page of reusable agents.
        '400':
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '401':
          description: Authentication or project context was missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '404':
          description: The requested session or event was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '409':
          description: The request conflicted with the current session state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '503':
          description: The service is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
    post:
      operationId: createAgent
      summary: Create an agent
      description: Creates a reusable agent without storing credentials. See agent configuration.
      tags:
      - Agents
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAgentParams'
      responses:
        '201':
          description: The created agent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentResource'
        '400':
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '401':
          description: Authentication or project context was missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '404':
          description: The requested session or event was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '409':
          description: The request conflicted with the current session state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '503':
          description: The service is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
  /agents/{agent_id}:
    get:
      operationId: retrieveAgent
      summary: Retrieve an agent
      description: Retrieves a reusable agent by ID. See agent configuration.
      tags:
      - Agents
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          minLength: 0
          maxLength: 1048576
        description: The ID of the reusable agent.
      responses:
        '200':
          description: The requested agent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentResource'
        '400':
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '401':
          description: Authentication or project context was missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '404':
          description: The requested session or event was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '409':
          description: The request conflicted with the current session state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '503':
          description: The service is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
    post:
      operationId: updateAgent
      summary: Update an agent
      description: Updates a reusable agent. See agent configuration.
      tags:
      - Agents
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          minLength: 0
          maxLength: 1048576
        description: The ID of the reusable agent.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAgentParams'
      responses:
        '200':
          description: The updated agent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentResource'
        '400':
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '401':
          description: Authentication or project context was missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '404':
          description: The requested session or event was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '409':
          description: The request conflicted with the current session state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '503':
          description: The service is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
    delete:
      operationId: deleteAgent
      summary: Delete an agent
      description: Deletes a reusable agent. See agent configuration.
      tags:
      - Agents
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          minLength: 0
          maxLength: 1048576
        description: The ID of the reusable agent.
      responses:
        '200':
          description: The deleted agent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedAgentResource'
        '400':
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '401':
          description: Authentication or project context was missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '404':
          description: The requested session or event was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '409':
          description: The request conflicted with the current session state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '503':
          description: The service is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
  /agents/environments/templates:
    get:
      operationId: listAgentEnvironmentTemplates
      summary: List agent environment templates
      description: Lists reusable environment templates without returning confidential values. See reusing a hosted setup.
      tags:
      - Agents
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          format: int64
          minimum: 1
          maximum: 100
          default: 20
        description: The maximum number of resources to return, between 1 and 100. Defaults to 20.
      - name: order
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/ListOrderParam'
          default: desc
        description: The order in which resources are returned. Defaults to `desc`.
      - name: after
        in: query
        required: false
        schema:
          type: string
          minLength: 0
          maxLength: 1048576
        description: Return resources after this resource ID in the selected order.
      responses:
        '200':
          description: A page of environment templates.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentTemplateListResource'
                description: A page of reusable environment templates.
        '400':
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '401':
          description: Authentication or project context was missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '403':
          description: The API key lacks the required management permission.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '404':
          description: The requested environment definition was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '503':
          description: The service is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
    post:
      operationId: createAgentEnvironmentTemplate
      summary: Create an agent environment template
      description: Creates reusable environment configuration without returning confidential setup commands or environment values. See reusing a hosted setup.
      tags:
      - Agents
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEnvironmentTemplateParams'
      responses:
        '201':
          description: The created environment template.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentTemplateResource'
        '400':
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '401':
          description: Authentication or project context was missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '403':
          description: The API key lacks the required management permission.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '404':
          description: The requested environment definition was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '503':
          description: The service is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
  /agents/environments/templates/{environment_template_id}:
    get:
      operationId: retrieveAgentEnvironmentTemplate
      summary: Retrieve an agent environment template
      description: Retrieves reusable environment configuration without returning confidential values. See reusing a hosted setup.
      tags:
      - Agents
      parameters:
      - name: environment_template_id
        in: path
        required: true
        schema:
          type: string
          minLength: 0
          maxLength: 1048576
        description: The ID of the reusable environment template.
      responses:
        '200':
          description: The requested environment template.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentTemplateResource'
        '400':
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '401':
          description: Authentication or project context was missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '403':
          description: The API key lacks the required management permission.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '404':
          description: The requested environment definition was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '503':
          description: The service is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
    post:
      operationId: updateAgentEnvironmentTemplate
      summary: Update an agent environment template
      description: Updates reusable environment configuration without returning confidential values. See reusing a hosted setup.
      tags:
      - Agents
      parameters:
      - name: environment_template_id
        in: path
        required: true
        schema:
          type: string
          minLength: 0
          maxLength: 1048576
        description: The ID of the reusable environment template.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEnvironmentTemplateParams'
      responses:
        '200':
          description: The updated environment template.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentTemplateResource'
        '400':
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '401':
          description: Authentication or project context was missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '403':
          description: The API key lacks the required management permission.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '404':
          description: The requested environment definition was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '409':
          description: The request conflicted with the current environment state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '503':
          description: The service is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
    delete:
      operationId: deleteAgentEnvironmentTemplate
      summary: Delete an agent environment template
      description: Deletes reusable environment configuration and all confidential template inputs. See reusing a hosted setup.
      tags:
      - Agents
      parameters:
      - name: environment_template_id
        in: path
        required: true
        schema:
          type: string
          minLength: 0
          maxLength: 1048576
        description: The ID of the reusable environment template.
      responses:
        '200':
          description: The deleted environment template.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedEnvironmentTemplateResource'
        '400':
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '401':
          description: Authentication or project context was missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '403':
          description: The API key lacks the required management permission.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '404':
          description: The requested environment definition was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '409':
          description: The request conflicted with the current environment state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '503':
          description: The service is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
  /agents/sessions:
    get:
      operationId: listAgentSessions
      summary: List agent sessions
      description: Lists managed agent sessions using ID-based pagination and the requested sort order. See managing sessions.
      tags:
      - Agents
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type:
          - integer
          - 'null'
          format: int64
          minimum: 1
        description: The maximum number of resources to return.
      - name: order
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/ListOrderParam'
          default: desc
        description: Sort order by the `created_at` timestamp. Use `asc` for ascending order or `desc` for descending order. Defaults to `desc`.
      - name: agent_id
        in: query
        required: false
        schema:
          type: string
          minLength: 0
          maxLength: 1048576
        description: Only return sessions whose root agent has this ID. Omit to return sessions for all agents.
      - name: after
        in: query
        required: false
        schema:
          type: string
          minLength: 0
          maxLength: 1048576
        description: Return resources after this resource ID in the selected order.
      responses:
        '200':
          description: A page of sessions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionListResource'
                description: A paginated list of sessions.
        '400':
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '401':
          description: Authentication or project context was missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '403':
          description: The API key lacks the required permission.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '404':
          description: The requested session or event was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '409':
          description: The request conflicted with the current session state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '503':
          description: The service is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
    post:
      operationId: createAgentSession
      summary: Create an agent session
      description: Creates a managed agent session, optionally submits initial input, and returns the session or streams its events when stream is true. See running sessions.
      tags:
      - Agents
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAgentSessionParams'
      responses:
        '201':
          description: The created session or its event stream.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionResource'
            text/event-stream:
              schema:
                $ref: '#/components/schemas/SessionEvent'
        '400':
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '401':
          description: Authentication or project context was missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '403':
          description: The API key lacks the required permission.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '404':
          description: The requested session or event was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '409':
          description: The request conflicted with the current session state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '503':
          description: The service is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
      x-oai-streaming:
        request_field: stream
        response_status_code: 201
  /agents/sessions/{session_id}:
    get:
      operationId: retrieveAgentSession
      summary: Retrieve an agent session
      description: Retrieves the current state of a managed agent session. See managing sessions.
      tags:
      - Agents
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          minLength: 0
          maxLength: 1048576
        description: The ID of the session.
      responses:
        '200':
          description: The requested session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionResource'
        '400':
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '401':
          description: Authentication or project context was missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '403':
          description: The API key lacks the required permission.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '404':
          description: The requested session or event was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '409':
          description: The request conflicted with the current session state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '503':
          description: The service is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
    post:
      operationId: updateAgentSession
      summary: Update an agent session
      description: Updates session metadata, model, reasoning effort, or service tier. Model settings apply to subsequent turns. Omitted fields are unchanged. See managing sessions.
      tags:
      - Agents
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          minLength: 0
          maxLength: 1048576
        description: The ID of the session.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAgentSessionParams'
      responses:
        '200':
          description: The updated session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionResource'
        '400':
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '401':
          description: Authentication or project context was missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '403':
          description: The API key lacks the required permission.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '404':
          description: The requested session or event was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '409':
          description: The request conflicted with the current session state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '503':
          description: The service is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
    delete:
      operationId: deleteAgentSession
      summary: Delete an agent session
      description: Removes a managed agent session from the public API and returns a deletion confirmation. If backend execution has ended, deletion can cancel a still-open public turn and abandon unpublished outputs. Running execution must be cancelled first. Physical cleanup may continue asynchronously. See managing sessions.
      tags:
      - Agents
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          minLength: 0
          maxLength: 1048576
        description: The ID of the session.
      responses:
        '200':
          description: The deleted session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedSessionResource'
        '400':
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '401':
          description: Authentication or project context was missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '403':
          description: The API key lacks the required permission.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '404':
          description: The requested session or event was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '409':
          description: The request conflicted with the current session state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '503':
          description: The service is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
  /agents/sessions/{session_id}/artifacts:
    get:
      operationId: listAgentSessionArtifacts
      summary: List agent session artifacts
      description: Lists immutable artifacts published by completed hosted session turns. See session artifacts.
      tags:
      - Agents
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          minLength: 0
          maxLength: 1048576
        description: The ID of the session.
      - name: order
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/ListOrderParam'
        description: Sort by creation time and ID. Defaults to descending.
      - name: environment_id
        in: query
        required: false
        schema:
          type:
          - string
          - 'null'
          minLength: 0
          maxLength: 1048576
        description: Restrict the listing to artifacts produced by this environment.
      - name: limit
        in: query
        required: false
        schema:
          type:
          - integer
          - 'null'
          format: int64
          minimum: 1
          maximum: 100
        description: The maximum number of artifacts to return, between 1 and 100.
      - name: after
        in: query
        required: false
        schema:
          type:
          - string
          - 'null'
          minLength: 0
          maxLength: 1048576
        description: Return artifacts after this immutable artifact ID.
      responses:
        '200':
          description: A page of durable session artifacts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionArtifactListResource'
                description: A page of durable artifacts published by a session.
        '400':
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '401':
          description: Authentication or project context was missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '403':
          description: The API key lacks the required permission.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '404':
          description: The requested session or event was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '409':
          description: The request conflicted with the current session state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '503':
          description: The service is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
  /agents/sessions/{session_id}/artifacts/{artifact_id}:
    get:
      operationId: retrieveAgentSessionArtifact
      summary: Retrieve an agent session artifact
      description: Retrieves immutable metadata for one durable session artifact. See session artifacts.
      tags:
      - Agents
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          minLength: 0
          maxLength: 1048576
        description: The ID of the session that owns the artifact.
      - name: artifact_id
        in: path
        required: true
        schema:
          type: string
          minLength: 0
          maxLength: 1048576
        description: The immutable session artifact ID.
      responses:
        '200':
          description: The requested session artifact.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionArtifactResource'
        '400':
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '401':
          description: Authentication or project context was missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '403':
          description: The API key lacks the required permission.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '404':
          description: The requested session or event was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '409':
          description: The request conflicted with the current session state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '503':
          description: The service is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
    delete:
      operationId: deleteAgentSessionArtifact
      summary: Delete an agent session artifact
      description: Deletes an immutable session artifact without deleting its live environment file or original Files API object. See session artifacts.
      tags:
      - Agents
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          minLength: 0
          maxLength: 1048576
        description: The ID of the session that owns the artifact.
      - name: artifact_id
        in: path
        required: true
        schema:
          type: string
          minLength: 0
          maxLength: 1048576
        description: The immutable session artifact ID.
      responses:
        '200':
          description: The deleted session artifact.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedSessionArtifactResource'
        '400':
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '401':
          description: Authentication or project context was missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '403':
          description: The API key lacks the required permission.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '404':
          description: The requested session or event was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '409':
          description: The request conflicted with the current session state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '503':
          description: The service is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
  /agents/sessions/{session_id}/artifacts/{artifact_id}/content:
    get:
      operationId: retrieveAgentSessionArtifactContent
      summary: Retrieve agent session artifact content
      description: Downloads immutable session artifact bytes after the execution environment expires. See session artifacts.
      tags:
      - Agents
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          minLength: 0
          maxLength: 1048576
        description: The ID of the session that owns the artifact.
      - name: artifact_id
        in: path
        required: true
        schema:
          type: string
          minLength: 0
          maxLength: 1048576
        description: The immutable session artifact ID.
      responses:
        '200':
          description: The immutable artifact contents.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '400':
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '401':
          description: Authentication or project context was missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '403':
          description: The API key lacks the required permission.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '404':
          description: The requested session or event was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '409':
          description: The request conflicted with the current session state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '503':
          description: The service is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
  /agents/sessions/{session_id}/events:
    get:
      operationId: listAgentSessionEvents
      summary: Stream agent session events
      description: Streams live events for an agent session. See session events.
      tags:
      - Agents
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          minLength: 0
          maxLength: 1048576
        description: The ID of the session.
      responses:
        '200':
          description: A live stream of session events.
          content:
            text/event-stream:
              schema:
                $ref: '#/components/schemas/SessionEvent'
        '400':
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '401':
          description: Authentication or project context was missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '403':
          description: The API key lacks the required permission.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '404':
          description: The requested session or event was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '409':
          description: The request conflicted with the current session state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '503':
          description: The service is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
      x-oai-streaming:
        request_field: null
        response_status_code: 200
    post:
      operationId: createAgentSessionEvents
      summary: Create agent session input events
      description: Submits message, cancellation, or tool-result events to a managed agent session. Cancellation can recover a still-open turn whose backend execution has ended by marking it cancelled and abandoning unpublished outputs. Saved results, published files, and existing terminal outcomes are preserved. HTTP 202 confirms acceptance, not durable completion. See session events.
      tags:
      - Agents
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          minLength: 0
          maxLength: 1048576
        description: The ID of the session.
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
          minLength: 1
          maxLength: 256
        description: An optional client-generated key that makes retries of submitted messages idempotent.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSessionEventsParams'
      responses:
        '202':
          description: The events were accepted.
        '400':
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '401':
          description: Authentication or project context was missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '403':
          description: The API key lacks the required permission.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '404':
          description: The requested session or event was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '409':
          description: The request conflicted with the current session state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '503':
          description: The service is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
  /agents/sessions/{session_id}/items:
    get:
      operationId: listAgentSessionItems
      summary: List agent session items
      description: Lists items produced by the session's root agent, including its interactions with subagents. Each subagent has its own item history. See inspecting agent output.
      tags:
      - Agents
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          minLength: 0
          maxLength: 1048576
        description: The ID of the session.
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          format: int64
          minimum: 1
          maximum: 100
          default: 20
        description: The maximum number of resources to return, between 1 and 100. Defaults to 20.
      - name: order
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/ListOrderParam'
          default: desc
        description: The order in which resources are returned. Defaults to `desc`.
      - name: after
        in: query
        required: false
        schema:
          type: string
          minLength: 0
          maxLength: 1048576
        description: Return resources after this resource ID in the selected order.
      responses:
        '200':
          description: A page of session items.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionItemListResource'
        '400':
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '401':
          description: Authentication or project context was missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '403':
          description: The API key lacks the required permission.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '404':
          description: The requested session or event was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '409':
          description: The request conflicted with the current session state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '503':
          description: The service is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
  /agents/sessions/{session_id}/turns:
    get:
      operationId: listAgentSessionTurns
      summary: List agent session turns
      description: Lists turns by creation time and turn ID. The after cursor is exclusive in the selected order. See session turns.
      tags:
      - Agents
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          minLength: 0
          maxLength: 1048576
        description: The ID of the session.
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          format: int64
          minimum: 1
          maximum: 100
          default: 20
        description: The maximum number of resources to return, between 1 and 100. Defaults to 20.
      - name: order
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/ListOrderParam'
          default: desc
        description: The order in which resources are returned. Defaults to `desc`.
      - name: after
        in: query
        required: false
        schema:
          type: string
          minLength: 0
          maxLength: 1048576
        description: Return resources after this resource ID in the selected order.
      responses:
        '200':
          description: A page of session turns.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionTurnListResource'
                description: A page of turns from an agent session or subagent.
        '400':
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '401':
          description: Authentication or project context was missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '404':
          description: The requested session or event was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '409':
          description: The request conflicted with the current session state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '503':
          description: The service is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
  /agents/sessions/{session_id}/turns/{turn_id}:
    get:
      operationId: retrieveAgentSessionTurn
      summary: Retrieve an agent session turn
      description: Retrieves a turn's current status, timestamps, usage, and error. Returns 404 if the turn does not belong to the session. See session turns.
      tags:
      - Agents
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          minLength: 0
          maxLength: 1048576
        description: The ID of the session that owns the turn.
      - name: turn_id
        in: path
        required: true
        schema:
          type: string
          minLength: 0
          maxLength: 1048576
        description: The ID of the turn.
      responses:
        '200':
          description: The requested turn.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TurnResource'
        '400':
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '401':
          description: Authentication or project context was missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '404':
          description: The requested session or event was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '409':
          description: The request conflicted with the current session state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
        '503':
          description: The service is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse-2'
components:
  schemas:
    EnvironmentStatusResource:
      type: string
      enum:
      - pending
      - connected
      - disconnected
      - expired
      - failed
      x-enumDescriptions:
      - ''
      - ''
      - ''
      - ''
      - ''
      description: The public lifecycle status of an execution environment.
    TurnObjectResource:
      type: string
      enum:
      - agent.session.turn
      default: agent.session.turn
      x-stainless-const: true
      description: The object type for a turn.
    SessionEventAgentSessionTurnFailed:
      type: object
      properties:
        type:
          type: string
          enum:
          - agent.session.turn.failed
          default: agent.session.turn.failed
          x-stainless-const: true
          description: The type of the object. Always `agent.session.turn.failed`.
        event_id:
          type: string
          minLength: 0
          description: The unique ID of the event.
        session_id:
          type: string
          minLength: 0
          description: The ID of the session associated with the event.
        turn_id:
          type: string
          minLength: 0
          description: The ID of the turn associated with the event.
        turn:
          $ref: '#/components/schemas/TurnResource'
          description: The failed turn.
        usage:
          anyOf:
          - $ref: '#/components/schemas/TokenUsageResource'
          - type: 'null'
          description: Token usage by the root agent during the turn, when available.
      required:
      - type
      - event_id
      - session_id
      - turn_id
      - turn
      - usage
      additionalProperties: false
      description: Emitted when a turn fails.
    SessionEventAgentSessionTurnOutputTextDelta:
      type: object
      properties:
        type:
          type: string
          enum:
          - agent.session.turn.output_text.delta
          default: agent.session.turn.output_text.delta
          x-stainless-const: true
          description: The type of the object. Always `agent.session.turn.output_text.delta`.
        event_id:
          type: string
          minLength: 0
          description: The unique ID of the event.
        session_id:
          type: string
          minLength: 0
          description: The ID of the session associated with the event.
        turn_id:
          type:
          - string
          - 'null'
          minLength: 0
          description: The ID of the turn associated with the event, when applicable.
        item_id:
          type: string
          minLength: 0
          description: The ID of the message item.
        output_index:
          type: integer
          format: int64
          minimum: 0
          maximum: 4294967295
          description: The index of the item in the turn output.
        content_index:
          type: integer
          format: int64
          minimum: 0
          maximum: 4294967295
          description: The index of the content part in the message.
        delta:
          type: string
          minLength: 0
          description: The text that was appended.
      required:
      - type
      - event_id
      - session_id
      - turn_id
      - item_id
      - output_index
      - content_index
      - delta
      additionalProperties: false
      description: Emitted when text is appended to an output text content part.
    AgentOutputItemResource:
      oneOf:
      - $ref: '#/components/schemas/AssistantMessageItemResource'
      - $ref: '#/components/schemas/ReasoningItemResource'
      - $ref: '#/components/schemas/FunctionCallItemResource'
      - $ref: '#/components/schemas/McpCallItemResource'
      - $ref: '#/components/schemas/WebSearchCallItemResource'
      - $ref: '#/components/schemas/CommandExecutionItemResource'
      - $ref: '#/components/schemas/CreateSubagentCallItemResource'
      - $ref: '#/components/schemas/SendSubagentInputCallItemResource'
      - $ref: '#/components/schemas/ResumeSubagentCallItemResource'
      - $ref: '#/components/schemas/WaitForSubagentsCallItemResource'
      - $ref: '#/components/schemas/InterruptSubagentCallItemResource'
      - $ref: '#/components/schemas/CloseSubagentCallItemResource'
      discriminator:
        propertyName: type
        mapping:
          message: '#/components/schemas/AssistantMessageItemResource'
          reasoning: '#/components/schemas/ReasoningItemResource'
          function_call: '#/components/schemas/FunctionCallItemResource'
          mcp_call: '#/components/schemas/McpCallItemResource'
          web_search_call: '#/components/schemas/WebSearchCallItemResource'
          command_execution: '#/components/schemas/CommandExecutionItemResource'
          interrupt_subagent_call: '#/components/schemas/InterruptSubagentCallItemResource'
          create_subagent_call: '#/components/schemas/CreateSubagentCallItemResource'
          send_subagent_input_call: '#/components/schemas/SendSubagentInputCallItemResource'
          resume_subagent_call: '#/components/schemas/ResumeSubagentCallItemResource'
          wait_for_subagents_call: '#/components/schemas/WaitForSubagentsCallItemResource'
          close_subagent_call: '#/components/schemas/CloseSubagentCallItemResource'
      x-oai-discriminator-values:
      - message
      - reasoning
      - function_call
      - mcp_call
      - web_search_call
      - command_execution
      - create_subagent_call
      - send_subagent_input_call
      - resume_subagent_call
      - wait_for_subagents_call
      - interrupt_subagent_call
      - close_subagent_call
      description: An output item produced by an agent.
    AgentToolResourceFunction:
      type: object
      properties:
        type:
          type: string
          enum:
          - function
          default: function
          x-stainless-const: true
          description: The type of the object. Always `function`.
        name:
          type: string
          minLength: 0
          description: The name of the function.
        description:
          type: string
          minLength: 0
          description: A description of what the function does.
        parameters:
          type: object
          additionalProperties: {}
          propertyNames:
            type: string
            minLength: 0
          minProperties: 0
          description: A JSON Schema object describing the function's arguments.
        defer_loading:
          type: boolean
          description: Whether the function is deferred and discovered through tool search.
      required:
      - type
      - name
      - description
      - parameters
      - defer_loading
      additionalProperties: false
      description: A function defined by the application.
    HostedPluginResource:
      oneOf:
      - $ref: '#/components/schemas/HostedPluginResourceInline'
      discriminator:
        propertyName: type
        mapping:
          inline: '#/components/schemas/HostedPluginResourceInline'
      x-oai-discriminator-values:
      - inline
      description: A plugin installed in an OpenAI-hosted environment.
    AgentToolResourceMcp:
      type: object
      properties:
        type:
          type: string
          enum:
          - mcp
          default: mcp
          x-stainless-const: true
          description: The type of the object. Always `mcp`.
        server_label:
          type: string
          minLength: 0
          description: A label used to identify the MCP server in tool calls.
        credential_id:
          type:
          - string
          - 'null'
          minLength: 0
          description: The attached vault credential selected for this MCP server, if any. Optional when exactly one attached credential matches the server URL.
        transport:
          $ref: '#/components/schemas/McpTransportResource'
          description: The transport used to connect to the MCP server.
        request_metadata:
          type: object
          additionalProperties: {}
          propertyNames:
            type: string
            minLength: 0
          minProperties: 0
          description: Metadata included with requests to this MCP server.
        allowed_tools:
          type:
          - array
          - 'null'
          items:
            type: string
            minLength: 0
          minItems: 0
          maxItems: 2000
          description: The MCP tools the agent may call.
        required:
          type: boolean
          description: Whether this MCP server must initialize before the first turn.
        connection_origin:
          $ref: '#/components/schemas/McpConnectionOriginResource'
          description: Where outbound MCP HTTP connections originate.
      required:
      - type
      - server_label
      - credential_id
      - transport
      - request_metadata
      - allowed_tools
      - required
      - connection_origin
      additionalProperties: false
      description: Tools provided by a remote MCP server.
    ReasoningEffortResource:
      type: string
      enum:
      - none
      - minimal
      - low
      - medium
      - high
      - xhigh
      - max
      description: The amount of reasoning effort used by an agent.
    PublicEnvironmentResource:
      type: object
      properties:
        id:
          type: string
          minLength: 0
          description: The ID of the environment.
        object:
          type: string
          enum:
          - agent.environment
          default: agent.environment
          x-stainless-const: true
          description: The object type. Always `agent.environment`.
        type:
          $ref: '#/components/schemas/EnvironmentTypeResource'
          description: Whether the environment is hosted by OpenAI or by the application.
        status:
          $ref: '#/components/schemas/EnvironmentStatusResource'
          description: The current environment connection status.
        plugins:
          type: array
          items:
            $ref: '#/components/schemas/HostedPluginResource'
          minItems: 0
          maxItems: 2000
          description: Plugins installed in the environment, without their archive contents.
        skills:
          type: array
          items:
            $ref: '#/components/schemas/HostedSkillResource'
          minItems: 0
          maxItems: 2000
          description: Skills installed in the environment, without their archive contents.
        files:
          type: array
          items:
            $ref: '#/components/schemas/HostedEnvironmentFileResource'
          minItems: 0
          maxItems: 2000
          description: Files installed in the environment, without their contents.
      required:
      - id
      - object
      - type
      - status
      - files
      - skills
      - plugins
      additionalProperties: false
      description: Safe metadata for a first-class execution environment.
    TurnStatusResource:
      type: string
      enum:
      - queued
      - in_progress
      - waiting
      - completed
      - failed
      - cancelled
      x-enumDescriptions:
      - The turn is waiting to start.
      - The turn is in progress.
      - The turn is waiting for external input.
      - The turn completed successfully.
      - The turn failed.
      - The turn was cancelled.
      description: The current status of a turn.
    EnvironmentResourceNone:
      type: object
      properties:
        type:
          type: string
          enum:
          - none
          default: none
          x-stainless-const: true
          description: The type of the object. Always `none`.
      required:
      - type
      additionalProperties: false
      description: The session talks to CCA without selecting or provisioning an execution environment.
    HostedTemplateFileResource:
      oneOf:
      - $ref: '#/components/schemas/HostedTemplateFileResourceFileId'
      - $ref: '#/components/schemas/HostedTemplateFileResourceInline'
      discriminator:
        propertyName: type
        mapping:
          file_id: '#/components/schemas/HostedTemplateFileResourceFileId'
          inline: '#/components/schemas/HostedTemplateFileResourceInline'
      x-oai-discriminator-values:
      - file_id
      - inline
      description: Safe metadata for a file configured by an environment template.
    AgentToolConfigParamProgrammaticToolCalling:
      type: object
      properties:
        type:
          type: string
          enum:
          - programmatic_tool_calling
          default: programmatic_tool_calling
          x-stainless-const: true
          description: The type of the object. Always `programmatic_tool_calling`.
        enabled:
          type: boolean
          default: true
          description: Whether tools can be called from model-generated code. Defaults to `true`.
      required:
      - type
      additionalProperties: false
      description: Enables calling tools from model-generated code.
    SubagentStatusResource:
      type: string
      enum:
      - active
      - closed
      x-enumDescriptions:
      - The subagent remains available, including while idle between turns.
      - The subagent is closed.
      description: The current status of a subagent.
    TokenUsageResource:
      type: object
      properties:
        input_tokens:
          type: integer
          format: int64
          description: The number of input tokens used by the agent.
        input_tokens_details:
          $ref: '#/components/schemas/InputTokensDetailsResource'
          description: A breakdown of the agent's input token usage.
        output_tokens:
          type: integer
          format: int64
          description: The number of output tokens generated by the agent.
        output_tokens_details:
          $ref: '#/components/schemas/OutputTokensDetailsResource'
          description: A breakdown of the agent's output token usage.
        total_tokens:
          type: integer
          format: int64
          description: The total number of input and output tokens used by the agent.
      required:
      - input_tokens
      - input_tokens_details
      - output_tokens
      - output_tokens_details
      - total_tokens
      additionalProperties: false
      description: Recorded token usage for a session or turn. Usage is best effort and may change.
    EnvironmentResourceOpenaiHosted:
      type: object
      properties:
        type:
          type: string
          enum:
          - openai_hosted
          default: openai_hosted
          x-stainless-const: true
          description: The type of the object. Always `openai_hosted`.
        id:
          type: string
          minLength: 0
          description: The public ID of the environment.
        packages:
          $ref: '#/components/schemas/EnvironmentPackagesResource'
          description: Packages installed in the environment.
        network:
          $ref: '#/components/schemas/NetworkPolicyResource'
          description: The effective network access policy for the environment.
        capability_directories:
          type: array
          items:
            type: string
            minLength: 0
          minItems: 0
          maxItems: 2000
          description: Directories that contain capabilities exposed to the agent.
        skills:
          type: array
          items:
            $ref: '#/components/schemas/HostedSkillResource'
          minItems: 0
          maxItems: 2000
[...]
