openapi: 3.2.0
info:
  title: OpenAI Videos API
  description: The OpenAI REST API. Please see https://platform.openai.com/docs/api-reference for more details.
  version: 2.3.0
  termsOfService: https://openai.com/policies/terms-of-use
  contact:
    name: OpenAI Support
    url: https://help.openai.com/
  license:
    name: MIT
    identifier: MIT
servers:
- url: https://api.openai.com/v1
security:
- ApiKeyAuth: []
tags:
- name: Videos
paths:
  /videos:
    post:
      tags:
      - Videos
      summary: Create a video
      description: Create a new video generation job from a prompt and optional reference assets.
      operationId: createVideo
      parameters: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateVideoMultipartBody'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVideoJsonBody'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoResource'
        '429':
          $ref: '#/components/responses/InferenceRateLimited'
        '503':
          $ref: '#/components/responses/InferenceServiceUnavailable'
      deprecated: true
      x-oaiMeta:
        group: videos
        path: create
        examples:
          request:
            curl: "curl https://api.openai.com/v1/videos \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n  -F \"model=sora-2\" \\\n  -F \"prompt=A calico cat playing a piano on stage\"\n"
            javascript: 'import OpenAI from ''openai'';


              const openai = new OpenAI();


              const video = await openai.videos.create({ prompt: ''A calico cat playing a piano on stage'' });


              console.log(video.id);

              '
            python: "from openai import OpenAI\n\nclient = OpenAI()\nvideo = client.videos.create(\n    prompt=\"A calico cat playing a piano on stage\",\n)\nprint(video.id)\n"
            go: "package main\n\nimport (\n  \"context\"\n  \"fmt\"\n\n  \"github.com/openai/openai-go\"\n)\n\nfunc main() {\n  client := openai.NewClient()\n  video, err := client.Videos.New(context.TODO(), openai.VideoNewParams{\n    Prompt: \"A calico cat playing a piano on stage\",\n  })\n  if err != nil {\n    panic(err.Error())\n  }\n  fmt.Printf(\"%+v\\n\", video.ID)\n}\n"
            ruby: 'require "openai"


              openai = OpenAI::Client.new


              video = openai.videos.create(prompt: "A calico cat playing a piano on stage")


              puts(video)

              '
            java: "package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\nimport com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.models.videos.Video;\nimport com.openai.models.videos.VideoCreateParams;\n\npublic final class Main {\n    private Main() {}\n\n    public static void main(String[] args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\n        VideoCreateParams params = VideoCreateParams.builder()\n            .prompt(\"A calico cat playing a piano on stage\")\n            .build();\n        Video video = client.videos().create(params);\n    }\n}\n"
          response: "{\n  \"id\": \"video_123\",\n  \"object\": \"video\",\n  \"model\": \"sora-2\",\n  \"status\": \"queued\",\n  \"progress\": 0,\n  \"created_at\": 1712697600,\n  \"size\": \"1024x1792\",\n  \"seconds\": \"8\",\n  \"quality\": \"standard\"\n}\n"
    get:
      tags:
      - Videos
      summary: List videos
      description: List recently generated videos for the current project.
      operationId: ListVideos
      parameters:
      - name: limit
        in: query
        description: Number of items to retrieve
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 100
      - name: order
        in: query
        description: Sort order of results by timestamp. Use `asc` for ascending order or `desc` for descending order.
        required: false
        schema:
          $ref: '#/components/schemas/OrderEnum'
      - name: after
        in: query
        description: Identifier for the last item from the previous pagination request
        required: false
        schema:
          description: Identifier for the last item from the previous pagination request
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoListResource'
      deprecated: true
      x-oaiMeta:
        group: videos
        path: list for the organization.
        examples:
          request:
            curl: "curl https://api.openai.com/v1/videos \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\"\n"
            javascript: "import OpenAI from 'openai';\n\nconst openai = new OpenAI();\n\n// Automatically fetches more pages as needed.\nfor await (const video of openai.videos.list()) {\n  console.log(video.id);\n}\n"
            python: 'from openai import OpenAI


              client = OpenAI()

              page = client.videos.list()

              page = page.data[0]

              print(page.id)

              '
            go: "package main\n\nimport (\n  \"context\"\n  \"fmt\"\n\n  \"github.com/openai/openai-go\"\n)\n\nfunc main() {\n  client := openai.NewClient()\n  page, err := client.Videos.List(context.TODO(), openai.VideoListParams{\n\n  })\n  if err != nil {\n    panic(err.Error())\n  }\n  fmt.Printf(\"%+v\\n\", page)\n}\n"
            ruby: 'require "openai"


              openai = OpenAI::Client.new


              page = openai.videos.list


              puts(page)

              '
            java: "package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\nimport com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.models.videos.VideoListPage;\nimport com.openai.models.videos.VideoListParams;\n\npublic final class Main {\n    private Main() {}\n\n    public static void main(String[] args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\n        VideoListPage page = client.videos().list();\n    }\n}\n"
          response: "{\n  \"data\": [\n    {\n      \"id\": \"video_123\",\n      \"object\": \"video\",\n      \"model\": \"sora-2\",\n      \"status\": \"completed\"\n    }\n  ],\n  \"object\": \"list\"\n}\n"
  /videos/characters:
    post:
      tags:
      - Videos
      summary: Create a character
      description: Create a character from an uploaded video.
      operationId: CreateVideoCharacter
      parameters: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateVideoCharacterBody'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoCharacterResource'
      deprecated: true
  /videos/characters/{character_id}:
    get:
      tags:
      - Videos
      summary: Retrieve a character
      description: Fetch a character.
      operationId: GetVideoCharacter
      parameters:
      - name: character_id
        in: path
        description: The identifier of the character to retrieve.
        required: true
        schema:
          example: char_123
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoCharacterResource'
      deprecated: true
  /videos/edits:
    post:
      tags:
      - Videos
      summary: Create a video edit
      description: Create a new video generation job by editing a source video or existing generated video.
      operationId: CreateVideoEdit
      parameters: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateVideoEditMultipartBody'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVideoEditJsonBody'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoResource'
        '429':
          $ref: '#/components/responses/InferenceRateLimited'
        '503':
          $ref: '#/components/responses/InferenceServiceUnavailable'
      deprecated: true
  /videos/extensions:
    post:
      tags:
      - Videos
      summary: Create a video extension
      description: Create an extension of a completed video.
      operationId: CreateVideoExtend
      parameters: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateVideoExtendMultipartBody'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVideoExtendJsonBody'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoResource'
        '429':
          $ref: '#/components/responses/InferenceRateLimited'
        '503':
          $ref: '#/components/responses/InferenceServiceUnavailable'
      deprecated: true
  /videos/{video_id}:
    get:
      tags:
      - Videos
      summary: Retrieve a video
      description: Fetch the latest metadata for a generated video.
      operationId: GetVideo
      parameters:
      - name: video_id
        in: path
        description: The identifier of the video to retrieve.
        required: true
        schema:
          example: video_123
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoResource'
      deprecated: true
      x-oaiMeta:
        group: videos
        path: retrieve matching the provided identifier.
        examples:
          response: ''
          request:
            javascript: 'import OpenAI from ''openai'';


              const client = new OpenAI();


              const video = await client.videos.retrieve(''video_123'');


              console.log(video.id);

              '
            python: "from openai import OpenAI\n\nclient = OpenAI()\nvideo = client.videos.retrieve(\n    \"video_123\",\n)\nprint(video.id)\n"
            go: "package main\n\nimport (\n  \"context\"\n  \"fmt\"\n\n  \"github.com/openai/openai-go\"\n)\n\nfunc main() {\n  client := openai.NewClient()\n  video, err := client.Videos.Get(context.TODO(), \"video_123\")\n  if err != nil {\n    panic(err.Error())\n  }\n  fmt.Printf(\"%+v\\n\", video.ID)\n}\n"
            ruby: 'require "openai"


              openai = OpenAI::Client.new


              video = openai.videos.retrieve("video_123")


              puts(video)

              '
            java: "package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\nimport com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.models.videos.Video;\nimport com.openai.models.videos.VideoRetrieveParams;\n\npublic final class Main {\n    private Main() {}\n\n    public static void main(String[] args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\n        Video video = client.videos().retrieve(\"video_123\");\n    }\n}\n"
    delete:
      tags:
      - Videos
      summary: Delete a video
      description: Permanently delete a completed or failed video and its stored assets.
      operationId: DeleteVideo
      parameters:
      - name: video_id
        in: path
        description: The identifier of the video to delete.
        required: true
        schema:
          example: video_123
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedVideoResource'
      deprecated: true
      x-oaiMeta:
        group: videos
        path: delete
        examples:
          response: ''
          request:
            javascript: 'import OpenAI from ''openai'';


              const client = new OpenAI();


              const video = await client.videos.delete(''video_123'');


              console.log(video.id);

              '
            python: "from openai import OpenAI\n\nclient = OpenAI()\nvideo = client.videos.delete(\n    \"video_123\",\n)\nprint(video.id)\n"
            go: "package main\n\nimport (\n  \"context\"\n  \"fmt\"\n\n  \"github.com/openai/openai-go\"\n)\n\nfunc main() {\n  client := openai.NewClient()\n  video, err := client.Videos.Delete(context.TODO(), \"video_123\")\n  if err != nil {\n    panic(err.Error())\n  }\n  fmt.Printf(\"%+v\\n\", video.ID)\n}\n"
            ruby: 'require "openai"


              openai = OpenAI::Client.new


              video = openai.videos.delete("video_123")


              puts(video)

              '
            java: "package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\nimport com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.models.videos.VideoDeleteParams;\nimport com.openai.models.videos.VideoDeleteResponse;\n\npublic final class Main {\n    private Main() {}\n\n    public static void main(String[] args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\n        VideoDeleteResponse video = client.videos().delete(\"video_123\");\n    }\n}\n"
  /videos/{video_id}/content:
    get:
      tags:
      - Videos
      summary: Download video content
      description: 'Download the generated video bytes or a derived preview asset.


        Streams the rendered video content for the specified video job.'
      operationId: RetrieveVideoContent
      parameters:
      - name: video_id
        in: path
        description: The identifier of the video whose media to download.
        required: true
        schema:
          example: video_123
          type: string
      - name: variant
        in: query
        description: Which downloadable asset to return. Defaults to the MP4 video.
        required: false
        schema:
          $ref: '#/components/schemas/VideoContentVariant'
      responses:
        '200':
          description: The video bytes or preview asset that matches the requested variant.
          content:
            video/mp4:
              schema:
                type: string
                format: binary
            image/webp:
              schema:
                type: string
                format: binary
            application/json:
              schema:
                type: string
      deprecated: true
      x-oaiMeta:
        group: videos
        path: content
        examples:
          response: ''
          request:
            javascript: 'import OpenAI from ''openai'';


              const client = new OpenAI();


              const response = await client.videos.downloadContent(''video_123'');


              console.log(response);


              const content = await response.blob();

              console.log(content);

              '
            python: "from openai import OpenAI\n\nclient = OpenAI()\nresponse = client.videos.download_content(\n    video_id=\"video_123\",\n)\nprint(response)\ncontent = response.read()\nprint(content)\n"
            go: "package main\n\nimport (\n  \"context\"\n  \"fmt\"\n\n  \"github.com/openai/openai-go\"\n)\n\nfunc main() {\n  client := openai.NewClient()\n  response, err := client.Videos.DownloadContent(\n    context.TODO(),\n    \"video_123\",\n    openai.VideoDownloadContentParams{\n\n    },\n  )\n  if err != nil {\n    panic(err.Error())\n  }\n  fmt.Printf(\"%+v\\n\", response)\n}\n"
            ruby: 'require "openai"


              openai = OpenAI::Client.new


              response = openai.videos.download_content("video_123")


              puts(response)

              '
            java: "package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\nimport com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.core.http.HttpResponse;\nimport com.openai.models.videos.VideoDownloadContentParams;\n\npublic final class Main {\n    private Main() {}\n\n    public static void main(String[] args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\n        HttpResponse response = client.videos().downloadContent(\"video_123\");\n    }\n}\n"
  /videos/{video_id}/remix:
    post:
      tags:
      - Videos
      summary: Create a video remix
      description: Create a remix of a completed video using a refreshed prompt.
      operationId: CreateVideoRemix
      parameters:
      - name: video_id
        in: path
        description: The identifier of the completed video to remix.
        required: true
        schema:
          example: video_123
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateVideoRemixBody'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVideoRemixBody'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoResource'
        '429':
          $ref: '#/components/responses/InferenceRateLimited'
        '503':
          $ref: '#/components/responses/InferenceServiceUnavailable'
      deprecated: true
      x-oaiMeta:
        group: videos
        path: remix using the provided prompt.
        examples:
          request:
            curl: "curl -X POST https://api.openai.com/v1/videos/video_123/remix \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"prompt\": \"Extend the scene with the cat taking a bow to the cheering audience\"\n  }'\n"
            javascript: 'import OpenAI from ''openai'';


              const client = new OpenAI();


              const video = await client.videos.remix(''video_123'', { prompt: ''Extend the scene with the cat taking a bow to the cheering audience'' });


              console.log(video.id);

              '
            python: "from openai import OpenAI\n\nclient = OpenAI()\nvideo = client.videos.remix(\n    video_id=\"video_123\",\n    prompt=\"Extend the scene with the cat taking a bow to the cheering audience\",\n)\nprint(video.id)\n"
            go: "package main\n\nimport (\n  \"context\"\n  \"fmt\"\n\n  \"github.com/openai/openai-go\"\n)\n\nfunc main() {\n  client := openai.NewClient()\n  video, err := client.Videos.Remix(\n    context.TODO(),\n    \"video_123\",\n    openai.VideoRemixParams{\n      Prompt: \"Extend the scene with the cat taking a bow to the cheering audience\",\n    },\n  )\n  if err != nil {\n    panic(err.Error())\n  }\n  fmt.Printf(\"%+v\\n\", video.ID)\n}\n"
            ruby: 'require "openai"


              openai = OpenAI::Client.new


              video = openai.videos.remix("video_123", prompt: "Extend the scene with the cat taking a bow to the cheering audience")


              puts(video)

              '
            java: "package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\nimport com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.models.videos.Video;\nimport com.openai.models.videos.VideoRemixParams;\n\npublic final class Main {\n    private Main() {}\n\n    public static void main(String[] args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\n        VideoRemixParams params = VideoRemixParams.builder()\n            .videoId(\"video_123\")\n            .prompt(\"Extend the scene with the cat taking a bow to the cheering audience\")\n            .build();\n        Video video = client.videos().remix(params);\n    }\n}\n"
          response: "{\n  \"id\": \"video_456\",\n  \"object\": \"video\",\n  \"model\": \"sora-2\",\n  \"status\": \"queued\",\n  \"progress\": 0,\n  \"created_at\": 1712698600,\n  \"size\": \"720x1280\",\n  \"seconds\": \"8\",\n  \"remixed_from_video_id\": \"video_123\"\n}\n"
components:
  schemas:
    _MisalignmentSteer:
      properties:
        message:
          type: string
          description: The public continuation instruction.
      type: object
      required:
      - message
    CreateVideoMultipartBody:
      properties:
        model:
          $ref: '#/components/schemas/VideoModel'
          description: 'The video generation model to use (allowed values: sora-2, sora-2-pro). Defaults to `sora-2`.'
        prompt:
          type: string
          maxLength: 32000
          minLength: 1
          description: Text prompt that describes the video to generate.
        input_reference:
          oneOf:
          - type: string
            format: binary
            description: Optional reference asset upload or reference object that guides generation.
          - $ref: '#/components/schemas/ImageRefParam-2'
            description: Optional reference asset upload or reference object that guides generation. Provide exactly one of `image_url` or `file_id` when using an object.
        seconds:
          $ref: '#/components/schemas/VideoSeconds'
          description: 'Clip duration in seconds (allowed values: 4, 8, 12). Defaults to 4 seconds.'
        size:
          $ref: '#/components/schemas/VideoSize'
          description: 'Output resolution formatted as width x height (allowed values: 720x1280, 1280x720, 1024x1792, 1792x1024). Defaults to 720x1280.'
      type: object
      required:
      - prompt
      title: Create video multipart request
      description: Multipart parameters for creating a new video generation job.
    VideoCharacterResource:
      properties:
        id:
          anyOf:
          - type: string
            description: Identifier for the character creation cameo.
          - type: 'null'
        name:
          anyOf:
          - type: string
            description: Display name for the character.
          - type: 'null'
        created_at:
          type: integer
          format: unixtime
          description: Unix timestamp (in seconds) when the character was created.
      type: object
      required:
      - id
      - name
      - created_at
    _MisalignmentErrorType:
      anyOf:
      - type: string
      - type: string
        enum:
        - potentially_unintended_data_transfer
        - potentially_unintended_data_access
        - potentially_unintended_destructive_activity
        - other
    CreateVideoEditMultipartBody:
      properties:
        video:
          oneOf:
          - type: string
            format: binary
            description: Reference to the completed video to edit.
          - $ref: '#/components/schemas/VideoReferenceInputParam'
            description: Reference to the completed video to edit.
        prompt:
          type: string
          maxLength: 32000
          minLength: 1
          description: Text prompt that describes how to edit the source video.
      type: object
      required:
      - video
      - prompt
      title: Create video edit multipart request
      description: Parameters for editing an existing generated video.
    MisalignmentErrorDetailsResource:
      properties:
        error_type:
          $ref: '#/components/schemas/_MisalignmentErrorType'
          description: An optional classification; clients must accept additional values.
        detailed_explanation:
          type: string
          description: The public explanation for this block.
        steer:
          $ref: '#/components/schemas/_MisalignmentSteer'
          description: An optional public continuation instruction.
      type: object
      required: []
    DeletedVideoResource:
      properties:
        object:
          type: string
          enum:
          - video.deleted
          description: The object type that signals the deletion response.
          default: video.deleted
          x-stainless-const: true
        deleted:
          type: boolean
          description: Indicates that the video resource was deleted.
        id:
          type: string
          description: Identifier of the deleted video.
      type: object
      required:
      - object
      - deleted
      - id
      title: Deleted video response
      description: Confirmation payload returned after deleting a video.
    Error:
      type: object
      properties:
        code:
          anyOf:
          - type: string
          - type: 'null'
        message:
          type: string
        param:
          anyOf:
          - type: string
          - type: 'null'
        type:
          type: string
        misalignment:
          $ref: '#/components/schemas/MisalignmentErrorDetailsResource'
      required:
      - type
      - message
      - param
      - code
    VideoStatus:
      type: string
      enum:
      - queued
      - in_progress
      - completed
      - failed
    Error-2:
      properties:
        code:
          type: string
          description: A machine-readable error code that was returned.
        message:
          type: string
          description: A human-readable description of the error that was returned.
        headers:
          additionalProperties:
            type: string
            description: The retry header value.
          type: object
          description: The Retry-After and Retry-After-Ms headers returned with the original error, if any.
          x-oaiTypeLabel: map
        misalignment:
          $ref: '#/components/schemas/MisalignmentErrorDetailsResource'
      type: object
      required:
      - code
      - message
      title: Error
      description: An error that occurred while generating the response.
    ImageRefParam-2:
      properties:
        image_url:
          type: string
          maxLength: 20971520
          format: uri
          description: A fully qualified URL or base64-encoded data URL.
        file_id:
          type: string
          example: file-123
      type: object
      required: []
    OrderEnum:
      type: string
      enum:
      - asc
      - desc
    CreateVideoExtendMultipartBody:
      properties:
        video:
          oneOf:
          - $ref: '#/components/schemas/VideoReferenceInputParam'
            description: Reference to the completed video to extend.
          - type: string
            format: binary
            description: Reference to the completed video to extend.
        prompt:
          type: string
          maxLength: 32000
          minLength: 1
          description: Updated text prompt that directs the extension generation.
        seconds:
          $ref: '#/components/schemas/VideoSeconds'
          description: 'Length of the newly generated extension segment in seconds (allowed values: 4, 8, 12, 16, 20).'
      type: object
      required:
      - video
      - prompt
      - seconds
      title: Create video extension multipart request
      description: Multipart parameters for extending an existing generated video.
    VideoResource:
      properties:
        id:
          type: string
          description: Unique identifier for the video job.
        object:
          type: string
          enum:
          - video
          description: The object type, which is always `video`.
          default: video
          x-stainless-const: true
        model:
          $ref: '#/components/schemas/VideoModel'
          description: The video generation model that produced the job.
        status:
          $ref: '#/components/schemas/VideoStatus'
          description: Current lifecycle status of the video job.
        progress:
          type: integer
          description: Approximate completion percentage for the generation task.
        created_at:
          type: integer
          format: unixtime
          description: Unix timestamp (seconds) for when the job was created.
        completed_at:
          anyOf:
          - type: integer
            format: unixtime
            description: Unix timestamp (seconds) for when the job completed, if finished.
          - type: 'null'
        expires_at:
          anyOf:
          - type: integer
            format: unixtime
            description: Unix timestamp (seconds) for when the downloadable assets expire, if set.
          - type: 'null'
        prompt:
          anyOf:
          - type: string
            description: The prompt that was used to generate the video.
          - type: 'null'
        size:
          $ref: '#/components/schemas/VideoSize'
          description: The resolution of the generated video.
        seconds:
          type: string
          description: Duration of the generated clip in seconds. For extensions, this is the stitched total duration.
        remixed_from_video_id:
          anyOf:
          - type: string
            description: Identifier of the source video if this video is a remix.
          - type: 'null'
        error:
          anyOf:
          - $ref: '#/components/schemas/Error-2'
            description: Error payload that explains why generation failed, if applicable.
          - type: 'null'
      type: object
      required:
      - id
      - object
      - model
      - status
      - progress
      - created_at
      - completed_at
      - expires_at
      - prompt
      - size
      - seconds
      - remixed_from_video_id
      - error
      title: Video job
      description: Structured information describing a generated video job.
    CreateVideoExtendJsonBody:
      properties:
        video:
          $ref: '#/components/schemas/VideoReferenceInputParam'
          description: Reference to the completed video to extend.
        prompt:
          type: string
          maxLength: 32000
          minLength: 1
          description: Updated text prompt that directs the extension generation.
        seconds:
          $ref: '#/components/schemas/VideoSeconds'
          description: 'Length of the newly generated extension segment in seconds (allowed values: 4, 8, 12, 16, 20).'
      type: object
      required:
      - video
      - prompt
      - seconds
      title: Create video extension JSON request
      description: JSON parameters for extending an existing generated video.
    CreateVideoEditJsonBody:
      properties:
        video:
          $ref: '#/components/schemas/VideoReferenceInputParam'
          description: Reference to the completed video to edit.
        prompt:
          type: string
          maxLength: 32000
          minLength: 1
          description: Text prompt that describes how to edit the source video.
      type: object
      required:
      - video
      - prompt
      title: Create video edit JSON request
      description: JSON parameters for editing an existing generated video.
    CreateVideoJsonBody:
      properties:
        model:
          $ref: '#/components/schemas/VideoModel'
          description: 'The video generation model to use (allowed values: sora-2, sora-2-pro). Defaults to `sora-2`.'
        prompt:
          type: string
          maxLength: 32000
          minLength: 1
          description: Text prompt that describes the video to generate.
        input_reference:
          $ref: '#/components/schemas/ImageRefParam-2'
          description: Optional reference object that guides generation. Provide exactly one of `image_url` or `file_id`.
        seconds:
          $ref: '#/components/schemas/VideoSeconds'
          description: 'Clip duration in seconds (allowed values: 4, 8, 12). Defaults to 4 seconds.'
        size:
          $ref: '#/components/schemas/VideoSize'
          description: 'Output resolution formatted as width x height (allowed values: 720x1280, 1280x720, 1024x1792, 1792x1024). Defaults to 720x1280.'
      type: object
      required:
      - prompt
      title: Create video JSON request
      description: JSON parameters for creating a new video generation job.
    CreateVideoCharacterBody:
      properties:
        video:
          type: string
          format: binary
          description: Video file used to create a character.
        name:
          type: string
          maxLength: 80
          minLength: 1
          description: Display name for this API character.
      type: object
      required:
      - video
      - name
      title: Create character request
      description: Parameters for creating a character from an uploaded video.
    VideoListResource:
      properties:
        object:
          type: string
          enum:
          - list
          description: The type of object returned, must be `list`.
          default: list
          x-stainless-const: true
        data:
          items:
            $ref: '#/components/schemas/VideoResource'
          type: array
          description: A list of items
        first_id:
          anyOf:
          - type: string
            description: The ID of the first item in the list.
          - type: 'null'
        last_id:
          anyOf:
          - type: string
            description: The ID of the last item in the list.
          - type: 'null'
        has_more:
          type: boolean
          description: Whether there are more items available.
      type: object
      required:
      - object
      - data
      - first_id
      - last_id
      - has_more
    VideoSize:
      type: string
      enum:
      - 720x1280
      - 1280x720
      - 1024x1792
      - 1792x1024
    ErrorResponse:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error'
      required:
      - error
    VideoSeconds:
      type: string
      enum:
      - '4'
      - '8'
      - '12'
    CreateVideoRemixBody:
      properties:
        prompt:
          type: string
          maxLength: 32000
          minLength: 1
          description: Updated text prompt that directs the remix generation.
      type: object
      required:
      - prompt
      title: Create video remix request
      description: Parameters for remixing an existing generated video.
    VideoContentVariant:
      type: string
      enum:
      - video
      - thumbnail
      - spritesheet
    VideoModel:
      anyOf:
      - type: string
      - type: string
        enum:
        - sora-2
        - sora-2-pro
        - sora-2-2025-10-06
        - sora-2-pro-2025-10-06
        - sora-2-2025-12-08
    VideoReferenceInputParam:
      properties:
        id:
          type: string
          description: The identifier of the completed video.
          example: video_123
      type: object
      required:
      - id
      description: Reference to the completed video.
  responses:
    InferenceServiceUnavailable:
      description: The service is temporarily unavailable. A server_is_overloaded error means the requested model is temporarily overloaded; retry after a brief delay.
      headers:
        Retry-After:
          description: The minimum number of seconds to wait before retrying. This header is returned when the server has computed a retry delay and may be omitted.
          schema:
            type: integer
            minimum: 1
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            serverOverloaded:
              summary: The requested model is temporarily overloaded
              value:
                error:
                  message: The model is temporarily overloaded. Please retry your request after a brief delay.
                  type: service_unavailable_error
                  param: null
                  code: server_is_overloaded
    InferenceRateLimited:
      description: The request was rejected because a rate limit was exceeded. A slow_down error means traffic increased too quickly; reduce your request rate, then increase it gradually.
      headers:
        Retry-After:
          description: The minimum number of seconds to wait before retrying. This header is returned when the server has computed a retry delay and may be omitted.
          schema:
            type: integer
            minimum: 1
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            slowDown:
              summary: Traffic increased too quickly
              value:
                error:
                  message: Your request rate increased too quickly. Please reduce the request rate and gradually increase it again.
                  type: rate_limit_error
                  param: null
                  code: slow_down
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: bearer
    AdminApiKeyAuth:
      type: http
      scheme: bearer
x-oaiMeta:
  navigationGroups:
  - id: responses
    title: Responses API
  - id: webhooks
    title: Webhooks
  - id: endpoints
    title: Platform APIs
  - id: vector_stores
    title: Vector stores
  - id: chatkit
    title: ChatKit
    beta: true
  - id: containers
    title: Containers
  - id: live
    title: Live (alpha)
  - id: realtime
    title: Realtime
  - id: chat
    title: Chat Completions
  - id: assistants
    title: Assistants
    deprecated: true
  - id: administration
    title: Administration
  - id: legacy
    title: Legacy
  groups:
  - id: responses-streaming
    title: Streaming events
    description: 'When you [create a Response](https://developers.openai.com/api/reference/resources/responses/methods/create) with

      `stream` set to `true`, the server will emit server-sent events to the

      client as the Response is generated. This section contains the events that

      are emitted by the server.


      When processing a `compaction_trigger`, `response.compaction.compacting`

      reports newly sampled summary output at most once every 30 seconds. It

      carries no summary content and does not modify the compaction output item.

      The existing `response.output_item.added` and `response.output_item.done`

      events mark that item''s lifecycle; `response.output_item.done` carries its

      final encrypted content. A short compaction may finish without emitting a

      progress event.


      [Learn more about streaming responses](https://developers.openai.com/api/docs/guides/streaming-responses).

      '
    navigationGroup: responses
    sections:
    - type: object
      key: ResponseCreatedEvent
      path: <auto>
    - type: object
      key: ResponseInProgressEvent
      path: <auto>
    - type: object
      key: ResponseCompletedEvent
      path: <auto>
    - type: object
      key: ResponseFailedEvent
      path: <auto>
    - type: object
      key: ResponseIncompleteEvent
      path: <auto>
    - type: object
      key: ResponseOutputItemAddedEvent
      path: <auto>
    - type: object
      key: ResponseOutputItemDoneEvent
      path: <auto>
    - type: object
      key: ResponseCompactionCompactingEvent
      path: <auto>
    - type: object
      key: ResponseContentPartAddedEvent
      path: <auto>
    - type: object
      key: ResponseContentPartDoneEvent
      path: <auto>
    - type: object
      key: ResponseTextDeltaEvent
      path: response/output_text/delta
    - type: object
      key: ResponseTextDoneEvent
      path: response/output_text/done
    - type: object
      key: ResponseRefusalDeltaEvent
      path: <auto>
    - type: object
      key: ResponseRefusalDoneEvent
      path: <auto>
    - type: object
      key: ResponseFunctionCallArgumentsDeltaEvent
      path: <auto>
    - type: object
      key: ResponseFunctionCallArgumentsDoneEvent
      path: <auto>
    - type: object
      key: ResponseFileSearchCallInProgressEvent
      path: <auto>
    - type: object
      key: ResponseFileSearchCallSearchingEvent
      path: <auto>
    - type: object
      key: ResponseFileSearchCallCompletedEvent
      path: <auto>
    - type: object
      key: ResponseWebSearchCallInProgressEvent
      path: <auto>
    - type: object
      key: ResponseWebSearchCallSearchingEvent
      path: <auto>
    - type: object
      key: ResponseWebSearchCallCompletedEvent
      path: <auto>
    - type: object
      key: ResponseReasoningSummaryPartAddedEvent
      path: <auto>
    - type: object
      key: ResponseReasoningSummaryPartDoneEvent
      path: <auto>
    - type: object
      key: ResponseReasoningSummaryTextDeltaEvent
      path: <auto>
    - type: object
      key: ResponseReasoningSummaryTextDoneEvent
      path: <auto>
    - type: object
      key: ResponseReasoningTextDeltaEvent
      path: <auto>
    - type: object
      key: ResponseReasoningTextDoneEvent
      path: <auto>
    - type: object
      key: ResponseImageGenCallCompletedEvent
      path: <auto>
    - type: object
      key: ResponseImageGenCallGeneratingEvent
      path: <auto>
    - type: object
      key: ResponseImageGenCallInProgressEvent
      path: <auto>
    - type: object
      key: ResponseImageGenCallPartialImageEvent
      path: <auto>
    - type: object
      key: ResponseMCPCallArgumentsDeltaEvent
      path: <auto>
    - type: object
      key: ResponseMCPCallArgumentsDoneEvent
      path: <auto>
    - type: object
      key: ResponseMCPCallCompletedEvent
      path: <auto>
    - type: object
      key: ResponseMCPCallFailedEvent
      path: <auto>
    - type: object
      key: ResponseMCPCallInProgressEvent
      path: <auto>
    - type: object
      key: ResponseMCPListToolsCompletedEvent
      path: <auto>
    - type: object
      key: ResponseMCPListToolsFailedEvent
      path: <auto>
    - type: object
      key: ResponseMCPListToolsInProgressEvent
      path: <auto>
    - type: object
      key: ResponseCodeInterpreterCallInProgressEvent
      path: <auto>
    - type: object
      key: ResponseCodeInterpreterCallInterpretingEvent
      path: <auto>
    - type: object
      key: ResponseCodeInterpreterCallCompletedEvent
      path: <auto>
    - type: object
      key: ResponseCodeInterpreterCallCodeDeltaEvent
      path: <auto>
    - type: object
      key: ResponseCodeInterpreterCallCodeDoneEvent
      path: <auto>
    - type: object
      key: ResponseOutputTextAnnotationAddedEvent
      path: <auto>
    - type: object
      key: ResponseQueuedEvent
      path: <auto>
    - type: object
      key: ResponseCustomToolCallInputDeltaEvent
      path: <auto>
    - type: object
      key: ResponseCustomToolCallInputDoneEvent
      path: <auto>
    - type: object
      key: ResponseErrorEvent
      path: <auto>
  - id: responses-websocket-client-events
    title: Client events
    description: 'Events sent by the client over a Responses API WebSocket connection.

      '
    navigationGroup: responses
    sections:
    - type: object
      key: ResponsesClientEventResponseCreate
      path: <auto>
    - type: object
      key: ResponseSteerEvent
      path: <auto>
  - id: responses-websocket-server-events
    title: Server events (WebSocket only)
    description: 'Events emitted only over a Responses API WebSocket connection.

      '
    navigationGroup: responses
    sections:
    - type: object
      key: ResponseSteerAcceptedEvent
      path: <auto>
    - type: object
      key: ResponseSteerPendingEvent
      path: <auto>
    - type: object
      key: ResponseSteerFailedEvent
      path: <auto>
  - id: responses-websocket-shared-events
    title: Server events
    description: 'These events use the same payloads over WebSocket and

      [HTTP streaming](https://developers.openai.com/api/reference/resources/responses/streaming-events).

      Compaction progress follows the same cadence and output-item lifecycle

      described in HTTP streaming.

      '
    navigationGroup: responses
    sections:
    - type: object
      key: ResponseCreatedEvent
      path: <auto>
    - type: object
      key: ResponseInProgressEvent
      path: <auto>
    - type: object
      key: ResponseCompletedEvent
      path: <auto>
    - type: object
      key: ResponseFailedEvent
      path: <auto>
    - type: object
      key: ResponseIncompleteEvent
      path: <auto>
    - type: object
      key: ResponseOutputItemAddedEvent
      path: <auto>
    - type: object
      key: ResponseOutputItemDoneEvent
      path: <auto>
    - type: object
      key: ResponseCompactionCompactingEvent
      path: <auto>
    - type: object
      key: ResponseContentPartAddedEvent
      path: <auto>
    - type: object
      key: ResponseContentPartDoneEvent
      path: <auto>
    - type: object
      key: ResponseTextDeltaEvent
      path: response/output_text/delta
    - type: object
      key: ResponseTextDoneEvent
      path: response/output_text/done
    - type: object
      key: ResponseRefusalDeltaEvent
      path: <auto>
    - type: object
      key: ResponseRefusalDoneEvent
      path: <auto>
    - type: object
      key: ResponseFunctionCallArgumentsDeltaEvent
      path: <auto>
    - type: object
      key: ResponseFunctionCallArgumentsDoneEvent
      path: <auto>
    - type: object
      key: ResponseFileSearchCallInProgressEvent
      path: <auto>
    - type: object
      key: ResponseFileSearchCallSearchingEvent
      path: <auto>
    - type: object
      key: ResponseFileSearchCallCompletedEvent
      path: <auto>
    - type: object
      key: ResponseWebSearchCallInProgressEvent
      path: <auto>
    - type: object
      key: ResponseWebSearchCallSearchingEvent
      path: <auto>
    - type: object
      key: ResponseWebSearchCallCompletedEvent
      path: <auto>
    - type: object
      key: ResponseReasoningSummaryPartAddedEvent
      path: <auto>
    - type: object
      key: ResponseReasoningSummaryPartDoneEvent
      path: <auto>
    - type: object
      key: ResponseReasoningSummaryTextDeltaEvent
      path: <auto>
    - type: object
      key: ResponseReasoningSummaryTextDoneEvent
      path: <auto>
    - type: object
      key: ResponseReasoningTextDeltaEvent
      path: <auto>
    - type: object
      key: ResponseReasoningTextDoneEvent
      path: <auto>
    - type: object
      key: ResponseImageGenCallCompletedEvent
      path: <auto>
    - type: object
      key: ResponseImageGenCallGeneratingEvent
      path: <auto>
    - type: object
      key: ResponseImageGenCallInProgressEvent
      path: <auto>
    - type: object
      key: ResponseImageGenCallPartialImageEvent
      path: <auto>
    - type: object
      key: ResponseMCPCallArgumentsDeltaEvent
      path: <auto>
    - type: object
      key: ResponseMCPCallArgumentsDoneEvent
      path: <auto>
    - type: object
      key: ResponseMCPCallCompletedEvent
      path: <auto>
    - type: object
      key: ResponseMCPCallFailedEvent
      path: <auto>
    - type: object
      key: ResponseMCPCallInProgressEvent
      path: <auto>
    - type: object
      key: ResponseMCPListToolsCompletedEvent
      path: <auto>
    - type: object
      key: ResponseMCPListToolsFailedEvent
      path: <auto>
    - type: object
      key: ResponseMCPListToolsInProgressEvent
      path: <auto>
    - type: object
      key: ResponseCodeInterpreterCallInProgressEvent
      path: <auto>
    - type: object
      key: ResponseCodeInterpreterCallInterpretingEvent
      path: <auto>
    - type: object
      key: ResponseCodeInterpreterCallCompletedEvent
      path: <auto>
    - type: object
      key: ResponseCodeInterpreterCallCodeDeltaEvent
      path: <auto>
    - type: object
      key: ResponseCodeInterpreterCallCodeDoneEvent
      path: <auto>
    - type: object
      key: ResponseOutputTextAnnotationAddedEvent
      path: <auto>
    - type: object
      key: ResponseQueuedEvent
      path: <auto>
    - type: object
      key: ResponseCustomToolCallInputDeltaEvent
      path: <auto>
    - type: object
      key: ResponseCustomToolCallInputDoneEvent
      path: <auto>
    - type: object
      key: ResponseErrorEvent
      path: <auto>
  - id: safety-cases
    title: Safety Cases
    description: 'Retrieve details about a safety warning or deactivation using the case ID

      from a `safety.warning_issued` or `safety.deactivation_issued` webhook event.

      Cases belong to an organization and require an API key with `api.safety.read`.

      '
    navigationGroup: endpoints
    sections:
    - type: endpoint
      key: Getsafetycase
      path: retrieve
    - type: object
      key: SafetyCaseResource
      path: object
  - id: safety-alerts
    title: Safety Alerts
    description: 'Retrieve approved safety alerts with an API key. Project keys require

      `api.safety.alerts.read` and can read alerts from their project.

      '
    navigationGroup: endpoints
    sections:
    - type: endpoint
      key: Getprojectsafetyalert
      path: retrieve
    - type: object
      key: SafetyAlertResource
      path: object
  - id: webhook-events
    title: Webhook Events
    description: 'Webhooks are HTTP requests sent by OpenAI to a URL you specify when certain

      events happen during the course of API usage.


      [Learn more about webhooks](https://developers.openai.com/api/docs/guides/webhooks).

      '
    navigationGroup: webhooks
    sections:
    - type: object
      key: WebhookResponseCompleted
      path: <auto>
    - type: object
      key: WebhookResponseCancelled
      path: <auto>
    - type: object
      key: WebhookResponseFailed
      path: <auto>
    - type: object
      key: WebhookResponseIncomplete
      path: <auto>
    - type: object
      key: WebhookBatchCompleted
      path: <auto>
    - type: object
      key: WebhookBatchCancelled
      path: <auto>
    - type: object
      key: WebhookBatchExpired
      path: <auto>
    - type: object
      key: WebhookBatchFailed
      path: <auto>
    - type: object
      key: WebhookFineTuningJobSucceeded
      path: <auto>
    - type: object
      key: WebhookFineTuningJobFailed
      path: <auto>
    - type: object
      key: WebhookFineTuningJobCancelled
      path: <auto>
    - type: object
      key: WebhookEvalRunSucceeded
      path: <auto>
    - type: object
      key: WebhookEvalRunFailed
      path: <auto>
    - type: object
      key: WebhookEvalRunCanceled
      path: <auto>
    - type: object
      key: WebhookRealtimeCallIncoming
      path: <auto>
    - type: object
      key: WebhookLiveCallIncoming
      path: <auto>
    - type: object
      key: WebhookLiveTransportIncoming
      path: <auto>
    - type: object
      key: WebhookSafetyWarningIssued
      path: <auto>
    - type: object
      key: WebhookSafetyDeactivationIssued
      path: <auto>
    - type: object
      key: WebhookSafetyAlertCreated
      path: <auto>
    - type: object
      key: WebhookSafetyOrgAlertCreated
      path: <auto>
  - id: images-streaming
    title: Image Streaming
    description: 'Stream image generation and editing in real time with server-sent events.

      [Learn more about image streaming](https://developers.openai.com/api/docs/guides/image-generation).

      '
    navigationGroup: endpoints
    sections:
    - type: object
      key: ImageGenPartialImageEvent
      path: <auto>
    - type: object
      key: ImageGenCompletedEvent
      path: <auto>
    - type: object
      key: ImageEditPartialImageEvent
      path: <auto>
    - type: object
      key: ImageEditCompletedEvent
      path: <auto>
  - id: realtime-client-events
    title: Client events
    description: 'These are events that the OpenAI Realtime WebSocket server will accept from the client.

      '
    navigationGroup: realtime
    sections:
    - type: object
      key: RealtimeClientEventSessionUpdate
      path: <auto>
    - type: object
      key: RealtimeClientEventInputAudioBufferAppend
      path: <auto>
    - type: object
      key: RealtimeClientEventInputAudioBufferCommit
      path: <auto>
    - type: object
      key: RealtimeClientEventInputAudioBufferClear
      path: <auto>
    - type: object
      key: RealtimeClientEventConversationItemCreate
      path: <auto>
    - type: object
      key: RealtimeClientEventConversationItemRetrieve
      path: <auto>
    - type: object
      key: RealtimeClientEventConversationItemTruncate
      path: <auto>
    - type: object
      key: RealtimeClientEventConversationItemDelete
      path: <auto>
    - type: object
      key: RealtimeClientEventResponseCreate
      path: <auto>
    - type: object
      key: RealtimeClientEventResponseCancel
      path: <auto>
    - type: object
      key: RealtimeClientEventOutputAudioBufferClear
      path: <auto>
  - id: realtime-server-events
    title: Server events
    description: 'These are events emitted from the OpenAI Realtime WebSocket server to the client.

      '
    navigationGroup: realtime
    sections:
    - type: object
      key: RealtimeServerEventError
      path: <auto>
    - type: object
      key: RealtimeServerEventSessionCreated
      path: <auto>
    - type: object
      key: RealtimeServerEventSessionUpdated
      path: <auto>
    - type: object
      key: RealtimeServerEventConversationItemAdded
      path: <auto>
    - type: object
      key: RealtimeServerEventConversationItemDone
      path: <auto>
    - type: object
      key: RealtimeServerEventConversationItemRetrieved
      path: <auto>
    - type: object
      key: RealtimeServerEventConversationItemInputAudioTranscriptionCompleted
      path: <auto>
    - type: object
      key: RealtimeServerEventConversationItemInputAudioTranscriptionDelta
      path: <auto>
    - type: object
      key: RealtimeServerEventConversationItemInputAudioTranscriptionSegment
      path: <auto>
    - type: object
      key: RealtimeServerEventConversationItemInputAudioTranscriptionFailed
      path: <auto>
    - type: object
      key: RealtimeServerEventConversationItemTruncated
      path: <auto>
    - type: object
      key: RealtimeServerEventConversationItemDeleted
      path: <auto>
    - type: object
      key: RealtimeServerEventInputAudioBufferCommitted
      path: <auto>
    - type: object
      key: RealtimeServerEventInputAudioBufferDtmfEventReceived
      path: <auto>
    - type: object
      key: RealtimeServerEventInputAudioBufferCleared
      path: <auto>
    - type: object
      key: RealtimeServerEventInputAudioBufferSpeechStarted
      path: <auto>
    - type: object
      key: RealtimeServerEventInputAudioBufferSpeechStopped
      path: <auto>
    - type: object
      key: RealtimeServerEventInputAudioBufferTimeoutTriggered
      path: <auto>
    - type: object
      key: RealtimeServerEventOutputAudioBufferStarted
      path: <auto>
    - type: object
      key: RealtimeServerEventOutputAudioBufferStopped
      path: <auto>
    - type: object
      key: RealtimeServerEventOutputAudioBufferCleared
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseCreated
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseDone
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseOutputItemAdded
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseOutputItemDone
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseContentPartAdded
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseContentPartDone
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseTextDelta
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseTextDone
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseAudioTranscriptDelta
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseAudioTranscriptDone
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseAudioDelta
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseAudioDone
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseFunctionCallArgumentsDelta
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseFunctionCallArgumentsDone
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseMCPCallArgumentsDelta
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseMCPCallArgumentsDone
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseMCPCallInProgress
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseMCPCallCompleted
      path: <auto>
    - type: object
      key: RealtimeServerEventResponseMCPCallFailed
      path: <auto>
    - type: object
      key: RealtimeServerEventMCPListToolsInProgress
      path: <auto>
    - type: object
      key: RealtimeServerEventMCPListToolsCompleted
      path: <auto>
    - type: object
      key: RealtimeServerEventMCPListToolsFailed
      path: <auto>
    - type: object
      key: RealtimeServerEventRateLimitsUpdated
      path: <auto>
  - id: realtime-translation-client-events
    title: Translation client events
    description: 'These are events that the OpenAI Realtime Translation WebSocket server will accept from the client.

      '
    navigationGroup: realtime
    sections:
    - type: object
      key: RealtimeTranslationClientEventSessionUpdate
      path: <auto>
    - type: object
      key: RealtimeTranslationClientEventInputAudioBufferAppend
      path: <auto>
    - type: object
      key: RealtimeTranslationClientEventSessionClose
      path: <auto>
  - id: realtime-translation-server-events
    title: Translation server events
    description: 'These are events emitted from the OpenAI Realtime Translation WebSocket server to the client.

      '
    navigationGroup: realtime
    sections:
    - type: object
      key: RealtimeServerEventError
      path: <auto>
    - type: object
      key: RealtimeTranslationServerEventSessionCreated
      path: <auto>
    - type: object
      key: RealtimeTranslationServerEventSessionUpdated
      path: <auto>
    - type: object
      key: RealtimeTranslationServerEventSessionClosed
      path: <auto>
    - type: object
      key: RealtimeTranslationServerEventSessionInputTranscriptDelta
      path: <auto>
    - type: object
      key: RealtimeTranslationServerEventSessionOutputTranscriptDelta
      path: <auto>
    - type: object
      key: RealtimeTranslationServerEventSessionOutputAudioDelta
      path: <auto>
  - id: chat-streaming
    title: Streaming
    description: 'Stream Chat Completions in real time. Receive chunks of completions

      returned from the model using server-sent events.

      [Learn more](https://developers.openai.com/api/docs/guides/streaming-responses).

      '
    navigationGroup: chat
    sections:
    - type: object
      key: CreateChatCompletionStreamResponse
      path: streaming
  - id: assistants-streaming
    title: Streaming
    beta: true
    description: 'Stream the result of executing a Run or resuming a Run after submitting tool outputs.

      You can stream events from the [Create Thread and Run](https://developers.openai.com/api/docs/assistants/migration),

      [Create Run](https://developers.openai.com/api/docs/assistants/migration), and [Submit Tool Outputs](https://developers.openai.com/api/docs/assistants/migration)

      endpoints by passing `"stream": true`. The response will be a [Server-Sent events](https://html.spec.whatwg.org/multipage/server-sent-events.html#server-sent-events) stream.

      Our Node and Python SDKs provide helpful utilities to make streaming easy. Reference the

      [Assistants API quickstart](https://developers.openai.com/api/docs/assistants/migration) to learn more.

      '
    navigationGroup: assistants
    sections:
    - type: object
      key: AssistantStreamEvent
      path: events
  - id: realtime-beta-client-events
    title: Realtime Beta client events
    description: 'These are events that the OpenAI Realtime WebSocket server will accept from the client.

      '
    navigationGroup: legacy
    sections:
    - type: object
      key: RealtimeBetaClientEventSessionUpdate
      path: <auto>
    - type: object
      key: RealtimeBetaClientEventInputAudioBufferAppend
      path: <auto>
    - type: object
      key: RealtimeBetaClientEventInputAudioBufferCommit
      path: <auto>
    - type: object
      key: RealtimeBetaClientEventInputAudioBufferClear
      path: <auto>
    - type: object
      key: RealtimeBetaClientEventConversationItemCreate
      path: <auto>
    - type: object
      key: RealtimeBetaClientEventConversationItemRetrieve
      path: <auto>
    - type: object
      key: RealtimeBetaClientEventConversationItemTruncate
      path: <auto>
    - type: object
      key: RealtimeBetaClientEventConversationItemDelete
      path: <auto>
    - type: object
      key: RealtimeBetaClientEventResponseCreate
      path: <auto>
    - type: object
      key: RealtimeBetaClientEventResponseCancel
      path: <auto>
    - type: object
      key: RealtimeBetaClientEventTranscriptionSessionUpdate
      path: <auto>
    - type: object
      key: RealtimeBetaClientEventOutputAudioBufferClear
      path: <auto>
  - id: realtime-beta-server-events
    title: Realtime Beta server events
    description: 'These are events emitted from the OpenAI Realtime WebSocket server to the client.

      '
    navigationGroup: legacy
    sections:
    - type: object
      key: RealtimeBetaServerEventError
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventSessionCreated
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventSessionUpdated
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventTranscriptionSessionCreated
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventTranscriptionSessionUpdated
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventConversationItemCreated
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventConversationItemRetrieved
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventConversationItemInputAudioTranscriptionCompleted
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventConversationItemInputAudioTranscriptionDelta
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventConversationItemInputAudioTranscriptionSegment
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventConversationItemInputAudioTranscriptionFailed
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventConversationItemTruncated
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventConversationItemDeleted
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventInputAudioBufferCommitted
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventInputAudioBufferCleared
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventInputAudioBufferSpeechStarted
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventInputAudioBufferSpeechStopped
      path: <auto>
    - type: object
      key: RealtimeServerEventInputAudioBufferTimeoutTriggered
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseCreated
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseDone
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseOutputItemAdded
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseOutputItemDone
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseContentPartAdded
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseContentPartDone
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseTextDelta
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseTextDone
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseAudioTranscriptDelta
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseAudioTranscriptDone
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseAudioDelta
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseAudioDone
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseFunctionCallArgumentsDelta
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseFunctionCallArgumentsDone
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseMCPCallArgumentsDelta
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseMCPCallArgumentsDone
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseMCPCallInProgress
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseMCPCallCompleted
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventResponseMCPCallFailed
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventMCPListToolsInProgress
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventMCPListToolsCompleted
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventMCPListToolsFailed
      path: <auto>
    - type: object
      key: RealtimeBetaServerEventRateLimitsUpdated
      path: <auto>
  - id: live-client-events
    title: Client events
    description: Initialize a primary WebSocket with session.start and wait for session.started before sending other events. WebRTC creation starts the session for you. Start with the [Live prompting guide](https://developers.openai.com/api/docs/guides/live-prompting) to design frontend instructions and delegation policy; see [backend prompting](https://developers.openai.com/api/docs/guides/live-delegation#start-with-your-existing-backend-prompt) for tools and business rules.
    navigationGroup: live
    sections:
    - type: object
      key: LiveSessionStartEvent
      path: <auto>
    - type: object
      key: LiveForkSessionStartEvent
      path: <auto>
    - type: object
      key: LiveSessionUpdateParam
      path: <auto>
    - type: object
      key: LiveInputAudioAppendEvent
      path: <auto>
    - type: object
      key: LiveInputAudioMuteParam
      path: <auto>
    - type: object
      key: LiveInputAudioUnmuteParam
      path: <auto>
    - type: object
      key: LiveInstructionsAppendParam
      path: <auto>
    - type: object
      key: LiveThinkingAppendParam
      path: <auto>
    - type: object
      key: LiveCommentaryAppendParam
      path: <auto>
    - type: object
      key: LiveResponseItemCreateParam
      path: <auto>
    - type: object
      key: LiveResponseCreateParam
      path: <auto>
    - type: object
      key: LiveSessionCloseParam
      path: <auto>
  - id: live-server-events
    title: Server events
    description: Live server events. Responses delegation lifecycle events arrive inside response.event, not as top-level response events. Start with the [Live prompting guide](https://developers.openai.com/api/docs/guides/live-prompting) to design frontend instructions and delegation policy; see [backend prompting](https://developers.openai.com/api/docs/guides/live-delegation#start-with-your-existing-backend-prompt) for tools and business rules.
    navigationGroup: live
    sections:
    - type: object
      key: LiveSessionStarted
      path: <auto>
    - type: object
      key: LiveSessionUpdated
      path: <auto>
    - type: object
      key: LiveInputAudioMuted
      path: <auto>
    - type: object
      key: LiveInputAudioUnmuted
      path: <auto>
    - type: object
      key: LiveInstructionsAppended
      path: <auto>
    - type: object
      key: LiveThinkingAppended
      path: <auto>
    - type: object
      key: LiveCommentaryAppended
      path: <auto>
    - type: object
      key: LiveOutputAudioDelta
      path: <auto>
    - type: object
      key: LiveInputTranscriptDelta
      path: <auto>
    - type: object
      key: LiveOutputTranscriptDelta
      path: <auto>
    - type: object
      key: LiveDelegationCreated
      path: <auto>
    - type: object
      key: LiveResponseEvent
      path: <auto>
    - type: object
      key: LiveSessionUsageUpdated
      path: <auto>
    - type: object
      key: LiveSessionClosed
      path: <auto>
    - type: object
      key: LiveErrorEvent
      path: <auto>
    - type: object
      key: LiveInfoEvent
      path: <auto>
