openapi: 3.2.0
info:
  title: Openai Audio API
  license:
    name: MIT
    url: https://github.com/openai/openai-openapi/blob/master/LICENSE
  termsOfService: https://openai.com/policies/terms-of-use
  version: '1.0'
  description: 'Operations tagged Audio across 3 of this provider''s published API definitions: audio-openapi-original.yml, openai-audio-openapi.yml, openai-openapi-master.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.openai.com/v1
tags:
- name: Audio
  description: Learn how to turn audio into text or text into audio.
paths:
  /audio/speech:
    post:
      operationId: createSpeech
      tags:
      - Audio
      summary: OpenAI Generates audio from the input text.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSpeechRequest'
      responses:
        '200':
          description: OK
          headers:
            Transfer-Encoding:
              schema:
                type: string
              description: chunked
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
      x-oaiMeta:
        name: Create speech
        group: audio
        returns: The audio file content.
        examples:
          request:
            curl: "curl https://api.openai.com/v1/audio/speech \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"model\": \"tts-1\",\n    \"input\": \"The quick brown fox jumped over the lazy dog.\",\n    \"voice\": \"alloy\"\n  }' \\\n  --output speech.mp3\n"
            python: "from pathlib import Path\nimport openai\n\nspeech_file_path = Path(__file__).parent / \"speech.mp3\"\nresponse = openai.audio.speech.create(\n  model=\"tts-1\",\n  voice=\"alloy\",\n  input=\"The quick brown fox jumped over the lazy dog.\"\n)\nresponse.stream_to_file(speech_file_path)\n"
            node: "import fs from \"fs\";\nimport path from \"path\";\nimport OpenAI from \"openai\";\n\nconst openai = new OpenAI();\n\nconst speechFile = path.resolve(\"./speech.mp3\");\n\nasync function main() {\n  const mp3 = await openai.audio.speech.create({\n    model: \"tts-1\",\n    voice: \"alloy\",\n    input: \"Today is a wonderful day to build something people love!\",\n  });\n  console.log(speechFile);\n  const buffer = Buffer.from(await mp3.arrayBuffer());\n  await fs.promises.writeFile(speechFile, buffer);\n}\nmain();\n"
      security:
      - ApiKeyAuth: []
    servers:
    - url: https://api.openai.com/v1
  /audio/transcriptions:
    post:
      operationId: createTranscription
      tags:
      - Audio
      summary: OpenAI Transcribes audio into the input language.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateTranscriptionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTranscriptionResponse'
      x-oaiMeta:
        name: Create transcription
        group: audio
        returns: The transcribed text.
        examples:
          request:
            curl: "curl https://api.openai.com/v1/audio/transcriptions \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n  -H \"Content-Type: multipart/form-data\" \\\n  -F file=\"@/path/to/file/audio.mp3\" \\\n  -F model=\"whisper-1\"\n"
            python: "from openai import OpenAI\nclient = OpenAI()\n\naudio_file = open(\"speech.mp3\", \"rb\")\ntranscript = client.audio.transcriptions.create(\n  model=\"whisper-1\",\n  file=audio_file\n)\n"
            node: "import fs from \"fs\";\nimport OpenAI from \"openai\";\n\nconst openai = new OpenAI();\n\nasync function main() {\n  const transcription = await openai.audio.transcriptions.create({\n    file: fs.createReadStream(\"audio.mp3\"),\n    model: \"whisper-1\",\n  });\n\n  console.log(transcription.text);\n}\nmain();\n"
          response: "{\n  \"text\": \"Imagine the wildest idea that you've ever had, and you're curious about how it might scale to something that's a 100, a 1,000 times bigger. This is a place where you can get to do that.\"\n}\n"
      security:
      - ApiKeyAuth: []
    servers:
    - url: https://api.openai.com/v1
  /audio/translations:
    post:
      operationId: createTranslation
      tags:
      - Audio
      summary: OpenAI Translates audio into English.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateTranslationRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTranslationResponse'
      x-oaiMeta:
        name: Create translation
        group: audio
        returns: The translated text.
        examples:
          request:
            curl: "curl https://api.openai.com/v1/audio/translations \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n  -H \"Content-Type: multipart/form-data\" \\\n  -F file=\"@/path/to/file/german.m4a\" \\\n  -F model=\"whisper-1\"\n"
            python: "from openai import OpenAI\nclient = OpenAI()\n\naudio_file = open(\"speech.mp3\", \"rb\")\ntranscript = client.audio.translations.create(\n  model=\"whisper-1\",\n  file=audio_file\n)\n"
            node: "import fs from \"fs\";\nimport OpenAI from \"openai\";\n\nconst openai = new OpenAI();\n\nasync function main() {\n    const translation = await openai.audio.translations.create({\n        file: fs.createReadStream(\"speech.mp3\"),\n        model: \"whisper-1\",\n    });\n\n    console.log(translation.text);\n}\nmain();\n"
          response: "{\n  \"text\": \"Hello, my name is Wolfgang and I come from Germany. Where are you heading today?\"\n}\n"
      security:
      - ApiKeyAuth: []
    servers:
    - url: https://api.openai.com/v1
  /audio/voice_consents:
    post:
      operationId: createVoiceConsent
      tags:
      - Audio
      summary: Upload a voice consent recording.
      description: 'Upload a consent recording that authorizes creation of a custom voice.


        See the [custom voices guide](/docs/guides/text-to-speech#custom-voices) for requirements and best practices. Custom voices are limited to eligible customers.

        '
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateVoiceConsentRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceConsentResource'
      x-oaiMeta:
        name: Create voice consent
        group: audio
        examples:
          request:
            curl: "curl https://api.openai.com/v1/audio/voice_consents \\\n  -X POST \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n  -F \"name=John Doe\" \\\n  -F \"language=en-US\" \\\n  -F \"recording=@$HOME/consent_recording.wav;type=audio/x-wav\"\n"
          response: ''
      security:
      - ApiKeyAuth: []
    get:
      operationId: listVoiceConsents
      tags:
      - Audio
      summary: Returns a list of voice consent recordings.
      description: 'List consent recordings available to your organization for creating custom voices.


        See the [custom voices guide](/docs/guides/text-to-speech#custom-voices). Custom voices are limited to eligible customers.

        '
      parameters:
      - in: query
        name: after
        required: false
        schema:
          type: string
        description: 'A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after=obj_foo in order to fetch the next page of the list.

          '
      - name: limit
        in: query
        description: 'A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.

          '
        required: false
        schema:
          type: integer
          default: 20
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceConsentListResource'
      x-oaiMeta:
        name: List voice consents
        group: audio
        examples:
          request:
            curl: "curl https://api.openai.com/v1/audio/voice_consents?limit=20 \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\"\n"
          response: ''
      security:
      - ApiKeyAuth: []
    servers:
    - url: https://api.openai.com/v1
  /audio/voice_consents/{consent_id}:
    get:
      operationId: getVoiceConsent
      tags:
      - Audio
      summary: Retrieves a voice consent recording.
      description: 'Retrieve consent recording metadata used for creating custom voices.


        See the [custom voices guide](/docs/guides/text-to-speech#custom-voices). Custom voices are limited to eligible customers.

        '
      parameters:
      - in: path
        name: consent_id
        required: true
        schema:
          type: string
        description: The ID of the consent recording to retrieve.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceConsentResource'
      x-oaiMeta:
        name: Retrieve voice consent
        group: audio
        examples:
          request:
            curl: "curl https://api.openai.com/v1/audio/voice_consents/cons_1234 \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\"\n"
          response: ''
      security:
      - ApiKeyAuth: []
    post:
      operationId: updateVoiceConsent
      tags:
      - Audio
      summary: Updates a voice consent recording (metadata only).
      description: 'Update consent recording metadata used for creating custom voices. This endpoint updates metadata only and does not replace the underlying audio.


        See the [custom voices guide](/docs/guides/text-to-speech#custom-voices). Custom voices are limited to eligible customers.

        '
      parameters:
      - in: path
        name: consent_id
        required: true
        schema:
          type: string
        description: The ID of the consent recording to update.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateVoiceConsentRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceConsentResource'
      x-oaiMeta:
        name: Update voice consent
        group: audio
        examples:
          request:
            curl: "curl https://api.openai.com/v1/audio/voice_consents/cons_1234 \\\n  -X POST \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"name\": \"John Doe\"\n  }'\n"
          response: ''
      security:
      - ApiKeyAuth: []
    delete:
      operationId: deleteVoiceConsent
      tags:
      - Audio
      summary: Deletes a voice consent recording.
      description: 'Delete a consent recording that was uploaded for creating custom voices.


        See the [custom voices guide](/docs/guides/text-to-speech#custom-voices). Custom voices are limited to eligible customers.

        '
      parameters:
      - in: path
        name: consent_id
        required: true
        schema:
          type: string
        description: The ID of the consent recording to delete.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceConsentDeletedResource'
      x-oaiMeta:
        name: Delete voice consent
        group: audio
        examples:
          request:
            curl: "curl https://api.openai.com/v1/audio/voice_consents/cons_1234 \\\n  -X DELETE \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\"\n"
          response: ''
      security:
      - ApiKeyAuth: []
    servers:
    - url: https://api.openai.com/v1
  /audio/voices:
    post:
      operationId: createVoice
      tags:
      - Audio
      summary: Creates a custom voice.
      description: 'Create a custom voice you can use for audio output (for example, in Text-to-Speech and the Realtime API). This requires an audio sample and a previously uploaded consent recording.


        See the [custom voices guide](/docs/guides/text-to-speech#custom-voices) for requirements and best practices. Custom voices are limited to eligible customers.

        '
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateVoiceRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceResource'
      x-oaiMeta:
        name: Create voice
        group: audio
        examples:
          request:
            curl: "curl https://api.openai.com/v1/audio/voices \\\n  -X POST \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n  -F \"name=My new voice\" \\\n  -F \"consent=cons_1234\" \\\n  -F \"audio_sample=@$HOME/audio_sample.wav;type=audio/x-wav\"\n"
          response: ''
      security:
      - ApiKeyAuth: []
    servers:
    - url: https://api.openai.com/v1
components:
  schemas:
    CreateTranscriptionResponse:
      type: object
      properties:
        text:
          type: string
      required:
      - text
    CreateTranslationResponse:
      type: object
      properties:
        text:
          type: string
      required:
      - text
    CreateSpeechRequest:
      type: object
      required:
      - model
      - input
      - voice
      properties:
        model:
          type: string
          description: One of the available TTS models. tts-1 is optimized for speed, tts-1-hd is optimized for quality, and gpt-4o-mini-tts supports advanced voice instructions.
          examples:
          - tts-1
          - tts-1-hd
          - gpt-4o-mini-tts
        input:
          type: string
          maxLength: 4096
          description: The text to generate audio for. The maximum length is 4096 characters.
          example: example_value
        voice:
          type: string
          enum:
          - alloy
          - ash
          - ballad
          - coral
          - echo
          - fable
          - onyx
          - nova
          - sage
          - shimmer
          - verse
          description: The voice to use when generating the audio. Previews of the voices are available in the Text to Speech guide.
          example: alloy
        instructions:
          type: string
          description: Control the voice of your generated audio with additional instructions. Only supported with gpt-4o-mini-tts.
          example: example_value
        response_format:
          type: string
          enum:
          - mp3
          - opus
          - aac
          - flac
          - wav
          - pcm
          default: mp3
          description: The format to audio in. Supported formats are mp3, opus, aac, flac, wav, and pcm. Opus is recommended for internet streaming and communication, aac for digital audio compression, and flac for lossless audio compression.
          example: mp3
        speed:
          type: number
          minimum: 0.25
          maximum: 4.0
          default: 1.0
          description: The speed of the generated audio. Select a value from 0.25 to 4.0. 1.0 is the default.
          example: 42.5
    CreateTranscriptionRequest:
      type: object
      required:
      - file
      - model
      properties:
        file:
          type: string
          format: binary
          description: 'The audio file object to transcribe, in one of these formats: flac, mp3, mp4, mpeg, mpga, m4a, ogg, wav, or webm. File uploads are limited to 25 MB.'
          example: example_value
        model:
          type: string
          description: ID of the model to use. Only whisper-1 and gpt-4o-transcribe are currently available.
          examples:
          - whisper-1
          - gpt-4o-transcribe
        language:
          type: string
          description: The language of the input audio. Supplying the input language in ISO-639-1 format will improve accuracy and latency.
          example: example_value
        prompt:
          type: string
          description: An optional text to guide the model's style or continue a previous audio segment. The prompt should match the audio language.
          example: example_value
        response_format:
          type: string
          enum:
          - json
          - text
          - srt
          - verbose_json
          - vtt
          default: json
          description: The format of the transcript output. Defaults to json. verbose_json includes additional metadata like word-level timestamps.
          example: json
        temperature:
          type: number
          minimum: 0
          maximum: 1
          default: 0
          description: The sampling temperature, between 0 and 1. Higher values like 0.8 will make the output more random, while lower values like 0.2 will make it more focused and deterministic.
          example: 42.5
        timestamp_granularities:
          type: array
          items:
            type: string
            enum:
            - word
            - segment
          description: The timestamp granularities to populate for this transcription. response_format must be set to verbose_json to use this parameter.
          example: []
    TranscriptionResponse:
      type: object
      required:
      - text
      properties:
        text:
          type: string
          description: The transcribed text.
          example: example_value
        task:
          type: string
          enum:
          - transcribe
          description: The task performed, always transcribe.
          example: transcribe
        language:
          type: string
          description: The detected or specified language of the audio.
          example: example_value
        duration:
          type: number
          format: float
          description: The duration of the input audio in seconds.
          example: 42.5
        words:
          type: array
          description: Extracted words and their corresponding timestamps. Only present when timestamp_granularities includes word.
          items:
            type: object
            properties:
              word:
                type: string
                description: The text content of the word.
              start:
                type: number
                format: float
                description: Start time of the word in seconds.
              end:
                type: number
                format: float
                description: End time of the word in seconds.
          example: []
        segments:
          type: array
          description: Segments of the transcribed text and their corresponding details. Only present when timestamp_granularities includes segment or response_format is verbose_json.
          items:
            type: object
            properties:
              id:
                type: integer
                description: Unique identifier of the segment.
              seek:
                type: integer
                description: Seek offset of the segment.
              start:
                type: number
                format: float
                description: Start time of the segment in seconds.
              end:
                type: number
                format: float
                description: End time of the segment in seconds.
              text:
                type: string
                description: Text content of the segment.
              tokens:
                type: array
                items:
                  type: integer
                description: Array of token IDs for the text content.
              temperature:
                type: number
                format: float
                description: Temperature parameter used for generating the segment.
              avg_logprob:
                type: number
                format: float
                description: Average logprob of the segment. If the value is lower than -1, consider the segment as potentially unreliable.
              compression_ratio:
                type: number
                format: float
                description: Compression ratio of the segment.
              no_speech_prob:
                type: number
                format: float
                description: Probability of no speech in the segment. If the value is higher than 1.0 and avg_logprob is below -1, consider the segment as silent.
          example: []
    TranslationResponse:
      type: object
      required:
      - text
      properties:
        text:
          type: string
          description: The translated text in English.
          example: example_value
        task:
          type: string
          enum:
          - translate
          description: The task performed, always translate.
          example: translate
        language:
          type: string
          description: The detected language of the input audio.
          example: example_value
        duration:
          type: number
          format: float
          description: The duration of the input audio in seconds.
          example: 42.5
        segments:
          type: array
          description: Segments of the translated text with timestamps.
          items:
            type: object
            properties:
              id:
                type: integer
              seek:
                type: integer
              start:
                type: number
                format: float
              end:
                type: number
                format: float
              text:
                type: string
              tokens:
                type: array
                items:
                  type: integer
              temperature:
                type: number
                format: float
              avg_logprob:
                type: number
                format: float
              compression_ratio:
                type: number
                format: float
              no_speech_prob:
                type: number
                format: float
          example: []
    CreateTranslationRequest:
      type: object
      required:
      - file
      - model
      properties:
        file:
          type: string
          format: binary
          description: 'The audio file to translate, in one of these formats: flac, mp3, mp4, mpeg, mpga, m4a, ogg, wav, or webm. File uploads are limited to 25 MB.'
          example: example_value
        model:
          type: string
          description: ID of the model to use. Only whisper-1 is currently available for translation.
          examples:
          - whisper-1
        prompt:
          type: string
          description: An optional text to guide the model's style or continue a previous audio segment. The prompt should be in English.
          example: example_value
        response_format:
          type: string
          enum:
          - json
          - text
          - srt
          - verbose_json
          - vtt
          default: json
          description: The format of the transcript output. Defaults to json.
          example: json
        temperature:
          type: number
          minimum: 0
          maximum: 1
          default: 0
          description: The sampling temperature, between 0 and 1.
          example: 42.5
    CreateTranslationResponseJson:
      type: object
      properties:
        text:
          type: string
      required:
      - text
    VoiceIdsShared:
      example: ash
      anyOf:
      - type: string
      - type: string
        enum:
        - alloy
        - ash
        - ballad
        - coral
        - echo
        - sage
        - shimmer
        - verse
        - marin
        - cedar
    CreateTranscriptionRequest_2:
      type: object
      additionalProperties: false
      properties:
        file:
          description: 'The audio file object (not file name) to transcribe, in one of these formats: flac, mp3, mp4, mpeg, mpga, m4a, ogg, wav, or webm.

            '
          type: string
          x-oaiTypeLabel: file
          format: binary
        model:
          description: 'ID of the model to use. The options are `gpt-4o-transcribe`, `gpt-4o-mini-transcribe`, `gpt-4o-mini-transcribe-2025-12-15`, `whisper-1` (which is powered by our open source Whisper V2 model), and `gpt-4o-transcribe-diarize`.

            '
          example: gpt-4o-transcribe
          anyOf:
          - type: string
          - type: string
            enum:
            - whisper-1
            - gpt-4o-transcribe
            - gpt-4o-mini-transcribe
            - gpt-4o-mini-transcribe-2025-12-15
            - gpt-4o-transcribe-diarize
            x-stainless-const: true
          x-oaiTypeLabel: string
        language:
          description: 'The language of the input audio. Supplying the input language in [ISO-639-1](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes) (e.g. `en`) format will improve accuracy and latency.

            '
          type: string
        prompt:
          description: 'An optional text to guide the model''s style or continue a previous audio segment. The [prompt](/docs/guides/speech-to-text#prompting) should match the audio language. This field is not supported when using `gpt-4o-transcribe-diarize`.

            '
          type: string
        response_format:
          $ref: '#/components/schemas/AudioResponseFormat'
        temperature:
          description: 'The sampling temperature, between 0 and 1. Higher values like 0.8 will make the output more random, while lower values like 0.2 will make it more focused and deterministic. If set to 0, the model will use [log probability](https://en.wikipedia.org/wiki/Log_probability) to automatically increase the temperature until certain thresholds are hit.

            '
          type: number
          default: 0
        include:
          description: 'Additional information to include in the transcription response.

            `logprobs` will return the log probabilities of the tokens in the

            response to understand the model''s confidence in the transcription.

            `logprobs` only works with response_format set to `json` and only with

            the models `gpt-4o-transcribe`, `gpt-4o-mini-transcribe`, and `gpt-4o-mini-transcribe-2025-12-15`. This field is not supported when using `gpt-4o-transcribe-diarize`.

            '
          type: array
          items:
            $ref: '#/components/schemas/TranscriptionInclude'
        timestamp_granularities:
          description: 'The timestamp granularities to populate for this transcription. `response_format` must be set `verbose_json` to use timestamp granularities. Either or both of these options are supported: `word`, or `segment`. Note: There is no additional latency for segment timestamps, but generating word timestamps incurs additional latency.

            This option is not available for `gpt-4o-transcribe-diarize`.

            '
          type: array
          items:
            type: string
            enum:
            - word
            - segment
          default:
          - segment
        stream:
          anyOf:
          - description: 'If set to true, the model response data will be streamed to the client

              as it is generated using [server-sent events](https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events/Using_server-sent_events#Event_stream_format).

              See the [Streaming section of the Speech-to-Text guide](/docs/guides/speech-to-text?lang=curl#streaming-transcriptions)

              for more information.


              Note: Streaming is not supported for the `whisper-1` model and will be ignored.

              '
            type: boolean
            default: false
          - type: 'null'
        chunking_strategy:
          anyOf:
          - description: 'Controls how the audio is cut into chunks. When set to `"auto"`, the server first normalizes loudness and then uses voice activity detection (VAD) to choose boundaries. `server_vad` object can be provided to tweak VAD detection parameters manually. If unset, the audio is transcribed as a single block. Required when using `gpt-4o-transcribe-diarize` for inputs longer than 30 seconds. '
            anyOf:
            - type: string
              enum:
              - auto
              default: auto
              description: 'Automatically set chunking parameters based on the audio. Must be set to `"auto"`.

                '
              x-stainless-const: true
            - $ref: '#/components/schemas/VadConfig'
            x-oaiTypeLabel: string
          - type: 'null'
        known_speaker_names:
          description: 'Optional list of speaker names that correspond to the audio samples provided in `known_speaker_references[]`. Each entry should be a short identifier (for example `customer` or `agent`). Up to 4 speakers are supported.

            '
          type: array
          maxItems: 4
          items:
            type: string
        known_speaker_references:
          description: 'Optional list of audio samples (as [data URLs](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/Data_URLs)) that contain known speaker references matching `known_speaker_names[]`. Each sample must be between 2 and 10 seconds, and can use any of the same input audio formats supported by `file`.

            '
          type: array
          maxItems: 4
          items:
            type: string
      required:
      - file
      - model
    SpeechAudioDoneEvent:
      type: object
      description: Emitted when the speech synthesis is complete and all audio has been streamed.
      properties:
        type:
          type: string
          description: 'The type of the event. Always `speech.audio.done`.

            '
          enum:
          - speech.audio.done
          x-stainless-const: true
        usage:
          type: object
          description: 'Token usage statistics for the request.

            '
          properties:
            input_tokens:
              type: integer
              description: Number of input tokens in the prompt.
            output_tokens:
              type: integer
              description: Number of output tokens generated.
            total_tokens:
              type: integer
              description: Total number of tokens used (input + output).
          required:
          - input_tokens
          - output_tokens
          - total_tokens
      required:
      - type
      - usage
      x-oaiMeta:
        name: Stream Event (speech.audio.done)
        group: speech
        example: "{\n  \"type\": \"speech.audio.done\",\n  \"usage\": {\n    \"input_tokens\": 14,\n    \"output_tokens\": 101,\n    \"total_tokens\": 115\n  }\n}\n"
    CreateTranscriptionResponseDiarizedJson:
      type: object
      description: 'Represents a diarized transcription response returned by the model, including the combined transcript and speaker-segment annotations.

        '
      properties:
        task:
          type: string
          description: The type of task that was run. Always `transcribe`.
          enum:
          - transcribe
          x-stainless-const: true
        duration:
          type: number
          format: double
          description: Duration of the input audio in seconds.
        text:
          type: string
          description: The concatenated transcript text for the entire audio input.
        segments:
          type: array
          description: Segments of the transcript annotated with timestamps and speaker labels.
          items:
            $ref: '#/components/schemas/TranscriptionDiarizedSegment'
        usage:
          type: object
          description: Token or duration usage statistics for the request.
          oneOf:
          - $ref: '#/components/schemas/TranscriptTextUsageTokens'
            title: Token Usage
          - $ref: '#/components/schemas/TranscriptTextUsageDuration'
            title: Duration Usage
          discriminator:
            propertyName: type
      required:
      - task
      - duration
      - text
      - segments
      x-oaiMeta:
        name: The transcription object (Diarized JSON)
        group: audio
        example: "{\n  \"task\": \"transcribe\",\n  \"duration\": 42.7,\n  \"text\": \"Agent: Thanks for calling OpenAI support.\\nCustomer: Hi, I need help with diarization.\",\n  \"segments\": [\n    {\n      \"type\": \"transcript.text.segment\",\n      \"id\": \"seg_001\",\n      \"start\": 0.0,\n      \"end\": 5.2,\n      \"text\": \"Thanks for calling OpenAI support.\",\n      \"speaker\": \"agent\"\n    },\n    {\n      \"type\": \"transcript.text.segment\",\n      \"id\": \"seg_002\",\n      \"start\": 5.2,\n      \"end\": 12.8,\n      \"text\": \"Hi, I need help with diarization.\",\n      \"speaker\": \"A\"\n    }\n  ],\n  \"usage\": {\n    \"type\": \"duration\",\n    \"seconds\": 43\n  }\n}\n"
    CreateTranscriptionResponseJson:
      type: object
      description: Represents a transcription response returned by model, based on the provided input.
      properties:
        text:
          type: string
          description: The transcribed text.
        logprobs:
          type: array
          optional: true
          description: 'The log probabilities of the tokens in the transcription. Only returned with the models `gpt-4o-transcribe` and `gpt-4o-mini-transcribe` if `logprobs` is added to the `include` array.

            '
          items:
            type: object
            properties:
              token:
                type: string
                description: The token in the transcription.
              logprob:
                type: number
                description: The log probability of the token.
              bytes:
                type: array
                items:
                  type: number
                description: The bytes of the token.
        usage:
          type: object
          description: Token usage statistics for the request.
          oneOf:
          - $ref: '#/components/schemas/TranscriptTextUsageTokens'
            title: Token Usage
          - $ref: '#/components/schemas/TranscriptTextUsageDuration'
            title: Duration Usage
      required:
      - text
      x-oaiMeta:
        name: The transcription object (JSON)
        group: audio
        example: "{\n  \"text\": \"Imagine the wildest idea that you've ever had, and you're curious about how it might scale to something that's a 100, a 1,000 times bigger. This is a place where you can get to do that.\",\n  \"usage\": {\n    \"type\": \"tokens\",\n    \"input_tokens\": 14,\n    \"input_token_details\": {\n      \"text_tokens\": 10,\n      \"audio_tokens\": 4\n    },\n    \"output_tokens\": 101,\n    \"total_tokens\": 115\n  }\n}\n"
    TranscriptionWord:
      type: object
      properties:
        word:
          type: string
          description: The text content of the word.
        start:
          type: number
          format: double
          description: Start time of the word in seconds.
        end:
          type: number
          format: double
          description: End time of the word in seconds.
      required:
      - word
      - start
      - end
    SpeechAudioDeltaEvent:
      type: object
      description: Emitted for each chunk of audio data generated during speech synthesis.
      properties:
        type:
          type: string
          description: 'The type of the event. Always `speech.audio.delta`.

            '
          enum:
          - speech.audio.delta
          x-stainless-const: true
        audio:
          type: string
          description: 'A chunk of Base64-encoded audio data.

            '
      required:
      - type
      - audio
      x-oaiMeta:
        name: Stream Event (speech.audio.delta)
        group: speech
        example: "{\n  \"type\": \"speech.audio.delta\",\n  \"audio\": \"base64-encoded-audio-data\"\n}\n"
    TranscriptionSegment:
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier of the segment.
        seek:
          type: integer
          description: Seek offset of the segment.
        start:
          type: number
          format: double
          description: Start time of the segment in seconds.
        end:
          type: number
          format: double
          description: End time of the segment in seconds.
        text:
          type: string
          description: Text content of the segment.
        tokens:
          type: array
          items:
            type: integer
          description: Array of token IDs for the text content.
        temperature:
          type: number
          format: float
          description: Temperature parameter used for generating the segment.
        avg_logprob:
          type: number
          format: float
          description: Average logprob of the segment. If the value is lower than -1, consider the logprobs failed.
        compression_ratio:
          type: number
          format: float
          description: Compression ratio of the segment. If the value is greater than 2.4, consider the compression failed.
        no_speech_prob:
          type: number
          format: float
          description: Probability of no speech in the segment. If the value is higher than 1.0 and the `avg_logprob` is below -1, consider this segment silent.
      required:
      - id
      - seek
      - start
      - end
      - text
      - tokens
      - temperature
      - avg_logprob
      - compression_ratio
      - no_speech_prob
    CreateTranscriptionResponseStreamEvent:
      anyOf:
      - $ref: '#/components/schemas/TranscriptTextSegmentEvent'
      - $ref: '#/components/schemas/TranscriptTextDeltaEvent'
      - $ref: '#/components/schemas/TranscriptTextDoneEvent'
      discriminator:
        propertyName: type
    TranscriptTextUsageDuration:
      type: object
      title: Duration Usage
      description: Usage statistics for models billed by audio input duration.
      properties:
        type:
          type: string
          enum:
          - duration
          description: The type of the usage object. Always `duration` for this variant.
          x-stainless-const: true
        seconds:
          type: number
          format: double
          description: Duration of the input audio in seconds.
      required:
      - type
      - seconds
    TranscriptionInclude:
      type: string
      enum:
      - logprobs
      default: []
    CreateSpeechResponseStreamEvent:
      anyOf:
      - $ref: '#/components/schemas/SpeechAudioDeltaEvent'
      - $ref: '#/components/schemas/SpeechAudioDoneEvent'
      discriminator:
        propertyName: type
    TranscriptionDiarizedSegment:
      type: object
      description: A segment of diarized transcript text with speaker metadata.
      properties:
        type:
          type: string
          description: 'The type of the segment. Always `transcript.text.segment`.

            '
          enum:
          - transcript.text.segment
          x-stainless-const: true
        id:
          type: string
          description: Unique identifier for the segment.
        start:
          type: number
          format: double
          description: Start timestamp of the segment in seconds.
        end:
          type: number
          format: double
          description: End timestamp of the segment in seconds.
        text:
          type: string
          description: Transcript text for this segment.
        speaker:
          type: string
          description: 'Speaker label for this segment. When known speakers are provided, the label matches `known_speaker_names[]`. Otherwise speakers are labeled sequentially using capital letters (`A`, `B`, ...).

            '
      required:
      - type
      - id
      - start
      - end
      - text
      - speaker
    UpdateVoiceConsentRequest:
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
          description: The updated label for this consent recording.
      required:
      - name
    AudioResponseFormat:
      description: 'The format of the output, in one of these options: `json`, `text`, `srt`, `verbose_json`, `vtt`, or `diarized_json`. For `gpt-4o-transcribe` and `gpt-4o-mini-transcribe`, the only supported format is `json`. For `gpt-4o-transcribe-diarize`, the supported formats are `json`, `text`, and `diarized_json`, with `diarized_json` required to receive speaker annotations.

        '
      type: string
      enum:
      - json
      - text
      - srt
      - verbose_json
      - vtt
      - diarized_json
      default: json
    CreateTranslationRequest_2:
      type: object
      additionalProperties: false
      properties:
        file:
          description: 'The audio file object (not file name) translate, in one of these formats: flac, mp3, mp4, mpeg, mpga, m4a, ogg, wav, or webm.

            '
          type: string
          x-oaiTypeLabel: file
          format: binary
        model:
          description: 'ID of the model to use. Only `whisper-1` (which is powered by our open source Whisper V2 model) is currently available.

            '
          example: whisper-1
          anyOf:
          - type: string
          - type: string
            enum:
            - whisper-1
            x-stainless-const: true
          x-oaiTypeLabel: string
        prompt:
          description: 'An optional text to guide the model''s style or continue a previous audio segment. The [prompt](/docs/guides/speech-to-text#prompting) should be in English.

            '
          type: string
        response_format:
          description: 'The format of the output, in one of these options: `json`, `text`, `srt`, `verbose_json`, or `vtt`.

            '
          type: string
          enum:
          - json
          - text
          - srt
          - verbose_json
          - vtt
          default: json
        temperature:
          description: 'The sampling temperature, between 0 and 1. Higher values like 0.8 will make the output more random, while lower values like 0.2 will make it more focused and deterministic. If set to 0, the model will use [log probability](https://en.wikipedia.org/wiki/Log_probability) to automatically increase the temperature until certain thresholds are hit.

            '
          type: number
          default: 0
      required:
      - file
      - model
    TranscriptTextDoneEvent:
      type: object
      description: Emitted when the transcription is complete. Contains the complete transcription text. Only emitted when you [create a transcription](/docs/api-reference/audio/create-transcription) with the `Stream` parameter set to `true`.
      properties:
        type:
          type: string
          description: 'The type of the event. Always `transcript.text.done`.

            '
          enum:
          - transcript.text.done
          x-stainless-const: true
        text:
          type: string
          description: 'The text that was transcribed.

            '
        logprobs:
          type: array
          description: 'The log probabilities of the individual tokens in the transcription. Only included if you [create a transcription](/docs/api-reference/audio/create-transcription) with the `include[]` parameter set to `logprobs`.

            '
          items:
            type: object
            properties:
              token:
                type: string
                description: 'The token that was used to generate the log probability.

                  '
              logprob:
                type: number
                description: 'The log probability of the token.

                  '
              bytes:
                type: array
                items:
                  type: integer
                description: 'The bytes that were used to generate the log probability.

                  '
        usage:
          $ref: '#/components/schemas/TranscriptTextUsageTokens'
      required:
      - type
      - text
      x-oaiMeta:
        name: Stream Event (transcript.text.done)
        group: transcript
        example: "{\n  \"type\": \"transcript.text.done\",\n  \"text\": \"I see skies of blue and clouds of white, the bright blessed days, the dark sacred nights, and I think to myself, what a wonderful world.\",\n  \"usage\": {\n    \"type\": \"tokens\",\n    \"input_tokens\": 14,\n    \"input_token_details\": {\n      \"text_tokens\": 10,\n      \"audio_tokens\": 4\n    },\n    \"output_tokens\": 31,\n    \"total_tokens\": 45\n  }\n}\n"
    CreateVoiceConsentRequest:
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
          description: The label to use for this consent recording.
        recording:
          type: string
          format: binary
          x-oaiTypeLabel: file
          description: 'The consent audio recording file. Maximum size is 10 MiB.


            Supported MIME types:

            `audio/mpeg`, `audio/wav`, `audio/x-wav`, `audio/ogg`, `audio/aac`, `audio/flac`, `audio/webm`, `audio/mp4`.

            '
        language:
          type: string
          description: The BCP 47 language tag for the consent phrase (for example, `en-US`).
      required:
      - name
      - recording
      - language
    VoiceConsentResource:
      type: object
      title: Voice consent
      description: A consent recording used to authorize creation of a custom voice.
      additionalProperties: false
      properties:
        object:
          type: string
          description: The object type, which is always `audio.voice_consent`.
          enum:
          - audio.voice_consent
          x-stainless-const: true
        id:
          type: string
          description: The consent recording identifier.
          example: cons_1234
        name:
          type: string
          description: The label provided when the consent recording was uploaded.
        language:
          type: string
          description: The BCP 47 language tag for the consent phrase (for example, `en-US`).
        created_at:
          type: integer
          format: unixtime
          description: The Unix timestamp (in seconds) for when the consent recording was created.
      required:
      - object
      - id
      - name
      - language
      - created_at
      x-oaiMeta:
        name: The voice consent object
        example: "{\n  \"object\": \"audio.voice_consent\",\n  \"id\": \"cons_1234\",\n  \"name\": \"John Doe\",\n  \"language\": \"en-US\",\n  \"created_at\": 1734220800\n}\n"
    CreateVoiceRequest:
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
          description: The name of the new voice.
        audio_sample:
          type: string
          format: binary
          x-oaiTypeLabel: file
          description: 'The sample audio recording file. Maximum size is 10 MiB.


            Supported MIME types:

            `audio/mpeg`, `audio/wav`, `audio/x-wav`, `audio/ogg`, `audio/aac`, `audio/flac`, `audio/webm`, `audio/mp4`.

            '
        consent:
          type: string
          description: The consent recording ID (for example, `cons_1234`).
      required:
      - name
      - audio_sample
      - consent
    CreateTranslationResponseVerboseJson:
      type: object
      properties:
        language:
          type: string
          description: The language of the output translation (always `english`).
        duration:
          type: number
          format: double
          description: The duration of the input audio.
        text:
          type: string
          description: The translated text.
        segments:
          type: array
          description: Segments of the translated text and their corresponding details.
          items:
            $ref: '#/components/schemas/TranscriptionSegment'
      required:
      - language
      - duration
      - text
    CreateTranscriptionResponseVerboseJson:
      type: object
      description: Represents a verbose json transcription response returned by model, based on the provided input.
      properties:
        language:
          type: string
          description: The language of the input audio.
        duration:
          type: number
          format: double
          description: The duration of the input audio.
        text:
          type: string
          description: The transcribed text.
        words:
          type: array
          description: Extracted words and their corresponding timestamps.
          items:
            $ref: '#/components/schemas/TranscriptionWord'
        segments:
          type: array
          description: Segments of the transcribed text and their corresponding details.
          items:
            $ref: '#/components/schemas/TranscriptionSegment'
        usage:
          $ref: '#/components/schemas/TranscriptTextUsageDuration'
      required:
      - language
      - duration
      - text
      x-oaiMeta:
        name: The transcription object (Verbose JSON)
        group: audio
        example: "{\n  \"task\": \"transcribe\",\n  \"language\": \"english\",\n  \"duration\": 8.470000267028809,\n  \"text\": \"The beach was a popular spot on a hot summer day. People were swimming in the ocean, building sandcastles, and playing beach volleyball.\",\n  \"segments\": [\n    {\n      \"id\": 0,\n      \"seek\": 0,\n      \"start\": 0.0,\n      \"end\": 3.319999933242798,\n      \"text\": \" The beach was a popular spot on a hot summer day.\",\n      \"tokens\": [\n        50364, 440, 7534, 390, 257, 3743, 4008, 322, 257, 2368, 4266, 786, 13, 50530\n      ],\n      \"temperature\": 0.0,\n      \"avg_logprob\": -0.2860786020755768,\n      \"compression_ratio\": 1.2363636493682861,\n      \"no_speech_prob\": 0.00985979475080967\n    },\n    ...\n  ],\n  \"usage\": {\n    \"type\": \"duration\",\n    \"seconds\": 9\n  }\n}\n"
    TranscriptTextUsageTokens:
      type: object
      title: Token Usage
      description: Usage statistics for models billed by token usage.
      properties:
        type:
          type: string
          enum:
          - tokens
          description: The type of the usage object. Always `tokens` for this variant.
          x-stainless-const: true
        input_tokens:
          type: integer
          description: Number of input tokens billed for this request.
        input_token_details:
          type: object
          description: Details about the input tokens billed for this request.
          properties:
            text_tokens:
              type: integer
              description: Number of text tokens billed for this request.
            audio_tokens:
              type: integer
              description: Number of audio tokens billed for this request.
        output_tokens:
          type: integer
          description: Number of output tokens generated.
        total_tokens:
          type: integer
          description: Total number of tokens used (input + output).
      required:
      - type
      - input_tokens
      - output_tokens
      - total_tokens
    VoiceConsentListResource:
      type: object
      additionalProperties: false
      properties:
        object:
          type: string
          enum:
          - list
          x-stainless-const: true
        data:
          type: array
          items:
            $ref: '#/components/schemas/VoiceConsentResource'
        first_id:
          anyOf:
          - type: string
          - type: 'null'
        last_id:
          anyOf:
          - type: string
          - type: 'null'
        has_more:
          type: boolean
      required:
      - object
      - data
      - has_more
      x-oaiMeta:
        name: The voice consent list object
        example: "{\n  \"object\": \"list\",\n  \"data\": [\n    {\n      \"object\": \"audio.voice_consent\",\n      \"id\": \"cons_1234\",\n      \"name\": \"John Doe\",\n      \"language\": \"en-US\",\n      \"created_at\": 1734220800\n    }\n  ],\n  \"first_id\": \"cons_1234\",\n  \"last_id\": \"cons_1234\",\n  \"has_more\": false\n}\n"
    CreateSpeechRequest_2:
      type: object
      additionalProperties: false
      properties:
        model:
          description: 'One of the available [TTS models](/docs/models#tts): `tts-1`, `tts-1-hd`, `gpt-4o-mini-tts`, or `gpt-4o-mini-tts-2025-12-15`.

            '
          anyOf:
          - type: string
          - type: string
            enum:
            - tts-1
            - tts-1-hd
            - gpt-4o-mini-tts
            - gpt-4o-mini-tts-2025-12-15
          x-oaiTypeLabel: string
        input:
          type: string
          description: The text to generate audio for. The maximum length is 4096 characters.
          maxLength: 4096
        instructions:
          type: string
          description: Control the voice of your generated audio with additional instructions. Does not work with `tts-1` or `tts-1-hd`.
          maxLength: 4096
        voice:
          description: 'The voice to use when generating the audio. Supported built-in voices are `alloy`, `ash`, `ballad`, `coral`, `echo`, `fable`, `onyx`, `nova`, `sage`, `shimmer`, `verse`, `marin`, and `cedar`. You may also provide a custom voice object with an `id`, for example `{ "id": "voice_1234" }`. Previews of the voices are available in the [Text to speech guide](/docs/guides/text-to-speech#voice-options).'
          $ref: '#/components/schemas/VoiceIdsOrCustomVoice'
        response_format:
          description: The format to audio in. Supported formats are `mp3`, `opus`, `aac`, `flac`, `wav`, and `pcm`.
          default: mp3
          type: string
          enum:
          - mp3
          - opus
          - aac
          - flac
          - wav
          - pcm
        speed:
          description: The speed of the generated audio. Select a value from `0.25` to `4.0`. `1.0` is the default.
          type: number
          default: 1
          minimum: 0.25
          maximum: 4
        stream_format:
          description: The format to stream the audio in. Supported formats are `sse` and `audio`. `sse` is not supported for `tts-1` or `tts-1-hd`.
          type: string
          default: audio
          enum:
          - sse
          - audio
      required:
      - model
      - input
      - voice
    TranscriptTextDeltaEvent:
      type: object
      description: Emitted when there is an additional text delta. This is also the first event emitted when the transcription starts. Only emitted when you [create a transcription](/docs/api-reference/audio/create-transcription) with the `Stream` parameter set to `true`.
      properties:
        type:
          type: string
          description: 'The type of the event. Always `transcript.text.delta`.

            '
          enum:
          - transcript.text.delta
          x-stainless-const: true
        delta:
          type: string
          description: 'The text delta that was additionally transcribed.

            '
        logprobs:
          type: array
          description: 'The log probabilities of the delta. Only included if you [create a transcription](/docs/api-reference/audio/create-transcription) with the `include[]` parameter set to `logprobs`.

            '
          items:
            type: object
            properties:
              token:
                type: string
                description: 'The token that was used to generate the log probability.

                  '
              logprob:
                type: number
                description: 'The log probability of the token.

                  '
              bytes:
                type: array
                items:
                  type: integer
                description: 'The bytes that were used to generate the log probability.

                  '
        segment_id:
          type: string
          description: 'Identifier of the diarized segment that this delta belongs to. Only present when using `gpt-4o-transcribe-diarize`.

            '
      required:
      - type
      - delta
      x-oaiMeta:
        name: Stream Event (transcript.text.delta)
        group: transcript
        example: "{\n  \"type\": \"transcript.text.delta\",\n  \"delta\": \" wonderful\"\n}\n"
    TranscriptTextSegmentEvent:
      type: object
      description: 'Emitted when a diarized transcription returns a completed segment with speaker information. Only emitted when you [create a transcription](/docs/api-reference/audio/create-transcription) with `stream` set to `true` and `response_format` set to `diarized_json`.

        '
      properties:
        type:
          type: string
          description: The type of the event. Always `transcript.text.segment`.
          enum:
          - transcript.text.segment
          x-stainless-const: true
        id:
          type: string
          description: Unique identifier for the segment.
        start:
          type: number
          format: double
          description: Start timestamp of the segment in seconds.
        end:
          type: number
          format: double
          description: End timestamp of the segment in seconds.
        text:
          type: string
          description: Transcript text for this segment.
        speaker:
          type: string
          description: Speaker label for this segment.
      required:
      - type
      - id
      - start
      - end
      - text
      - speaker
      x-oaiMeta:
        name: Stream Event (transcript.text.segment)
        group: transcript
        example: "{\n  \"type\": \"transcript.text.segment\",\n  \"id\": \"seg_002\",\n  \"start\": 5.2,\n  \"end\": 12.8,\n  \"text\": \"Hi, I need help with diarization.\",\n  \"speaker\": \"A\"\n}\n"
    VadConfig:
      type: object
      additionalProperties: false
      required:
      - type
      properties:
        type:
          type: string
          enum:
          - server_vad
          description: Must be set to `server_vad` to enable manual chunking using server side VAD.
        prefix_padding_ms:
          type: integer
          default: 300
          description: "Amount of audio to include before the VAD detected speech (in \nmilliseconds).\n"
        silence_duration_ms:
          type: integer
          default: 200
          description: "Duration of silence to detect speech stop (in milliseconds).\nWith shorter values the model will respond more quickly, \nbut may jump in on short pauses from the user.\n"
        threshold:
          type: number
          default: 0.5
          description: "Sensitivity threshold (0.0 to 1.0) for voice activity detection. A \nhigher threshold will require louder audio to activate the model, and \nthus might perform better in noisy environments.\n"
    VoiceResource:
      type: object
      title: Voice
      description: A custom voice that can be used for audio output.
      additionalProperties: false
      properties:
        object:
          type: string
          description: The object type, which is always `audio.voice`.
          enum:
          - audio.voice
          x-stainless-const: true
        id:
          type: string
          description: The voice identifier, which can be referenced in API endpoints.
        name:
          type: string
          description: The name of the voice.
        created_at:
          type: integer
          format: unixtime
          description: The Unix timestamp (in seconds) for when the voice was created.
      required:
      - object
      - id
      - name
      - created_at
      x-oaiMeta:
        name: The voice object
        example: "{\n  \"object\": \"audio.voice\",\n  \"id\": \"voice_123abc\",\n  \"name\": \"My new voice\",\n  \"created_at\": 1734220800\n}\n"
    VoiceIdsOrCustomVoice:
      title: Voice
      description: 'A built-in voice name or a custom voice reference.

        '
      anyOf:
      - $ref: '#/components/schemas/VoiceIdsShared'
      - type: object
        description: Custom voice reference.
        additionalProperties: false
        required:
        - id
        properties:
          id:
            type: string
            description: The custom voice ID, e.g. `voice_1234`.
            example: voice_1234
    VoiceConsentDeletedResource:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          description: The consent recording identifier.
          example: cons_1234
        object:
          type: string
          enum:
          - audio.voice_consent
          x-stainless-const: true
        deleted:
          type: boolean
      required:
      - id
      - object
      - deleted
      x-oaiMeta:
        name: The voice consent deletion object
        example: "{\n  \"object\": \"audio.voice_consent\",\n  \"id\": \"cons_1234\",\n  \"deleted\": true\n}\n"
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: bearer
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: 'OpenAI API key. Obtain from https://platform.openai.com/api-keys. Pass as Authorization: Bearer YOUR_API_KEY.'
    AdminApiKeyAuth:
      type: http
      scheme: bearer
x-refined-from:
- audio-openapi-original.yml
- openai-audio-openapi.yml
- openai-openapi-master.yml
x-oaiMeta:
  groups:
  - id: audio
    title: Audio
    description: 'Learn how to turn audio into text or text into audio.


      Related guide: [Speech to text](/docs/guides/speech-to-text)

      '
    sections:
    - type: endpoint
      key: createSpeech
      path: createSpeech
    - type: endpoint
      key: createTranscription
      path: createTranscription
    - type: endpoint
      key: createTranslation
      path: createTranslation
  - id: chat
    title: Chat
    description: 'Given a list of messages comprising a conversation, the model will return a response.


      Related guide: [Chat Completions](/docs/guides/text-generation)

      '
    sections:
    - type: endpoint
      key: createChatCompletion
      path: create
    - type: object
      key: CreateChatCompletionResponse
      path: object
    - type: object
      key: CreateChatCompletionStreamResponse
      path: streaming
  - id: embeddings
    title: Embeddings
    description: 'Get a vector representation of a given input that can be easily consumed by machine learning models and algorithms.


      Related guide: [Embeddings](/docs/guides/embeddings)

      '
    sections:
    - type: endpoint
      key: createEmbedding
      path: create
    - type: object
      key: Embedding
      path: object
  - id: fine-tuning
    title: Fine-tuning
    description: 'Manage fine-tuning jobs to tailor a model to your specific training data.


      Related guide: [Fine-tune models](/docs/guides/fine-tuning)

      '
    sections:
    - type: endpoint
      key: createFineTuningJob
      path: create
    - type: endpoint
      key: listPaginatedFineTuningJobs
      path: list
    - type: endpoint
      key: listFineTuningEvents
      path: list-events
    - type: endpoint
      key: retrieveFineTuningJob
      path: retrieve
    - type: endpoint
      key: cancelFineTuningJob
      path: cancel
    - type: object
      key: FineTuningJob
      path: object
    - type: object
      key: FineTuningJobEvent
      path: event-object
  - id: files
    title: Files
    description: 'Files are used to upload documents that can be used with features like [Assistants](/docs/api-reference/assistants) and [Fine-tuning](/docs/api-reference/fine-tuning).

      '
    sections:
    - type: endpoint
      key: createFile
      path: create
    - type: endpoint
      key: listFiles
      path: list
    - type: endpoint
      key: retrieveFile
      path: retrieve
    - type: endpoint
      key: deleteFile
      path: delete
    - type: endpoint
      key: downloadFile
      path: retrieve-contents
    - type: object
      key: OpenAIFile
      path: object
  - id: images
    title: Images
    description: 'Given a prompt and/or an input image, the model will generate a new image.


      Related guide: [Image generation](/docs/guides/images)

      '
    sections:
    - type: endpoint
      key: createImage
      path: create
    - type: endpoint
      key: createImageEdit
      path: createEdit
    - type: endpoint
      key: createImageVariation
      path: createVariation
    - type: object
      key: Image
      path: object
  - id: models
    title: Models
    description: 'List and describe the various models available in the API. You can refer to the [Models](/docs/models) documentation to understand what models are available and the differences between them.

      '
    sections:
    - type: endpoint
      key: listModels
      path: list
    - type: endpoint
      key: retrieveModel
      path: retrieve
    - type: endpoint
      key: deleteModel
      path: delete
    - type: object
      key: Model
      path: object
  - id: moderations
    title: Moderations
    description: 'Given a input text, outputs if the model classifies it as violating OpenAI''s content policy.


      Related guide: [Moderations](/docs/guides/moderation)

      '
    sections:
    - type: endpoint
      key: createModeration
      path: create
    - type: object
      key: CreateModerationResponse
      path: object
  - id: assistants
    title: Assistants
    beta: true
    description: 'Build assistants that can call models and use tools to perform tasks.


      [Get started with the Assistants API](/docs/assistants)

      '
    sections:
    - type: endpoint
      key: createAssistant
      path: createAssistant
    - type: endpoint
      key: createAssistantFile
      path: createAssistantFile
    - type: endpoint
      key: listAssistants
      path: listAssistants
    - type: endpoint
      key: listAssistantFiles
      path: listAssistantFiles
    - type: endpoint
      key: getAssistant
      path: getAssistant
    - type: endpoint
      key: getAssistantFile
      path: getAssistantFile
    - type: endpoint
      key: modifyAssistant
      path: modifyAssistant
    - type: endpoint
      key: deleteAssistant
      path: deleteAssistant
    - type: endpoint
      key: deleteAssistantFile
      path: deleteAssistantFile
    - type: object
      key: AssistantObject
      path: object
    - type: object
      key: AssistantFileObject
      path: file-object
  - id: threads
    title: Threads
    beta: true
    description: 'Create threads that assistants can interact with.


      Related guide: [Assistants](/docs/assistants/overview)

      '
    sections:
    - type: endpoint
      key: createThread
      path: createThread
    - type: endpoint
      key: getThread
      path: getThread
    - type: endpoint
      key: modifyThread
      path: modifyThread
    - type: endpoint
      key: deleteThread
      path: deleteThread
    - type: object
      key: ThreadObject
      path: object
  - id: messages
    title: Messages
    beta: true
    description: 'Create messages within threads


      Related guide: [Assistants](/docs/assistants/overview)

      '
    sections:
    - type: endpoint
      key: createMessage
      path: createMessage
    - type: endpoint
      key: listMessages
      path: listMessages
    - type: endpoint
      key: listMessageFiles
      path: listMessageFiles
    - type: endpoint
      key: getMessage
      path: getMessage
    - type: endpoint
      key: getMessageFile
      path: getMessageFile
    - type: endpoint
      key: modifyMessage
      path: modifyMessage
    - type: object
      key: MessageObject
      path: object
    - type: object
      key: MessageFileObject
      path: file-object
  - id: runs
    title: Runs
    beta: true
    description: 'Represents an execution run on a thread.


      Related guide: [Assistants](/docs/assistants/overview)

      '
    sections:
    - type: endpoint
      key: createRun
      path: createRun
    - type: endpoint
      key: createThreadAndRun
      path: createThreadAndRun
    - type: endpoint
      key: listRuns
      path: listRuns
    - type: endpoint
      key: listRunSteps
      path: listRunSteps
    - type: endpoint
      key: getRun
      path: getRun
    - type: endpoint
      key: getRunStep
      path: getRunStep
    - type: endpoint
      key: modifyRun
      path: modifyRun
    - type: endpoint
      key: submitToolOuputsToRun
      path: submitToolOutputs
    - type: endpoint
      key: cancelRun
      path: cancelRun
    - type: object
      key: RunObject
      path: object
    - type: object
      key: RunStepObject
      path: step-object
  - id: completions
    title: Completions
    legacy: true
    description: 'Given a prompt, the model will return one or more predicted completions along with the probabilities of alternative tokens at each position. Most developer should use our [Chat Completions API](/docs/guides/text-generation/text-generation-models) to leverage our best and newest models. Most models that support the legacy Completions endpoint [will be shut off on January 4th, 2024](/docs/deprecations/2023-07-06-gpt-and-embeddings).

      '
    sections:
    - type: endpoint
      key: createCompletion
      path: create
    - type: object
      key: CreateCompletionResponse
      path: object
